<form class="field">
    <label class={{if @required 'required'}}>{{@placeholder}}</label>
    <UiDropdown
        @class="search selection"
        @selected={{@val}}
        @forceSelection={{false}}
        @fullTextSearch={{true}}
        @showOnFocus={{false}}>
    <Input
        @type="hidden"
        @autocomplete="no"
        @value={{@val}}
        @id={{@id}} />
    <i class="dropdown icon"></i>
    <div class="default text">{{t 'Select country'}}</div>
    <div class="menu">
        {{#each (if @paymentCountries this.paymentCountries this.countries) as |country|}}
            <div class="item" data-value="{{country.name}}">
            <i class="{{lowercase country.code}} flag"></i>
            {{t-var country.name}}
            </div>
        {{/each}}
    </div>
    </UiDropdown>
</form>
