<form class="field">
<label class={{if @required 'required'}}>{{t @placeholder}}</label>
<UiDropdown
    @class="search selection"
    @selected={{@val}}
    @forceSelection={{false}}
    @fullTextSearch={{true}}>
    <Input
    @type="hidden"
    @autocomplete="no"
    @value={{@val}} />
    <i class="dropdown icon"></i>
    <div class="default text">{{t 'Select country'}}</div>
    <div class="menu">
    {{#if @paymentCountries}}
        {{#each this.paymentCountries as |country|}}
            <div class="item" data-value="{{country.name}}">
            <i class="{{lowercase country.code}} flag"></i>
            {{country.name}}
            </div>
        {{/each}}
    {{else}}
        {{#each this.countries as |country|}}
            <div class="item" data-value="{{country.name}}">
            <i class="{{lowercase country.code}} flag"></i>
            {{country.name}}
            </div>
        {{/each}}
    {{/if}}
    </div>
</UiDropdown>
</form>
