<div class="{{if this.isWide 'event wide ui grid row'}}" style="height: 100%;">
  {{#if this.isWide}}
    {{#unless this.device.isMobile}}
      <div class="ui card rounded-r-none three wide computer six wide tablet column">
        <a class="image" href="{{href-to (if this.isCFS 'public.cfs' 'public') this.event.id}}">
          <Widgets::SafeImage
            @src={{if this.event.thumbnailImageUrl this.event.thumbnailImageUrl this.event.originalImageUrl}} />
        </a>
      </div>
    {{/unless}}
  {{/if}}
  <div style="height: 100%;"
    class="ui card {{this.eventClass}}">
    {{#unless this.isWide}}
      <a class="image" href="{{href-to (if this.isCFS 'public.cfs' 'public') this.event.id}}">
        <Widgets::SafeImage
          @src={{if this.event.thumbnailImageUrl this.event.thumbnailImageUrl this.event.originalImageUrl}} />
      </a>
    {{/unless}}
    <a class="main content" href="{{href-to (if this.isCFS 'public.cfs' 'public') this.event.id}}">
      <SmartOverflow @class="header">
        {{this.event.name}}
      </SmartOverflow>
      <div class="meta mb-2">
        <span class="date">
          <Public::EventDateTime @event={{@event}} @noBreak={{true}} />
        </span>
      </div>
      <Public::EventVenue @event={{@event}} />
    </a>
    <div class="extra content small text">
      <span class="right floated">
        <i role="button" class="share alternate link icon" {{action this.shareEvent this.event}}></i>
      </span>
      <span class="hashtags">
        {{#if hasBlock}}
          {{yield}}
        {{else}}
          {{#if this.filterByTags}}
            <a href="#"
              class="link item {{if (eq this.category this.event.topic.name) 'active'}}"
              {{action 'selectCategory' this.event.topic.name}}>
              {{t-var this.tags.[0]}}
            </a>
            <a href="#"
              class="link item {{if (eq this.eventType this.event.type.name) 'active'}}"
              {{action 'selectEventType' this.event.type.name}}>
              {{t-var this.tags.[1]}}
            </a>
            <a href="#"
              class="link item {{if (eq this.subCategory this.event.subTopic.slug) 'active'}}"
              {{action 'selectCategory' this.event.topic.name this.event.subTopic.slug}}>
              {{t-var this.tags.[2]}}
            </a>
          {{else}}
            <a href="{{href-to 'explore' (query-params category=this.event.topic.name event_type=null sub_category=null)}}"
              class="link item">
              {{t-var this.tags.[0]}}
            </a>
            <a href="{{href-to 'explore' (query-params category=null event_type=this.event.type.name sub_category=null)}}"
              class="link item">
              {{t-var this.tags.[1]}}
            </a>
            <a href="{{href-to 'explore' (query-params category=this.event.topic.name event_type=null sub_category=this.event.subTopic.slug)}}"
              class="link item">
              {{t-var this.tags.[2]}}
            </a>
          {{/if}}
        {{/if}}
      </span>
      {{#if this.addToGroup}}
        <button class="fluid ui blue button" {{action this.addEvent this.event}}>Add event to group</button>
      {{/if}}
      {{#if this.removeFromGroup}}
        <button class="fluid ui red button" {{action this.removeEvent this.event}}>Remove event from group</button>
      {{/if}}
    </div>
  </div>
</div>
