<div class="{{if this.isWide 'event wide ui grid row'}}">
  {{#if this.isWide}}
    {{#unless this.device.isMobile}}
      <div class="ui card rounded-r-none three wide computer six wide tablet column">
        <a class="image" href="{{href-to (if this.isCFS 'public.cfs' 'public') this.event.identifier}}">
          <Widgets::SafeImage
            @src={{if this.event.thumbnailImageUrl this.event.thumbnailImageUrl this.event.originalImageUrl}} />
        </a>
      </div>
    {{/unless}}
  {{/if}}
  <div
    class="ui card {{this.eventClass}}">
    {{#unless this.isWide}}
      <a class="image" href="{{href-to (if this.isCFS 'public.cfs' 'public') this.event.identifier}}">
        <Widgets::SafeImage
          @src={{if this.event.thumbnailImageUrl this.event.thumbnailImageUrl this.event.originalImageUrl}} />
      </a>
    {{/unless}}
    <a class="{{if this.device.isMobile '' 'card-height'}} main content" href="{{href-to (if this.isCFS 'public.cfs' 'public') this.event.identifier}}">
      <SmartOverflow @class="header">
        {{this.event.name}}
      </SmartOverflow>
      <div class="meta" style="margin-bottom: 0.5em">
        <span class="date">
          {{#if this.isSingleDay}}
            {{general-date this.event.startsAt 'date-time-long' tz=this.event.timezone}}
            - 
            {{general-date this.event.endsAt 'time-tz-short' tz=this.event.timezone}}
          {{else}}
            {{general-date this.event.startsAt 'date-time-long' tz=this.event.timezone}}
            -
            {{general-date this.event.endsAt 'date-time-tz-long' tz=this.event.timezone}}
          {{/if}}
        </span>
      </div>
      {{#if this.event.online}}
        <p style="color: #000000AD">
          <i class="wifi icon"></i>
          {{t 'Online Event'}}
        </p>
      {{/if}}
      {{#if this.event.shortLocationName}}
          <span style="color: #000000AD">
            <i class="map marker alternate icon"></i>
          </span>
          <SmartOverflow @class="d-inline description">
            {{this.event.shortLocationName}}
          </SmartOverflow>
      {{/if}}
    </a>
    <div class="extra content small text">
      <span class="right floated">
        <i role="button" class="share alternate link icon" {{action this.shareEvent this.event}}></i>
      </span>
      <span class="hashtags">
        {{#if hasBlock}}
          {{yield}}
        {{else}}
          {{#if this.filterByTags}}
            <a href="#"
              class="link item {{if (eq this.category this.event.topic.name) 'active'}}"
              {{action 'selectCategory' this.event.topic.name}}>
              {{t-var this.tags.[0]}}
            </a>
            <a href="#"
              class="link item {{if (eq this.eventType this.event.type.name) 'active'}}"
              {{action 'selectEventType' this.event.type.name}}>
              {{t-var this.tags.[1]}}
            </a>
            <a href="#"
              class="link item {{if (eq this.subCategory this.event.subTopic.slug) 'active'}}"
              {{action 'selectCategory' this.event.topic.name this.event.subTopic.slug}}>
              {{t-var this.tags.[2]}}
            </a>
          {{else}}
            {{#each this.tags as |tag|}}
              <a href="#">{{t-var tag}}</a>
            {{/each}}
          {{/if}}
        {{/if}}
      </span>
    </div>
  </div>
</div>
