<div class="{{if this.isWide 'event wide ui grid row'}}">
  {{#if this.isWide}}
    {{#unless this.device.isMobile}}
      <div class="ui card rounded-r-none three wide computer six wide tablet column">
        <a class="image" href="{{href-to (if this.isCFS 'public.cfs' 'public') this.event.identifier}}">
          <Widgets::SafeImage
            @src={{if this.event.thumbnailImageUrl this.event.thumbnailImageUrl this.event.originalImageUrl}} />
        </a>
      </div>
    {{/unless}}
  {{/if}}
  <div class="ui card {{this.eventClass}}">
    {{#unless this.isWide}}
      <a class="image" href="{{href-to (if this.isCFS 'public.cfs' 'public') this.event.identifier}}">
        <Widgets::SafeImage
          @src={{if this.event.thumbnailImageUrl this.event.thumbnailImageUrl this.event.originalImageUrl}} />
      </a>
    {{/unless}}
    <a class="main content" href="{{href-to (if this.isCFS 'public.cfs' 'public') this.event.identifier}}">
      <SmartOverflow @class="header">
        {{this.event.name}}
      </SmartOverflow>
      <div class="meta">
        <span class="date">
          {{general-date this.event.startsAt this.event.timezone}}
        </span>
      </div>
      <SmartOverflow @class="description">
        {{this.event.shortLocationName}}
      </SmartOverflow>
    </a>
    <div class="extra content small text">
      <span class="right floated">
        <i role="button" class="share alternate link icon" {{action this.shareEvent this.event}}></i>
      </span>
      <span>
        {{#if hasBlock}}
          {{yield}}
        {{else}}
          {{#if this.filterByTags}}
            <a href="#"
              class="link item {{if (eq this.category this.event.topic.name) 'active'}}"
              {{action 'selectCategory' this.event.topic.name}}>
              {{this.tags.[0]}}
            </a>
            <a href="#"
              class="link item {{if (eq this.eventType this.event.type.name) 'active'}}"
              {{action 'selectEventType' this.event.type.name}}>
              {{this.tags.[1]}}
            </a>
            <a href="#"
              class="link item {{if (eq this.subCategory this.event.subTopic.slug) 'active'}}"
              {{action 'selectCategory' this.event.topic.name this.event.subTopic.slug}}>
              {{this.tags.[2]}}
            </a>
          {{else}}
            {{#each this.tags as |tag|}}
              <a href="#">{{tag}}</a>
            {{/each}}
          {{/if}}
        {{/if}}
      </span>
    </div>
  </div>
</div>
