<div class="ui fluid event card">
  <a class="image" href="{{href-to 'public' event.identifier}}">
    <img src="{{if event.large event.large event.placeholderUrl}}">
  </a>
  <div class="content">
    <a class="header" href="{{href-to 'public' event.identifier}}">
      <span>{{event.name}}</span></a>
    <div class="meta">
      <span class="date">{{moment-format event.startTime 'ddd, MMM DD HH:mm A'}}</span>
    </div>
    <div class="description">
      {{event.shortLocationName}}
    </div>
  </div>
  <div class="extra content small text">
      <span class="right floated">
        <i class="share alternate link icon" {{action shareEvent event}}></i>
      </span>
    <span>
      {{#each tags as |tag|}}
        <a>{{tag}}</a>
      {{/each}}
    </span>
  </div>
</div>
