<div class="row">
  <div class="sixteen wide column">
    <div class="ui grid space-between items-center mt-4 mb-4">
      <h2>
        {{@group.name}}
      </h2>
    </div>
    <TabbedNavigation>
      <LinkTo @route="groups.edit.settings" @model={{@group.id}} class="item">
        {{t 'Settings'}}
      </LinkTo>
      {{#if @group.id}}
        <LinkTo @route="groups.edit.events" @model={{@group.id}} class="item">
          {{t 'Events'}}
        </LinkTo>
      {{/if}}
    </TabbedNavigation>
  </div>
</div>