<div class="row">
  <div class="column">
    <div class="ui warning message mt-4 mb--1">
      <div class="header">
        {{t 'This feature is still in alpha stage.'}}
      </div>
      {{t 'Please use with care.'}} {{t 'Thank You.'}}
    </div>
  </div>
</div>
<div class="row">
  <div class="sixteen wide column">
    <div class="ui grid space-between items-center mt-4 mb-4">
      <h2>
        {{t 'Groups'}}
      </h2>
      <LinkTo @route="groups.create" class="item">
        <button class="ui blue button" {{action (mut @isRoomModalOpen) true}}>
          {{t 'Create Group'}}
        </button>
      </LinkTo>
    </div>
    <TabbedNavigation>
      <LinkTo @route="my-groups.list" class="item">
        {{t 'My Groups'}}
      </LinkTo>
      <LinkTo @route="my-groups.following" class="item">
        {{t 'Following'}}
      </LinkTo>
    </TabbedNavigation>
  </div>
</div>