<div class="mobile hidden row">
  <div class="ui menu">
    {{#link-to 'index' class='header item' activeClass=''}}
      <h3>{{config.appName}}</h3>
    {{/link-to}}
    {{#unless device.isTablet}}
      <div class="ui category search item nav-bar-search-item">
        <div class="ui transparent icon input">
          <input class="prompt nav-bar-prompt" type="text" placeholder="{{t 'Search Events...'}}">
          <i class="search link icon"></i>
        </div>
        <div class="results"></div>
      </div>
    {{/unless}}
    <div class="right menu nav-bar">
      {{#link-to 'index' class='item' activeClass=''}}{{t 'Browse Events'}}{{/link-to}}
      {{#if session.isAuthenticated}}
        <a class="notification item">
          {{notification-dropdown unreadNotifications=unreadNotifications}}
        </a>
      {{/if}}
      {{#if session.isAuthenticated}}
        {{#ui-dropdown class='item' action='hide'}}
          <img class="ui avatar round image nav-bar-image"
               alt="{{authManager.currentUser.email}}"
               src="{{if authManager.currentUser.avatarUrl authManager.currentUser.avatarUrl
                         '/images/placeholders/avatar.png'}}">
          {{if authManager.currentUser
               (if authManager.currentUser.firstName authManager.currentUser.firstName authManager.currentUser.email)
               'Welcome'}}
          <i class="dropdown icon"></i>
          <div class="menu">
            <a href="{{href-to 'my-tickets'}}" class="item">{{t 'My Tickets'}}</a>
            <a href="{{href-to 'my-sessions'}}" class="item">{{t 'My Sessions'}}</a>
            <a href="{{href-to 'events.list' 'live'}}" class="item">{{t 'Manage Events'}}</a>
            <div class="divider"></div>
            <a href="{{href-to 'profile'}}" class="item">{{t 'Profile'}}</a>
            <a href="{{href-to 'settings.contact-info'}}" class="item">{{t 'Settings'}}</a>
            {{#if authManager.currentUser.isAnAdmin}}
              <a href="{{href-to 'admin'}}" class="item">{{t 'Admin'}}</a>
            {{/if}}
            <div class="divider"></div>
            <a role="button" class="item logout-button" {{action 'logout'}}>{{t 'Logout'}}</a>
          </div>
        {{/ui-dropdown}}
      {{else}}
        <a href="{{href-to 'login'}}" class="item">{{t 'Login'}}</a>
      {{/if}}
      {{#if (not-eq routing.currentRouteName 'create')}}
        <div class="item">
          {{#link-to 'create' class='ui blue button'}}
            {{t 'Create Event'}}
          {{/link-to}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
<div class="mobile only row">
  <div class="ui navbar tiny menu">
    <a class="menu item open sidebar">
      <i class="large content icon"></i>
    </a>
    {{#link-to 'index' class='item' activeClass=''}}
      <div class="ui header small text">{{config.appName}}</div>
    {{/link-to}}
    <div class="right menu nav-bar">
      {{#if session.isAuthenticated}}
        <a class="notification item">
          {{notification-dropdown notifications=notifications}}
        </a>
      {{/if}}
      <div class="item">
        {{#link-to 'create' class='ui blue button button-text small text'}}
          {{t 'Create Event'}}
        {{/link-to}}
      </div>
    </div>
  </div>
</div>
