<div class="mobile hidden row">
  <div class="ui menu">
    {{#link-to 'index' class='header item' activeClass=''}}
      <h3>{{config.appName}}</h3>
    {{/link-to}}
    <div class="ui category search item" style="width: 20%">
      <div class="ui transparent icon input">
        <input class="prompt" type="text" placeholder="{{t 'Search Events...'}}" style="border-radius: 0;">
        <i class="search link icon"></i>
      </div>
      <div class="results"></div>
    </div>
    <div class="right menu">
      {{#if session.isAuthenticated}}
        <a class="notification item">
          {{notification-dropdown notifications=notifications}}
        </a>
      {{/if}}
      {{#link-to 'index' class='item' activeClass=''}}{{t 'Browse Events'}}{{/link-to}}
      {{#if session.isAuthenticated}}
        {{#ui-dropdown class='item' action='hide'}}
          <img class="ui avatar round image"
               style="margin-right: 10px;"
               alt="{{authManager.currentUser.email}}"
               src="{{if authManager.currentUser.userDetail.avatar authManager.currentUser.userDetail.avatar
                         '/images/placeholders/avatar.png'}}">
          {{if authManager.currentUser
               (if authManager.currentUser.userDetail.firstname authManager.currentUser.userDetail.firstname authManager.currentUser.email)
               'Welcome'}}
          <i class="dropdown icon"></i>
          <div class="menu">
            <a href="{{href-to 'my-tickets'}}" class="item">{{t 'My Tickets'}}</a>
            <div class="item">{{t 'My Sessions'}}</div>
            <a href="{{href-to 'events.live'}}" class="item">{{t 'Manage Events'}}</a>
            <div class="divider"></div>
            <a href="{{href-to 'profile'}}" class="item">{{t 'Profile'}}</a>
            <a href="{{href-to 'settings.contact-info'}}" class="item">{{t 'Settings'}}</a>
            <a href="{{href-to 'admin'}}" class="item">{{t 'Admin'}}</a>
            <div class="divider"></div>
            <a role="button" class="item logout-button" {{action 'logout'}}>{{t 'Logout'}}</a>
          </div>
        {{/ui-dropdown}}
      {{else}}
        <a href="{{href-to 'login'}}" class="item">{{t 'Login'}}</a>
      {{/if}}
      {{#unless (eq routing.currentRouteName 'create')}}
        <div class="item">
          <a class="ui blue button" style="text-transform: uppercase; font-weight: 400" href="{{href-to 'create'}}">
            {{t 'Create Event'}}
          </a>
        </div>
      {{/unless}}
    </div>
  </div>
</div>
<div class="mobile only row">
  <div class="ui navbar menu">
    <a class="menu item open sidebar">
      <i class="large content icon"></i>
    </a>
    {{#link-to 'index' class='header item' activeClass=''}}
      <h3>{{config.appName}} </h3>
    {{/link-to}}
    <div class="right menu">
      {{#if session.isAuthenticated}}
        <a class="notification item">
          {{notification-dropdown notifications=notifications}}
        </a>
      {{/if}}
      <div class="item">
        <a class="ui blue button" style="text-transform: uppercase; font-weight: 400;" href="{{href-to 'create'}}">
          {{t 'Create Event'}}
        </a>
      </div>
    </div>
  </div>
</div>
