<div class="ui {{unless this.device.isMobile 'action'}} input fluid">
  <Input
    @type="text"
    @key-up={{action "handleKeyPress"}}
    placeholder={{t "Search for events"}}
    @value={{this.dummyName}} />
  {{#unless this.device.isMobile }}
    <div class="ui input">
      <Widgets::Forms::PlacesAutocomplete
        class="rounded-none"
        @name="location"
        @value={{this.dummyLocation}}
        @type="text"
        @placeholder={{t "Enter Location"}} />
    </div>
    <UiDropdown
      class="transparent"
      @class="search selection"
      @selected={{this.filterDate}}
      @forceSelection={{false}}>
      <Input
        @type="hidden"
        @id="filter_date"
        @value={{this.filterDate}} />
      <i class="dropdown icon"></i>
      <div class="default text">{{t 'All Dates'}}</div>
      <div class="menu">
        <div class="item" data-value="all_dates">{{t 'All Dates'}}</div>
        <div class="item" data-value="today">{{t 'Today'}}</div>
        <div class="item" data-value="tomorrow">{{t 'Tomorrow'}}</div>
        <div class="item" data-value="this_week">{{t 'This Week'}}</div>
        <div class="item" data-value="this_weekend">{{t 'This Weekend'}}</div>
        <div class="item" data-value="next_week">{{t 'Next Week'}}</div>
        <div class="item" data-value="this_month">{{t 'This Month'}}</div>
      </div>
    </UiDropdown>
    <button class="ui blue button large" type="button" {{action 'search'}}>{{t 'Search'}}</button>
    <button class="ui red button medium {{if this.disableClear 'disabled'}}" type="button" {{action 'clearFilters'}}>{{t 'Clear Filters'}}</button>
  {{/unless}}
</div>
{{#if this.device.isMobile}}
  <div class="two ui buttons">
    <button class="ui blue button large" type="button" {{action 'search'}}>{{t 'Search'}}</button>
    <button class="ui red button medium {{if this.disableClear 'disabled'}}" type="button" {{action 'clearFilters'}}>{{t 'Clear Filters'}}</button>
  </div>
{{/if}}
