<div class="event wide ui grid row">
  {{#unless device.isMobile}}
    <div class="ui card three wide computer six wide tablet column">
      <a class="image" href="{{href-to 'my-sessions.view' session.id}}">
        <Widgets::SafeImage @src={{if session.event.thumbnailImageUrl session.event.thumbnailImageUrl "assets/images/landing.jpg"}} />
      </a>
    </div>
  {{/unless}}
  <div class="ui card thirteen wide computer ten wide tablet sixteen wide mobile column">
    <a class="main content" href="{{href-to 'my-sessions.view' session.id}}">
      <div class="header">
        <span>{{session.title}}</span>
        <div class="right floated author">
          <div class="ui {{if (eq session.state 'confirmed') 'green' (if (eq session.state 'rejected') 'red' 'yellow')}}
          large label">
            {{session.state}}
          </div>
        </div>
      </div>
      <div class="meta">
        <span class="time">
          {{#if session.startsAt}}
            {{moment-format session.startsAt 'ddd, MMM DD h:mm A'}}
          {{else}}
            {{t 'Session Not Yet Scheduled'}}
          {{/if}}
        </span>
      </div>
    </a>
    <div class="extra content">
      <div class="weight-600">
        {{session.event.name}}
      </div>
    </div>
  </div>
</div>
