<div class="ui left inverted vertical menu sidebar {{if sidebarVisible 'visible'}}">
  {{#link-to 'index' class='item' activeClass=''}}{{t 'Browse Events'}}{{/link-to}}
  {{#if session.isAuthenticated}}
    <div class="item">
      <img class="ui avatar round image"
           style="margin-right: 10px;"
           alt="{{authManager.currentUser.email}}"
           src="{{if authManager.currentUser.user_detail.avatar authManager.currentUser.user_detail.avatar
                     '/images/placeholders/avatar.png'}}">
      {{if authManager.currentUser
           (if authManager.currentUser.user_detail.firstname authManager.currentUser.user_detail.firstname authManager.currentUser.email)
           'Welcome'}}
    </div>
    <div class="item">{{t 'My Tickets'}}</div>
    <div class="item">{{t 'My Sessions'}}</div>
    <div class="item">{{t 'Manage Events'}}</div>
    <div class="divider"></div>
    <div class="item">{{t 'Profile'}}</div>
    <div class="item">{{t 'Settings'}}</div>
    <div class="item">{{t 'Admin'}}</div>
    <div class="divider"></div>
    <a class="item logout-button" href="{{href-to 'logout'}}">{{t 'Logout'}}</a>
  {{else}}
    <a href="{{href-to 'login'}}" class="item">{{t 'Login'}}</a>
  {{/if}}
</div>
<div class="pusher">
  {{yield}}
</div>
