<div class="ui left inverted vertical menu sidebar {{if sidebarVisible 'visible'}}">
  {{#link-to 'explore' class='item' activeClass=''}}{{t 'Browse Events'}}{{/link-to}}
  {{#if session.isAuthenticated}}
    <div class="item">
      {{widgets/safe-image isAvatar=true class='ui avatar round image side-bar' src=(if authManager.currentUser.avatarUrl authManager.currentUser.avatarUrl
                '/images/placeholders/avatar.png')}}
      {{if authManager.currentUser
           (if authManager.currentUser.firstName authManager.currentUser.firstName authManager.currentUser.email)
           'Welcome'}}
    </div>
    <a href="{{href-to 'my-tickets'}}" class="item">{{t 'My Tickets'}}</a>
    <a href="{{href-to 'my-sessions'}}" class="item">{{t 'My Sessions'}}</a>
    <a href="{{href-to 'events.list' 'live'}}" class="item">{{t 'Manage Events'}}</a>
    <div class="divider"></div>
    <a href="{{href-to 'account.profile'}}" class="item">{{t 'Profile'}}</a>
    {{#if authManager.currentUser.isAnAdmin}}
      <a href="{{href-to 'admin'}}" class="item">{{t 'Admin'}}</a>
    {{/if}}
    <div class="divider"></div>
    <a class="item logout-button" href="{{href-to 'logout'}}">{{t 'Logout'}}</a>
  {{else}}
    <a href="{{href-to 'login'}}" class="item">{{t 'Login'}}</a>
  {{/if}}
</div>
<div class="pusher">
  {{yield}}
</div>
