{{#if device.isMobile}}
  <div role="button" class="ui segment center aligned" {{action 'toggleMenu'}}>
    {{currentRoute}}
  </div>
{{/if}}
<div class="mobile hidden ui fluid stackable {{unless isNonPointing 'pointing'}} {{unless device.isMobile (if isVertical 'vertical' 'secondary')}} menu">
  {{yield}}
</div>
