{{#if isLoading}}
  <div class="ui active inverted dimmer">
    <div class="ui small text loader">Loading</div>
  </div>
{{/if}}
<div class="{{themeInstance.classes.outerTableWrapper}}">
  <div class="{{themeInstance.classes.globalFilterDropdownWrapper}}">
    {{#if showPageSize}}
      {{partial themeInstance.components.pageSizeSelect}}
    {{/if}}
    {{#if showGlobalFilter}}
      {{partial themeInstance.components.global-filter}}
    {{/if}}
  </div>
  <div class="ui row">
    <div class="{{themeInstance.classes.innerTableWrapper}} x-scrollable">
      <table class="{{themeInstance.classes.table}}">
        <thead class="{{if noHeaderFilteringAndSorting 'table-header-no-filtering-and-sorting'}} {{themeInstance.classes.thead}}">
          {{#if groupedHeaders.length}}
            {{partial themeInstance.components.grouped-header}}
          {{/if}}
          {{partial themeInstance.components.row-sorting}}
          {{#if useFilteringByColumns}}
            {{partial themeInstance.components.row-filtering}}
          {{/if}}
        </thead>
        <tbody class="table-body">
          {{#if allColumnsAreHidden}}
            {{partial themeInstance.components.columns-hidden}}
          {{else}}
            {{#if visibleContent.length}}
              {{#each visibleContent as |record index|}}
                {{#if record}}
                  {{#if (gte index 0)}}
                    {{partial themeInstance.components.row}}
                  {{/if}}
                {{/if}}
              {{/each}}
            {{else}}
              {{partial themeInstance.components.no-data}}
            {{/if}}
          {{/if}}
        </tbody>
        <tfoot>
          {{partial themeInstance.components.table-footer}}
        </tfoot>
      </table>
    </div>
  </div>
  {{#if showComponentFooter}}
    <div class="{{themeInstance.classes.tfooterWrapper}}">
      <div class="{{themeInstance.classes.paginationWrapper}}">
        {{partial themeInstance.components.pagination-simple}}
      </div>
    </div>
  {{/if}}
</div>
{{yield}}
