{{#if this.isLoading}}
  <div class="ui active inverted dimmer">
    <div class="ui small text loader">Loading</div>
  </div>
{{/if}}
<div class="{{this.themeInstance.classes.outerTableWrapper}}">
  <div class="{{this.themeInstance.classes.globalFilterDropdownWrapper}}">
    {{#if this.showPageSize}}
      {{partial this.themeInstance.components.pageSizeSelect}}
    {{/if}}
    {{#if this.showGlobalFilter}}
      {{partial this.themeInstance.components.global-filter}}
    {{/if}}
  </div>
  <div class="ui row">
    <div class="{{this.themeInstance.classes.innerTableWrapper}}">
      <table class="{{this.themeInstance.classes.table}}">
        <thead class="{{if this.noHeaderFilteringAndSorting 'table-header-no-filtering-and-sorting'}} {{this.themeInstance.classes.thead}}">
          {{#if this.groupedHeaders.length}}
            {{partial this.themeInstance.components.grouped-header}}
          {{/if}}
          {{partial this.themeInstance.components.row-sorting}}
          {{#if this.useFilteringByColumns}}
            {{partial this.themeInstance.components.row-filtering}}
          {{/if}}
        </thead>
        <tbody class="table-body">
          {{#if this.allColumnsAreHidden}}
            {{partial this.themeInstance.components.columns-hidden}}
          {{else}}
            {{#if this.visibleContent.length}}
              {{#each this.visibleContent as |record index|}}
                {{#if record}}
                  {{#if (gte index 0)}}
                    {{partial this.themeInstance.components.row}}
                  {{/if}}
                {{/if}}
              {{/each}}
            {{else}}
              {{partial this.themeInstance.components.no-data}}
            {{/if}}
          {{/if}}
        </tbody>
        <tfoot>
          {{partial this.themeInstance.components.table-footer}}
        </tfoot>
      </table>
    </div>
  </div>
  {{#if this.showComponentFooter}}
    <div class="{{this.themeInstance.classes.tfooterWrapper}}">
      <div class="{{this.themeInstance.classes.paginationWrapper}}">
        {{partial this.themeInstance.components.pagination-simple}}
      </div>
    </div>
  {{/if}}
</div>
{{yield}}
