<div class="ui stackable {{unless noSocial 'three' 'one'}} column doubling centered grid">
  <div class="column">
    <form class="ui large form" autocomplete="off" {{action 'submit' on='submit'}}>
      <div class="ui aligned segment basic" style="margin: 0; padding: 0;">
        <h3 class="weight-400">Login</h3>
      </div>
      <div class="ui segments">
        <div class="ui segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="mail icon"></i>
              {{input name="email" placeholder="Email ID" value=email}}
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              {{input type="password" name="password" placeholder="Password" value=password}}
            </div>
          </div>
          <div class="ui center aligned segment basic">
            <button type="submit" class="ui fluid large teal submit button" style="margin-bottom: 10px;">Login
            </button>
            <a href="#" class="text muted"> Forgot your password ?</a>
          </div>
        </div>
        <div class="ui secondary segment center aligned">
          <a href="{{href-to 'register'}}" class="text muted weight-800">New to site? Create Account</a>
        </div>
      </div>
    </form>
  </div>
  {{#unless noSocial}}
    <div class="column">
      <div class="ui segment basic center aligned">
        <div class="mobile hidden" style="height: 30px;"> </div>
        <div class="ui vertical buttons">
          <button type="button" class="ui facebook button">
            <i class="facebook icon"></i>
            Login with Facebook
          </button>
          <button type="button" class="ui twitter button">
            <i class="twitter icon"></i>
            Login with Twitter
          </button>
          <button type="button" class="ui google plus button">
            <i class="google plus icon"></i>
            Login with Google Plus
          </button>
        </div>
      </div>
    </div>
  {{/unless}}
</div>


