<div class="ui stackable {{unless noSocial 'three' 'one'}} column doubling centered grid">
  <div class="column">
    <form class="ui large form" autocomplete="off" {{action 'submit' on='submit'}}>
      <div class="ui aligned segment basic less margin less padding">
        <h3 class="weight-400">{{t 'Login'}}</h3>
      </div>
      <div class="ui segments">
        <div class="ui segment {{if isLoading 'loading' ''}}">
          {{#if errorMessage}}
            <div class="ui negative message">
              <p>{{errorMessage}}</p>
            </div>
          {{/if}}
          {{#if newUser}}
            <div class="ui info message">
              <p>{{t 'You have been registered successfully. Please login to continue.'}}</p>
            </div>
          {{/if}}
          <div class="field">
            <div class="ui left icon input">
              <i class="mail icon"></i>
              {{input name='email' placeholder=(t 'Email ID') value=identification}}
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              {{input type='password' name='password' placeholder=(t 'Password') value=password}}
            </div>
          </div>
          <div class="ui center aligned segment basic">
            <button type="submit" class="ui fluid large teal submit button register">
              {{t 'Login'}}
            </button>
            <a href="{{href-to 'forgot-password'}}" class="text muted"> {{t 'Forgot your password ?'}}</a>
          </div>
        </div>
        <a href="{{href-to 'register'}}" class="ui secondary segment center aligned text muted weight-800">
          {{t 'New to site? Create Account'}}
        </a>
      </div>
    </form>
  </div>
  {{#unless noSocial}}
    <div class="column">
      <div class="ui segment basic center aligned">
        <div class="mobile hidden login-with-fb"> </div>
        <div class="ui vertical buttons">
          <button type="button" class="ui facebook button">
            <i class="facebook icon"></i>
            {{t 'Login with Facebook'}}
          </button>
          <button type="button" class="ui twitter button">
            <i class="twitter icon"></i>
            {{t 'Login with Twitter'}}
          </button>
          <button type="button" class="ui google plus button">
            <i class="google plus icon"></i>
            {{t 'Login with Google Plus'}}
          </button>
        </div>
      </div>
    </div>
  {{/unless}}
</div>
