<form class="ui large form" autocomplete="off" {{action 'submit' on='submit'}} novalidate>
  <div class="ui aligned segment basic less margin less padding">
    <h3 class="weight-400">{{t 'Register'}}</h3>
  </div>
  <div class="ui segments">
    <div class="ui segment {{if this.isLoading 'loading' ''}}">
      {{#if this.errorMessage}}
        <div class="ui negative message">
          <p>{{this.errorMessage}}</p>
        </div>
      {{/if}}
      <div class="{{if this.inviteEmail 'disabled' }} field">
        <div class="ui left icon input">
          <i class="mail icon"></i>
          <Input @name="email" @type="email" placeholder={{t "Email"}} @value={{this.data.email}} />
        </div>
      </div>
      <div class="field required">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          {{#if this.showSignupPass}}
            <Input @type="text" @name="password" placeholder={{t "Password"}} @value={{this.data.password}} />
          {{else}}
            <Input @type="password" @name="password" placeholder={{t "Password"}} @value={{this.data.password}} />
          {{/if}}
          <div class="ui small basic icon buttons">
            <button type="button" class="ui button" id="eye2" {{ action 'showSignupPassword'}}>
              {{#if this.showSignupPass}}
                <i class="hide basic icon"></i>
              {{else}}
                <i class="unhide basic icon"></i>
              {{/if}}
            </button>
          </div>
        </div>
      </div>
      <div class="field required">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          {{#if this.showConfirmPass}}
            <Input @type="text" @name="password_repeat" placeholder={{t "Re-enter Password"}} @value={{this.password_repeat}} />
          {{else}}
            <Input @type="password" @name="password_repeat" placeholder={{t "Re-enter Password"}} @value={{this.password_repeat}} />
          {{/if}}
          <div class="ui small basic icon buttons">
            <button type="button" class="ui button" id="eye3" {{ action 'showConfirmPassword'}}>
              {{#if this.showConfirmPass}}
                <i class="hide basic icon"></i>
              {{else}}
                <i class="unhide basic icon"></i>
              {{/if}}
            </button>
          </div>
        </div>
      </div>
      <div class="ui center aligned segment basic">
        <button type="submit" class="ui fluid large teal submit button register">
          {{t 'Register'}}
        </button>
      </div>
    </div>
    <a href="{{href-to 'login'}}" class="ui secondary segment center aligned text muted weight-800">
      {{t 'Already have an account? Login'}}
    </a>
  </div>
</form>
