<form class="ui large form" autocomplete="off" {{action 'submit' on='submit' }} novalidate>
  <div class="ui aligned segment basic less margin less padding">
    <h3 class="weight-400">{{t 'Register'}}</h3>
  </div>
  <div class="ui segments">
    <div class="ui segment {{if isLoading 'loading' ''}}">
      {{#if errorMessage}}
        <div class="ui negative message">
          <p>{{errorMessage}}</p>
        </div>
      {{/if}}
      <div class="field">
        <div class="ui left icon input">
          <i class="mail icon"></i>
          {{input name='email' type='email' placeholder=(t 'Email') value=data.email}}
        </div>
      </div>
      <div class="field required">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          {{input type='password' id="pwd1" name='password' placeholder=(t 'Password') value=data.password}}
          <button type="button" id="eye1">
            <img src="https://cdn0.iconfinder.com/data/icons/feather/96/eye-16.png" alt="eye" >
          </button>
        </div>
      </div>
      <div class="field required">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          {{input type='password' id="pwd2" name='password_repeat' placeholder=(t 'Re-enter Password')}}
          <button type="button" id="eye2">
            <img src="https://cdn0.iconfinder.com/data/icons/feather/96/eye-16.png" alt="eye">
          </button>
        </div>
      </div>
      <div class="ui center aligned segment basic">
        <button type="submit" class="ui fluid large teal submit button register">
          {{t 'Register'}}
        </button>
      </div>
    </div>
    <a href="{{href-to 'login'}}" class="ui secondary segment center aligned text muted weight-800">
      {{t 'Already have an account? Login'}}
    </a>
  </div>
</form>
<script>
  function show1() {
    var p = document.getElementById('pwd2');
    p.setAttribute('type', 'text');
  }

  function hide1() {
    var p = document.getElementById('pwd2');
    p.setAttribute('type', 'password');
  }

  var pwShown = 0;

  document.getElementById("eye2").addEventListener("click", function () {
    if (pwShown == 0) {
      pwShown = 1;
      show1();
    } else {
      pwShown = 0;
      hide1();
    }
  }, false);
</script>         
         <script>
           function show() {
    var p = document.getElementById('pwd1');
    p.setAttribute('type', 'text');
  }

  function hide() {
    var p = document.getElementById('pwd1');
    p.setAttribute('type', 'password');
  }

  var pwShown1 = 0;

  document.getElementById("eye1").addEventListener("click", function () {
    if (pwShown1 == 0) {
      pwShown1 = 1;
      show();
    } else {
      pwShown1 = 0;
      hide();
    }
  }, false);
         </script>