<form class="ui form {{if this.isLoading 'loading'}}" autocomplete="off" {{action 'submit' on='submit'}}>
  <div class="ui stackable grid">
    <div class="three wide column">
      <div class="ui left floated eight wide column">
        <Widgets::Forms::ImageUpload
          @user={{this.user}}
          @imageUrl={{this.user.avatarUrl}}
          @needsCropper={{true}}
          @label={{t "User Image"}}
          @id="user_image"
          @icon="photo"
          @hint={{t "Select User Image"}}
          @maxSizeInKb={{10000}}
          @aspectRatio={{array 1 1}}
          @helpText={{t "We recommend using at least a 1000x1000px (1:1 ratio) image"}} />
      </div>
      <div class="ui hidden divider"></div>
      <div class="field">
        <h3>{{this.user.firstName}} {{this.user.lastName}}</h3>
      </div>
      <div class="field">
        <h4>{{this.user.email}}</h4>
      </div>
    </div>
    <div class="thirteen wide column">
      <div class="field">
        <label class="required" for="name">{{t 'Name'}}</label>
        <Input
          @type="text"
          @id="name"
          @value={{this.user.firstName}} />
      </div>
      <div class="field">
        <label class="required" for="last_name">{{t 'Family Name'}}</label>
        <Input
          @type="text"
          @id="last_name"
          @value={{this.user.lastName}} />
      </div>
      <div class="field">
        <label for="details">{{t 'Bio'}}</label>
        <Widgets::Forms::RichTextEditor
          @id="details"
          @value={{this.user.details}} />
      </div>
      <div class="field">
        <label class="required">{{t 'Email'}}</label>
        <Input
          @type="email"
          @name="email"
          @value={{this.user.email}} />
      </div>
      <div class="field">
        <label class="details">{{t 'Phone'}}</label>
        <div class="ui left action input">
          {{#ui-dropdown class='selection'}}
            <i class="dropdown icon"></i>
            <div class="default text">{{t 'Select'}}</div>
            <div class="menu">
              {{#each countries as |country|}}
                <div class="item">
                  <i class="{{lowercase country.code}} flag"></i>
                  {{country.phone}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
          <Input
            @type="text"
            @name="phone"
            @value={{this.user.contact}} />
        </div>
      </div>
      <button type="submit" class="ui teal submit button update-changes">
        {{t 'Update Changes'}}
      </button>
    </div>
  </div>
</form>
