<form class="ui form {{if isLoading 'loading'}}" autocomplete="off" {{action 'submit' on='submit'}}>
  <div class="ui stackable grid">
    <div class="four wide column">
      {{widgets/forms/image-upload
        imageUrl=user.avatarUrl
        needsCropper=true
        label=(t 'User Image')
        id='user_image'
        icon='photo'
        hint=(t 'Select User Image')
        maxSizeInKb=10000
        aspectRatio=(array 1 1)
        helpText=(t 'We recommend using at least a 1000x1000px (1:1 ratio) image')}}
      <div class="ui hidden divider"></div>
      <div class="field">
        <h3>{{user.firstName}} {{user.lastName}}</h3>
      </div>
      <div class="field">
        <h4>{{user.email}}</h4>
      </div>
    </div>
    <div class="twelve wide column">
      <div class="field">
        <label class="required" for="name">{{t 'Name'}}</label>
        {{input type='text' id='name' value=user.firstName}}
      </div>
      <div class="field">
        <label class="required" for="last_name">{{t 'Family Name'}}</label>
        {{input type='text' id='last_name' value=user.lastName}}
      </div>
      <div class="field">
        <label for="details">{{t 'Details of the user'}}</label>
        {{widgets/forms/rich-text-editor id='details' value=user.details}}
      </div>
      <button type="submit" class="ui teal submit button update-changes">
        {{t 'Update Changes'}}
      </button>
      {{#ui-popup content=(t 'Delete') click=(action (confirm (t 'Are you sure you would like to delete your account?') (action 'deleteUser' user))) class='ui icon button'}}
        Delete you account <i class="trash outline icon"></i>
      {{/ui-popup}}
    </div>
  </div>
</form>
