<br>
<h1 class="text muted weight-300 no bottom margin">500 {{t 'Internal Server Error'}}</h1>
<h1 class="weight-300 description">
  {{t 'Oops, the page you are'}}<br>
  {{t 'looking for caused an error'}}<br>
  {{t 'on our servers.'}}
</h1>
<h3 class="weight-300">
  {{t 'You may want to head back to the home page.'}}<br>
  {{t 'If you think something is broken, try again.'}}
</h3>
<br>
<a class="ui secondary basic button" href="{{href-to 'index'}}">{{t 'Go Back Home'}}</a>
