{{#if device.isMobile }}
  <br><br>
{{/if}}
<div class="ui stackable grid">
  <div class="row">
    <h1 class="ui header eight wide column left floated {{if device.isMobile 'center' 'left'}} aligned">{{t 'Access Codes'}}</h1>
    <div class="eight wide column {{if device.isMobile 'center' 'right'}} aligned"><button class="ui button primary">{{t 'Create an access code'}}</button></div>
  </div>
  <div class="row">
    <div class="{{if device.isMobile 'eight wide column center' 'left'}} aligned">
      <div class="ui very basic buttons">
        <button class="ui button active">{{t 'All'}}</button>
        <button class="ui button">{{t 'Active'}}</button>
        <button class="ui button">{{t 'Inactive'}}</button>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="ui very basic table">
      <thead>
        <tr>
          <th>{{t '#'}}</th>
          <th>{{t 'Access Code'}}</th>
          <th>{{t 'Access Code URL'}}</th>
          <th>{{t 'Accessible Ticket'}}</th>
          <th>{{t 'Validity'}}</th>
          <th>{{t 'Status'}}</th>
          <th>{{t 'Action'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |entry index|}}
          <tr>
            <td>{{inc index}}</td>
            <td>{{entry.accessCode}}</td>
            <td>{{entry.accessCodeUrl}}</td>
            <td>{{entry.accessibleTicket}}</td>
            <td>{{entry.validity}}</td>
            {{#if entry.isActive}}
              <td><div class="ui basic mini green label center aligned">{{t 'Active'}}</div></td>
            {{else}}
              <td><div class="ui basic mini red label center aligned">{{t 'Inactive'}}</div></td>
            {{/if}}
            <td>
              <div class="ui vertical compact basic buttons">
                {{#ui-popup content=(t 'Edit Access Code') class='ui icon button'}}
                  <i class="edit icon"></i>
                {{/ui-popup}}
                {{#ui-popup content=(t 'Delete Access Code') class='ui icon button'}}
                  <i class="trash icon"></i>
                {{/ui-popup}}
                {{#ui-popup content=(t 'Deactivate Access code') class='ui icon button'}}
                  <i class="remove outline icon"></i>
                {{/ui-popup}}
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>