<h2 class="ui header">{{t 'Add Order'}}</h2>
<form class="ui form">
  {{events/events-table columns=columns data=model
    useNumericPagination=true
    showGlobalFilter=true
    showPageSize=true
  }}
  <div class="ui grid stackable">
    <div class="row">
      <div class="sixteen wide column right aligned">
        <h5 class="ui header">{{t 'Grand Total'}}: US$ {{total}}</h5>
      </div>
    </div>
    <div class="row add-order">
      <div class="eight wide column">
        {{#ui-dropdown class='labeled icon button' }}
          <i class="payment icon"></i>
          <div class="default text">{{t 'Select Payment Type'}}</div>
          <div class="menu">
            <div class="item" data-value="cheque">{{t 'Cheque'}}</div>
            <div class="item" data-value="telegraphic-transfer">{{t 'Telegraphic Transfer(TT)/Bank Transfer'}}</div>
            <div class="item" data-value="onsite">{{t 'Onsite/Cash'}}</div>
            <div class="item" data-value="free-order">{{t 'Free Order'}}</div>
          </div>
        {{/ui-dropdown}}
      </div>
      <div class="eight wide column right aligned">
        <button class="ui blue button" disabled= {{not hasTicketsInOrder}}>
          {{t 'Continue'}}
        </button>
      </div>
    </div>
  </div>
</form>
