<h2 class="ui header">{{t 'Add Order'}}</h2>
<form class="ui form">
{{!--   {{events/events-table
    columns=columns
    data=model.tickets
    store=model.store
    paymentCurrency=model.store.paymentCurrency
    query=model.query
    isNotStoreQuery = true
    modelName = model.objectType
    useNumericPagination=true
    showGlobalFilter=true
    showPageSize=true
    updateOrder=(action 'updateOrder')
  }} --}}
  {{tables/default  columns=columns
                    rows=model.tickets.data
                    currentPage=page
                    pageSize=per_page
                    searchQuery=search
                    sortBy=sort_by
                    sortDir=sort_dir
                    metaData=model.tickets.meta
                    filterOptions=filterOptions
                    widthConstraint="eq-container"
                    resizeMode="fluid"
                    fillMode="equal-column"
  }}    
  <div class="ui grid stackable">
    <div class="row">
      <div class="sixteen wide column right aligned">
        <h5 class="ui header">{{t 'Grand Total'}}: {{currency-symbol model.store.paymentCurrency}} {{total}}</h5>
      </div>
    </div>
    <div class="row">
      <div class="sixteen wide column right aligned">
        <button class="ui blue button" disabled={{not hasTicketsInOrder}} {{action 'placeOrder'}}>
          {{t 'Continue'}}
        </button>
      </div>
    </div>
  </div>
</form>
