<h2 class="ui header">{{t 'Add Order'}}</h2>
<form class="ui form">
  <table class="ui very basic table">
    <thead>
      <tr>
        <th>{{t 'Ticket Type'}}</th>
        <th class="right aligned">{{t 'Price '}}(US$)</th>
        <th class="right aligned">{{t 'Quantity'}}</th>
        <th class="right aligned">{{t 'Item Total'}}</th>
      </tr>
      {{#each model as |ticket|}}
        <tr>
          <td>
            {{ticket.ticketType}}
          </td>
          <td class="right aligned">
            US$ {{number-format ticket.price}}
          </td>
          <td class="right aligned">
            <div class="inline field">
              {{input value=ticket.quantity type='number' min='0'}}
            </div>
          </td>
          <td class="right aligned">
            $ {{number-format (mult ticket.quantity ticket.price)}}
          </td>
        </tr>
      {{/each}}
    </thead>
  </table>
  <div class="ui grid stackable">
    <div class="row">
      <div class="sixteen wide column right aligned">
        <h5 class="ui header">{{t 'Grand Total'}}: $ {{number-format total}}</h5>
      </div>
    </div>
    <div class="row" style="padding-top: 20px">
      <div class="eight wide column">
        {{#ui-dropdown class='labeled icon button'}}
          <i class="payment icon"></i>
          <div class="default text">{{t 'Select Payment Type'}}</div>
          <div class="menu">
            <div class="item" data-value="cheque">{{t 'Cheque'}}</div>
            <div class="item" data-value="telegraphic-transfer">{{t 'Telegraphic Transfer(TT)/Bank Transfer'}}</div>
            <div class="item" data-value="onsite">{{t 'Onsite/Cash'}}</div>
            <div class="item" data-value="free-order">{{t 'Free Order'}}</div>
          </div>
        {{/ui-dropdown}}
      </div>
      <div class="eight wide column right aligned">
        <button class="ui teal button" disabled={{not hasTicketsInOrder}}>
          {{t 'Continue'}}
        </button>
      </div>
    </div>
  </div>
</form>
