<GroupNav @group={{this.model.group}} />
<div class="row">
  <div class="sixteen wide column">
    <Forms::group::GroupEventsForm
      @group={{this.model.group}}
      @events={{this.model.filteredEvents}}
      @groupEvents={{this.model.groupEvents}}
      @isLoading={{this.isLoading}} />
  </div>
  <div class="sixteen wide column">
    <InfinityLoader @infinityModel={{this.model.filteredEvents}} @triggerOffset={{1000}} @eventDebounce={{50}}>
      <div class="ui loading very padded basic segment">
      </div>
      {{this.infintyModel.reachedInfinity}}
    </InfinityLoader>
  </div>
</div>
