<GroupNav @group={{this.model.group}} />
<div class="sixteen wide column">
  <div class="mb-4">
    <h2 class="header">{{t 'Followers'}}</h2>
  </div>
  <Tables::Default
    @columns={{this.followersColumn}}
    @rows={{this.model.followers.data}}
    @currentPage={{this.page}}
    @hideSearchBox={{true}}
    @pageSize={{this.per_page}}
    @metaData={{this.model.followers.meta}}
    @widthConstraint="eq-container"
    @resizeMode="fluid"
    @fillMode="equal-column" />
</div>
