<form class="ui form {{if this.isLoading 'loading'}}" autocomplete="off" {{action 'move' 'forwards' on='submit' preventDefault=true}}>

  <div class="ui centered grid">
    <div class="column">
      <div class="ui {{if this.data.event.isTicketFormEnabled 'basic'}} segment">
        <div class="center aligned text">
          <div class=" field">
            <div class="ui slider checkbox">
              <Input
                @type="checkbox"
                @checked={{this.data.event.isTicketFormEnabled}} />
              <label class="weight-300" style="font-size: large">
                {{if this.data.event.isTicketFormEnabled (t 'Turn off') (t 'Turn on')}}
                {{t 'Attendee Form'}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="ui center aligned header">
        {{t 'Information About Attendee Form'}}
      </div>
      <div class="ui muted text">
        {{t 'The attendee form by default collects the name and email of an attendee. You also have the option to collect additional information such as contact data, position, organization and more. This information will be available together with the ticket information in a CSV file in the ticket section of your event.'}}
      </div>
    </div>
  </div>
  {{#if this.data.event.isTicketFormEnabled}}
    <div class="ui hidden divider"></div>
    <h3 class="ui dividing header">
      <i class="checkmark box icon"></i>
      <div class="content">
        {{t 'Information to Collect'}}
      </div>
    </h3>
    <div class="ui two column stackable grid">
      <div class="column">
        <table class="ui selectable celled table">
          <thead>
            <tr>
              {{#if this.device.isMobile}}
                <th class="center aligned">
                  {{t 'Options'}}
                </th>
              {{else}}
                <th class="right aligned">
                  {{t 'Option'}}
                </th>
                <th class="center aligned">
                  {{t 'Include'}}
                </th>
                <th class="center aligned">
                  {{t 'Require'}}
                </th>
              {{/if}}
            </tr>
          </thead>
          <tbody>
            {{#each this.data.customForms as |field|}}
              <tr class="{{if field.isIncluded 'positive'}}">
                <td class="{{if this.device.isMobile 'center' 'right'}} aligned">
                  <label class="{{if field.isFixed 'required'}}">
                    {{field.name}}
                  </label>
                </td>
                <td class="center aligned">
                  <UiCheckbox
                    @class="slider"
                    @checked={{field.isIncluded}}
                    @disabled={{field.isFixed}}
                    @onChange={{action (mut field.isIncluded)}}
                    @label={{if this.device.isMobile (t "Include")}} />
                </td>
                <td class="center aligned">
                  <UiCheckbox
                    @class="slider"
                    @checked={{field.isRequired}}
                    @disabled={{field.isFixed}}
                    @onChange={{action (mut field.isRequired)}}
                    @label={{if this.device.isMobile (t "Require")}} />
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  {{/if}}
  <div class="spacer-50"></div>
  <div class="{{if this.device.isMobile 'mini four' 'right floated large'}} ui fields buttons">
    <button class="ui three field left labeled icon button {{if this.isLoading 'disabled'}}" type="button" {{action 'move' 'backwards'}}>
      {{t 'Previous'}}
      <i class="left chevron icon"></i>
    </button>
    <button class="ui three field right labeled icon button {{if this.isLoading 'disabled'}}" type="button" {{action 'move' 'forwards'}}>
      {{t 'Forward'}}
      <i class="right chevron icon"></i>
    </button>
    {{#if (not-eq this.data.event.state 'published')}}
      <button class="blue ui three field right labeled icon button {{if this.isLoading 'disabled'}}" type="button" {{action 'saveDraft'}}>
        {{t 'Save draft'}}
        <i class="save icon"></i>
      </button>
    {{/if}}
    {{#if this.data.event.locationName}}
      <button class="green ui three field right labeled icon button {{if this.isLoading 'disabled'}}" type="button" {{action 'publish'}}>
        {{t 'Publish'}}
        <i class="check icon"></i>
      </button>
    {{/if}}
  </div>
</form>
