<form class="ui form {{if this.isLoading 'loading'}}" autocomplete="off" {{action 'move' 'forwards' on='submit' preventDefault=true}}>

  <div class="ui centered grid">
    <div class="column">
      <div class="ui {{if this.data.event.isTicketFormEnabled 'basic'}} segment">
        <div class="center aligned text">
          <div class=" field">
            <div class="ui slider checkbox">
              <Input
                @type="checkbox"
                @checked={{this.data.event.isTicketFormEnabled}} />
              <label class="weight-300" style="font-size: large">
                {{if this.data.event.isTicketFormEnabled (t 'Turn off') (t 'Turn on')}}
                {{t 'Attendee Form'}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="ui center aligned header">
        {{t 'Information About Attendee Form'}}
      </div>
      <div class="ui muted text">
        {{t 'The attendee form by default collects the name and email of an attendee. You also have the option to collect additional information such as contact data, position, organization and more. This information will be available together with the ticket information in a CSV file in the ticket section of your event.'}}
      </div>
    </div>
  </div>
  <div class="ui hidden divider"></div>
  <h3 class="ui dividing header">
    <i class="checkmark box icon"></i>
    <div class="content">
      {{t 'Required Form Fields'}}
    </div>
  </h3>
  <div class="ui two column stackable grid">
    <div class="column">
      <Forms::Wizard::CustomForms::Table
        @fields={{this.fixedFields}} />
    </div>
  </div>
  {{#if this.data.event.isTicketFormEnabled}}
    <h3 class="ui dividing header">
      <i class="checkmark box icon"></i>
      <div class="content">
        {{t 'Information to Collect'}}
      </div>
    </h3>
    <div class="ui two column stackable grid">
      <div class="column">
        <Forms::Wizard::CustomForms::Table
          @fields={{this.editableFields}}
          @updateField={{action (mut this.field)}} />
      </div>
    </div>
    <Forms::Wizard::CustomFormInput
      @customForms={{this.data.customForms}}
      @event={{this.data.event}}
      @form="attendee"
      @field={{this.field}}
      @onSave={{action (mut this.field) null}} />
  {{/if}}
  <div class="spacer-50"></div>
  <div class="ui grid">
  <div class="sixteen wide column {{unless this.device.isMobile 'right aligned'}} {{if this.isUserUnverified 'disabled'}}">
    <LinkTo @route="events.view.index" @model={{this.data.event.identifier}} class="red ui right labeled small icon button">
      {{t 'Cancel'}}<i class="close icon"></i>
    </LinkTo>
    <button class="ui left labeled small icon button {{if this.isLoading 'disabled'}}" type="button" {{action 'move' 'backwards'}}>
      {{t 'Previous'}}
      <i class="left chevron icon"></i>
    </button>
    <button class="ui right labeled small icon button {{if this.isLoading 'disabled'}}" type="button" {{action 'move' 'forwards'}}>
      {{t 'Next'}}
      <i class="right chevron icon"></i>
    </button>
    <button class="blue ui right labeled small icon button {{if this.isLoading 'disabled'}}" type="button" {{action 'saveDraft'}}>
      {{#if (eq this.data.event.state 'draft')}}
        {{t 'Save as draft'}} <i class="save icon"></i>
      {{else}}
        {{t 'Save'}} <i class="save icon"></i>
      {{/if}}
    </button>
    </div>
    </div>
    <div class="ui grid">
      <div class="sixteen wide column right aligned">
        {{#if (not this.unsavedEvent)}}
          {{#if (eq this.data.event.state 'draft')}}
            <p> This event is currently not published. It is in draft mode and it is not visible publicly. </p>
          {{else}}
            <p>This event is published. Any changes you make will appear on your live event.</p>
          {{/if}}
        {{/if}}
      </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui grid">
    <div class="sixteen wide column {{unless this.device.isMobile 'right aligned'}} {{if this.isUserUnverified 'disabled'}}">
      {{#if (eq this.data.event.state 'draft')}}
        <a href="{{this.data.event.url}}" target="_blank" rel="noopener" class="ui right labeled small icon button">
        {{t 'Preview'}} <i class="hide icon"></i>
        </a>
      {{else}}
      <a href="{{this.data.event.url}}" target="_blank" rel="noopener" class="green ui right labeled small icon button">
        {{t 'View'}} <i class="unhide icon"></i>
      </a>
    {{/if}}
    {{#if (and this.data.event.locationName ticketsPresent)}}
      <button class="ui button right labeled icon small {{if (eq this.data.event.state 'published') 'orange' 'green'}}" {{action 'openConfirmModal'}}>
        {{#if (eq this.data.event.state 'published')}}
          <i class="ban icon"></i>
          {{t 'Unpublish'}}
        {{else}}
          <i class="check icon"></i>
          {{t 'Publish'}}
        {{/if}}
      </button>
    {{/if}}
  </div>
  </div>
</form>

<Modals::PublishUnpublishModal @isOpen={{this.isPublishUnpublishModalOpen}} @state={{this.data.event.state}} @isEventPublishable='true' @togglePublishState={{action 'togglePublishState'}} />
