<form class="ui form">
  <div class="field">
    <label class="required">{{t 'Name'}}</label>
    {{input type='text'}}
  </div>
  <div class="field">
    <label>{{t 'Location'}}</label>
    {{#liquid-unless addressViewIsShown}}
      <div class="ui action input">
        {{input type='text' placeholder=(t 'Location is required to make this event live')}}
        <button class="ui left labeled icon button" type="button" {{action 'showAddressView'}}>
          <i class="marker icon"></i>
          {{t 'Enter address'}}
        </button>
      </div>
    {{else}}
      <div class="ui two column grid stackable">
        <div class="column">
          <div class="field">
            {{input type='text' placeholder=(t 'Street Address Line 1')}}
          </div>
          <div class="field">
            {{input type='text' placeholder=(t 'Street Address Line 2')}}
          </div>
          <div class="field">
            {{input type='text' placeholder=(t 'City')}}
          </div>
          <div class="field">
            {{input type='text' placeholder=(t 'State')}}
          </div>
          <div class="field">
            {{input type='text' placeholder=(t 'Zip Code')}}
          </div>
          <div class="field">
            {{input type='text' placeholder=(t 'Country')}}
          </div>
          <div class="ui two column grid">
              <div class="left floated column">
                <a href="#" {{action 'showAddressView' false}}>{{t 'Reset Map'}}</a>
              </div>
              <div class="right floated column" style="text-align: right">
                <div class="inline field">
                  <div class="ui slider checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>{{t 'Show map on event page'}}</label>
                  </div>
                  <label></label>
                </div>
              </div>
          </div>
        </div>
        <div class="column" style="">
          {{g-map lat=37.7833 lng=-122.4167 zoom=12 class='google-maps'}}
        </div>
      </div>
    {{/liquid-unless}}
  </div>
  <div class="ten fields">
    <div class="five wide field">
      <label class="required">{{t 'Starts'}}</label>
      {{widgets/forms/date-picker type='text' placeholder='MM/DD/YYYY' rangePosition='start'}}
    </div>
    <div class="two wide field">
      <label>&nbsp;</label>
      {{widgets/forms/time-picker type='text' placeholder='HH:MM' rangePosition='start'}}
    </div>
    <div class="five wide field">
      <label class="required">{{t 'Ends'}}</label>
      {{widgets/forms/date-picker type='text' placeholder='MM/DD/YYYY' rangePosition='end'}}
    </div>
    <div class="two wide field">
      <label>&nbsp;</label>
      {{widgets/forms/time-picker type='text' placeholder='HH:MM' rangePosition='end'}}
    </div>
    <div class="five wide field">
      <label class="required">{{t 'Timezone'}}</label>
      <select class="ui search dropdown" title="{{t 'Select timezone'}}">
        <option value="">{{t 'Select timezone'}}</option>
        {{#each timezones as |timezone|}}
          {{#if (eq timezone currentTimezone)}}
            <option value="{{timezone}}" selected>{{timezone}}</option>
          {{else}}
            <option value="{{timezone}}">{{timezone}}</option>
          {{/if}}
        {{/each}}
      </select>
    </div>
  </div>
  <div class="field">
    <label>{{t 'Description'}}</label>
    {{textarea class='editable textarea'}}
  </div>

  <div class="fields">
    <div class="ten wide field">
      <label>{{t 'Event Image'}}</label>
      <div class="ui center aligned piled upload segment text muted">
        <i class="big camera icon"></i>
        <br><br>
        Select Event Image
      </div>
      <span class="text muted">
        We recommend using at least a 2160x1080px (2:1 ratio) image<br>
        (No larger than 10 MB)
      </span>
    </div>
    <div class="ten wide field">
      <label>{{t 'Logo'}}</label>
      <div class="ui center aligned piled upload segment text muted">
        <i class="big image icon"></i>
        <br><br>
        Select Logo
      </div>
      <span class="text muted">
        (No larger than 1 MB)
      </span>
    </div>

  </div>

</form>

