<form class="ui form">
  <div class="field">
    <label class="required">{{t 'Name'}}</label>
    {{input type='text'}}
  </div>
  <div class="field">
    <label>{{t 'Location'}}</label>
    {{#liquid-unless addressViewIsShown}}
      <div class="ui action input">
        {{widgets/forms/places-autocomplete
          placeChangedCallback=(action 'placeChanged')
          type='text'
          placeholder=(t 'Location is required to make this event live')}}
        <button class="ui left labeled icon button" type="button" {{action 'showAddressView'}}>
          <i class="marker icon"></i>
          {{t 'Enter address'}}
        </button>
      </div>
    {{else}}
      <div class="ui two column grid stackable">
        <div class="column">
          <div class="field">
            {{input type='text' placeholder=(t 'Street Address Line 1')}}
          </div>
          <div class="field">
            {{input type='text' placeholder=(t 'Street Address Line 2')}}
          </div>
          <div class="field">
            {{input type='text' placeholder=(t 'City')}}
          </div>
          <div class="field">
            {{input type='text' placeholder=(t 'State')}}
          </div>
          <div class="field">
            {{input type='text' placeholder=(t 'Zip Code')}}
          </div>
          <div class="field">
            {{input type='text' placeholder=(t 'Country')}}
          </div>
          <div class="ui two column grid">
            <div class="left floated column">
              <a href="#" {{action 'showAddressView' false}}>{{t 'Reset Map'}}</a>
            </div>
            <div class="right floated column" style="text-align: right">
              <div class="inline field">
                <div class="ui slider checkbox">
                  {{input type='checkbox'}}
                  <label>{{t 'Show map on event page'}}</label>
                </div>
                <label></label>
              </div>
            </div>
          </div>
        </div>
        <div class="column" style="">
          {{g-map lat=37.7833 lng=-122.4167 zoom=12 class='google-maps'}}
        </div>
      </div>
    {{/liquid-unless}}
  </div>
  <div class="ten fields">
    <div class="five wide field">
      <label class="required">{{t 'Starts'}}</label>
      {{widgets/forms/date-picker type='text' placeholder='MM/DD/YYYY' rangePosition='start'}}
    </div>
    <div class="two wide field">
      <label>&nbsp;</label>
      {{widgets/forms/time-picker type='text' placeholder='HH:MM' rangePosition='start'}}
    </div>
    <div class="five wide field">
      <label class="required">{{t 'Ends'}}</label>
      {{widgets/forms/date-picker type='text' placeholder='MM/DD/YYYY' rangePosition='end'}}
    </div>
    <div class="two wide field">
      <label>&nbsp;</label>
      {{widgets/forms/time-picker type='text' placeholder='HH:MM' rangePosition='end'}}
    </div>
    <div class="five wide field">
      <label class="required">{{t 'Timezone'}}</label>
      {{#ui-dropdown class='search' id='timezone' tagName='select' selected=currentTimezone forceSelection=false}}
        <option value="">{{t 'Select timezone'}}</option>
        {{#each timezones as |timezone|}}
          <option value="{{timezone}}">{{timezone}}</option>
        {{/each}}
      {{/ui-dropdown}}
    </div>
  </div>
  <div class="field">
    <label>{{t 'Description'}}</label>
    {{widgets/forms/rich-text-editor}}
  </div>

  <div class="fields">
    <div class="ten wide field">
      {{widgets/forms/image-upload
        label=(t 'Event Image')
        icon='camera'
        hint=(t 'Select Event Image')
        maxSizeInKb=10000
        helpText='We recommend using at least a 2160x1080px (2:1 ratio) image'}}
    </div>
    <div class="ten wide field">
      {{widgets/forms/image-upload
        label=(t 'Logo')
        icon='image'
        hint=(t 'Select Logo')
        maxSizeInKb=1000}}
    </div>
  </div>

  <div class="ui section divider"></div>
  <div class="field">
    <div class="ui slider checkbox">
      {{input type='checkbox' checked=organizerInfoVisible}}
      <label>{{t 'Add organizer information'}}</label>
    </div>
  </div>

  {{#if organizerInfoVisible}}
    <div class="field">
      <label>{{t 'Organizer Name'}}</label>
      {{input type='text'}}
    </div>
    <div class="field">
      <label>{{t 'Organizer Description'}}</label>
      {{widgets/forms/rich-text-editor}}
    </div>
  {{/if}}
  <div class="ui section divider"></div>
  <div class="field">
    <label>{{t 'Links & Social Media'}}</label>
    <div class="fields">
      <div class="three wide field">
        {{input type='text' value=(t 'External Link')}}
      </div>
      <div class="six wide field">
        <div class="ui labeled action input">
          {{#ui-dropdown class="label" selected='https'}}
            <div class="text">https://</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" data-value="http">http://</div>
              <div class="item" data-value="https">https://</div>
            </div>
          {{/ui-dropdown}}
          {{input type='text'}}
          <div class="ui icon buttons">
            <button type="button" class="ui sharp button red"><i class="minus icon"></i></button>
            <button type="button" class="ui button teal"><i class="plus icon"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui section divider"></div>
  <div class="field">
    <div class="ui slider checkbox">
      {{input type='checkbox' checked=ticketingSystemEnabled}}
      <label>{{t 'Use ticketing system'}}</label>
    </div>
  </div>
  {{#if ticketingSystemEnabled}}

  {{else}}
    <div class="field">
      <label class="required">{{t 'Ticket URL'}}</label>
      <div class="ui labeled input">
        {{#ui-dropdown class="label" selected='https'}}
          <div class="text">https://</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="http">http://</div>
            <div class="item" data-value="https">https://</div>
          </div>
        {{/ui-dropdown}}
        {{input type='text'}}
      </div>
    </div>
  {{/if}}
  <div class="ui section divider"></div>
  <div class="field">
    <label>{{t 'Listing Privacy'}}</label>
    {{input type='text'}}
  </div>
  <div class="field">
    <label>{{t 'Event Type'}}</label>
    {{input type='text'}}
  </div>
  <div class="field">
    <label>{{t 'Event Topic'}}</label>
    {{input type='text' id='topic'}}
  </div>
  <div class="field">
    <label>{{t 'Event Sub-topic'}}</label>
    {{input type='text'}}
  </div>
  <div class="ui section divider"></div>
  <div class="field">
    <div class="ui slider checkbox">
      {{input type='checkbox' checked=codeOfConductVisible}}
      <label>{{t 'Add Code of Conduct'}}</label>
    </div>
  </div>

  {{#if codeOfConductVisible}}
    <div class="field">
      <label>{{t 'Code of Conduct'}}</label>
      {{widgets/forms/rich-text-editor}}
    </div>
  {{/if}}
  <div class="ui section divider"></div>
  <div class="field">
    <label>
      {{t 'License of Event Data & Content'}}
      ( <i class="fitted help icon link has popup"></i> )
      <div class="ui flowing popup top left transition hidden">
        <div class="ui one column divided grid">
          <div class="column">
            <strong>Common Licenses</strong>
            <div class="ui bulleted list">
              {{#each licenses as |license|}}
                <div class="item">
                  <a href="{{license.link}}" target="_blank">
                    {{license.name}}
                  </a>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>

    </label>

    {{#ui-dropdown class='search' id='license' tagName='select' selected='' forceSelection=false}}
      <option value="">{{t 'Select License'}}</option>
      {{#each licenses as |license|}}
        <option value="{{license.name}}">{{license.name}}</option>
      {{/each}}
    {{/ui-dropdown}}
  </div>

</form>

