<form class="ui form" autocomplete="off" {{action 'moveForward' on='submit' preventDefault=true}}>
  <div class="field">
    <label class="required" for="name">{{t 'Name'}}</label>
    {{input type='text' id='name' value=name.name}}
  </div>
  <div class="field">
    <label for="location">{{t 'Location'}}</label>
    {{#widgets/forms/location-input
      inputId='location'
      lat=data.latitude
      lng=data.longitude
      placeName=data.locationName
      zoom=1
      placeholder=(t 'Location is required to make this event live')}}
      <div class="inline field">
        <div class="ui slider checkbox">
          {{input id='show_map' type='checkbox' id='show_map' checked=showMap}}
          <label for="show_map">{{t 'Show map on event page'}}</label>
        </div>
      </div>
    {{/widgets/forms/location-input}}
  </div>
  <div class="ten fields">
    <div class="five wide field">
      <label class="required" for="start_date">{{t 'Starts'}}</label>
      {{widgets/forms/date-picker type='text' inputId='start_date' placeholder='MM/DD/YYYY' rangePosition='start'
                                  value=data.startDate}}
    </div>
    <div class="two wide field">
      <label for="start_time">&nbsp;</label>
      {{widgets/forms/time-picker type='text' inputId='start_time' placeholder='HH:MM' rangePosition='start'
                                  value=data.startTime}}
    </div>
    <div class="five wide field">
      <label class="required" for="end_date">{{t 'Ends'}}</label>
      {{widgets/forms/date-picker type='text' inputId='end_date' placeholder='MM/DD/YYYY' rangePosition='end'
                                  value=data.endDate}}
    </div>
    <div class="two wide field">
      <label for="end_time">&nbsp;</label>
      {{widgets/forms/time-picker type='text' inputId='end_time' placeholder='HH:MM' rangePosition='end'
                                  value=data.endTime}}
    </div>
    <div class="five wide field">
      <label class="required" for="timezone">{{t 'Timezone'}}</label>
      {{#ui-dropdown class='search' tagName='select' id='timezone' selected=data.timezone forceSelection=false
                     onChange=(action (mut data.timezone))}}
        <option value="">{{t 'Select timezone'}}</option>
        {{#each timezones as |timezone|}}
          <option value="{{timezone}}">{{timezone}}</option>
        {{/each}}
      {{/ui-dropdown}}
    </div>
  </div>
  <div class="field">
    <label for="description">{{t 'Description'}}</label>
    {{widgets/forms/rich-text-editor textareaId='description' value=data.description}}
  </div>

  <div class="fields">
    <div class="ten wide field">
      {{widgets/forms/image-upload
        imageUrl=data.backgroundUrl
        needsCropper=true
        label=(t 'Event Image')
        id='event_image'
        icon='camera'
        hint=(t 'Select Event Image')
        maxSizeInKb=10000
        helpText='We recommend using at least a 2160x1080px (2:1 ratio) image'}}
    </div>
    <div class="ten wide field">
      {{widgets/forms/image-upload
        imageUrl=data.logoUrl
        label=(t 'Logo')
        id='event_logo'
        icon='image'
        hint=(t 'Select Logo')
        maxSizeInKb=1000}}
    </div>
  </div>

  <div class="ui section divider"></div>
  <div class="field">
    <div class="ui slider checkbox">
      {{input type='checkbox' checked=hasOrganizerInfo id='add_organizer_information'}}
      <label for="add_organizer_information">{{t 'Add organizer information'}}</label>
    </div>
  </div>

  {{#if hasOrganizerInfo}}
    <div class="field">
      <label for="organizer_name">{{t 'Organizer Name'}}</label>
      {{input type='text' id='organizer_name'}}
    </div>
    <div class="field">
      <label for="organizer_description">{{t 'Organizer Description'}}</label>
      {{widgets/forms/rich-text-editor id='organizer_description'}}
    </div>
  {{/if}}
  <div class="ui section divider"></div>
  <div class="field">
    <label>{{t 'Links & Social Media'}}</label>
    {{widgets/forms/link-input
      hasLinkName=true
      linkName=data.externalEventUrl.name
      segmentedLink=data.externalEventUrl.segmentedLink
      isChild=(unless data.socialLinks true)
      canRemoveItem=false
      addItem=(action 'addItem' 'socialLinks' 'social-link')
    }}

    {{#each data.socialLinks as |socialLink|}}
      {{widgets/forms/link-input
        hasLinkName=true
        linkName=socialLink.name
        segmentedLink=socialLink.segmentedLink
        isChild=true
        addItem=(action 'addItem' 'socialLinks' 'social-link')
        removeItem=(action 'removeItem' socialLink 'socialLinks')
      }}
    {{/each}}
  </div>
  <div class="ui section divider"></div>
  <div class="field">
    <div class="ui slider checkbox">
      {{input type='checkbox' checked=data.ticketingSystemEnabled id='use_ticketing_system'}}
      <label for="use_ticketing_system">{{t 'Use ticketing system'}}</label>
    </div>
  </div>
  {{#if data.ticketingSystemEnabled}}
    <div class="ui attached segment {{unless data.tickets 'center aligned'}}">
      {{#if data.tickets}}
        <div class="ui stackable celled five column grid">
          <div class="row weight-600">
            <div class="six wide column">
              <label class="required">Ticket Name</label>
            </div>
            <div class="column">
              <label>Price</label>
            </div>
            <div class="column">
              <label class="required">Quantity</label>
            </div>
            <div class="column">
              <label>Options</label>
            </div>
          </div>
        </div>
        {{#each data.tickets as |ticket|}}
          {{widgets/forms/ticket-input ticket=ticket removeTicket=(confirm 'Are you sure you wish to delete this ticket ?' (action 'removeTicket' ticket))}}
        {{/each}}
      {{else}}
        <h3 class="text muted weight-500">
          {{t 'You don\'t have any tickets added. Add one of your choice.'}}
        </h3>
      {{/if}}
    </div>
    <div class="ui two bottom attached buttons">
      <button class="ui button" {{action 'addTicket' 'free'}}>
        <i class="large icons" style="margin-right: 6px;">
          <i class="smile icon"></i>
          <i class="inverted corner add icon"></i>
        </i>
        {{t 'Free Ticket'}}
      </button>
      <button class="ui button" {{action 'addTicket' 'paid'}}>
        <i class="large icons" style="margin-right: 6px;">
          <i class="dollar icon"></i>
          <i class="inverted corner add icon"></i>
        </i>
        {{t 'Paid Ticket'}}
      </button>
    </div>
  {{else}}
    <div class="field">
      <label class="required" for="ticket_url">{{t 'Ticket URL'}}</label>
      {{widgets/forms/link-input inputId='ticket_url' protocol='https'}}
    </div>
  {{/if}}
  {{#if hasPaidTickets}}
    <div class="ui section divider"></div>
    <div class="field">
      <label>{{t 'Redeem Discount Code'}}</label>
      <div class="ui action input">
        {{input type='text' placeholder=(t 'Discount code')}}
        <button type="button" class="ui teal right labeled icon button">
          <i class="check icon"></i>
          {{t 'Redeem'}}
        </button>
      </div>
    </div>
    <div class="ui section divider"></div>
    <div class="field">
      <h4>{{t 'Add Payment Details'}}</h4>
      <div class="two fields">
        <div class="field">
          <label class="required">Choose country</label>
          {{#ui-dropdown class='search' id='payment_country' tagName='select' selected='' forceSelection=false}}
            <option value="">Select country</option>
          {{/ui-dropdown}}

        </div>
        <div class="field">
          <label class="required">Choose currency</label>
          {{#ui-dropdown class='search' id='payment_currency' tagName='select' selected='' forceSelection=false}}
            <option value="">Select currency</option>
          {{/ui-dropdown}}
        </div>
      </div>
    </div>
    <div class="ui section divider"></div>
    <div class="field">
      <h4>{{t 'Choose payment methods'}}</h4>
      <label>Payment by PayPal</label>
      <div class="field" style="margin-top: 10px;">
        <div class="ui checkbox">
          {{input type='checkbox' id='payment_by_paypal' checked=data.payByPayPal}}
          <label for="payment_by_paypal">
            <span>{{t 'YES, accept payment through PayPal'}}</span>
            <br>
            <span class="text muted">
              {{t 'Paypal accepts credit card, debit card and PayPal payments. To learn how it works '}}
              <a href="https://www.paypal.com/us/webapps/mpp/popup/about-payment-methods" target="_blank">{{t 'click here'}}</a>.
            </span>
          </label>
        </div>
      </div>
      {{#if data.payByPayPal}}
        <div class="field">
          <label class="required">PayPal Email</label>
          {{input type='email'}}
        </div>
      {{/if}}

      <label>Payment by Stripe</label>
      <div class="field" style="margin-top: 10px;">
        <div class="ui checkbox">
          {{input type='checkbox' id='payment_by_stripe' checked=data.payByStripe}}
          <label for="payment_by_stripe">
            <span>{{t 'YES, accept payment through Stripe'}}</span>
            <br>
            <span class="text muted">
              {{t 'Stripe accepts Visa, Master and Amex. Find out more about Stripe '}}
              <a href="https://stripe.com/docs" target="_blank">{{t 'here'}}</a>.
            </span>
          </label>
        </div>
      </div>
      {{#if data.payByStripe}}
        <div class="field">
          <label class="required">Connect to your Stripe account</label>
          <a href="#" class="stripe-connect"><span>Connect with Stripe</span></a>
        </div>
      {{/if}}

      <label>Offline Payments</label>
      <div class="field" style="margin-top: 10px;">
        <div class="ui checkbox">
          {{input type='checkbox' id='payment_by_cheque' checked=data.payByCheque}}
          <label for="payment_by_cheque">
            {{t 'YES, accept payment by Cheque'}}
          </label>
        </div>
      </div>
      {{#if data.payByCheque}}
        <div class="field">
          <label class="required">{{t 'Enter you account name and other required details/instructions to ticket buyers'}}</label>
          {{textarea}}
        </div>
      {{/if}}

      <div class="field" style="margin-top: 10px;">
        <div class="ui checkbox">
          {{input type='checkbox' id='payment_by_bank' checked=data.payByBank}}
          <label for="payment_by_bank">
            {{t 'YES, accept payment by Telegraphic Transfer(TT) / Bank Transfer '}}
          </label>
        </div>
      </div>

      {{#if data.payByBank}}
        <div class="field">
          <label class="required">{{t 'Enter your bank details and other required details/instructions to ticket buyers'}}</label>
          {{textarea}}
        </div>
      {{/if}}

      <div class="field" style="margin-top: 10px;">
        <div class="ui checkbox">
          {{input type='checkbox' id='payment_onsite' checked=data.payOnSite}}
          <label for="payment_onsite">
            {{t 'YES, accept payment at the event (on site) '}}
          </label>
        </div>
      </div>

      {{#if data.payOnSite}}
        <div class="field">
          <label class="required">{{t 'Enter your payment instructions and other required details/instructions to ticket buyers'}}</label>
          {{textarea}}
        </div>
      {{/if}}

      <div class="ui section divider"></div>

      <div class="field">
        {{#if data.hasTaxInfo}}
          <div class="ui card">
            <div class="content" style="padding: 0.5em 1em;">
              <div class="meta">
                Tax Information
              </div>
            </div>
            <div class="content">
              <div class="header">{{data.taxInfo.name}}</div>
              <div class="description">
                {{data.taxInfo.taxId}}<br>
                {{data.taxInfo.rate}}% - {{if data.taxInfo.includeTaxInPrice 'Included in ticket price' 'Extra fee on ticket price'}}
              </div>
            </div>
            <div class="ui bottom attached small buttons">
              <button class="ui button" type="button" {{action 'openTaxModal'}}>
                <i class="pencil icon"></i>
                Edit
              </button>

              <button class="ui red button" type="button" {{action 'deleteTaxInformation'}}>
                <i class="trash icon"></i>
                Remove
              </button>
            </div>
          </div>
        {{else}}
          <button type="button" class="ui right labeled icon button" {{action 'openTaxModal'}}>
            <i class="percent icon"></i>
            Add Tax Information
          </button>
        {{/if}}
      </div>

    </div>

  {{/if}}
  <div class="ui section divider"></div>
  <div class="grouped fields">
    <label for="privacy">{{t 'Listing Privacy'}}</label>
    <div class="field">
      <div class="ui radio checkbox">
        {{widgets/forms/radio-button value name='privacy' id='privacy_public' value='public' checked='public'}}
        <label for="privacy_public"><strong>{{t 'Public event'}}:</strong> {{t
          'list this event on this site and search engines'}}</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        {{widgets/forms/radio-button value name='privacy' id='privacy_private' value='private' checked='public'}}
        <label for="privacy_private"><strong>{{t 'Private event'}}:</strong> {{t 'do not list this event publicly'}}
        </label>
      </div>
    </div>
  </div>

  <div class="field">
    <label>{{t 'Event Type'}}</label>
    {{input type='text'}}
  </div>
  <div class="field">
    <label>{{t 'Event Topic'}}</label>
    {{input type='text' id='topic'}}
  </div>
  <div class="field">
    <label>{{t 'Event Sub-topic'}}</label>
    {{input type='text'}}
  </div>
  <div class="ui section divider"></div>
  <div class="field">
    <div class="ui slider checkbox">
      {{input type='checkbox' checked=hasCodeOfConduct id='add_code_of_conduct'}}
      <label for="add_code_of_conduct">{{t 'Add Code of Conduct'}}</label>
    </div>
  </div>

  {{#if hasCodeOfConduct}}
    <div class="field">
      <label for="code_of_conduct">{{t 'Code of Conduct'}}</label>
      {{widgets/forms/rich-text-editor textareaId='code_of_conduct'}}
    </div>
  {{/if}}
  <div class="ui section divider"></div>
  <div class="field">
    <label for="license">
      {{t 'License of Event Data & Content'}}
      ( <i class="fitted help icon link has popup"></i> )
      <div class="ui flowing popup top left transition hidden">
        <div class="ui one column divided grid">
          <div class="column">
            <strong>Licenses</strong>
            <div class="ui bulleted list">
              {{#each licenses as |license|}}
                <div class="item">
                  <a href="{{license.link}}" target="_blank">
                    {{license.name}}
                  </a>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </label>
    {{#ui-dropdown class='search' id='license' tagName='select' selected='All rights reserved' forceSelection=false}}
      {{#each licenses as |license|}}
        <option value="{{license.name}}">{{license.name}}</option>
      {{/each}}
    {{/ui-dropdown}}
  </div>
  <br>

  <div class="large ui buttons right floated">
    <button class="ui right labeled icon button" type="button" {{action 'moveForward'}}>
      Forward
      <i class="right chevron icon"></i>
    </button>
    <button class="primary ui right labeled icon button" type="button" {{action 'saveDraft'}}>
      Save draft
      <i class="save icon"></i>
    </button>
  </div>
</form>

{{modals/tax-info-modal isOpen=taxModelIsOpen taxInfo=data.taxInfo hasTaxInfo=data.hasTaxInfo}}