<div class="">
<h3 class="ui dividing header">
  <i class="checkmark box icon"></i>
  <div class="content">
    {{t 'Information to Collect'}}
  </div>  
</h3> 
<h4>
  {{t 'Choose from existing ticket(s)'}}
  <button class="ui compact icon negative circular button" data-tooltip="{{t 'Delete'}}" {{action (confirm (t "Are you sure you want to delete this?") (action @onRemoveForm this.id))}}>
    <i class="trash box icon"></i>  
  </button>
</h4>
<UiDropdown
  @class="fluid multiple search selection"
  @selected={{this.data.ticketsDetails}}
  @onChange={{action (mut this.data.ticketsDetails)}} as |execute mapper|>
  <i class="dropdown icon"></i>
  <div class="default text">
    {{t 'Select Tickets'}}
  </div>
  <div class="menu">
    {{#each (sort-by 'name' this.ticketsEnable) as |ticket|}}
      {{#if ticket.name}}
        <div data-value="{{map-value mapper ticket}}" class="item">
          {{ticket.name}}
        </div>
      {{/if}}
    {{/each}}
  </div>
</UiDropdown>
<div class="ui hidden divider"></div>
<div class="ui two column stackable grid">
  <div class="w-full column">
    <Forms::Wizard::CustomForms::Table
      @fields={{this.editableFields}}
      @form={{"attendee"}}
      @removeField={{action "removeField"}}
      @setEditingField={{action "setEditingField"}}
      @getEditingField={{this.getEditingField}}
      @updateField={{action (mut this.ticketField)}} 
    />
  </div>
</div>
<Forms::Wizard::CustomFormRichText
  @customForms={{this.data.customForms}}
  @event={{this.event}}
  @form="attendee"
  @field={{this.ticketField}}
  @setEditingField={{action "setEditingField"}}
  @formIdentifier={{this.id}}
  @onSave={{action (mut this.ticketField) null}} />
<div class="ui hidden divider"></div>
</div>