<form class="ui form {{if this.isLoading 'loading'}}" autocomplete="off" {{action 'moveForward' on='submit' preventDefault=true}} novalidate>
  <div class="ui section divider"></div>
  <div class="grouped fields" id="social-links">
    <label>{{t 'Links & Social Media'}}</label>
    <Widgets::Forms::LinkInput
      @hasLinkName={{true}}
      @fixedName={{true}}
      @linkName={{t "External event URL"}}
      @inputId="external_event_url"
      @segmentedLink={{this.data.event.segmentedExternalEventUrl}}
      @isChild={{unless this.data.event.socialLinks true}}
      @canRemoveItem={{false}}
      @addItem={{action "addItem" "socialLinks" "social-link"}} />

    {{#each this.socialLinks as |socialLink|}}
      <Widgets::Forms::LinkInput
        @hasLinkName={{true}}
        @linkName={{socialLink.name}}
        @inputId={{socialLink.identifier}}
        @segmentedLink={{socialLink.segmentedLink}}
        @isChild={{true}}
        @addItem={{action "addItem" "socialLinks" "social-link"}}
        @removeItem={{action "removeItem" socialLink "socialLinks"}} />
    {{/each}}
  </div>

  <div class="ui section divider"></div>
  <div class="grouped fields">
    <label for="privacy">{{t 'Listing Privacy'}}</label>
    <div class="field">
      <div class="ui radio checkbox">
        {{widgets/forms/radio-button this.value name='privacy' id='privacy_public' value='public' checked=this.data.event.privacy}}
        <label for="privacy_public">
          <strong>{{t 'Public event'}}:</strong>
          {{t 'list this event on this site and search engines'}}
        </label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        {{widgets/forms/radio-button this.value name='privacy' id='privacy_private' value='private' checked=this.data.event.privacy}}
        <label for="privacy_private">
          <strong>{{t 'Private event'}}:</strong>
          {{t 'do not list this event publicly'}}
        </label>
      </div>
    </div>
  </div>

  <div class="ui section divider"></div>
  <div class="field">
    <div class="ui slider checkbox">
      <Input
@type="checkbox"
@checked={{this.hasCodeOfConduct}}
@id="add_code_of_conduct" />
      <label for="add_code_of_conduct">{{t 'Add Code of Conduct'}}</label>
    </div>
  </div>

  {{#if this.hasCodeOfConduct}}
    <div class="field">
      <label for="code_of_conduct">{{t 'Code of Conduct'}}</label>
      <Widgets::Forms::RichTextEditor
        @textareaId="code_of_conduct"
        @value={{this.data.event.codeOfConduct}}
      />
    </div>
  {{/if}}
  <div class="ui section divider"></div>
  <div class="field">
    <label for="license">
      {{t 'License of Event Data & Content'}}
      ( <i class="fitted help icon link has popup"></i> )
      <div class="ui flowing popup top left transition hidden">
        <div class="ui one column divided grid">
          <div class="column">
            <strong>{{t 'Licenses'}}</strong>
            <div class="ui bulleted list">
              {{#each this.licenses as |license|}}
                <div class="item">
                  <a href="{{license.link}}" target="_blank" rel="noopener noreferrer">
                    {{license.name}}
                  </a>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </label>
    <UiDropdown
      @class="search selection"
      @selected={{this.data.event.copyright.licence}}
      @onChange={{action "updateCopyright"}}
      @forceSelection={{false}}
      @fullTextSearch={{true}}>
      <Input
        @type="hidden"
        @id="license"
        @value={{this.data.event.copyright.licence}} 
      />
      <i class="dropdown icon"></i>
      <div class="default text">{{t 'Select License'}}</div>
      <div class="menu">
        {{#each this.licenses as |license|}}
          <div class="item" data-value="{{license.name}}">{{license.name}}</div>
        {{/each}}
      </div>
    </UiDropdown>
  </div>
  <br>
  <div class="{{unless this.device.isMobile 'right floated large' 'mini three'}} ui fields {{if this.isUserUnverified 'disabled'}} buttons">
    <button class="ui three field left labeled icon button {{if this.isLoading 'disabled'}}" type="button" {{action 'move' 'backwards'}}>
      {{t 'Previous'}}
      <i class="left chevron icon"></i>
    </button>
    <button class="ui three field right labeled icon button {{if this.isLoading 'disabled'}}" type="button" {{action 'move' 'forwards'}}>
      {{t 'Forward'}}
      <i class="right chevron icon"></i>
    </button>
    {{#if this.showDraftButton}}
      <button class="blue ui three field right labeled icon button {{if this.isLoading 'disabled'}}" type="button" {{action 'saveDraft'}}>
        {{t 'Save draft'}}
        <i class="save icon"></i>
      </button>
    {{/if}}
    {{#if this.data.event.locationName}}
      <button class="green ui three field right labeled icon button {{if this.isLoading 'disabled'}}" type="button" {{action 'publish'}}>
        {{t 'Publish'}}
        <i class="check icon"></i>
      </button>
    {{/if}}
  </div>
</form>
