<form class="ui form {{if isLoading 'loading'}}" autocomplete="off" {{action 'moveForward' on='submit' preventDefault=true}}>

  <div class="ui centered grid">
    <div class="column">
      <div class="ui {{if data.event.isSessionsSpeakersEnabled 'basic'}} segment">
        <div class="center aligned text">
          <div class="field">
            <div class="ui slider checkbox">
              {{input type='checkbox' checked=data.event.isSessionsSpeakersEnabled}}
              <label class="weight-300" style="font-size: large">
                {{if data.event.isSessionsSpeakersEnabled (t 'Turn off') (t 'Turn on')}}
                {{t 'Sessions & Speakers'}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{#if data.event.isSessionsSpeakersEnabled}}
    <br>
    <h3 class="ui dividing header">
      <i class="ordered list icon"></i>
      <div class="content">
        {{t 'Sessions, Microlocations, Session Types'}}
      </div>
    </h3>
    <div class="field">
      <label class="required">Tracks</label>
      {{#each tracks as |track|}}
        <div class="{{if device.isMobile 'grouped'}} fields">
          <div class="{{unless device.isMobile 'three wide'}} field">
            {{input type='text' name='track' value=track.name placeholder='Name'}}
          </div>
          <div class="{{unless device.isMobile 'four wide'}} field">
            {{#widgets/forms/color-picker value=track.color fontColor=track.fontColor}}
              {{#if (gt tracks.length 1)}}
                <button class="ui icon red button" type="button" {{action 'removeItem' track}}>
                  <i class="minus icon"></i>
                </button>
              {{/if}}
              <button class="ui icon primary button" type="button" {{action 'addItem' 'track'}}>
                <i class="plus icon"></i>
              </button>
            {{/widgets/forms/color-picker}}
          </div>
          <div class="{{unless device.isMobile 'two wide'}} field">
            <input title="Preview"
                   class="preview"
                   value="{{if track.name track.name (t 'Preview Text')}}"
                   readonly
                   style={{css background-color=track.color color=(text-color track.color)}}>
          </div>
        </div>
      {{/each}}
    </div>

    <div class="field">
      <label class="required">{{t 'Microlocations'}}</label>
      {{#each microlocations as |microlocation|}}
        <div class="{{if device.isMobile 'grouped'}} fields">
          <div class="{{unless device.isMobile 'three wide'}} field">
            {{input type='text' value=microlocation.name placeholder='Name'}}
          </div>
          <div class="{{unless device.isMobile 'four wide'}} field">
            <div class="ui action input fluid">
              {{input type='number' name='microlocation' value=microlocation.floor placeholder='Floor'}}
              {{#if (gt microlocations.length 1)}}
                <button class="ui icon red button" type="button" {{action 'removeItem' microlocation}}>
                  <i class="minus icon"></i>
                </button>
              {{/if}}
              <button class="ui icon primary button" type="button" {{action 'addItem' 'microlocation'}}>
                <i class="plus icon"></i>
              </button>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="field">
      <label class="required">{{t 'Session Types'}}</label>
      {{#each sessionTypes as |sessionType|}}
        <div class="{{if device.isMobile 'grouped'}} fields">
          <div class="{{unless device.isMobile 'three wide'}} field">
            {{input type='text' name='session' value=sessionType.name placeholder='Name'}}
          </div>
          <div class="{{unless device.isMobile 'four wide'}} field">
            <div class="ui action input fluid">
              {{widgets/forms/time-picker value=sessionType.length placeholder='HH:MM' icon=false}}
              {{#if (gt sessionTypes.length 1)}}
                <button class="ui icon red button" type="button" {{action 'removeItem' sessionType}}>
                  <i class="minus icon"></i>
                </button>
              {{/if}}
              <button class="ui icon primary button" type="button" {{action 'addItem' 'sessionType'}}>
                <i class="plus icon"></i>
              </button>
            </div>
          </div>
        </div>
      {{/each}}
    </div>

    <br>
    <h3 class="ui dividing header">
      <i class="announcement icon"></i>
      <div class="content">
        {{t 'Call for speakers'}}
      </div>
    </h3>
    <div class="field">
      <label>{{t 'Announcement'}}</label>
      {{widgets/forms/rich-text-editor name='announcement' textareaId='announcement' value=data.speakersCall.announcement}}
    </div>
    <div class="fields">
      <div class="five wide field">
        <label class="required" for="start_date">{{t 'Starts'}}</label>
        {{widgets/forms/date-picker type='text'
                                    name='start_date'
                                    placeholder='MM/DD/YYYY'
                                    rangePosition='start'
                                    onChange=(action 'onChange')
                                    value=data.speakersCall.startsAtDate}}
      </div>
      <div class="two wide field">
        <label for="start_time">&nbsp;</label>
        {{widgets/forms/time-picker type='text'
                                    name='start_time'
                                    placeholder='HH:MM'
                                    onChange=(action 'onChange')
                                    value=data.speakersCall.startsAtTime}}
      </div>
      <div class="five wide field">
        <label class="required" for="end_date">{{t 'Ends'}}</label>
        {{widgets/forms/date-picker type='text'
                                    name='end_date'
                                    placeholder='MM/DD/YYYY'
                                    rangePosition='end'
                                    onChange=(action 'onChange')
                                    value=data.speakersCall.endsAtDate}}
      </div>
      <div class="two wide field">
        <label for="end_time">&nbsp;</label>
        {{widgets/forms/time-picker type='text'
                                    name='end_time'
                                    placeholder='HH:MM'
                                    onChange=(action 'onChange')
                                    value=data.speakersCall.endsAtTime}}
      </div>
      <div class="five wide field">
        <label class="required" for="timezone">{{t 'Timezone'}}</label>
        {{input type='text' disabled=true value=data.event.timezone}}
      </div>
    </div>
    <div class="field">
      <label>{{t 'Private Link'}}</label>
      <div class="ui action input fluid">
        <input type="text" name="private_link" value="{{concat data.event.url '/cfs/' data.speakersCall.hash}}" placeholder="{{concat data.event '/cfs/' data.speakersCall.hash}}" readonly>
        {{#ui-popup on='click' content=(t 'Link copied to clipboard') position='bottom right'}}
          {{#copy-button
            clipboardText=(concat data.event.url '/cfs/' data.speakersCall.hash)
            class='ui black right labeled icon copy button'}}
            <i class="copy icon"></i>
            {{t 'Copy'}}
          {{/copy-button}}
        {{/ui-popup}}
      </div>
      <span class="text muted">
        {{t 'Share this link to get private submission independently of open/closed Call for Speakers at any time. (the link will be active once the event is saved)'}}
      </span>
    </div>
    <div class="grouped fields">
      <label for="privacy">{{t 'Privacy'}}</label>
      <div class="field">
        <div class="ui radio checkbox">
          {{widgets/forms/radio-button value name='privacy' id='privacy_public' value='public'
                                       checked=data.speakersCall.privacy}}
          <label for="privacy_public">
            <strong>{{t 'Public'}}:</strong>
            {{t 'Display this publicly. Anybody will be able to submit a proposal within the dates chosen, once the event is published.'}}
          </label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          {{widgets/forms/radio-button value name='privacy' id='privacy_private' value='private'
                                       checked=data.speakersCall.privacy}}
          <label for="privacy_private">
            <strong>{{t 'Private'}}:</strong>
            {{t 'Do not display this publicly. Proposals can be submitted only using the private link.'}}
          </label>
        </div>
      </div>
    </div>

    <br>
    <h3 class="ui dividing header">
      <i class="checkmark box icon"></i>
      <div class="content">
        {{t 'Customize registration form'}}
      </div>
    </h3>

    <div class="ui two column stackable grid">
      <div class="column">
        <table class="ui selectable celled table">
          <thead>
            <tr>
              <th colspan="3" class="text center aligned">
                {{t 'Collect Speaker Details'}}
              </th>
            </tr>
            <tr>
              {{#if device.isMobile}}
                <th class="center aligned">
                  {{t 'Options'}}
                </th>
              {{else}}
                <th class="right aligned">
                  {{t 'Option'}}
                </th>
                <th class="center aligned">
                  {{t 'Include'}}
                </th>
                <th class="center aligned">
                  {{t 'Require'}}
                </th>
              {{/if}}
            </tr>
          </thead>
          <tbody>
            {{#each customForm.speaker as |field|}}
              <tr class="{{if field.isIncluded 'positive'}}">
                <td class="{{if device.isMobile 'center' 'right'}} aligned">
                  <label class="{{if field.isFixed 'required'}}">
                    {{field.name}}
                  </label>
                </td>
                <td class="center aligned">
                  {{ui-checkbox class='slider'
                                checked=field.isIncluded
                                disabled=field.isFixed
                                onChange=(action (mut field.isIncluded))
                                label=(if device.isMobile (t 'Include'))}}
                </td>
                <td class="center aligned">
                  {{ui-checkbox class='slider'
                                checked=field.isRequired
                                disabled=field.isFixed
                                onChange=(action (mut field.isRequired))
                                label=(if device.isMobile (t 'Require'))}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>

      </div>
      <div class="column">
        <table class="ui selectable celled table">
          <thead>
            <tr>
              <th colspan="3" class="text center aligned">
                {{t 'Collect Session Details'}}
              </th>
            </tr>
            <tr>
              {{#if device.isMobile}}
                <th class="center aligned">
                  {{t 'Options'}}
                </th>
              {{else}}
                <th class="right aligned">
                  {{t 'Option'}}
                </th>
                <th class="center aligned">
                  {{t 'Include'}}
                </th>
                <th class="center aligned">
                  {{t 'Require'}}
                </th>
              {{/if}}
            </tr>
          </thead>
          <tbody>
            {{#each customForm.session as |field|}}
              <tr class="{{if field.isIncluded 'positive'}}">
                <td class="{{if device.isMobile 'center' 'right'}} aligned">
                  <label class="{{if field.isFixed 'required'}}">
                    {{field.name}}
                  </label>
                </td>
                <td class="center aligned">
                  {{ui-checkbox class='slider'
                                checked=field.isIncluded
                                disabled=field.isFixed
                                onChange=(action (mut field.isIncluded))
                                label=(if device.isMobile (t 'Include'))}}
                </td>
                <td class="center aligned">
                  {{ui-checkbox class='slider'
                                checked=field.isRequired
                                disabled=field.isFixed
                                onChange=(action (mut field.isRequired))
                                label=(if device.isMobile (t 'Require'))}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="spacer-50"></div>
  {{else}}
    <div class="spacer-50"></div>
  {{/if}}

  {{#each complexCustomForms as |form|}}
    {{form.isComplex}}
    <div class="fields">
      <div class="two wide field">
        <label>{{t 'Name'}}</label>
        {{input type='text' value=form.fieldIdentifier name='name'}}
      </div>
      <div class = "two wide field">
        <label>{{t 'Form'}}</label>
        {{input type='text' value=form.form name='form'}}
      </div>
      <div class = "two wide field">
        <label>{{t 'Type'}}</label>
        {{input type='text' value=form.type name='type'}}
      </div>
      <div class="five wide field">
        <label class="required">{{t 'Description'}}</label>
        {{input type='text' value=form.description name='desciption'}}
      </div>
      <div class="five wide field">
        <label class="required">{{t 'Required'}}</label>
        {{ui-checkbox class='slider'
                      checked=form.isRequired
                      onChange=(action (mut form.isRequired))
                      label=(t 'Required')}}
      </div>
      <div class="five wide field">
        <label class="required">{{t 'Included'}}</label>
        {{ui-checkbox class='slider'
                      checked=form.isIncluded
                      onChange=(action (mut form.isIncluded))
                      label=(t 'Included')}}
      </div>
    </div>
  {{/each}}

  <button type="button" class="ui primary {{if device.isMobile 'small'}} button" {{action 'addCustomField'}}>{{t 'Add another custom field'}}</button>


  <div class="ui fields buttons {{if device.isMobile 'mini three' 'right floated large'}}">
    <button class="ui three field left labeled icon button {{if isLoading 'disabled'}}" type="button" {{action 'move' 'backwards'}}>
      {{t 'Previous'}}
      <i class="left chevron icon"></i>
    </button>
    {{#if (not-eq data.event.state 'published')}}
      <button class="blue ui three field right labeled icon button {{if isLoading 'disabled'}}" type="button" {{action 'saveDraft'}}>
        {{t 'Save draft'}}
        <i class="save icon"></i>
      </button>
    {{/if}}
    {{#if data.event.locationName}}
      <button class="green ui three field right labeled icon button {{if isLoading 'disabled'}}" type="button" {{action 'publish'}}>
        {{t 'Publish'}}
        <i class="check icon"></i>
      </button>
    {{/if}}
  </div>
</form>
