<form class="ui form" autocomplete="off" {{action 'moveForward' on='submit' preventDefault=true}}>

  <div class="ui three column centered grid">
    <div class="column">
      <div class="ui {{if data.sessionsSpeakers.enabled 'basic'}} segment">
        <div class="center aligned text">
          <div class=" field">
            <div class="ui slider checkbox">
              {{input type='checkbox' checked=data.sessionsSpeakers.enabled}}
              <label class="weight-300" style="font-size: large">{{if data.sessionsSpeakers.enabled (t 'turn off')
                                                                      (t 'turn on')}}
                {{t 'Sessions & Speakers'}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{#if data.sessionsSpeakers.enabled}}
    <br>
    <h3 class="ui dividing header">
      <i class="ordered list icon"></i>
      <div class="content">
        {{t 'Session, Microlocations, Session Types'}}
      </div>
    </h3>
    <div class="field">
      <label>Tracks</label>
      {{#each data.sessionsSpeakers.tracks as |track index|}}
        <div class="fields">
          <div class="three wide field">
            {{input type='text' value=track.name placeholder='Name'}}
          </div>
          <div class="four wide field">
            {{#widgets/forms/color-picker value=track.color}}
              {{#if (gt data.sessionsSpeakers.tracks.length 1)}}
                <button class="ui icon red button" type="button" {{action 'removeItem' track 'track'}}><i
                  class="minus icon"></i></button>
              {{/if}}
              <button class="ui icon primary button" type="button" {{action 'addItem' 'track'}}><i
                class="plus icon"></i></button>
            {{/widgets/forms/color-picker}}
          </div>
          <div class="two wide field">
            <input title="Preview" class="preview" value="{{if track.name track.name (t 'Preview Text')}}" readonly style={{css background-color=track.color color=(text-color track.color)}}>
          </div>
        </div>
      {{/each}}
    </div>

    <div class="field">
      <label>{{t 'Microlocations'}}</label>
      {{#each data.sessionsSpeakers.microlocations as |microlocation|}}
        <div class="fields">
          <div class="three wide field">
            {{input type='text' value=microlocation.name placeholder='Name'}}
          </div>
          <div class="four wide field">
            <div class="ui action input fluid">
              {{input type='text' value=microlocation.floor placeholder='Floor'}}
              {{#if (gt data.sessionsSpeakers.microlocations.length 1)}}
                <button class="ui icon red button" type="button" {{action 'removeItem' microlocation 'microlocation'}}>
                  <i class="minus icon"></i></button>
              {{/if}}
              <button class="ui icon primary button" type="button" {{action 'addItem' 'microlocation'}}><i
                class="plus icon"></i></button>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="field">
      <label>{{t 'Session Types'}}</label>
      {{#each data.sessionsSpeakers.sessionTypes as |sessionType|}}
        <div class="fields">
          <div class="three wide field">
            {{input type='text' value=sessionType.name placeholder='Name'}}
          </div>
          <div class="four wide field">
            <div class="ui action input fluid">
              {{widgets/forms/time-picker value=sessionType.length placeholder='HH:MM' icon=false}}
              {{#if (gt data.sessionsSpeakers.sessionTypes.length 1)}}
                <button class="ui icon red button" type="button" {{action 'removeItem' sessionType 'sessionType'}}><i
                  class="minus icon"></i></button>
              {{/if}}
              <button class="ui icon primary button" type="button" {{action 'addItem' 'sessionType'}}><i
                class="plus icon"></i></button>
            </div>
          </div>
        </div>
      {{/each}}
    </div>

    <br>
    <h3 class="ui dividing header">
      <i class="announcement icon"></i>
      <div class="content">
        {{t 'Call for speakers'}}
      </div>
    </h3>
    <div class="field">
      <label>{{t 'Announcement'}}</label>
      {{widgets/forms/rich-text-editor}}
    </div>
    <div class="fields">
      <div class="five wide field">
        <label class="required" for="start_date">{{t 'Starts'}}</label>
        {{widgets/forms/date-picker type='text'
                                    inputId='start_date'
                                    placeholder='MM/DD/YYYY'
                                    rangePosition='start'
                                    value=''}}
      </div>
      <div class="two wide field">
        <label for="start_time">&nbsp;</label>
        {{widgets/forms/time-picker type='text'
                                    inputId='start_time'
                                    placeholder='HH:MM'
                                    rangePosition='start'
                                    value=''}}
      </div>
      <div class="five wide field">
        <label class="required" for="end_date">{{t 'Ends'}}</label>
        {{widgets/forms/date-picker type='text'
                                    inputId='end_date'
                                    placeholder='MM/DD/YYYY'
                                    rangePosition='end'
                                    value=''}}
      </div>
      <div class="two wide field">
        <label for="end_time">&nbsp;</label>
        {{widgets/forms/time-picker type='text'
                                    inputId='end_time'
                                    placeholder='HH:MM'
                                    rangePosition='end'
                                    value=''}}
      </div>
      <div class="five wide field">
        <label class="required" for="timezone">{{t 'Timezone'}}</label>
        {{#ui-dropdown class='search selection' selected='' forceSelection=false fullTextSearch=true}}
          {{input type='hidden' id='timezone' value=''}}
          <i class="dropdown icon"></i>
          <div class="default text">{{t 'Select timezone'}}</div>
          <div class="menu">
            {{#each timezones as |timezone|}}
              <div class="item" data-value="{{timezone}}">{{timezone}}</div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      </div>
    </div>
    <div class="field">
      <label>{{t 'Private Link'}}</label>
      <div class="ui action input fluid">
        <input type="text" value="{{event.url}}" placeholder="{{event.url}}" readonly>
        {{#copy-button
          clipboardText=event.url
          class='ui black right labeled icon copy button'}}
          <i class="copy icon"></i>
          {{t 'Copy'}}
        {{/copy-button}}
      </div>
      <span class="text muted">
        {{t
          'Share this link to get private submission independently of open/closed Call for Speakers at any time. (the link will be active once the event is saved)'}}
      </span>
    </div>
    <div class="grouped fields">
      <label for="privacy">{{t 'Privacy'}}</label>
      <div class="field">
        <div class="ui radio checkbox">
          {{widgets/forms/radio-button value name='privacy' id='privacy_public' value='public'
                                       checked=data.event.privacy}}
          <label for="privacy_public"><strong>{{t 'Public'}}:</strong> {{t
            'Display this publicly. Anybody will be able to submit a proposal within the dates chosen, once the event is published.'}}
          </label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          {{widgets/forms/radio-button value name='privacy' id='privacy_private' value='private'
                                       checked=data.event.privacy}}
          <label for="privacy_private"><strong>{{t 'Private'}}:</strong> {{t
            'Do not display this publicly. Proposals can be submitted only using the private link.'}}
          </label>
        </div>
      </div>
    </div>

    <br>
    <h3 class="ui dividing header">
      <i class="checkmark box icon"></i>
      <div class="content">
        {{t 'Customize registration form'}}
      </div>
    </h3>

    <div class="ui two column stackable grid">
      <div class="column">
        <table class="ui selectable celled table">
          <thead>
          <tr>
            <th colspan="3" class="text center aligned">
              {{t 'Collect Speaker Details'}}
            </th>
          </tr>
          <tr>
            <th class="right aligned">{{t 'Option'}}</th>
            <th class="center aligned">{{t 'Include'}}</th>
            <th class="center aligned">{{t 'Require'}}</th>
          </tr>
          </thead>
          <tbody>
          {{#each data.sessionsSpeakers.customForm.speaker as |field|}}
            <tr class="{{if field.isIncluded 'positive'}}">
              <td class="right aligned"><label class="{{if field.isFixed 'required'}}">{{field.name}}</label></td>
              <td class="center aligned">
                <div class="ui slider checkbox">
                  {{input type='checkbox' checked=field.isIncluded disabled=field.isFixed}}
                </div>
              </td>
              <td class="center aligned">
                <div class="ui slider checkbox">
                  {{input type='checkbox' checked=field.isRequired disabled=field.isFixed}}
                </div>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>

      </div>
      <div class="column">
        <table class="ui selectable celled table">
          <thead>
          <tr>
            <th colspan="3" class="text center aligned">
              {{t 'Collect Session Details'}}
            </th>
          </tr>
          <tr>
            <th class="right aligned">{{t 'Option'}}</th>
            <th class="center aligned">{{t 'Include'}}</th>
            <th class="center aligned">{{t 'Require'}}</th>
          </tr>
          </thead>
          <tbody>
          {{#each data.sessionsSpeakers.customForm.session as |field|}}
            <tr class="{{if field.isIncluded 'positive'}}">
              <td class="right aligned"><label class="{{if field.isFixed 'required'}}">{{field.name}}</label></td>
              <td class="center aligned">
                <div class="ui slider checkbox">
                  {{input type='checkbox' checked=field.isIncluded disabled=field.isFixed}}
                </div>
              </td>
              <td class="center aligned">
                <div class="ui slider checkbox">
                  {{input type='checkbox' checked=field.isRequired disabled=field.isFixed}}
                </div>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>

      </div>

    </div>
    <div class="spacer-50"></div>
  {{else}}
    <div class="spacer-50"></div>
  {{/if}}

  <div class="large ui buttons right floated">
    <button class="primary ui right labeled icon button" type="button" {{action 'saveDraft'}}>
      {{t 'Save draft'}}
      <i class="save icon"></i>
    </button>
    {{#if data.parentData.event.locationName}}
      <button class="green ui right labeled icon button" type="button" {{action 'publish'}}>
        {{t 'Publish'}}
        <i class="check icon"></i>
      </button>
    {{/if}}
  </div>
</form>