<form class="ui form {{if this.isLoading 'loading'}}" autocomplete="off" {{action 'move' 'forwards' on='submit' preventDefault=true}}>

  <div class="ui centered grid">
    <div class="column">
      <div class="ui {{if this.data.event.isSponsorsEnabled 'basic'}} segment">
        <div class="center aligned text">
          <div class=" field">
            <div class="ui slider checkbox">
              <Input
                @type="checkbox"
                @checked={{this.data.event.isSponsorsEnabled}} />
              <label class="weight-300" style="font-size: large">
                {{if this.data.event.isSponsorsEnabled (t 'Turn off') (t 'Turn on')}}
                {{t 'Sponsors'}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{#if this.data.event.isSponsorsEnabled}}
    {{#each this.sponsors as |sponsor index|}}
      <h4>
        {{t 'Sponsor'}} #{{inc index}}
        {{#if this.sponsors.length}}
          <button type="button" class="ui mini red button right floated" {{action 'removeSponsor' sponsor}}>
            <i class="trash icon"></i>
            {{t 'Remove'}}
          </button>
        {{/if}}
      </h4>
      <br>
      <div class="fields">
        <div class="five wide field">
          <label class="required">{{t 'Name'}}</label>
          <Input
            @type="text"
            @value={{sponsor.name}}
            @name="name" />
        </div>
        <div class="two wide field">
          <label>{{t 'Level'}}</label>
          <Input
            @type="number"
            @value={{sponsor.level}}
            @name="level"
            @min={{0}} />
        </div>
        <div class="three wide field">
          <label>{{t 'Type'}}</label>
          <Input
            @type="text"
            @value={{sponsor.type}}
            @name="type" />
        </div>
        <div class="six wide field">
          <label>{{t 'URL'}}</label>
          <Widgets::Forms::LinkInput
            @segmentedLink={{sponsor.segmentedLink}}
            @name="url" />
        </div>
      </div>
      <div class="fields">
        <div class="five wide computer eight wide tablet field">
          <label>{{t 'Description'}}</label>
          <Widgets::Forms::RichTextEditor
            @value={{sponsor.description}}
            @name="description" />
        </div>
        <div class="sponsors-step eight wide computer eight wide tablet field {{if this.device.isMobile 'less padding'}}">
          <Widgets::Forms::ImageUpload
            @label={{t "Logo"}}
            @imageUrl={{sponsor.logoUrl}}
            @icon="image"
            @hint={{t "Select Logo"}}
            @maxSizeInKb={{1000}} />
        </div>
      </div>
      {{#if (not-eq (inc index) this.data.event.sponsors.length)}}
        <div class="ui section divider"></div>
      {{/if}}
    {{/each}}
    <button type="button" class="ui primary {{if this.device.isMobile 'small'}} button" {{action 'addSponsor'}}>{{t (if this.sponsors.length 'Add another sponsor' 'Add sponsor')}}</button>
    <div class="spacer-50"></div>
  {{else}}
    <div class="spacer-50"></div>
  {{/if}}

  <div class="ui grid">
  <div class="sixteen wide column {{unless this.device.isMobile 'right aligned'}} {{if this.isUserUnverified 'disabled'}}">
    <LinkTo @route="events.view.index" @model={{this.data.event.identifier}} class="red ui right labeled small icon button">
      {{t 'Cancel'}}<i class="close icon"></i>
    </LinkTo>
    <button class="ui left labeled small icon button {{if this.isLoading 'disabled'}}" type="button" {{action 'move' 'backwards'}}>
      {{t 'Previous'}}
      <i class="left chevron icon"></i>
    </button>
    <button class="ui right labeled small icon button {{if this.isLoading 'disabled'}}" type="button" {{action 'move' 'forwards'}}>
      {{t 'Forward'}}
      <i class="right chevron icon"></i>
    </button>
    {{#if (not-eq this.data.event.state 'published')}}
      <button class="blue ui right labeled small icon button {{if this.isLoading 'disabled'}}" type="button" {{action 'saveDraft'}}>
        {{t 'Save draft'}}
        <i class="save icon"></i>
      </button>
    {{/if}}
  </div>
  </div>
  <div class="ui grid">
    <div class="sixteen wide column right aligned">
      {{#if (not this.unsavedEvent)}}
        {{#if (eq this.data.event.state 'draft')}}
          <p> This event is currently not published. It is in draft mode and it is not visible publicly. </p>
        {{else}}
          <p>This event is published. Any changes you make will appear on your live event.</p>
        {{/if}}
      {{/if}}
    </div>
  </div>
  <div class="ui divider"></div>
  <div class="ui grid">
    <div class="sixteen wide column {{unless this.device.isMobile 'right aligned'}} {{if this.isUserUnverified 'disabled'}}">
    {{#if (eq this.data.event.state 'draft')}}
      <a href="{{this.data.event.url}}" target="_blank" rel="noopener" class="ui right labeled small icon button">
        {{t 'Preview'}} <i class="hide icon"></i>
      </a>
    {{else}}
      <a href="{{this.data.event.url}}" target="_blank" rel="noopener" class="green ui right labeled small icon button">
        {{t 'View'}} <i class="unhide icon"></i>
      </a>
    {{/if}}
    {{#if (and this.data.event.locationName ticketsPresent)}}
      {{#if (eq this.data.event.state "draft")}}
        <button class="green ui right labeled small icon button {{if this.isLoading 'disabled'}}" type="button" {{action 'publish'}}>
          {{t 'Publish'}}
          <i class="check icon"></i>
        </button>
      {{else}}
        <button class="orange ui right labeled small icon button {{if this.isLoading 'disabled'}}" type="button" {{action 'unpublish'}}>
          {{t 'Unpublish'}}
          <i class="ban icon"></i>
        </button>
      {{/if}}
    {{/if}}
  </div>
  </div>
</form>
