<form class="ui form" autocomplete="off" {{action 'moveForward' on='submit' preventDefault=true}}>

  <div class="ui four column centered grid">
    <div class="column">
      <div class="ui {{if data.sponsors.enabled 'basic'}} segment">
        <div class="center aligned text">
          <div class=" field">
            <div class="ui slider checkbox">
              {{input type='checkbox' checked=data.sponsors.enabled}}
              <label class="weight-300" style="font-size: large">
                {{if data.sponsors.enabled (t 'turn off') (t 'turn on')}}
                {{t 'Sponsors'}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{#if data.sponsors.enabled}}
    {{#each data.sponsors.items as |sponsor index|}}
      <h4>
        {{t 'Sponsor'}} #{{inc index}}
        {{#if (gt data.sponsors.items.length 1)}}
          <button type="button" class="ui mini red button right floated" {{action 'removeSponsor' sponsor}}>
            <i class="trash icon"></i>
            {{t 'Remove'}}
          </button>
        {{/if}}
      </h4>
      <br>
      <div class="fields">
        <div class="five wide field">
          <label class="required">{{t 'Name'}}</label>
          {{input type='text' value=sponsor.name name='name'}}
        </div>
        <div class="two wide field">
          <label>{{t 'Level'}}</label>
          {{input type='number' value=sponsor.level name='level'}}
        </div>
        <div class="three wide field">
          <label>{{t 'Type'}}</label>
          {{input type='text' value=sponsor.type name='type'}}
        </div>
        <div class="six wide field">
          <label>{{t 'URL'}}</label>
          {{widgets/forms/link-input segmentedLink=sponsor.segmentedLink name='url'}}
        </div>
      </div>
      <div class="fields">
        <div class="five wide field" style="">
          <label>{{t 'Description'}}</label>
          {{widgets/forms/rich-text-editor value=sponsor.description name='description'}}
        </div>
        <div class="eleven wide field" style="padding-top: 58px;">
          {{widgets/forms/image-upload
            label=(t 'Logo')
            imageUrl=sponsor.logoUrl
            icon='image'
            hint=(t 'Select Logo')
            maxSizeInKb=1000}}
        </div>
      </div>
      {{#unless (eq (inc index) data.sponsors.items.length)}}
        <div class="ui section divider"></div>
      {{/unless}}
    {{/each}}
    <button type="button" class="ui primary button" {{action 'addSponsor'}}>{{t 'Add another sponsor'}}</button>
    <div class="spacer-50"></div>
  {{else}}
    <div class="spacer-50"></div>
  {{/if}}

  <div class="large ui buttons right floated">
    <button class="ui right labeled icon button" type="button" {{action 'moveForward'}}>
      {{t 'Forward'}}
      <i class="right chevron icon"></i>
    </button>
    <button class="primary ui right labeled icon button" type="button" {{action 'saveDraft'}}>
      {{t 'Save draft'}}
      <i class="save icon"></i>
    </button>
    {{#if data.parentData.event.locationName}}
      <button class="green ui right labeled icon button" type="button" {{action 'publish'}}>
        {{t 'Publish'}}
        <i class="check icon"></i>
      </button>
    {{/if}}
  </div>
</form>