<button {{did-insert this.setup}} {{did-update this.reOrderStreams @videoStream}} class="ui icon button stream-side-panel-button" {{action (mut this.shown) true}}>
  <i class="angle right icon"></i>
</button>
{{#if this.shown}}
  <div class="d-flex flex-column p-4 stream-side-panel" >
    <div class="ui header inverted mt-4">
      <a href={{href-to 'public' @event (query-params side_panel='true')}}>
        <p class="text-white">{{@event.name}}</p>
      </a>
    </div>
    <div>
      <div class="mr-4 pt-1">
        <Public::EventDateTime @event={{@event}} />
      </div>
      <button class="ui icon button stream-side-panel-button right" {{action (mut this.shown) false}}>  
        <i class="angle left icon pr-2"></i>
      </button>
    </div>
    
    <div class="ui vertical fluid menu borderless" style="background-color: #555;border:none;box-shadow: none;">
      {{#if (and @event.isSchedulePublished this.showSessions)}}
        <a class="ui labeled fluid item" href={{href-to 'public.sessions' @event (query-params side_panel='true')}}>
          <span style="color: white;"><i class="calendar icon"></i>
          {{t 'Schedule'}}</span>
        </a>
      {{/if}}

      {{#if this.showSpeakers}}
        <a class="ui labeled icon item" href={{href-to 'public.speakers' @event (query-params side_panel='true')}}>
          <span style="color: white;"><i class="bullhorn icon"></i>
          {{t 'Speakers'}}</span>
        </a>
      {{/if}}

      {{#if this.showExhibitors}}
        <a class="ui labeled icon item" href={{href-to 'public.exhibition' @event (query-params side_panel='true')}}>
          <span style="color: white;"><i class="image icon"></i>
          {{t 'Exhibition'}}</span>
        </a>
      {{/if}}
      <div class="item">
        <span style="color: white;"><i class="video icon"></i>
        {{t 'Video Rooms'}}</span>
        <div class="ui vertical fluid menu borderless" style="background-color: #555;border: none; box-shadow: none">
          {{#each this.streams as |stream|}}
            <a href={{href-to 'public.stream.view' @event stream.slugName stream.id}} class="ui labeled icon item ml-4">
              <p style="color: white;font-size: 1.1em"> <span class="stream-preview-letter" style={{css border-radius='50% !important' background-color=(object-at (abs (mod stream.hash this.colors.length)) this.colors)}}>{{truncate (uppercase stream.name) 1 false}}</span>{{stream.name}}</p>
            </a>
          {{/each}}
        </div>
      </div>
    </div>
    {{#if this.loading}}
      <div class="ui active centered inline loader"></div>
    {{/if}}
  </div>
{{/if}}
