<div class="ui grid">
  <div class="row">
    <div class="{{if device.isMobile 'sixteen' 'three'}} wide column">
      {{#tabbed-navigation isVertical=true}}
        {{#link-to 'account.billing-info.payment-info' class='item'}}
          {{t 'Payment Information'}}
        {{/link-to}}
        {{#link-to 'account.billing-info.invoices' class='item'}}
          {{t 'Invoices'}}
        {{/link-to}}
      {{/tabbed-navigation}}
    </div>
    <div class="{{if device.isMobile 'sixteen' 'thirteen'}} wide column">
      {{outlet}}
    </div>
  </div>
</div>