<div class="content">
  <LinkTo
  @route="events.view.edit.sponsors"
  @tagName="button" class="ui right floated blue button">
    {{t 'Add Sponsors'}}
  </LinkTo>
  <div class="header">{{t 'Event sponsors'}}</div>
</div>
<div class="content">
  <Tables::Default
    @columns={{this.columns}}
    @rows={{this.data.data}}
    @currentPage={{this.page}}
    @pageSize={{this.per_page}}
    @searchQuery={{this.search}}
    @sortBy={{this.sort_by}}
    @sortDir={{this.sort_dir}}
    @metaData={{this.data.meta}}
    @filterOptions={{this.filterOptions}}
    @widthConstraint="eq-container"
    @resizeMode="fluid"
    @fillMode="equal-column" />
</div>
