<div class="content">
  <div class="header">{{t 'Website Generator'}}</div>
</div>
<div class="content ui grid">
  <div class="row pt-0">
    {{t 'You would like to have a dedicated event website with all details, supporters listing, speakers and sessions and the entire schedule?'}}
    {{t 'Simply use the website generator.'}}
    {{t 'It transfers the data of the event via an API to our website tool and creates a website for you.'}}
    {{t 'You can download the entire site as a Zip file and upload it to your own web hosting service.'}}
    {{t 'No database set up or framework required.'}}
    {{t 'This feature is still in Alpha stage, but is already used actively by a number of events.'}}
    {{t 'If you press the below button a tab will open where your website is generated.'}}
  </div>
  <div class="row p-0">
    <a href="{{this.webAppGeneratorUrl}}" target="_blank" class="ui labeled icon button" rel="noopener noreferrer"><i class="cogs icon"></i>{{t 'Create Website'}}</a>
  </div>
</div>
