<div class="content">
  <div class="header">{{t 'Apps'}}</div>
</div>
<div class="content ui stackable grid">
  <div class="row">
    <div class="column eight wide center aligned">
      <a href="{{settings.androidAppUrl}}" class="ui button">
        {{t 'Generate Android App'}}
      </a>
    </div>
    <div class="column eight wide center aligned">
      <a href="{{settings.webAppUrl}}" class="ui button">
        {{t 'Generate Web App'}}
      </a>
    </div>
  </div>
</div>
