<div class="content">
  <div class="header">{{t 'Tickets'}}</div>
</div>
<div class="content">
  <h4 class="ui header">{{t 'Summary'}}</h4>
  <table class="ui very basic compact table">
    <tbody>
      <tr>
        <td>{{t 'Total tickets sold'}}</td>
        <td>{{data.orderStat.tickets.completed}}</td>
      </tr>
      <tr>
        <td>{{t 'No. of orders'}}</td>
        <td>{{data.orderStat.orders.completed}}</td>
      </tr>
      <tr>
        <td>{{t 'Sales (amount)'}}</td>
        <td>{{currency-symbol data.event.paymentCurrency}} {{format-number data.orderStat.sales.completed}}</td>
      </tr>
    </tbody>
  </table>
  <h4 class="ui header">{{t 'Details'}}</h4>
  <table class="ui very basic compact table">
    <thead>
      <tr>
        <th>{{t 'Type'}}</th>
        <th>{{t 'Sold'}}</th>
        <th>{{t 'Total'}}</th>
        <th>{{t 'Available'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each data.tickets as |ticket|}}
        <tr>
          <td>{{ticket.name}}</td>
          <td>{{ticket.orderStatistics.tickets.completed}}</td>
          <td>{{ticket.quantity}}</td>
          <td>{{sub ticket.quantity ticket.orderStatistics.tickets.completed}}</td>
        </tr>
      {{else}}
        <div class="ui basic segment">
          {{t 'There are no tickets for this event'}}
        </div>
      {{/each}}
    </tbody>
  </table>
</div>
