<div class="content">
  <div class="header">{{t 'Event setup checklist'}}</div>
</div>
<div class= "content">
  <div class="ui vertical steps fluid">
    {{#link-to 'events.view.edit.basic-details'
    class='link completed step'}}
      <i class="info icon"></i>
      <div class="content">
        <div class="title">{{t 'Basic Details'}}</div>
        <div class="description">{{t 'Basic information including title, date, venue, ticketing'}}</div>
      </div>
    {{/link-to}}
    {{#link-to 'events.view.edit.sponsors'
    class='link completed step'}}
      <i class="money icon"></i>
      <div class="content">
        <div class="title">{{t 'Sponsors'}}</div>
        <div class="description">{{t 'Details and logos of sponsors'}}</div>
      </div>
    {{/link-to}}
    {{#link-to 'events.view.edit.sessions-speakers'
    class='link completed step'}}
      <i class="map icon"></i>
      <div class="content">
        <div class="title">{{t 'Session, Tracks & Microlocations'}}</div>
        <div class="description">{{t 'Tracks details and colors, session lengths, room locations'}}</div>
      </div>
    {{/link-to}}
    {{#link-to 'events.view.edit.sessions-speakers'
    class='link completed step'}}
      <i class="announcement icon"></i>
      <div class="content">
        <div class="title">{{t 'Call For Speakers'}}</div>
        <div class="description">{{t 'Call for speakers announcement and dates'}}</div>
      </div>
    {{/link-to}}
    {{#link-to 'events.view.edit.sessions-speakers'
    class='link completed step'}}
      <i class="sticky note icon"></i>
      <div class="content">
        <div class="title">{{t 'Session & Speaker forms customization'}}</div>
        <div class="description">{{t 'Customize the session and speaker registration forms'}}</div>
      </div>
    {{/link-to}}
  </div>
</div>
