<div class="content">
  <button class="ui right floated blue button">{{t 'Add Sponsors'}}</button>
  <div class="header">{{t 'Event sponsors'}}</div>
</div>
<div class="content">
  <table class="ui very basic table">
    <thead>
      <tr>
        <th>{{t 'Logo'}}</th>
        <th>{{t 'Name'}}</th>
        <th>{{t 'type'}}</th>
        <th>{{t 'Level'}}</th>
        <th>{{t 'Options'}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="http://placehold.it/100x100" alt="Event logo" class="ui image"></td>
        <td>XYZ</td>
        <td>ABC</td>
        <td>1</td>
        <td><button class="ui icon button"><i class="write icon"></i></button><button class="ui icon button"><i class="trash outline icon"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>
