<div class="content d-flex" style="align-items: center;">
  <div class="header">{{t 'Sponsors'}}</div>
  <LinkTo
  @route="events.view.edit.sponsors"
  @tagName="button" class="ui right floated blue button item ml-auto">
    {{t 'Edit'}}
  </LinkTo>
</div>

<div class="content">
  <div style="width: 95%;margin-left:2.5%">
    <Tables::Default
      @columns={{this.columns}}
      @rows={{this.data.data}}
      @currentPage={{this.page}}
      @pageSize={{this.per_page}}
      @searchQuery={{this.search}}
      @hideSearchBox={{true}}
      @sortBy={{this.sort_by}}
      @sortDir={{this.sort_dir}}
      @metaData={{this.data.meta}}
      @filterOptions={{this.filterOptions}}
      @widthConstraint="eq-container"
      @resizeMode="fluid"
      @fillMode="equal-column" />
  </div>
</div>
