<div class="content">
  <div class="header">{{t 'Overview'}}</div>
</div>
<div class="content">
  <table class="ui very basic table">
    <tbody>
      {{#if (eq this.data.event.state 'published')}}
      <tr>
        <td><strong> {{t 'Your event is live at'}}</strong></td>
        <td>
          <div class="ui action input {{if this.device.isMobile 'small' 'medium'}}"  style="width: 100%; height: 36px">  
            <input class="truncate" style="flex: 1 0 !important" type="text" value={{this.data.event.url}} placeholder={{this.data.event.url}} readonly>
            <UiPopup @on="click" @content={{t "Link copied to clipboard"}} @position="bottom right">
              <CopyButton @clipboardText={{this.data.event.url}} @class="ui grey icon button rounded-none m-0">
                <i class="copy icon"></i>
              </CopyButton>
            </UiPopup>
            <a 
              id="stream_url"
              href={{this.data.event.url}}
              target="_blank" rel="noopener">
              <div  class="ui blue icon button ml-auto rounded-l-none m-0">
                <i class="share icon" ></i>
              </div>
            </a>
          </div>
        </td>
        </tr>
      {{else}}
        <tr> 
           <td><strong>{{t 'Your event is not live yet. Make it live now'}}</strong></td>
        </tr>
      {{/if}}  
      <tr>
        <td><strong>{{t 'Location'}}</strong></td>
        <td>
          {{#if this.data.event.locationName}}
            {{this.data.event.locationName}}
          {{else}}
            <a href="{{href-to 'events.view.edit.basic-details'}}">{{t 'Click to add location.'}}</a>
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><strong>{{t 'Start time'}}</strong></td>
        <td>{{general-date this.data.event.startsAt 'date-time-tz-long' tz=this.data.event.timezone}}</td>
      </tr>
      <tr>
        <td><strong>{{t 'End time'}}</strong></td>
        <td>{{general-date this.data.event.endsAt 'date-time-tz-long' tz=this.data.event.timezone}}</td>
      </tr>
      <tr>
        <td><strong>{{t 'Links and Social Media'}}</strong></td>
        <td>
          {{#if this.data.socialLinks}}
            {{#each this.data.socialLinks as |socialLink index|~}}
              {{if (not-eq index 0) ','}} <a href="{{socialLink.link}}" target="_blank" rel="noopener noreferrer">{{socialLink.displayName}}</a>
            {{~/each}}
          {{else}}
            {{t 'No social links present. '}} <a href="{{href-to 'events.view.edit.other-details'}}#social-links">{{t 'Click here to add'}}</a>
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><strong>{{t 'No. of Sponsors'}}</strong></td>
        <td>{{if this.data.event.isSponsorsEnabled this.data.statistics.sponsors (t 'No Sponsor added yet.')}}</td>
      </tr>
    </tbody>
  </table>
</div>
<Modals::EventRevision @isOpen={{this.isEventRevisionModalOpen}} />
