<div class="content">
  <div class="header">{{t 'General info'}}</div>
</div>
<div class="content">
  <div class="ui {{if device.isMobile 'small' 'medium'}} header">
    {{#if (eq data.event.state 'published')}}
      {{t 'Your event is live at'}} <a href="{{data.event.url}}" rel="noopener noreferrer">{{data.event.url}}</a>
    {{else}}
      {{t 'Your event is not live yet. Make it live now'}}
    {{/if}}
  </div>
</div>
<div class="content">
  <table class="ui very basic table">
    <tbody>
      <tr>
        <td><strong>{{t 'No. of Revisions'}}</strong></td>
        <td>
          <div class="muted text">
            {{t 'Coming Soon'}}
          </div>
          {{!-- This feature is not completely available for roll out so it would pointless to diplay a dummy slidebar  <a {{action 'openModal'}} role="button">
            {{t '(View Revisions)'}}
          </a> --}}
        </td>
      </tr>
      <tr>
        <td><strong>{{t 'Location'}}</strong></td>
        <td>
          {{#if data.event.locationName}}
            {{data.event.locationName}}
          {{else}}
            <a href="{{href-to 'events.view.edit.basic-details'}}">{{t 'Click to add location.'}}</a>
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><strong>{{t 'Start time'}}</strong></td>
        <td>{{general-date data.event.startsAt data.event.timezone}}</td>
      </tr>
      <tr>
        <td><strong>{{t 'End time'}}</strong></td>
        <td>{{general-date data.event.endsAt data.event.timezone}}</td>
      </tr>
      <tr>
        <td><strong>{{t 'Session types'}}</strong></td>
        <td>
          {{#if data.sessionTypes}}
            {{#each data.sessionTypes as |sessionType index|}}
              {{if (not-eq index 0) ','}} {{sessionType.name}}
            {{/each}}
          {{else}}
            {{t 'No Session Type present. '}} <a href="{{href-to 'events.view.edit.sessions-speakers'}}">{{t 'Click here to add'}}</a>
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><strong>{{t 'Links and Social Media'}}</strong></td>
        <td>
          {{#if data.socialLinks}}
            {{#each data.socialLinks as |socialLink index|}}
              {{if (not-eq index 0) ','}} <a href="{{socialLink.link}}" target="_blank" rel="noopener noreferrer">{{socialLink.name}}</a>
            {{/each}}
          {{else}}
            {{t 'No social links present. '}} <a href="{{href-to 'events.view.edit.basic-details'}}#social-links">{{t 'Click here to add'}}</a>
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><strong>{{t 'No. of Speakers'}}</strong></td>
        <td>
          {{#if data.event.isSessionsSpeakersEnabled}}
            {{t 'All'}}: {{data.statistics.speakers}}
            | {{t 'Accepted'}}: {{data.statistics.speakersAccepted}}
            | {{t 'Pending'}}: {{data.statistics.speakersPending}}
            | {{t 'Rejected'}}: {{data.statistics.speakersRejected}}
            | {{t 'Confirmed'}}: {{data.statistics.speakersConfirmed}}
          {{else}}
            {{t 'Sessions and Speakers not enabled.'}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><strong>{{t 'No. of Sessions'}}</strong></td>
        <td>
          {{#if data.event.isSessionsSpeakersEnabled}}
            {{t 'Submitted'}}: {{data.statistics.sessions}}
            | {{t 'Accepted'}}: {{data.statistics.sessionsAccepted}}
            | {{t 'Pending'}}: {{data.statistics.sessionsPending}}
            | {{t 'Rejected'}}: {{data.statistics.sessionsRejected}}
            | {{t 'Confirmed'}}: {{data.statistics.sessionsConfirmed}}
          {{else}}
            {{t 'Sessions and Speakers not enabled.'}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><strong>{{t 'No. of Sponsors'}}</strong></td>
        <td>{{if data.event.isSponsorsEnabled data.statistics.sponsors (t 'No Sponsor added yet.')}}</td>
      </tr>
    </tbody>
  </table>
</div>
<Modals::EventRevision @isOpen={{isEventRevisionModalOpen}} />
