<div class="content">
  <div class="header">{{t 'General info'}}</div>
</div>
<div class="content">
  <div class="header">
    {{#if (eq data.event.state 'published')}}
      {{t 'Your event is live at'}} <a href="{{data.event.url}}" rel="noopener noreferrer">{{data.event.url}}</a>
    {{else}}
      {{t 'Your event is not live yet. Make it live now'}}
    {{/if}}
  </div>
</div>
<div class="content">
  <table class="ui very basic table">
    <tbody>
      <tr>
        <td><strong>{{t 'No. of Revisions'}}</strong></td>
        <td>6 {{t '(view revisions)'}}</td>
      </tr>
      <tr>
        <td><strong>{{t 'Location'}}</strong></td>
        <td>{{data.event.locationName}}</td>
      </tr>
      <tr>
        <td><strong>{{t 'Start time'}}</strong></td>
        <td>{{moment-format data.event.startsAt 'h:mm A, MMMM Do YYYY'}}</td>
      </tr>
      <tr>
        <td><strong>{{t 'End time'}}</strong></td>
        <td>{{moment-format data.event.endsAt 'h:mm A, MMMM Do YYYY'}}</td>
      </tr>
      <tr>
        <td><strong>{{t 'Session types'}}</strong></td>
        <td>
          {{#each data.sessionTypes as |sessionType index|}}
            {{if (not-eq index 0) ','}} {{sessionType.name}}
          {{/each}}
        </td>
      </tr>
      <tr>
        <td><strong>{{t 'Links and Social Media'}}</strong></td>
        <td>
          {{#each data.socialLinks as |socialLink index|}}
            {{if (not-eq index 0) ','}} <a href="{{socialLink.link}}" target="_blank" rel="noopener noreferrer">{{socialLink.name}}</a>
          {{/each}}
        </td>
      </tr>
      <tr>
        <td><strong>{{t 'No. of Speakers'}}</strong></td>
        <td>{{data.statistics.speakers}}</td>
      </tr>
      <tr>
        <td><strong>{{t 'No. of Sessions'}}</strong></td>
        <td>{{data.statistics.sessions}}</td>
      </tr>
      <tr>
        <td><strong>{{t 'No. of Sponsors'}}</strong></td>
        <td>{{data.statistics.sponsors}}</td>
      </tr>
    </tbody>
  </table>
</div>