<div class="content">
  <div class="header">{{t 'General info'}}</div>
</div>
<div class="content">
  <div class="header"> {{t 'Your event is not live yet. Make it live now'}}</div>
</div>
<div class="content">
  <table class="ui very basic table">
    <tbody>
      <tr>
        <td><strong>{{t 'No. of Revisions'}}</strong></td>
        <td>6 {{t '(view revisions)'}}</td>
      </tr>
      <tr>
        <td><strong>{{t 'Location'}}</strong></td>
        <td>asdad</td>
      </tr>
      <tr>
        <td><strong>{{t 'Start time'}}</strong></td>
        <td>12:30 PM May 11, 2014</td>
      </tr>
      <tr>
        <td><strong>{{t 'End time'}}</strong></td>
        <td>5:00 PM May 11, 2014</td>
      </tr>
      <tr>
        <td><strong>{{t 'Session types'}}</strong></td>
        <td>Tech</td>
      </tr>
      <tr>
        <td><strong>{{t 'Links and Social Media'}}</strong></td>
        <td><a href="https://facebook.com/fossasia">fossasia</a></td>
      </tr>
      <tr>
        <td><strong>{{t 'No. of Speakers'}}</strong></td>
        <td>14</td>
      </tr>
      <tr>
        <td><strong>{{t 'No. of Sessions'}}</strong></td>
        <td>14</td>
      </tr>
      <tr>
        <td><strong>{{t 'No. of Sponsors'}}</strong></td>
        <td>4</td>
      </tr>
    </tbody>
  </table>
</div>
