<div class="content">
  <button class="ui right floated blue button">{{t 'Add People'}}</button>
  <div class="header">{{t 'Manage roles'}}</div>
</div>
<div class="content">
  <button class="ui button">{{t 'Accepted'}}</button>
  <button class="ui button">{{t 'Invited'}}</button>
</div>
<div class="content">
  <table class="ui very basic table">
    <thead>
      <tr>
        <th>{{t 'User(Email)'}}</th>
        <th>{{t 'Role'}}</th>
        <th>{{t 'Options'}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John@doe.com</td>
        <td>xyz</td>
        <td>
          <div class="ui horizontal compact basic buttons">
            {{#ui-popup content=(t 'Edit') class='ui icon button'}}
              <i class="edit icon"></i>
            {{/ui-popup}}
            {{#ui-popup content=(t 'Delete') class='ui icon button'}}
              <i class="trash outline icon"></i>
            {{/ui-popup}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
