<div class="content">
  <div class="header">{{t 'Sessions And Speakers'}}</div>
</div>
<div class="content">
  <h3 class="ui header">{{t 'Summary'}}</h3>
  <table class="ui very basic compact unstackable table">
    <tbody>
      <tr>
        <td><strong>{{t 'Session Types'}}</strong> </td>
        <td>
          {{#if this.data.sessionTypes}}
            {{#each this.data.sessionTypes as |sessionType index|~}}
              {{if (not-eq index 0) ','}} {{sessionType.name}}
            {{~/each}}
          {{else}}
            {{t 'No Session Type present. '}} <a href="{{href-to 'events.view.edit.sessions-speakers'}}">{{t 'Click here to add'}}</a>
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><strong>{{t 'Tracks'}}</strong></td>
        <td>
          {{#if this.data.tracks}}
            {{#each this.data.tracks as |tracks index|~}}
              {{if (not-eq index 0) ','}} {{tracks.name}}
            {{~/each}}
          {{else}}
            {{t 'No Track Present. '}} <a href="{{href-to 'events.view.edit.sessions-speakers'}}">{{t 'Click here to add'}}</a>
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><strong>{{t 'Microlocations'}}</strong></td>
        <td>
          {{#if this.data.microlocations}}
            {{#each this.data.microlocations as |microlocations index|~}}
              {{if (not-eq index 0) ','}} {{microlocations.name}}
            {{~/each}}
          {{else}}
            {{t 'No Microlocations Present. '}} <a href="{{href-to 'events.view.edit.sessions-speakers'}}">{{t 'Click here to add'}}</a>
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><strong>{{t 'Call for Speakers'}}</strong> </td>
        <td>
          {{#if this.data.speakersCall}}
            <strong>{{t 'Start Time'}}:</strong> {{general-date this.data.speakersCall.startsAt tz=this.data.event.timezone}}
            <br>
            <strong>{{t 'End Time'}}:</strong> {{general-date this.data.speakersCall.endsAt tz=this.data.event.timezone}}
          {{else}}
            {{t 'Call for Speakers not enabled. '}} <a href="{{href-to 'events.view.edit.sessions-speakers'}}">{{t 'Click here to add'}}</a>
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><strong>{{t 'No. of Speakers'}}</strong></td>
        <td>
          {{#if this.data.event.isSessionsSpeakersEnabled}}
            {{this.data.statistics.speakers}}
          {{else}}
            {{t 'Sessions and Speakers not enabled.'}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><strong>{{t 'No. of Sessions'}}</strong></td>
        <td>
          {{#if this.data.event.isSessionsSpeakersEnabled}}
            {{this.data.statistics.sessions}}
          {{else}}
            {{t 'Sessions and Speakers not enabled.'}}
          {{/if}}
        </td>
      </tr>
    </tbody>
  </table>
  <h4 class="ui header">{{t 'Details'}}</h4>
  <table class="ui very basic compact unstackable table">
    <thead>
      <tr>
        <th>{{t 'Type'}}</th>
        <th>{{t 'Accepted'}}</th>
        <th>{{t 'Pending'}}</th>
        <th>{{t 'Rejected'}}</th>
        <th>{{t 'Confirmed'}}</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>{{t 'Speakers'}}</td>
          <td>{{this.data.statistics.speakersAccepted}}</td>
          <td>{{this.data.statistics.speakersPending}}</td>
          <td>{{this.data.statistics.speakersRejected}}</td>
          <td>{{this.data.statistics.speakersConfirmed}}</td>
        </tr>
        <tr>
          <td>{{t 'Sessions'}}</td>
          <td>{{this.data.statistics.sessionsAccepted}}</td>
          <td>{{this.data.statistics.sessionsPending}}</td>
          <td>{{this.data.statistics.sessionsRejected}}</td>
          <td>{{this.data.statistics.sessionsConfirmed}}</td>
        </tr>
    </tbody>
  </table>
</div>
