<div class="sixteen wide column">
  <table class="ui compact stackable very basic table">
    <thead>
      <tr>
        <th>{{t 'Name'}}</th>
        <th>{{t 'Email'}}</th>
        <th>{{t 'Status'}}</th>
        <th>{{t 'System Roles'}}</th>
        <th>{{t 'Event Roles'}}</th>
        <th>{{t 'User Links'}}</th>
        <th>{{t 'Member Since'}}</th>
        <th>{{t 'Last Access'}}</th>
        <th>{{t 'Options'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |user|}}
        <tr>
          <td>
            {{user.name}}
          </td>
          <td>
            {{user.email}}
          </td>
          <td>
            {{#if (eq user.status 'active')}}
              <div class="ui green label">{{t 'Active'}}</div>
            {{else}}
              <div class="ui red label">{{t 'Inactive'}}</div>
            {{/if}}
          </td>
          <td>
            <div class="ui ordered list">
              {{#each user.systemRoles as |systemRole|}}
                <div class="item">{{systemRole}}</div>
              {{/each}}
            </div>
          </td>
          <td>
            <div class="ui ordered list">
              {{#each user.eventRoles as |eventRole|}}
                <div class="item">{{eventRole.name}} ({{eventRole.event.name}})</div>
              {{/each}}
            </div>
          </td>
          <td>
            <div class="ui ordered list">
              <div class="item">
                <a href='#' target='_blank' rel='noopener'>{{t 'Sessions'}}</a>
              </div>
              <div class="item">
                <a href='#' target='_blank' rel='noopener'>{{t 'Events'}}</a>
              </div>
              <div class="item">
                <a href='#' target='_blank' rel='noopener'>{{t 'Tickets'}}</a>
              </div>
              <div class="item">
                <a href='#' target='_blank' rel='noopener'>{{t 'Settings'}}</a>
              </div>
            </div>
          </td>
          <td>
            {{moment-from-now user.createdAt}}
          </td>
          <td>
            {{moment-from-now user.lastAccessedAt}}
          </td>
          <td>
            <div class="ui vertical compact basic buttons">
              {{#ui-popup content=(t 'View') class='ui icon button' position='left center'}}
                <i class="unhide icon"></i>
              {{/ui-popup}}
              {{#ui-popup content=(t 'Edit') class='ui icon button' position='left center'}}
                <i class="edit icon"></i>
              {{/ui-popup}}
              {{#ui-popup content=(t 'Delete') class='ui icon button' position='left center'}}
                <i class="trash outline icon"></i>
              {{/ui-popup}}
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
