<form class="ui form {{if this.isLoading 'loading'}}" autocomplete="off" {{action 'submit' on='submit'}}>
  <div class="field">
    <label class="required">
      {{t 'Current Password'}}
    </label>
    <div class="ui icon input">
      <Input @type={{if this.showPassCurrent "text" "password"}} @name="password_current" placeholder={{t "Current Password"}} @value={{this.passwordCurrent}} />
      <div class="ui small basic icon buttons">
        <button type="button" class="ui button" {{action 'showPassword' 'Current'}}>
          <i class="{{if this.showPassCurrent 'hide' 'unhide'}} basic icon"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="required">
      {{t 'New Password'}}
    </label>
    <div class="ui icon input">
      <Input @type={{if this.showPassNew "text" "password"}} @name="password_new" placeholder={{t "New Password"}} @value={{this.passwordNew}} />
      <div class="ui small basic icon buttons">
        <button type="button" class="ui button" {{action 'showPassword' 'New'}}>
          <i class="{{if this.showPassNew 'hide' 'unhide'}} basic icon"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="required">
      {{t 'Repeat Password'}}
    </label>
    <div class="ui icon input">
      <Input @type={{if this.showPassRepeat "text" "password"}} @name="password_repeat" placeholder={{t "Repeat Password"}} @value={{this.passwordRepeat}} />
      <div class="ui small basic icon buttons">
        <button type="button" class="ui button" {{action 'showPassword' 'Repeat'}}>
          <i class="{{if this.showPassRepeat 'hide' 'unhide'}} basic icon"></i>
        </button>
      </div>
    </div>
  </div>
  <button class="ui teal button" type="submit">
    {{t 'Save'}}
  </button>
</form>
