<div class="row">
  <div class="ui grid">
    <div class="ui left aligned sixteen wide mobile eight wide computer column">
      <h3 class="ui header">
        {{t 'Video Room'}}
      </h3>
    </div>
    <div class="ui right aligned sixteen wide mobile eight wide computer column">
      <button class='ui labeled icon blue button'>
        <i class="video icon"></i>
        {{t 'Add Jitsi Room'}}
      </button>
    </div>
  </div>
</div>
<br>
<Forms::Events::View::VideoroomForm
  @data={{this.model}}
  @rooms={{this.model.rooms}}
  @save={{action "save"}}
  @isLoading={{this.isLoading}} />
