<div class="row">
  <div class="ui grid">
    <div class="ui left aligned sixteen wide mobile eight wide computer column">
      <h3 class="ui header">
        {{t 'Video Room'}}
      </h3>
    </div>
    <div class="ui right aligned sixteen wide mobile eight wide computer column">
      <button class='ui labeled icon blue button'>
        <i class="video icon"></i>
        {{t 'Add Jitsi Room'}}
      </button>
    </div>
  </div>
</div>
<br>
<form class="ui form" {{action 'submit' this.data on='submit'}}>
  <div class="field">
    <label class="required">{{t 'Video Room URL for Session'}}</label>
    <Input
      @type="text"
      @name="code"
      @value={{this.data.code}} />
  </div>
  <div class="field">
    <label>{{t 'Pin'}}</label>
    <Input
      @type="text"
      @name="pin_code"
      @value={{this.data.code}} />
  </div>
  <div class="field">
    <label>{{t 'Additional Information'}}</label>
    <Widgets::Forms::RichTextEditor
      @textareaId="description"
      @value={{this.data.event.description}} />
  </div>
  <div class="grouped fields">
    <label class="required">{{t 'Access'}}</label>
    <div class="field"><div class="ui read-only checked checkbox"><Input @type="checkbox"/> <label>Organization Team</label></div></div>
    <div class="field"><div class="ui checkbox"><Input @type="checkbox"/> <label>All Speakers</label></div></div>
    <div class="field"><div class="ui checkbox"><Input @type="checkbox"/> <label>Attendees</label></div></div>
    <div class="field"><div class="ui checkbox"><Input @type="checkbox"/> <label>All logged in users</label></div></div>
    <div class="field"><div class="ui checkbox"><Input @type="checkbox"/> <label>Public (no restriction)</label></div></div>
  </div>
  <div class="ui hidden divider"></div>
  <button type="submit" class="ui teal submit button" name="submit">{{t 'Save'}}</button>
</form>

