<div class="ui warning message">
  <div class="header">
    {{t 'This feature is still in alpha stage'}}
  </div>
  {{t 'Please use with care.'}} {{t 'Thank You.'}}
</div>
<div class="ui grid">
  <div class="row">
    <div class="right aligned column">
      {{#if (not this.model.event.videoStream)}}
        <LinkTo @route="events.view.videoroom.create" @query={{hash event=true}} class="ml-2">
          <UiPopup @content={{t "Add Video Channel"}} @class="ui circular icon button compact blue" @position="left center">
            <i class="video icon"></i>
          </UiPopup>
        </LinkTo>
      {{else}}
        <LinkTo @route="events.view.videoroom.edit" @model={{this.model.event.videoStream.id}} class="ml-2">
          <UiPopup @content={{t "Edit"}} @class="ui circular icon button compact positive" @position="left center">
            <i class="edit icon"></i>
          </UiPopup>
        </LinkTo>
        <UiPopup @content={{t "Delete"}} @click={{action (confirm (t "Are you sure you would like to delete this stream?") (action this.delete this.model.event.videoStream.id))}} @class="ui circular icon button compact negative ml-2" @position="left center">
          <i class="trash icon"></i>
        </UiPopup>
      {{/if}}
      <button class="ui blue button" {{action (mut this.isRoomModalOpen) true}}>
        {{t 'Add Room'}}
      </button>
    </div>
  </div>
</div>
<div class="sixteen wide column">
  <Tables::Default
    @columns={{this.columns}}
    @rows={{this.model.rooms.data}}
    @currentPage={{this.page}}
    @pageSize={{this.per_page}}
    @searchQuery={{this.search}}
    @sortBy={{this.sort_by}}
    @sortDir={{this.sort_dir}}
    @metaData={{this.model.rooms.meta}}
    @filterOptions={{this.filterOptions}}
    @widthConstraint="eq-container"
    @resizeMode="fluid"
    @fillMode="equal-column" />
</div>
<Modals::AddRoomModal
  @event={{this.model.event}}
  @isOpen={{this.isRoomModalOpen}}
  @onAdded={{action this.refreshModel}} />
