<div class="ui segment">
  {{#each data as |subTopic|}}
    <h4>{{subTopic.name}}</h4>
    {{widgets/safe-image isAvatar=true class='ui big image' src=(if subTopic.placeholder.originalImageUrl subTopic.placeholder.originalImageUrl
      '/images/placeholders/avatar.png')}}
    <div class="ui hidden divider"></div>
    <button class="ui button primary" {{action 'openModal' subTopic.placeholder}} id="changebutton">{{t 'Change'}}</button>
  {{/each}}
</div>
{{modals/change-image-modal isOpen=isModalOpen placeholder=selectedPlaceholder}}
