<div class="ui ordered list">
  <div class="item">
    <LinkTo @route="admin.users.view.sessions.list" @models={{array record 'upcoming'}}> {{t 'Sessions'}} </LinkTo>
  </div>
  <div class="item">
    <LinkTo @route="admin.users.view.events" @model={{record}}> {{t 'Events'}} </LinkTo>
  </div>
  <div class="item">
    <LinkTo @route="admin.users.view.tickets" @model={{record}}> {{t 'Tickets'}} </LinkTo>
  </div>
  <div class="item">
    <LinkTo @route="admin.users.view.account.profile" @model={{record}}> {{t 'Accounts'}} </LinkTo>
  </div>
</div>
