<i class="black close icon"></i>
<div class="header">
  {{t 'Submit Proposal'}}
</div>
<div class="content">
  <h4 class="ui header">{{t 'Existing Sessions'}}</h4>
  <p>{{t 'No existing sessions'}}</p>
  <div>
    <button type="button" class="ui teal button">{{t 'Add Speaker Details'}}</button>
    <button type="button" class="ui blue button">{{t 'Add Session Proposal'}}</button>
  </div>
</div>
