<i class="black close icon"></i>
<div class="header">
  {{t 'Submit Proposal'}}
</div>
<div class="content">
  <h4 class="ui header">{{t 'Existing Sessions'}}</h4>
  {{#if isNewSession}}
    <p>{{t 'No existing sessions'}}</p>
  {{/if}}
  <div>
    {{#link-to 'public.cfs.new-speaker' class='ui teal button' invokeAction=(action 'toggleView')}}
      {{#if isNewSpeaker}}
        {{t 'Add Speaker Details'}}
      {{else}}
        {{t 'Edit Speaker Details'}}
      {{/if}}
    {{/link-to}}
    {{#unless isNewSpeaker}}
      {{#link-to 'public.cfs.new-session' class='ui blue button' invokeAction=(action 'toggleView')}}
        {{#if isNewSession}}
          {{t 'Add Session Proposal'}}
        {{else}}
          {{t 'Edit Session Proposal'}}
        {{/if}}
      {{/link-to}}
    {{/unless}}
  </div>
</div>
