<i class="black close icon"></i>
<div class="header">
  {{t 'Submit Proposal'}}
</div>
<div class="content">
  {{#if isNewSession}}
    <p>{{t 'No existing sessions'}}</p>
  {{/if}}
  <div>
    {{#if isNewSpeaker}}
      {{#link-to 'public.cfs.new-speaker' class='ui teal button' invokeAction=(action 'toggleView')}}
        {{t 'Add Speaker Details'}}
      {{/link-to}}
    {{else}}
      {{#each data.userSpeaker as |speaker|}}
        {{#if speaker.id}}
          {{#link-to 'public.cfs.edit-speaker' speaker.id invokeAction=(action 'toggleView')}}
            <button class="ui teal {{if device.isMobile 'tiny'}} button">{{t 'Edit Speaker Details'}}</button>
          {{/link-to}}
        {{/if}}
      {{/each}}
    {{/if}}
    {{#unless isNewSpeaker}}
      {{#link-to 'public.cfs.new-session' invokeAction=(action 'toggleView')}}
        <button class="ui teal {{if device.isMobile 'tiny'}} button">{{t 'Add New Session'}}</button>
      {{/link-to}}
    {{/unless}}
  </div>
</div>
