<div class="header">
  {{if confirm.promptText confirm.promptText (t 'Are you sure ?')}}
</div>
{{#if confirm.options.extra}}
  <div class="content">
    {{confirm.options.extra}}
  </div>
{{/if}}
<div class="actions">
  <button type="button" class="ui {{if confirm.options.denyText confirm.options.denyColor 'black'}} button" {{action 'deny'}}>
    {{if confirm.options.denyText confirm.options.denyText (t 'No')}}
  </button>
  <button type="button" class="ui {{if confirm.options.denyText confirm.options.approveColor 'green'}} button" {{action 'confirm'}}>
    {{if confirm.options.approveText confirm.options.approveText (t 'Yes')}}
  </button>
</div>
