<i class="black close icon"></i>
<div class="header">
  {{t 'Update System Roles'}}
</div>
<div class="content">
  <div class="ui form">
    <h4 class="ui header">{{t 'Provide admin access?'}}</h4>
    <div class="grouped inline fields">
      <div class="field">
        <UiRadio @name="isAdmin" @label="No" @value={{false}} @onChange={{action "createAdmin" data false}} @current={{data.isAdmin}} />
        <UiRadio @name="isAdmin" @label="Yes" @value={{true}} @onChange={{action "createAdmin" data true}} @current={{data.isAdmin}} />
      </div>
    </div>
    <h4 class="ui header">{{t 'Custom system roles'}}</h4>
    <div class="field">
      <UiCheckbox @label="Sales Admin" @class="toggle" @checked={{data.isSalesAdmin}} @onChange={{action "toggleSalesAdmin" data}} />
      <UiCheckbox @label="Marketer" @class="toggle" @checked={{data.isMarketer}} @onChange={{action "toggleMarketer" data}} />
    </div>
  </div>
  <button class="ui teal right floated submit button update-changes" {{action 'saveRole' data.id}}>
    {{t 'Save'}}
  </button>
  <div class="ui hidden divider"></div>
</div>