{{#if (eq session.currentRouteName 'public.cfs.index')}}
  <i class="black close icon"></i>
  <div class="header">
    {{t 'Login or Signup'}}
  </div>
  <div class="content">
    <h4 class="ui header">{{t 'Please Login or Signup before you can submit a proposal.'}}</h4>
    <div>
      <LinkTo @route="login" class="ui teal button" @invokeAction={{action "toggleView"}}>
        {{t 'Login'}}
      </LinkTo>
      <LinkTo @route="register" class="ui blue button" @invokeAction={{action "toggleView"}}>
        {{t 'Signup'}}
      </LinkTo>
    </div>
  </div>
{{else if (eq session.currentRouteName 'public.index')}}
  <i class="black close icon"></i>
  <div class="ui basic compact segment">
    <div class="content">
      <Forms::Orders::GuestOrderForm @isLoading={{isLoading}} @errorMessage={{errorMessage}} @userExists={{userExists}} @loginExistingUser={{loginExistingUser}} @createNewUserViaEmail={{createNewUserViaEmail}} />

    </div>
  </div>
{{/if}}


