<div class="header">
  {{t 'Are you sure you would like to delete this proposal?'}}
  <div class="muted small text">
    {{t 'Deleting the proposal will delete all the data associated with it.'}}
  </div>
</div>
<div class="content">
  <div class="field">
    <div class="label">
      {{t 'Proceeding forward will delete the proposal titled:'}} {{this.proposalName}}
    </div>
  </div>
</div>
<div class="actions">
  <button type="button" class="ui black button" {{action 'close'}}>
    {{t 'Cancel'}}
  </button>
  <button type="button" class="ui red button" {{action this.deleteProposal}}>
    {{t 'Delete Proposal'}}
  </button>
</div>
