<div class="header">
  {{t 'Add tax information'}}
</div>
<div class="y-scrollable scrollable-modal content">
  <form class="ui form" autocomplete="off" {{action 'updateTaxInfo' on='submit' preventDefault=true}}>
    <div class="field">
      <label class="required">{{t 'Choose country'}}</label>
      {{#ui-dropdown class='search selection' selected=tax.country forceSelection=false fullTextSearch=true}}
        {{input type='hidden' id='tax_country' value=tax.country}}
        <i class="dropdown icon"></i>
        <div class="default text">{{t 'Select country'}}</div>
        <div class="menu">
          {{#each countries as |country|}}
            <div class="item" data-value="{{country.name}}">
              <i class="{{lowercase country.code}} flag"></i>
              {{country.name}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}
    </div>
    <div class="field">
      <label class="required">{{t 'Tax name'}}</label>
      {{input type='text' id='tax_name' value=tax.name}}
    </div>
    <div class="field">
      <label class="required">{{t 'Tax rate'}}</label>
      {{input type='number' id='tax_rate' min=0 max=100 value=tax.rate}}
    </div>
    <div class="field">
      <label class="required">{{t 'Tax ID'}}</label>
      {{input type='text' id='tax_id' value=tax.taxId}}
    </div>
    <div class="field">
      <label>{{t 'Tax Invoices'}}</label>
      <div class="ui checkbox">
        {{input type='checkbox' id='send_tax_invoices' name='send_tax_invoices' checked=tax.shouldSendInvoice}}
        <label for="send_tax_invoices">
          <strong>{{t 'Send tax invoice to attendees'}} : </strong>
          <span class="text muted">
            {{t 'Tax Invoices are sent to your attendees when you select this feature.
            Enter your registered business company name and address to be included on the tax invoice.'}}
          </span>
        </label>
      </div>
    </div>
    <div class="field">
      <label>{{t 'Registered Company'}}</label>
      {{input type='text' id='tax_invoice_company' value=tax.registeredCompany}}
    </div>
    <div class="field">
      <label>{{t 'Business Address'}}</label>
      {{textarea rows=3 id='tax_invoice_address' value=tax.address}}
    </div>
    <div class="field">
      <label>{{t 'City'}}</label>
      {{input type='text' id='tax_invoice_city' value=tax.city}}
    </div>
    <div class="field">
      <label>{{t 'State'}}</label>
      {{input type='text' id='tax_invoice_state' value=tax.state}}
    </div>
    <div class="field">
      <label>{{t 'Zipcode'}}</label>
      {{input type='text' id='tax_invoice_zipcode' value=tax.zip}}
    </div>
    <div class="field">
      <label>{{t 'Text for invoice footer (optional)'}}</label>
      {{textarea rows=3 id='tax_invoice_footer' value=tax.invoiceFooter}}
    </div>
    <div class="grouped fields">
      <label for="privacy">{{t 'Add or Include Tax Fee'}}</label>
      <div class="field">
        <div class="ui radio checkbox">
          {{widgets/forms/radio-button name='tax_add_include' id='add_tax' value='add' checked=isTaxIncludedInPrice}}
          <label for="add_tax">{{t 'Add tax as separate fee on top of the price'}}</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          {{widgets/forms/radio-button name='tax_add_include' id='include_tax' value='include' checked=isTaxIncludedInPrice}}
          <label for="include_tax">{{t 'Include tax in ticket price'}}</label>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="actions">
  <button type="button" class="ui black button" {{action 'close'}}>
    {{t 'Cancel'}}
  </button>
  <button type="button" class="ui green right labeled icon button" {{action 'updateTaxInfo'}}>
    {{t 'Update tax information'}}
    <i class="checkmark icon"></i>
  </button>
</div>