<div class="map item {{if (not isMapVisible) 'mobile hidden'}}">
  {{#g-map markersFitMode='live' lat=37.7833 lng=-122.4167 zoom=2 address=location class='google-maps' as |context|}}
    {{g-map-address-marker context address=location onLocationChange=(action 'onLocationChangeHandler')}}
  {{/g-map}}
</div>
{{#if device.isMobile}}
  <div class="field">
    <div class="ui toggle checkbox">
      {{input type='checkbox' change=(action 'toggleMap') id = "map" checked='isChecked' }}
      <label for="map">
        {{if (not isMapVisible) 'Show' 'Hide'}} Map
      </label>
    </div>
  </div>
{{/if}}
<div class="item">
  <div class="ui input">
    {{widgets/forms/places-autocomplete
      name='location'
      value=location
      type='text'
      placeholder=(t 'Enter Location')}}
  </div>
</div>
{{#if showFiltersOnMobile}}
  <div class="item">
    {{#ui-accordion}}
      <span class="title">
        <i class="dropdown icon"></i>
        {{t 'Date'}}
      </span>
      <div class="content menu">
        <div class="ui form">
          <div class="grouped fields">
            {{#each dateRanges as |dateRange|}}
              <div class="field">
                {{ui-checkbox label=dateRange.name class='ui checkbox' checked=(if (eq dateType dateRange.key) 'active') onChange=(action 'selectDateFilter' dateRange.key)}}
              </div>
              {{#if (and (eq dateRange.key 'custom_dates') (eq dateType 'custom_dates'))}}
                <div class="explore sub menu">
                  <div class="ui form">
                    <div class="grouped fields">
                      <div class="item field">
                        <label class="required" for="start_date">{{t 'Starts'}}</label>
                        {{widgets/forms/date-picker type='text'
                                                    value=customStartDate
                                                    rangePosition='start'
                                                    onChange=(action 'dateValidate')
                        }}
                      </div>
                      <div class="item field">
                        <label class="required" for="end_date">{{t 'Ends'}}</label>
                        {{widgets/forms/date-picker type='text'
                                                    value=customEndDate
                                                    rangePosition='end'
                                                    onChange=(action 'onDateChange')
                        }}
                      </div>
                    </div>
                  </div>
                </div>
              {{/if}}
            {{/each}}
          </div>
        </div>
      </div>
    {{/ui-accordion}}
  </div>
  <div class="item">
    {{#ui-accordion}}
      <span class="title">
        <i class="right floated dropdown icon"></i>
        {{t 'Categories'}}
      </span>
      <div class="content menu">
        <a href="#" class="link item {{if showAllCategories 'active'}}" {{action 'clearFilterCategory'}}>
          <i class="caret right icon"></i>
          {{t 'All Categories'}}
        </a>
        {{#each model.eventTopics as |Category| }}
          <a href="#"
            class="link item {{if (eq category Category.name) 'active'}}" {{action 'selectCategory' Category.name}}>
            <i class="caret {{if (eq category Category.name) 'down' 'right'}} icon"></i>
            {{Category.name}}
          </a>
          {{#if (eq category Category.name)}}
            <div class="ui form">
              <div class="grouped fields">
                {{#each Category.subTopics as |subCategory|}}
                  <div class="field inner item">
                    {{ui-checkbox label=subCategory.name class='ui checkbox' checked=(if (eq sub_category subCategory.slug) 'active') onChange=(action 'selectCategory' Category.name subCategory.slug)}}
                  </div>
                {{/each}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    {{/ui-accordion}}
  </div>
  <div class="item">
    {{#ui-accordion}}
      <span class="title">
        <i class="dropdown icon"></i>
        {{t 'Event Type' }}
      </span>
      <div class="content menu">
        {{ui-checkbox label=(t 'All Types') class='ui checkbox' checked=(if showAllTypes 'active') onChange=(action 'clearFilterTypes')}}
        <div class="ui form">
          <div class="grouped fields">
            {{#each model.eventTypes as |eventType|}}
              <div class="field">
                {{ui-checkbox label=eventType.name class='ui checkbox' checked=(if (eq event_type eventType.name) 'active') onChange=(action 'selectEventType' eventType.name)}}
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    {{/ui-accordion}}
  </div>
  <div class="item">
    {{#ui-accordion}}
      <span class="title">
        <i class="dropdown icon"></i>
        {{t 'Ticket Type' }}
      </span>
      <div class="content menu">
        <div class="ui form">
          <div class="grouped fields">
            <div class="field">
              {{ui-checkbox label=(t 'Free') class='ui checkbox' checked=(if (eq ticket_type 'free') true) onChange=(action 'selectTicketType' 'free')}}
            </div>
            <div class="field">
              {{ui-checkbox label=(t 'Paid') class='ui checkbox' checked=(if (eq ticket_type 'paid') true) onChange=(action 'selectTicketType' 'paid')}}
            </div>
          </div>
        </div>
      </div>
    {{/ui-accordion}}
  </div>
{{/if}}
<div class="item">
  {{#ui-accordion}}
    <span class="title">
      <i class="dropdown icon"></i>
      {{t 'Event Call For Speakers' }}
    </span>
    <div class="content menu">
      <div class="ui form">
        <div class="grouped fields">
          <div class="field">
            {{ui-checkbox label=(t 'Open') checked=(if (eq cfs 'open') 'active') onChange=(action 'selectEventCfs' 'open')}}
          </div>
          <div class="field">
            {{ui-checkbox label=(t 'Closed') class='ui checkbox' checked=(if (eq cfs 'closed') 'active') onChange=(action 'selectEventCfs' 'closed')}}
          </div>
        </div>
      </div>
    </div>
  {{/ui-accordion}}
</div>
<div class="item">
  <button class="ui red button {{if hideClearFilters 'disabled'}}" {{action 'clearFilters'}}>{{t 'Clear Filters'}}</button>
  {{#if device.isMobile}}
    <button class="ui blue button" {{action 'toggleFilters'}}>{{if showFiltersOnMobile 'Hide Filters' 'Show Filters'}}</button>
  {{/if}}
</div>
