<div class="legacy-checkbox" >
  {{#if (isSubstring "checkbox" @class)}}
    <Input @class="legacy-checkbox-checkbox" @type="checkbox" @checked={{@checked}} @click={{@onChange}} />

  {{else if (eq true @disabled)}}
    <XToggle
      @theme='ios'
      @variant='light'
      @value={{true}}
      @onToggle={{true}}
      @class="legacy-checkbox-switch disabled"
    />

  {{else if (eq @type "checkbox")}}
    <Input @class="legacy-checkbox-checkbox" @type="checkbox" @checked={{@checked}} @click={{@onChange}} />

  {{else}}
    <XToggle
      @theme='ios'
      @variant='light'
      @value={{@checked}}
      @onToggle={{@onChange}}
      @class={{"legacy-checkbox-switch" @class}}
    />
  {{/if}}


  {{#if @label}}
    <span class="legacy-checkbox-label" >
      {{@label}}
    </span>
  {{/if}}

</div>
