<div class="d-flex items-center wrap mb-4">
  <h1 class="no margin ui header" id="session-heading">{{t 'Schedule'}}</h1>
  <div class="ml-4">
    <LinkTo @route="public.sessions" class="ui button">
      {{t 'List View'}}
    </LinkTo>
  </div>
</div>
{{#if this.render}}
  <FullCalendar
    {{did-update this.timezoneUpdated @timezone}}
    @events={{this.events}}
    @aspectRatio={{if this.device.isMobile 0.7 1.8}}
    @editable={{@editable}}
    @droppable={{@droppable}}
    @resources={{this.resources}}
    @groupByResource={{true}}
    @allDaySlot={{false}}
    @resourceLabelText="Rooms"
    @header={{this.header}}
    @timezone={{this.timezone}}
    @views={{this.views}}
    @viewName="agendaDay"
    @defaultView="timelineDay"
    @validRange={{this.validRange}}
    @now={{moment-format (now) "YYYY-MM-DD"}}
    @scrollTime="0:00:00"
    @slotDuration="00:05:00"
    @slotLabelFormat="HH:mm"
    @defaultTimedEventDuration={{@defaultTimedEventDuration}}
    @drop={{@drop}}
    @eventResize={{@eventResize}}
    @eventDrop={{@eventDrop}}
    @eventRender={{@eventRender}}
    @height={{@height}}
    @viewRender={{action "renderCallback"}} />
{{else}}
  <div class="ui active inverted dimmer">
    <div class="ui text loader"></div>
  </div>
{{/if}}
