<div class="ui grid">
  <div class="ui less bottom padding row">
    <div class="left aligned eight wide column">
      <Tables::Utilities::PageSizeInput @pageSize={{pageSize}} />
    </div>
    <div class="eight wide right aligned column">
      <Tables::Utilities::SearchBox @searchQuery={{searchQuery}} @filterOptions={{filterOptions}} />
    </div>
  </div>
  <div class="row">
    <EmberTable as |t|>
      <t.head @sortFunction={{null}} @columns={{columns}} @enableReorder={{true}} @sorts={{sorts}} @onUpdateSorts={{action (mut sorts)}} as |h|>
        <h.row as |r|>
          <r.cell as |column|>
            {{#if column.headerComponent}}
              {{#component
                column.headerComponent
                sorts=sorts column=column
                sortBy=sortBy
                sortDir=sortDir
              }}
                {{column.name}}
              {{/component}}
            {{else}}
              {{column.name}}
            {{/if}}
             </r.cell>
            </h.row>
         </t.head>
      <t.body @rows={{rows}} as |b|>
        <b.row as |r|>
          <r.cell as |cell column row|>
            {{#if column.cellComponent}}
              {{#component column.cellComponent
                           record=(get row column.valuePath)
                           extraRecords=(get-properties row column.extraValuePaths)
                           props=(hash options=column.options actions=column.actions)
              }}
                {{cell}}
              {{/component}}
            {{else}}
              {{cell}}
            {{/if}}
             </r.cell>
            </b.row>
         </t.body>
    </EmberTable>
  </div>

  <div class="row">
    <Tables::Utilities::Pagination @currentPage={{currentPage}} @pageSize={{pageSize}} @metaData={{metaData}} />
  </div>
</div>
