<span>
  {{#if (eq record "accepted")}}
    <div class="ui yellow label">{{t 'Accepted'}}</div>
  {{else if (eq record "confirmed")}}
    <div class="ui green label">{{t 'Confirmed'}}</div>
  {{else if (eq record "pending")}}
    <div class="ui yellow label">{{t 'Pending'}}</div>
  {{else if (eq record "rejected")}}
    <div class="ui red label">{{t 'Rejected'}}</div>
  {{else if (eq record "deleted")}}
    <div class="ui red label">{{t 'Deleted'}}</div>
  {{/if}}
</span>
