{{this.record}}
<div class="hidden ui divider"></div>
<div class="ui horizontal compact basic buttons">
  <UiPopup @content={{t "View Session"}} @class="{{if this.device.isMobile 'medium' 'huge'}} ui icon button" @click={{action this.props.actions.viewSession this.extraRecords.id}} @position="left center">
    <i class="unhide icon"></i>		
  </UiPopup>
  {{#if (not this.extraRecords.isLocked)}}
    <UiPopup @content={{t "Edit Session"}} @class="{{if this.device.isMobile 'medium' 'huge'}} ui icon button" @click={{action this.props.actions.editSession this.extraRecords.id this.extraRecords.event.id}} @position="left center">
      <i class="edit icon"></i>
    </UiPopup>
  {{/if}}
  <UiPopup @content={{t "Delete Session"}} @click={{action (confirm (t "Are you sure you would like to delete this Session?") (action this.props.actions.deleteSession this.extraRecords.id))}} @class="{{if this.device.isMobile 'medium' 'huge'}} ui icon button" @position="left center">
    <i class="trash outline icon"></i>
  </UiPopup>
</div>
