{{record}}
<div class="hidden ui divider"></div>
<div class="ui horizontal compact basic buttons">
  <UiPopup @content={{t "View Session"}} @class="{{if device.isMobile 'medium' 'huge'}} ui icon button" @click={{action props.actions.viewSession extraRecords.id}} @position="left center">
    <i class="unhide icon"></i>		
  </UiPopup>
  {{#if (not extraRecords.isLocked)}}
    <UiPopup @content={{t "Edit Session"}} @class="{{if device.isMobile 'medium' 'huge'}} ui icon button" @click={{action props.actions.editSession extraRecords.id extraRecords.event.id}} @position="left center">
      <i class="edit icon"></i>
    </UiPopup>
  {{/if}}
  <UiPopup @content={{t "Delete Session"}} @click={{action (confirm (t "Are you sure you would like to delete this Session?") (action props.actions.deleteSession extraRecords.id))}} @class="{{if device.isMobile 'medium' 'huge'}} ui icon button" @position="left center">
    <i class="trash outline icon"></i>
  </UiPopup>
</div>
