<div class="ui vertical compact basic buttons">
  {{#if (not-eq record.state 'accepted')}}
    {{#ui-dropdown class='ui icon bottom right pointing dropdown button'}}
      <i class="green checkmark icon"></i>
      <div class="menu">
        <a role="button" class="item" {{action acceptProposal record true}}>{{t 'With email'}}</a>
        <a role="button" class="item" {{action acceptProposal record false}}>{{t 'Without email'}}</a>
      </div>
    {{/ui-dropdown}}
  {{/if}}
  {{#if (not-eq record.state 'rejected')}}
    {{#ui-dropdown class='ui icon bottom right pointing dropdown button'}}
      <i class="red remove icon"></i>
      <div class="menu">
        <a role="button" class="item" {{action rejectProposal record true}}>{{t 'With email'}}</a>
        <a role="button" class="item" {{action rejectProposal record false}}>{{t 'Without email'}}</a>
      </div>
    {{/ui-dropdown}}
  {{/if}}
</div>
