<div class="ui list basic segment m-0 pb-0">
  <div class="item">
    <i class="clock alternate outline icon pt-1"></i>
    <div class="content">
      {{#if this.isSingleDay}}
        {{general-date @event.startsAt "dddd, D MMMM, YYYY" tz=@event.timezone}}<br>{{general-date @event.startsAt 'time-short' tz=@event.timezone}} {{t 'to'}} {{general-date @event.endsAt 'time-short' tz=@event.timezone}} 
      {{else}}
        {{general-date @event.startsAt 'date-time-long' tz=@event.timezone}} {{t 'to'}} {{general-date @event.endsAt 'date-time-long' tz=@event.timezone}} 
      {{/if}}
      {{general-date @event.startsAt 'tz' tz=@event.timezone}}
    </div>

    <div class="ui grid mt-4">
      <div class="eight wide column p-1">
        <UiDropdown class="ui floating fluid dropdown button mb-2">
          {{#if @event.sessions}}
            <i class="calendar icon"></i>
            {{t 'Add Event'}}
          {{else}}
            {{t 'Add to Calendar'}}
          {{/if}}
          <div class="menu">
            {{#each this.calendarUrls as |calendar|}}
              <a href={{calendar.url}} class="item" target="_blank" rel="noreferrer nofollow">
                {{calendar.name}}
              </a>
            {{/each}}
          </div>
        </UiDropdown>
      </div>
      <div class="eight wide column p-1">
        {{#if @event.sessions}}    
          <UiDropdown class="ui floating fluid dropdown button mb-2">
            <i class="calendar icon"></i>
            {{t 'Add Sessions'}}
            <div class="menu">
              {{#each this.SessioncalendarUrls as |calendar|}}
                <a href={{calendar.url}} class="item" target="_blank" rel="noreferrer nofollow">
                  {{calendar.name}}
                </a>
              {{/each}}
            </div>
          </UiDropdown>
        {{/if}}
      </div>
    </div>
  </div>

</div>