<div class="ui list basic segment m-0 pb-0">
  <div class="item mt-1">
    <i class="clock alternate outline icon pt-1"></i>
    <div class="content">
      <Public::EventDateTime @event={{@event}} />
    </div>
  </div>

  {{#if (not (and this.isSessionPublished this.showSessions))}}
    <UiDropdown class="ui floating dropdown button mt-4">
      {{t 'Add to Calendar'}}
      <div class="menu">
        {{#each this.calendarUrls as |calendar|}}
          <a href={{calendar.url}} class="item" target="_blank" rel="noreferrer nofollow">
            {{calendar.name}}
          </a>
        {{/each}}
      </div>
    </UiDropdown>
  {{else}}
    <div class="ui list mt-2">
      <div class="inline d-flex">
        <UiDropdown class="ui floating dropdown button w-full mb-2 no-wrap text center aligned" style="font-size: .9rem;">
            <i class="add to calendar icon"></i>
            {{t 'Add Event'}}
          <div class="menu">
            {{#each this.calendarUrls as |calendar|}}
              <a href={{calendar.url}} class="item" target="_blank" rel="noreferrer nofollow">
                {{calendar.name}}
              </a>
            {{/each}}
          </div>
        </UiDropdown>   
        <UiDropdown class="ui floating dropdown button w-full mb-2 no-wrap text center aligned" style="font-size: .9rem;">
          <i class="add to calendar icon"></i>
            {{t 'Add Sessions'}}
          <div class="menu">
            {{#each this.sessionCalendarUrls as |calendar|}}
              <a href={{calendar.url}} class="item" target="_blank" rel="noreferrer nofollow">
                {{calendar.name}}
              </a>
            {{/each}}
          </div>
        </UiDropdown>
      </div>
    </div>
  {{/if}}

</div>