<div class="ui list basic segment m-0 pb-0">
  <div class="item">
    <i class="clock alternate outline icon pt-1"></i>
    <div class="content">
      {{#if this.isSingleDay}}
        {{general-date @event.startsAt "dddd, D MMMM, YYYY" tz=@event.timezone}}<br>{{general-date @event.startsAt 'time-short' tz=@event.timezone}} {{t 'to'}} {{general-date @event.endsAt 'time-short' tz=@event.timezone}} 
      {{else}}
        {{general-date @event.startsAt 'date-time-long' tz=@event.timezone}} {{t 'to'}} {{general-date @event.endsAt 'date-time-long' tz=@event.timezone}} 
      {{/if}}
      {{general-date @event.startsAt 'tz' tz=@event.timezone}}
    </div>

    {{#if @event.sessions}}
    <div class="ui grid">
      <div class="sixteen column row ml-2">
        <div class="coloum">
          <UiDropdown class="ui floating dropdown button mt-4 ml-2 p-2">
            <i class="calendar icon"></i>
            {{t 'Add Event'}}
            <div class="menu">
              {{#each this.calendarUrls as |calendar|}}
                <a href={{calendar.url}} class="item" target="_blank" rel="noreferrer nofollow">
                  {{calendar.name}}
                </a>
              {{/each}}
            </div>
          </UiDropdown>
        </div>

        <div class="coloum">
            <UiDropdown class="ui floating dropdown button mt-4 p-2">
              <i class="calendar icon"></i>
              {{t 'Add Sessions'}}
              <div class="menu">
                {{#each this.SessioncalendarUrls as |calendar|}}
                  <a href={{calendar.url}} class="item" target="_blank" rel="noreferrer nofollow">
                    {{calendar.name}}
                  </a>
                {{/each}}
              </div>
            </UiDropdown>
        </div>
      </div>
    </div>
    {{else}}
      <UiDropdown class="ui floating dropdown button mt-4">
        {{t 'Add to Calendar'}}
        <div class="menu">
          {{#each this.calendarUrls as |calendar|}}
            <a href={{calendar.url}} class="item" target="_blank" rel="noreferrer nofollow">
              {{calendar.name}}
            </a>
          {{/each}}
        </div>
      </UiDropdown>
    {{/if}}
  </div>
  <hr>
</div>