<div class="ui list basic segment m-0 pb-0">
  <div class="item">
    <i class="clock alternate outline icon pt-1"></i>
    <div class="content">
      {{#if this.isSingleDay}}
        {{general-date @event.startsAt @event.timezone "dddd, MMMM DD, YYYY"}}<br>{{general-date @event.startsAt @event.timezone "h:mm A"}} {{t 'to'}} {{general-date @event.endsAt @event.timezone "h:mm A"}} 
      {{else}}
        {{general-date @event.startsAt @event.timezone "dddd, MMMM DD, YYYY h:mm A"}} {{t 'to'}} {{general-date @event.endsAt @event.timezone "dddd, MMMM DD, YYYY h:mm A"}} 
      {{/if}}
      ({{this.timezone}})
      <br>
      {{#ui-dropdown class="pointing"}}
	<a href="#">{{t 'Add to Calendar'}}</a>
	<div class="menu">
	  {{#each this.calendarUrls as |calendar|}}
	    <a href={{calendar.url}} class="item">
	      {{calendar.name}}
	    </a>
	  {{/each}}
	</div>
      {{/ui-dropdown}}
    </div>
  </div>
</div>
