<div class="ui list basic segment m-0 pb-0">
  <div class="item mt-1">
    <i class="clock alternate outline icon pt-1"></i>
    <div class="content">
      <Public::EventDateTime @event={{@event}} />
    </div>
  </div>
  <div class="item ml-4">
    <div class="ui grid mt-4">
      <div class="seven wide column p-0">
        <UiDropdown class="ui floating fluid dropdown p-3 button mb-2 text center aligned" style="font-size: .8rem;">
          {{#if (and this.isSessionPublished this.showSessions)}}
            <i class="add to calendar icon"></i>
            {{t 'Add Event'}}
          {{else}}
            {{t 'Add to Calendar'}}
          {{/if}}
          <div class="menu">
            {{#each this.calendarUrls as |calendar|}}
              <a href={{calendar.url}} class="item" target="_blank" rel="noreferrer nofollow">
                {{calendar.name}}
              </a>
            {{/each}}
          </div>
        </UiDropdown>
      </div>
      <div class="right floated eight wide column p-0">
        {{#if (and this.isSessionPublished this.showSessions)}}    
          <UiDropdown class="ui floating fluid dropdown p-3 button mb-2 text center aligned no-wrap" style="font-size: .8rem;">
            <i class="add to calendar icon"></i>
            {{t 'Add Sessions'}}
            <div class="menu">
              {{#each this.sessionCalendarUrls as |calendar|}}
                <a href={{calendar.url}} class="item" target="_blank" rel="noreferrer nofollow">
                  {{calendar.name}}
                </a>
              {{/each}}
            </div>
          </UiDropdown>
        {{/if}}
      </div>
    </div>
  </div>

</div>