<UiAccordion class="segment p-0" style={{css background-color=@session.track.color border-color='lightgray'}}>
  <div class="title p-4" {{action 'hideSpeakerImage'}} role="button" style={{css color=(text-color @session.track.color)}}>
    <div class="ui">
      <h3 class="ui header" id="session-id-{{@session.id}}" style={{css color=(text-color @session.track.color)}}>
        {{@session.title}}
        <div class="sub header" style={{css color=(text-color @session.track.color) opacity=0.6}}>
          {{@session.sessionType.name}}
        </div>
      </h3>
      <div class="ui row">{{@session.track.name}}</div>
    </div>
    <br>
    <div class="ui grid stackable">
      {{#if this.hideImage}}
        <div class="left floated twelve wide column">
          {{#if @session.startsAt}}
            <div class=""><i class="icon map marker alternate"></i>{{@session.microlocation.name}}</div>
            <div class="small text"><i class="wait icon"></i>{{general-date @session.startsAt @timezone}} - {{general-date @session.endsAt @timezone}}</div>
          {{/if}}
        </div>
      {{else}}
        <div class="left floated ten wide column">
          <div class="session-speakers">
            {{#each @session.speakers as |speaker|}}
              <img alt="speaker" class="ui mini avatar image" src="{{if speaker.iconImageUrl speaker.iconImageUrl (if speaker.photoUrl speaker.photoUrl '/images/placeholders/avatar.png')}}">
            {{/each}}
          </div>
        </div>
        <div class="right floated six wide column">
          {{#if @session.startsAt}}
            <div class=""><i class="icon map marker alternate"></i>{{@session.microlocation.name}}</div>
            <div class="small text"><i class="wait icon"></i>{{general-date @session.startsAt @timezone 'hh:mm a / DD-MM-YYYY (z)'}}</div>
          {{/if}}
        </div>
      {{/if}}

      <div class="row">
        <div class="column session-description">
          {{sanitize @session.shortAbstract}}
        </div>
      </div>
    </div>
  </div>
  <div class="content pt-0 p-4 rounded-t-none" style={{css background-color='white' border-radius='0.2rem'}}>
    {{#each @session.speakers as |speaker|}}
      <div class="ui divider"></div>
      <img alt="speaker" class="ui tiny avatar image" src="{{if speaker.thumbnailImageUrl speaker.thumbnailImageUrl (if speaker.photoUrl speaker.photoUrl '/images/placeholders/avatar.png')}}">
      <p>
        <br>
        {{speaker.name}}
        <br>
        {{#if speaker.shortBiography}}
          {{sanitize speaker.shortBiography}}
        {{else if speaker.longBiography}}
          {{sanitize speaker.longBiography}}
        {{else if speaker.speakingExperience}}
          {{sanitize speaker.speakingExperience}}
        {{/if}}
      </p>
      <div class="social-icons">
        {{#if speaker.facebook}}
          <a href={{speaker.facebook}} target="_blank" rel="noopener noreferrer"><i class="facebook f icon"></i>Facebook</a>
        {{/if}}
        {{#if speaker.linkedin}}
          <a href={{speaker.linkedin}} target="_blank" rel="noopener noreferrer"><i class="linkedin f icon"></i>Linkedin</a>
        {{/if}}
        {{#if speaker.twitter}}
          <a href={{speaker.twitter}} target="_blank" rel="noopener noreferrer"><i class="twitter icon"></i>Twitter</a>
        {{/if}}
        {{#if speaker.github}}
          <a href={{speaker.github}} target="_blank" rel="noopener noreferrer"><i class="github icon"></i>GitHub</a>
        {{/if}}
      </div>
    {{/each}}
  </div>
</UiAccordion>
