<div class="ui {{if (eq @size "large") '' 'small'}} icon input search-box">
  <Input  class="{{ if this.device.isMobile "expand-bar" "" }}" @type="text" @value={{readonly this.searchQuery}} @keyUp={{action 'setSearchQuery' value="target.value"}} onfocus={{ if this.device.isMobile (action "showSessionFields")}} @focus-out={{if this.device.isMobile (action "showSessionFields")}}  placeholder="{{t "Search"}} ..." />
  <i class="search icon"></i>
</div>
