{{#if selectedImage}}
  {{#if (and requiresDivider device.isMobile)}}
    <div class="ui hidden divider"></div>
  {{/if}}
  <div class="ui card">
    {{#if uploadingImage}}
      <div class="ui active dimmer">
        <div class="ui text loader">{{t 'Image Uploading'}}</div>
      </div>
    {{/if}}
    <div class="image">
      <img src="{{selectedImage}}" alt="Selected image">
    </div>
    {{#if allowReCrop}}
	     <div class="ui bottom attached mini buttons">
		      <button type="button" class="ui teal button" {{action 'reCrop'}}>
		        <i class="crop icon"></i>
		        {{t 'Re-crop'}}
		      </button>
	     </div>
    {{/if}}
    <div class="ui bottom attached mini buttons">
      <button type="button" class="ui red button" {{action 'removeSelection'}}>
        <i class="trash icon"></i>
        {{if needsConfirmation 'Delete' 'Confirm Delete'}}
      </button>
    </div>
  </div>
{{else}}
  {{input type='file'
          id=inputIdGenerated
          class='styled input' accept="image/*" name='image_upload' change=(action 'fileSelected')}}
  <label for="{{inputIdGenerated}}">
    <div class="ui center aligned piled upload segment text muted">
      <i class="big {{icon}} icon"></i>
      <br><br>
      {{hint}}<br>
      {{#if allowDragDrop}}
        <small>({{t 'click or drag-and-drop'}})</small>
      {{/if}}
    </div>
    <span class="text muted">
      {{#if helpText}}
        {{helpText}}<br>
      {{/if}}
      ({{t 'Not larger than'}} {{maxSize}})
    </span>
  </label>
{{/if}}
{{#if needsCropper}}
  {{modals/cropper-modal isOpen=cropperModalIsShown imgData=imgData onImageCrop=(action 'imageCropped') aspectRatio=aspectRatio}}
{{/if}}
