{{#if this.hasLinkName}}
  <div class="two wide field">
    <div class="ui labeled input">
    <UiDropdown @class="label" @selected={{this.socialmedia}} @onChange={{changelink}}>
      <div class="text">Web</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item" data-value="Twitter">Twitter</div>
        <div class="item" data-value='Website' >Website</div>
        <div class="item" data-value="Facebook">Facebook</div>
        <div class="item" data-value="Linkedin">Linkedin</div>
        <div class="item" data-value="Instagram">Instagram</div>
        <div class="item" data-value="Youtube">Youtube</div>
      </div>
    </UiDropdown>
  </div>
  </div>
  <div class="six wide field">
    <div class="ui labeled {{if this.isChild 'action'}} input">
      <UiDropdown @class="label" @selected={{this.protocol}} @onChange={{action (mut this.protocol)}}>
        <div class="text">https://</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="http">http://</div>
          <div class="item" data-value="https">https://</div>
          <div class="item" data-value="https://twitter.com/"> https://twitter.com/</div>
          <div class="item" data-value="https://github.com/">https://github.com/</div>
          <div class="item" data-value="https://www.linkedin.com/">https://www.linkedin.com/</div>
          <div class="item" data-value="https://instagram.com/">https://instagram.com/</div>
          <div class="item" data-value="https://facebook.com/">https://facebook.com/</div>
          <div class="item" data-value="https://youtube.com/">https://youtube.com/</div>
        </div>
      </UiDropdown>
      <Input @type="text" @value={{this.address}} @name={{name}} @id={{this.inputId}} />
      {{#if this.isChild}}
        <div class="ui icon buttons">
          {{#if this.canRemoveItem}}
            <button type="button" class="ui sharp button red" {{action this.removeItem}}><i class="minus icon"></i></button>
          {{/if}}
          {{#if this.canAddItem}}
            <button type="button" class="ui button teal" {{action this.addItem}}><i class="plus icon"></i></button>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
{{else}}
  <UiDropdown @class="label" @selected={{this.protocol}} @onChange={{action (mut this.protocol)}}>
    <div class="text">https://</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" data-value="http">http://</div>
      <div class="item" data-value="https">https://</div>
    </div>
  </UiDropdown>
  <Input @type="text" @value={{this.address}} @name={{name}} @id={{this.inputId}} />
{{/if}}
