{{#if this.hasLinkName}}
  <div class="three wide field">
    <div class="ui labeled input">
      {{#if this.isSocialLink}}
        <UiDropdown @class='selection' @selected={{this.linkName}} @onChange={{action (mut this.linkName)}}>
          <div class="default text">Select</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value='website' >Website</div>
            <div class="item" data-value="twitter">Twitter</div>
            <div class="item" data-value="facebook">Facebook</div>
            <div class="item" data-value="linkedin">Linkedin</div>
            <div class="item" data-value="instagram">Instagram</div>
            <div class="item" data-value="github">Github</div>
            <div class="item" data-value="gitlab">Gitlab</div>
            <div class="item" data-value="blog">Blog</div>
            <div class="item" data-value="vimeo">Vimeo</div>
            <div class="item" data-value="flicker">Flicker</div>
            <div class="item" data-value="other">Other</div>
          </div>
        </UiDropdown>
      {{else}}
        <Input @type="text" @value={{this.linkName}} @disabled={{this.fixedName}} />
      {{/if}}
    </div>
  </div>
  <div class="six wide field">
    <div class="ui labeled {{if this.isChild 'action'}} input">      
        <div class="ui labeled input">
          <div class="ui label">
            {{#if this.isChild}}
              {{this.protocol}}
            {{else}}
              https://
            {{/if}}
          </div>
        <Input @type="text" @value={{this.address}} @name={{name}} @id={{this.inputId}} />
        </div>
      {{#if this.isChild}}
        <div class="ui icon buttons">
          {{#if this.canRemoveItem}}
            <button type="button" class="ui sharp button red" {{action this.removeItem}}><i class="minus icon"></i></button>
          {{/if}}
          {{#if this.canAddItem}}
            <button type="button" class="ui button teal" {{action this.addItem}}><i class="plus icon"></i></button>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
{{else}}
  {{#if this.isSocialLink}}
    <div class="ui labeled input">
      <div class="ui label">
        {{this.protocol}}
      </div>
      <Input @type="text" @value={{this.address}} @name={{name}} @id={{this.inputId}} />
    </div>
  {{else}}
    <UiDropdown @class="label" @selected={{this.protocol}} @onChange={{action (mut this.protocol)}}>
      <div class="text">https://</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item" data-value="http">http://</div>
        <div class="item" data-value="https">https://</div>
      </div>
    </UiDropdown>
    <Input @type="text" @value={{this.address}} @name={{name}} @id={{this.inputId}} />
  {{/if}}  
{{/if}}
