{{#if this.hasLinkName}}
  <div class="three wide field">
    <Input @type="text" @value={{this.linkName}} @disabled={{this.fixedName}} />
  </div>
  <div class="six wide field">
    <div class="ui labeled {{if this.isChild 'action'}} input">
      <UiDropdown @class="label" @selected={{this.protocol}} @onChange={{action (mut this.protocol)}}>
        <div class="text">https://</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="http">http://</div>
          <div class="item" data-value="https">https://</div>
          <div class="item" data-value="https://twitter.com/"> https://twitter.com/</div>
          <div class="item" data-value="https://github.com/">https://github.com/</div>
          <div class="item" data-value="https://www.linkedin.com/">https://www.linkedin.com/</div>
          <div class="item" data-value="https://instagram.com/">https://instagram.com/</div>
          <div class="item" data-value="https://facebook.com/">https://facebook.com/</div>
          <div class="item" data-value="https://youtube.com/">https://youtube.com/</div>
        </div>
      </UiDropdown>
      <Input @type="text" @value={{this.address}} @name={{name}} @id={{this.inputId}} />
      {{#if this.isChild}}
        <div class="ui icon buttons">
          {{#if this.canRemoveItem}}
            <button type="button" class="ui sharp button red" {{action this.removeItem}}><i class="minus icon"></i></button>
          {{/if}}
          {{#if this.canAddItem}}
            <button type="button" class="ui button teal" {{action this.addItem}}><i class="plus icon"></i></button>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
{{else if (eq this.inputId 'speaker_twitter')}}
  <UiDropdown @class="label" @selected={{'https://twitter.com/'}} @onChange={{action (mut this.protocol)}}>
    <div class="text">https://twitter.com/</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" data-value="https://twitter.com/">https://twitter.com/</div>
    </div>
  </UiDropdown>
  <Input @type="text" @value={{this.address}} @name={{name}} @id={{this.inputId}} />
{{else if (eq this.inputId 'speaker_github')}}
  <UiDropdown @class="label" @selected={{'https://github.com/'}} @onChange={{action (mut this.protocol)}}>
    <div class="text">https://github.com/</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" data-value="https://github.com/">https://github.com/</div>
    </div>
  </UiDropdown>
  <Input @type="text" @value={{this.address}} @name={{name}} @id={{this.inputId}} />
{{else if (eq this.inputId 'speaker_facebook')}}
  <UiDropdown @class="label" @selected={{'https://facebook.com/'}} @onChange={{action (mut this.protocol)}}>
    <div class="text">https://facebook.com/</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" data-value="https://facebook.com/">https://facebook.com/</div>
    </div>
  </UiDropdown>
  <Input @type="text" @value={{this.address}} @name={{name}} @id={{this.inputId}} />
{{else if (eq this.inputId 'speaker_instagram')}}
  <UiDropdown @class="label" @selected={{'https://instagram.com/'}} @onChange={{action (mut this.protocol)}}>
    <div class="text">https://instagram.com/</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" data-value="https://instagram.com/">https://instagram.com/</div>
    </div>
  </UiDropdown>
  <Input @type="text" @value={{this.address}} @name={{name}} @id={{this.inputId}} />
{{else if (eq this.inputId 'speaker_linkedin')}}
  <UiDropdown @class="label" @selected={{'https://linkedin.com/'}} @onChange={{action (mut this.protocol)}}>
    <div class="text">https://linkedin.com/</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" data-value="https://linkedin.com/">https://linkedin.com/</div>
    </div>
  </UiDropdown>
  <Input @type="text" @value={{this.address}} @name={{name}} @id={{this.inputId}} />
{{else if (eq this.inputId 'speaker_youtube')}}
  <UiDropdown @class="label" @selected={{'https://youtube.com/'}} @onChange={{action (mut this.protocol)}}>
    <div class="text">https://youtube.com/</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" data-value="https://youtube.com/">https://youtube.com/</div>
    </div>
  </UiDropdown>
  <Input @type="text" @value={{this.address}} @name={{name}} @id={{this.inputId}} />
{{else}}
  <UiDropdown @class="label" @selected={{this.protocol}} @onChange={{action (mut this.protocol)}}>
    <div class="text">https://</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" data-value="http">http://</div>
      <div class="item" data-value="https">https://</div>
    </div>
  </UiDropdown>
  <Input @type="text" @value={{this.address}} @name={{name}} @id={{this.inputId}} />
{{/if}}
