{{#if this.hasLinkName}}
  <div class="three wide field">
    <div class="ui labeled input">
      {{#if this.isSocialLink}}
        {{#if this.isCustomLink}}
          <Input @type="text" @value={{this.linkName}} @disabled={{this.fixedName}} />
        {{else}}
        <UiDropdown @class='selection' @selected={{this.linkName}} @onChange={{action (mut this.linkName)}}>
          <div class="default text">
            {{#if this.linkName}}
              {{this.linkName}}
            {{else}}
              Select
            {{/if}}
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value='website' >Website</div>
            <div class="item" data-value="twitter">Twitter</div>
            <div class="item" data-value="facebook">Facebook</div>
            <div class="item" data-value="linkedin">Linkedin</div>
            <div class="item" data-value="instagram">Instagram</div>
            <div class="item" data-value="github">Github</div>
            <div class="item" data-value="gitlab">Gitlab</div>
            <div class="item" data-value="groups.google">Google Groups</div>
            <div class="item" data-value="blog">Blog</div>
            <div class="item" data-value="vimeo">Vimeo</div>
            <div class="item" data-value="flicker">Flicker</div>
          </div>
        </UiDropdown>
        {{/if}}
      {{else}}
        <Input @type="text" @value={{this.linkName}} @disabled={{this.fixedName}} />
      {{/if}}
    </div>
  </div>
  <div class="six wide field">
    <div class="ui labeled {{if this.isChild 'action'}} input">      
        <div class="ui labeled input">
          <div class="ui label">
            {{#if this.isChild}}
              {{this.protocol}}
            {{else}}
              https://
            {{/if}}
          </div>
        <Input @type="text" @value={{this.address}} @name={{name}} @id={{this.inputId}} />
        </div>
      {{#if this.isChild}}
        <div class="ui icon buttons">
          {{#if this.canRemoveItem}}
            <UiPopup @content={{t "Remove"}} @class="ui icon red button" @click={{action this.removeItem}} @position="top center">
              <i class="minus icon"></i>
            </UiPopup>
          {{/if}}
          {{#if this.canAddItem}}
            <UiPopup @content={{t "Add custom link"}} @class="ui icon teal button" @click={{action this.addCustomLink}} @position="top center">
              <i class="plus icon"></i>
            </UiPopup>
            <UiPopup @content={{t "Add social link"}} @class="ui icon blue button" @click={{action this.addItem}} @position="top center">
              <i class="plus icon"></i>
            </UiPopup>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
{{else}}
  {{#if this.isSocialLink}}
    <div class="ui labeled input">
      <div class="ui label">
        {{this.protocol}}
      </div>
      <Input @type="text" @value={{this.address}} @name={{name}} @id={{this.inputId}} />
    </div>
  {{else}}
    <UiDropdown @class="label" @selected={{this.protocol}} @onChange={{action (mut this.protocol)}}>
      <div class="text">https://</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item" data-value="http">http://</div>
        <div class="item" data-value="https">https://</div>
      </div>
    </UiDropdown>
    <Input @type="text" @value={{this.address}} @name={{name}} @id={{this.inputId}} />
  {{/if}}  
{{/if}}
