{{#if hasLinkName}}
  <div class="three wide field">
    <Input @type="text" @value={{linkName}} @disabled={{fixedName}} />
  </div>
  <div class="six wide field">
    <div class="ui labeled {{if isChild 'action'}} input">
      <UiDropdown @class="label" @selected={{protocol}} @onChange={{action (mut protocol)}}>
        <div class="text">https://</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="http">http://</div>
          <div class="item" data-value="https">https://</div>
        </div>
      </UiDropdown>
      <Input @type="text" @value={{address}} @name={{name}} @id={{inputId}} />
      {{#if isChild}}
        <div class="ui icon buttons">
          {{#if canRemoveItem}}
            <button type="button" class="ui sharp button red" {{action removeItem}}><i class="minus icon"></i></button>
          {{/if}}
          {{#if canAddItem}}
            <button type="button" class="ui button teal" {{action addItem}}><i class="plus icon"></i></button>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
{{else}}
  <UiDropdown @class="label" @selected={{protocol}} @onChange={{action (mut protocol)}}>
    <div class="text">https://</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" data-value="http">http://</div>
      <div class="item" data-value="https">https://</div>
    </div>
  </UiDropdown>
  <Input @type="text" @value={{address}} @name={{name}} @id={{inputId}} />
{{/if}}
