{{#if addressViewIsShown}}
  <div class="ui two column grid stackable">
    <div class="column">
      <div class="field">
        {{input type='text' name='address_vaue' value=address.venue placeholder=(t 'Venue Name')}}
      </div>
      <div class="field">
        {{input type='text' name='address_line' value=address.line placeholder=(t 'Street Address')}}
      </div>
      <div class="field">
        {{input type='text' name='address_city' value=address.city placeholder=(t 'City')}}
      </div>
      <div class="field">
        {{input type='text' name='address_state' value=address.state placeholder=(t 'State')}}
      </div>
      <div class="field">
        {{input type='text' name='address_zip_code' value=address.zipCode placeholder=(t 'Zip Code')}}
      </div>
      <div class="field">
        {{#ui-dropdown class='search selection' selected=address.country forceSelection=false
                         fullTextSearch=true}}
          {{input type='hidden' name='address_country' value=address.country}}
          <i class="dropdown icon"></i>
          <div class="default text">{{t 'Select country'}}</div>
          <div class="menu">
            {{#each countries as |country|}}
              <div class="item" data-value="{{country.name}}">
                <i class="{{lowercase country.code}} flag"></i>
                {{country.name}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      </div>
      <div class="ui two column grid">
        <div class="left floated column">
          <a href="#" {{action 'showAddressView' false}}>{{t 'Reset Map'}}</a>
        </div>
        <div class="right floated column" style="text-align: right">
          {{yield}}
        </div>
      </div>
    </div>
    <div class="column">
      {{#g-map lat=lat lng=lng zoom=zoom class='google-maps' address=combinedAddress as |context|}}
        {{g-map-address-marker context address=combinedAddress onLocationChange=(action 'onLocationChangeHandler')}}
      {{/g-map}}
    </div>
  </div>
{{else}}
  <div class="ui action input">
    {{widgets/forms/places-autocomplete
      id=inputId
      name=name
      value=placeName
      placeChangedCallback=(action 'placeChanged')
      type='text'
      placeholder=placeholder}}
    <button class="ui left {{unless device.isMobile 'labeled'}} icon button" type="button" {{action 'showAddressView'}}>
      <i class="marker icon"></i>
      {{unless device.isMobile (t 'Enter address')}}
    </button>
  </div>
{{/if}}
