<div class="{{@class}}" ...attributes>
  {{#if @label}}
    <label>{{@label}}</label>
  {{/if}}
  {{#each this.options as |op|}}
    <div class="menu">
    <UiCheckbox
      @label={{op.label}}
      @value={{op.value}}
      @name={{this.name}}
      @type={{this.type}}
      @onChange={{action 'childOnChange'}}
      @checked={{op.checked}}
    ></UiCheckbox>
    </div>
  {{/each}}
</div>
      