<div class="ui tiny header">
  <LinkTo @route="orders.view" @model={{record.identifier}}>{{record.identifier}}</LinkTo>
  <span class="weight-400">
    {{t 'by'}}
    {{this.extraRecords.user.email}}
  </span>
  <div class="ui basic mini {{order-color record.status}} label attendees-margin">
    {{record.status}}
  </div>
  <div class="sub header">
    {{#if record.paidVia}}
      <span class="weight-800">
        {{t 'Payment via'}} {{record.paidVia}}
      </span>
    {{/if}}
    {{#if (eq record.status 'completed')}}
      {{moment-format record.completedAt 'MMMM Do YYYY, h:mm A -'}}
      {{moment-from-now record.completedAt}}
    {{else}}
      {{moment-format record.createdAt 'MMMM Do YYYY, h:mm A -'}}
      {{moment-from-now record.createdAt}}
    {{/if}}
  </div>
</div>
