<div class="ui tiny header">
  {{#link-to 'orders.view' record.order.identifier}}{{record.order.identifier}}{{/link-to}}
  <span class="weight-400">
    {{t 'by'}}
    {{record.user.email}}
  </span>
  <div class="ui basic mini {{if (eq record.order.status 'completed') 'green'
                                 (if (or (eq record.order.status 'placed')
                                 (eq record.order.status 'pending')) 'yellow' 'red')}}
                                  label attendees-margin">
    {{record.order.status}}
  </div>
  <div class="sub header">
    {{#if record.order.paymentMode}}
      <span class="weight-800">
        {{t 'Payment via'}} {{record.order.paymentMode}}
      </span>
    {{/if}}
    {{moment-format record.order.createdAt 'MMMM Do YYYY, h:mm A -'}}
    {{moment-from-now record.order.createdAt}}
  </div>
</div>