{{#if (eq record.order.status 'completed')}}
  {{#if record.isCheckedIn}}
    <a role="button" class="ui red label" {{action toggleCheckIn record}}><i class="remove icon"></i>{{t 'Cancel'}}</a>
  {{else}}
    <a role="button" class="ui green label" {{action toggleCheckIn record}}><i class="checkmark icon"></i>{{t 'Check In'}}</a>
  {{/if}}
{{/if}}
