<div class="ui buttons">
  <LinkTo @route="public.sessions.list" @models={{array this.model.event.id 'all'}} class="ui button">{{t 'All'}}</LinkTo>
  <LinkTo @route="public.sessions.list" @models={{array this.model.event.id 'today'}} class="ui button">{{t 'Today'}}</LinkTo>
  <LinkTo @route="public.sessions.list" @models={{array this.model.event.id 'week'}} class="ui button">{{t 'Week'}}</LinkTo>
  <LinkTo @route="public.sessions.list" @models={{array this.model.event.id 'month'}} class="ui button">{{t 'Month'}}</LinkTo>
</div>
<div class="ui raised very padded text container segment">
  {{#each this.model.session as |session|}}
    <Public::SessionItem @session={{session}} />
  {{else}}
    <div class="ui disabled header">{{t 'No Sessions exist for this time period'}}</div>
  {{/each}}
  <InfinityLoader @infinityModel={{this.model.session}} @triggerOffset={{300}} @eventDebounce={{50}}>
    <div class="center aligned five wide column">
      <div class="ui loading very padded basic segment">
      </div>
    </div>
  </InfinityLoader>
</div>