<LinkTo @route="public.sessions.list" @models={{array this.model.event.id 'all'}} class="ui button">{{t 'All'}}</LinkTo>
{{#each this.allDates as |date|}}
  <LinkTo @route="public.sessions.list" @models={{array this.model.event.id date}} class="ui button">{{moment-format date 'ddd, MMM Do'}}</LinkTo>
{{/each}}

<br><br>
{{#if (not this.isTrackVisible)}}
    {{#each this.model.session as |session|}}
        <div class="ui grid">
          <div class="three wide column">
            {{general-date session.startsAt session.event.timezone 'hh:mm a'}} - 
            {{general-date session.endsAt session.event.timezone 'hh:mm a'}}
          </div>
          <div class="thirteen wide column">
          <Public::TrackItem @session={{session}} />
          </div>
        </div>
    {{else}}
      <div class="ui disabled header">{{t 'No Sessions exist for this time period'}}</div>
    {{/each}}
    <InfinityLoader @infinityModel={{this.model.session}} @triggerOffset={{300}} @eventDebounce={{50}}>
      <div class="center aligned five wide column">
        <div class="ui loading very padded basic segment">
        </div>
      </div>
    </InfinityLoader>
{{/if}}
<br/>

<br>

<div class="ui raised very padded segment">
  {{#each this.model.session as |session|}}
    <Public::SessionItem @session={{session}} />
  {{else}}
    <div class="ui disabled header">{{t 'No Sessions exist for this time period'}}</div>
  {{/each}}
  <InfinityLoader @infinityModel={{this.model.session}} @triggerOffset={{300}} @eventDebounce={{50}}>
    <div class="center aligned five wide column">
      <div class="ui loading very padded basic segment">
      </div>
    </div>
  </InfinityLoader>
</div>