<div class="ui top attached toggle button active" role="button" {{action 'toggleTrack'}}> {{if (not this.isTrackVisible) 'Show' 'Hide'}} Track </div>
{{#if this.isTrackVisible}}
  <div class="ui raised very padded segment">
    {{#each this.model.session as |session|}}
      <Public::TrackItem @session={{session}} />
    {{else}}
      <div class="ui disabled header">{{t 'No Sessions exist for this time period'}}</div>
    {{/each}}
    <InfinityLoader @infinityModel={{this.model.session}} @triggerOffset={{300}} @eventDebounce={{50}}>
      <div class="center aligned five wide column">
        <div class="ui loading very padded basic segment">
        </div>
      </div>
    </InfinityLoader>
  </div>
{{/if}}
<br/>


<div class="ui buttons">
  <LinkTo @route="public.sessions.list" @models={{array this.model.event.id 'all'}} class="ui button">{{t 'All'}}</LinkTo>
  {{#each this.allDates as |date|}}
    <LinkTo @route="public.sessions.list" @models={{array this.model.event.id date}} class="ui button">{{moment-format date 'ddd, MMM Do'}}</LinkTo>
  {{/each}}
</div>


<br>

<div class="ui raised very padded segment">
  {{#each this.model.session as |session|}}
    <Public::SessionItem @session={{session}} />
  {{else}}
    <div class="ui disabled header">{{t 'No Sessions exist for this time period'}}</div>
  {{/each}}
  <InfinityLoader @infinityModel={{this.model.session}} @triggerOffset={{300}} @eventDebounce={{50}}>
    <div class="center aligned five wide column">
      <div class="ui loading very padded basic segment">
      </div>
    </div>
  </InfinityLoader>
</div>