<table class="ui selectable celled table">
  <thead>
    <tr>
      {{#if this.device.isMobile}}
        <th class="center aligned">
          {{t 'Options'}}
        </th>
      {{else}}
        <th class="right aligned">
          {{t 'Option'}}
        </th>
        <th class="center aligned">
          {{t 'Type'}}
        </th>
        <th class="center aligned">
          {{t 'Include'}}
        </th>
        <th class="center aligned">
          {{t 'Require'}}
        </th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#each @fields as |field|}}
      <tr class="{{if field.isIncluded 'positive'}}">
        <td class="{{if this.device.isMobile 'center' 'right'}} aligned">
          <label class="{{if field.isFixed 'required'}}">
            {{field.name}}
          </label>
        </td>
        <td class="center aligned">
          {{field.type}}
        </td>
        <td class="center aligned">
          <UiCheckbox
            @class="slider"
            @checked={{field.isIncluded}}
            @disabled={{field.isFixed}}
            @onChange={{action (mut field.isIncluded)}}
            @label={{if this.device.isMobile (t "Include")}} />
        </td>
        <td class="center aligned">
          <UiCheckbox
            @class="slider"
            @checked={{field.isRequired}}
            @disabled={{field.isFixed}}
            @onChange={{action (mut field.isRequired)}}
            @label={{if this.device.isMobile (t "Require")}} />
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
