<div class="sixteen column wide">
  <table class="ui very basic compact table">
    <thead>
      <tr>
        <th>
          #
        </th>
        <th>
          {{t 'Order'}}
        </th>
        <th>
          {{t 'Ticket Name'}}
        </th>
        <th class="right aligned">
          {{t 'Ticket Price'}}
        </th>
        <th>
          {{t 'First Name'}}
        </th>
        <th>
          {{t 'Last Name'}}
        </th>
        <th>
          {{t 'Email'}}
        </th>
        <th>
          {{t 'Action'}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |attendees index|}}
        <tr>
          <td>
            {{inc index}}
          </td>
          <td>
            <div class="ui tiny header">
              {{attendees.invoiceNumber}}
              <span class="weight-400">
                {{t 'by'}} {{attendees.buyerName}}
              </span>
              <div class="ui basic mini green label">
                {{attendees.status}}
              </div>
              <div class="sub header">
                <span class="weight-800">
                  {{t 'Payment via'}} {{attendees.paidVia}}
                </span>
                {{moment-from-now attendees.completedAt}}
              </div>
            </div>
          </td>
          <td>
            {{attendees.ticketName}}
          </td>
          <td class="right aligned">
            US$ {{number-format attendees.amount}}
          </td>
          <td>
            {{attendees.firstName}}
          </td>
          <td>
            {{attendees.lastName}}
          </td>
          <td>
            {{attendees.buyerName}}
          </td>
          <td class="centre aligned">
            <a class="ui green label"><i class="checkmark icon"></i>{{t 'Check In'}}</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
