<h1 class="ui header">{{t 'Notifications'}}</h1>
<div class="ui divider"></div>
<div class="row">
  {{#link-to 'notifications.all' 'unread'}}
    <button class="ui button">{{t 'Unread'}}</button>
  {{/link-to}}
  {{#link-to 'notifications.all' 'all'}}
    <button class="ui button">{{t 'All'}}</button>
  {{/link-to}}
  {{#if showMarkAllRead}}
    <button class="ui button right floated" {{action 'markAllAsRead' model.notifications}}>{{t 'Mark all as read'}}</button>
  {{/if}}
</div>
{{#each model.notifications as |notification|}}
  <div class="ui segment {{unless notification.isRead 'blue'}}">
    <div class="ui grid">
      <div class="row">
        <div class="eight wide column">
          <h4 class="ui header">{{notification.title}}</h4>
          <p>{{sanitize notification.message}}</p>
        </div>
        <div class="eight wide column right aligned">
          {{#if notification.isRead}}
            <i class="checkmark box icon"></i>
          {{else}}
            <button class="tiny ui button" {{action 'markAsRead' notification}}>
              {{t 'Mark as read'}}
            </button>
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="ten wide column">
          {{#each notification.notificationActions as |action|}}
            {{#if action.buttonRoute}}
              {{#link-to action.buttonRoute action.subjectId tagName='button' class='ui blue button'}}
                {{t action.buttonTitle}}
              {{/link-to}}
            {{else}}
              <a href={{action.link}} class="ui blue button">
                {{t action.buttonTitle}}
              </a>
            {{/if}}
          {{/each}}
        </div>
        <div class="six wide column right aligned">
          <p>{{moment-from-now notification.receivedAt}}</p>
        </div>
      </div>
    </div>
  </div>
{{else}}
  {{#if model.unread}}
    <div class="ui disabled header">{{t 'No Unread Notifications'}}</div>
  {{else}}
    <div class="ui disabled header">{{t 'No Notifications'}}</div>
  {{/if}}
{{/each}}
