{{#each model.notifications as |notification|}}
  <div class="ui segment {{unless notification.isRead 'blue'}}">
    <div class="ui grid">
      <div class="row">
        <div class="eight wide column">
          <h4 class="ui header">{{notification.title}}</h4>
          <p>{{sanitize notification.message}}</p>
        </div>
        <div class="eight wide column right aligned">
          {{#if notification.isRead}}
            <i class="checkmark box icon"></i>
          {{else}}
            <button class="tiny ui button" {{action 'markAsRead' notification}}>
              {{t 'Mark as read'}}
            </button>
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="ten wide column">
          {{#each notification.actions as |action|}}
            {{#if action.link}}
              {{#link-to action.link tagName='button' class='ui blue button'}}
                {{t action.buttonTitle}}
              {{/link-to}}
            {{else}}
              {{#link-to action.buttonRoute action.subjectId tagName='button' class='ui blue button'}}
                {{t action.buttonTitle}}
              {{/link-to}}
            {{/if}}
          {{/each}}
        </div>
        <div class="six wide column right aligned">
          <p>{{moment-from-now notification.receivedAt}}</p>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="ui disabled header">{{t 'No Unread Notifications'}}</div>
{{/each}}