<h4>{{t 'Connect with Facebook'}}</h4>
  {{!-- {{#if data.facebookId}}
    {{t 'Successfully linked with Facebook'}}
  {{else}}
    <button type="button" class="ui facebook button {{if isLoading 'loading'}}" {{action 'auth' 'facebook'}}>
      <i class="facebook icon inverted"></i>
      {{t 'Connect with Facebook'}}
    </button>
  {{/if}}
 --}}
