<h4>{{t 'Facebook'}}</h4>
<div class="ui fluid labeled action input">
  <div class="ui label">
    {{t 'facebook.com/'}}
  </div>
  {{input type='text' name='facebook' value=data.facebookUrl}}
  <button class="ui {{if device.isMobile 'icon'}} blue button" {{action 'saveUrl'}}>
    {{#if device.isMobile}}
      <i class="linkify icon"></i>
    {{else}}
      {{t 'Connect'}}
    {{/if}}
  </button>
</div>
<h4>{{t 'Twitter'}}</h4>
<div class="ui fluid labeled action input">
  <div class="ui label">
    {{t 'twitter.com/'}}
  </div>
  {{input type='text' name='twitter' value=data.twitterUrl}}
  <button class="ui {{if device.isMobile 'icon'}} blue button" {{action 'saveUrl'}}>
    {{#if device.isMobile}}
      <i class="linkify icon"></i>
    {{else}}
      {{t 'Connect'}}
    {{/if}}
  </button>
</div>
<h4>{{t 'Instagram'}}</h4>
<div class="ui fluid labeled action input">
  <div class="ui label">
    {{t 'instagram.com/'}}
  </div>
  {{input type='text' name='instagram' value=data.instagramUrl}}
  <button class="ui {{if device.isMobile 'icon'}} blue button" {{action 'saveUrl'}}>
    {{#if device.isMobile}}
      <i class="linkify icon"></i>
    {{else}}
      {{t 'Connect'}}
    {{/if}}
  </button>
</div>
<h4>{{t 'Google+'}}</h4>
<div class="ui fluid labeled action input">
  <div class="ui label">
    {{t 'plus.google.com/'}}
  </div>
  {{input type='text' name='google' value=data.googlePlusUrl}}
  <button class="ui {{if device.isMobile 'icon'}} blue button" {{action 'saveUrl'}}>
    {{#if device.isMobile}}
      <i class="linkify icon"></i>
    {{else}}
      {{t 'Connect'}}
    {{/if}}
  </button>
</div>
