<form class="ui form {{if isLoading 'loading'}}" {{action 'submit' on='submit'}} novalidate>
  <div class="field">
    <label class="required">{{t 'Email'}}</label>
    {{input type='email' name='email' value=data.email}}
  </div>
  <div class="ui labeled input">
    <label class="required">{{t 'Phone '}}</label>
    {{#ui-dropdown class='label' selected=protocol onChange=(action (mut protocol))}}
      <div class="text">IST Code</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item" data-value="ALB">ALB +355</div>
        <div class="item" data-value="ARG">ARG +54</div>
        <div class="item" data-value="AUS">AUS +64</div>
        <div class="item" data-value="AUT">AUT +43</div>
        <div class="item" data-value="BEL">BEL +32</div>
        <div class="item" data-value="BRA">BRA +55</div>
        <div class="item" data-value="CAN">CAN +1</div>
        <div class="item" data-value="CYP">CYP +357</div>
        <div class="item" data-value="CZE">CZE +420</div>
        <div class="item" data-value="DEN">DEN +45</div>
        <div class="item" data-value="EST">EST +372</div>
        <div class="item" data-value="FJI">FJI +679</div>
        <div class="item" data-value="FIN">FIN +358</div>
        <div class="item" data-value="FRA">FRA +33</div>
        <div class="item" data-value="GER">GER +49</div>
        <div class="item" data-value="GRC">GRC +30</div>
        <div class="item" data-value="HKG">HKG +852</div>
        <div class="item" data-value="HUN">HUN +36</div>
        <div class="item" data-value="IND">IND +91</div>
        <div class="item" data-value="IRL">IRL +353</div>
        <div class="item" data-value="ISR">ISR +972</div>
        <div class="item" data-value="ITA">ITA +39</div>
        <div class="item" data-value="JPN">JPN +81</div>
        <div class="item" data-value="LVA">LVA +371</div>
        <div class="item" data-value="LTU">LTU +370</div>
        <div class="item" data-value="LUX">LUX +352</div>
        <div class="item" data-value="MYS">MYS +60</div>
        <div class="item" data-value="MLT">MLT +356</div>
        <div class="item" data-value="MEX">MEX +52</div>
        <div class="item" data-value="NLD">NLD +31</div>
        <div class="item" data-value="NZL">NZL +64</div>
        <div class="item" data-value="NOR">NOR +47</div>
        <div class="item" data-value="PHL">PHL +63</div>
        <div class="item" data-value="POL">POL +48</div>
        <div class="item" data-value="PRT">PRT +351</div>
        <div class="item" data-value="SGP">SGP +65</div>
        <div class="item" data-value="SVK">SVK +421</div>
        <div class="item" data-value="SVN">SVN +326</div>
        <div class="item" data-value="ESP">ESP +34</div>
        <div class="item" data-value="SWE">SWE +46</div>
        <div class="item" data-value="CHE">CHE +41</div>
        <div class="item" data-value="TWN">TWN +886</div>
        <div class="item" data-value="GBR">GBR +44</div>
        <div class="item" data-value="USA">USA +1</div>
      </div>
    {{/ui-dropdown}}
    {{input type='text' name='phone' value=data.contact}}
  </div>
  <div class="field">
    <button class="ui teal button" type="submit">{{t 'Save'}}</button>
  </div>
</form>
