<form class="ui form" autocomplete="off" {{action 'submit' on='submit'}}>
  <div class="field">
    <label>
      {{t 'Current Password'}}
    </label>
    {{input type='password' name='password_current' placeholder=(t 'Current Password')}}
  </div>
  <div class="field">
    <label>
      {{t 'New Password'}}
    </label>
    {{input type='password' name='password_new' placeholder=(t 'New Password')}}
  </div>
  <div class="field">
    <label>
      {{t 'Repeat Password'}}
    </label>
    {{input type='password' name='password_repeat' placeholder=(t 'Repeat Password')}}
  </div>
  <button class="ui blue button" type="submit">
    {{t 'Save'}}
  </button>
</form>
