<form class="ui form {{if isLoading 'loading'}}" autocomplete="off" {{action 'submit' on='submit'}}>
  <div class="field">
    <label>
      {{t 'Current Password'}}
    </label>
    {{input type='password' name='password_current' placeholder=(t 'Current Password') value=passwordCurrent}}
  </div>
  <div class="field">
    <label>
      {{t 'New Password'}}
    </label>
    {{input type='password' name='password_new' placeholder=(t 'New Password') value=passwordNew}}
  </div>
  <div class="field">
    <label>
      {{t 'Repeat Password'}}
    </label>
    {{input type='password' name='password_repeat' placeholder=(t 'Repeat Password') value=passwordRepeat}}
  </div>
  <button class="ui teal button" type="submit">
    {{t 'Save'}}
  </button>
</form>
