<div class="ui basic {{if isLoading 'loading'}} segment">
  <div class="ui one column container stackable doubling left grid">
    <div class="row">
      <div class="column">
        <h2>{{model.order.event.name}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="ui small gray-text">
          {{header-date model.order.event.startsAt}} - {{header-date model.order.event.endsAt}}
          <br>
          {{model.order.event.locationName}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="nine wide column">
        {{orders/order-summary data=model.order
                               event=model.event
                               eventCurrency=model.order.event.paymentCurrency}}
      </div>
      <div class="mobile hidden seven wide column">
        {{orders/event-info data=model.order}}
      </div>
    </div>
    <div class="row">
      <div class="nine wide right aligned column">
        {{#if isStripe}}
          {{#stripe-checkout
              image="https://stripe.com/img/documentation/checkout/marketplace.png"
              currency=model.order.event.paymentCurrency
              locale='auto'
              name="Open Event"
              class="ui right labeled icon blue button"
              description=paymentDescription
              amount=paymentAmount
              key=model.order.event.stripeAuthorization.stripePublishableKey
              onToken=(action "processStripeToken")
              onClosed=(action "checkoutClosed")
              onOpened=(action "checkoutOpened")
            }}
            {{t 'Pay Now'}}
            <i class="credit card icon"></i>
          {{/stripe-checkout}}
        {{/if}}
        {{#if isPaypal}}
          <div class='paypal-button'>
            {{paypal-button data=model.order paymentFor='order'}}
          </div>
        {{/if}}
        {{#if isOmise}}
          <div>
            <form class="checkout-form" name="checkoutForm" method='POST' action={{omiseFormAction}}>
              <script type="text/javascript" src="https://cdn.omise.co/omise.js"
                      data-key="{{publicKeyOmise}}"
                      data-amount="{{paymentAmount}}"
                      data-currency="{{model.order.event.paymentCurrency}}"
                      data-default-payment-method="credit_card">
              </script>
            </form>
          </div>
        {{/if}}
        {{#if isAliPay}}
          <button class="ui button primary" {{action "alipayCheckout" model.order.identifier}}>{{t 'Pay with AliPay'}}</button>          
        {{/if}}
      </div>
    </div>

    <div class="row">
      <div class="nine wide column">
        {{forms/orders/attendee-list save='save' data=model.order fields=model.form}}
      </div>
      <div class="seven wide column">
        {{orders/ticket-holder data=model.order}}
      </div>
    </div>
  </div>
</div>
