<div class="ui one column container stackable doubling left grid">
  <div class="row">
    <div class="column">
      <h2>{{model.event.name}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="ui small gray-text">
        {{header-date model.event.startsAt}} - {{header-date model.event.endsAt}}
        <br>
        {{model.event.locationName}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="ten wide column">
      {{orders/order-summary data=model}}
    </div>
    <div class="mobile hidden six wide column">
      {{orders/event-info data=model}}
    </div>
  </div>
  <div class="row">
    <div class="ten wide column">
      {{forms/orders/attendee-list save='save' data=model}}
    </div>
    <div class="six wide column">
      {{#if model.event.organizerName}}
        <div class="mobile hidden row">
          {{orders/organizer-info data=model}}
        </div>
      {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="ten wide column">
      {{#if isStripe}}
        {{stripe-checkout
          image="https://stripe.com/img/documentation/checkout/marketplace.png"
          locale='auto'
          name="Open Event"
          description=paymentDescription
          amount=paymentAmount
          key=model.event.stripeAuthorization.stripePublishableKey
          onToken=(action "processStripeToken")
          onClosed=(action "checkoutClosed")
          onOpened=(action "checkoutOpened")
        }}
      {{/if}}
    </div>
  </div>
</div>
