<form class="ui form" {{action 'submit' on='submit'}}>
  <div class="field">
    <label>{{t 'Support'}}</label>
    {{input type='url' name='support'}}
  </div>
  <div class="field">
    <label>{{t 'Twitter'}}</label>
    {{input type='url' name='twitter'}}
  </div>
  <div class="field">
    <label>{{t 'Facebook'}}</label>
    {{input type='url' name='facebook'}}
  </div>
  <div class="field">
    <label>{{t 'Google +'}}</label>
    {{input type='url' name='google_plus'}}
  </div>
  <div class="field">
    <label>{{t 'Youtube'}}</label>
    {{input type='url' name='youtube'}}
  </div>
  <div class="field">
    <label>{{t 'Github'}}</label>
    {{input type='url' name='github'}}
  </div>
  <button class="ui teal button" type="submit">{{t 'Save'}}</button>
</form>
