<h3 class="ui header">
  <div class="content">
    {{t 'Access event information via REST API'}}
  </div>
</h3>
<div class="ui hidden divider">
</div>
<div class="ui form">
  <div class="field">
    {{ui-checkbox class='toggle disabled' label=(t 'Basic Event Details') checked=true onChange=(action 'checkboxChange' 'basicEventDetails')}}
  </div>
  <div class="field">
    {{ui-checkbox class='toggle' label=(t 'Sessions') checked=toggleSwitches.sessions onChange=(action 'checkboxChange' 'sessions')}}
  </div>
  <div class="field">
    {{ui-checkbox class='toggle' label=(t 'Microlocations') checked=toggleSwitches.microlocations onChange=(action 'checkboxChange' 'microlocations')}}
  </div>
  <div class="field">
    {{ui-checkbox class='toggle' label=(t 'Tracks') checked=toggleSwitches.tracks onChange=(action 'checkboxChange' 'tracks')}}
  </div>
  <div class="field">
    {{ui-checkbox class='toggle' label=(t 'Speakers') checked=toggleSwitches.speakers onChange=(action 'checkboxChange' 'speakers')}}
  </div>
  <div class="field">
    {{ui-checkbox class='toggle' label=(t 'Sponsors') checked=toggleSwitches.sponsors onChange=(action 'checkboxChange' 'sponsors')}}
  </div>
  <div class="field">
    {{ui-checkbox class='toggle' label=(t 'Tickets') checked=toggleSwitches.tickets onChange=(action 'checkboxChange' 'tickets')}}
  </div>
</div>
<div class="ui secondary header">
  {{t 'You can make a GET request to the following endpoint to access the selected information'}}
</div>
<div class="ui action input fluid">
  <input type="text" value="{{displayUrl}}" placeholder="{{displayUrl}}" readonly>
  {{#copy-button
    class='ui black right labeled icon copy button'
    clipboardText=displayUrl
    success=(action (mut isLinkSuccess))
    }}
    <i class="copy icon"></i>
    {{t 'Copy'}}
  {{/copy-button}}
</div>
{{#if this.isLinkSuccess}}
  <div><span style="float:right;color:green;">Link copied to clipboard</span></div>
{{/if}}
<div class="ui secondary header">
  {{t 'Response'}}
</div>
<div class="ui {{if isLoading 'loading'}} secondary segment response">
  <pre class="api-response">{{json}}</pre>
</div>
