<h3 class="ui header">
  <div class="content">
    {{t 'Access event information via REST API'}}
  </div>
</h3>
<div class="ui hidden divider">
</div>
<div class="ui form">
  <div class="field">
    <UiCheckbox @class="toggle disabled" @label={{t "Basic Event Details"}} @checked={{true}} @onChange={{action "checkboxChange" "basicEventDetails"}} />
  </div>
  <div class="field">
    <LegacyCheckbox @checked={{this.toggleSwitches.sessions}} @label={{t "Sessions"}} @onChange={{action "checkboxChange" "sessions"}}/>
  </div>
  <div class="field">
    <LegacyCheckbox @checked={{this.toggleSwitches.microlocations}} @label={{t "Microlocations"}} @onChange={{action "checkboxChange" "microlocations"}}/>
  </div>
  <div class="field">
    <LegacyCheckbox @checked={{this.toggleSwitches.tracks}} @label={{t "Tracks"}} @onChange={{action "checkboxChange" "tracks"}}/>
  </div>
  <div class="field">
    <LegacyCheckbox @checked={{this.toggleSwitches.speakers}} @label={{t "Speakers"}} @onChange={{action "checkboxChange" "speakers"}}/>
  </div>
  <div class="field">
    <LegacyCheckbox @checked={{this.toggleSwitches.sponsors}} @label={{t "Sponsors"}} @onChange={{action "checkboxChange" "sponsors"}}/>
  </div>
  <div class="field">
    <LegacyCheckbox @checked={{this.toggleSwitches.tickets}} @label={{t "Tickets"}} @onChange={{action "checkboxChange" "tickets"}}/>
  </div>
</div>
<div class="ui secondary header">
  {{t 'You can make a GET request to the following endpoint to access the selected information'}}
</div>
<UiPopup @on="click" @content={{t "Link copied to clipboard"}} @position="bottom right">
  <div class="ui secondary segment url text aligned center">
    <CopyButton @clipboardText={{this.displayUrl}} @tagName={{null}} class="x-scrollable ui basic segments">
      <pre>{{this.displayUrl}}</pre>
    </CopyButton>
  </div>
</UiPopup>
<div class="ui secondary header">
  {{t 'Response'}}
</div>
<div class="ui {{if this.isLoading 'loading'}} secondary segment response x-scrollable y-scrollable">
  <pre class="api-response">{{this.json}}</pre>
</div>
