<h3 class="ui header">
  <div class="content">
    {{t 'Download Event as'}} {{this.downloadType}}
  </div>
  <div class="sub header">
    {{t 'Once the event is live and the schedule is published,'}} {{this.downloadType}} {{t
    ' version of the schedule will be available at:'}}
  </div>
</h3>
<div class="ui secondary segment url">
  <pre>{{this.displayUrl}}</pre>
</div>
<a class="ui link" href="#" onclick={{action 'startExportTask'}}> {{t 'Alternatively, you can download the'}} {{this.downloadType}} {{t ' here'}}</a>
<div class="ui basic segment no left padding">
  <a href="{{this.eventDownloadUrl}}" class="ui blue button {{if this.isDownloadDisabled 'disabled' ''}} {{if this.isLoading 'loading'}}">
    {{t 'Download '}}{{this.downloadType}}
  </a>
</div>