<form class="ui form">
  <div class="ui segments">
    <div class="ui aligned secondary segment">
      <h3 class="weight-400">{{t 'Attendee Information'}}</h3>
    </div>
    <div class="ui padded segment">
      <h4 class="ui horizontal divider header">
        <i class="ticket icon"></i>
        {{t 'Ticket Holder\'s Information'}}
      </h4>
      {{#each this.holders as |holder|}}
        <div class="field">
          <div class="inline field">
            <i class="user icon"></i>
            <label>{{t 'Ticket Holder '}}{{t ' -for- '}}{{holder.ticket.name}}</label>
            {{#if (eq this.data.status 'completed')}}
             <button class="ui right floated button {{if this.device.isMobile 'fluid'}} button"
                {{action this.downloadTicketForAttendee @event.name holder.order.id holder.id }}>
                <i class="ticket icon"></i>
                {{t 'Download Ticket'}}
            </button>
            {{/if}}
          </div>
         
          {{# each this.allFields.attendee as |field|}}
            {{#if field.isIncluded}}
              {{#if (or field.isFixed this.event.isTicketFormEnabled)}}
                <div class="field">
                    <h4 class="weight-300">
                      {{t-var field.name}}
                    </h4>
                    {{#if (is-input-field field.type) }}
                      <span class="word-break">{{get holder field.fieldIdentifier}}</span>
                    {{else if (eq field.type 'select')}}
                      <span class="word-break">{{get holder field.fieldIdentifier}}</span>
                    {{else if (eq field.type 'checkbox')}}
                      <span class="word-break">
                        {{#if (get holder field.fieldIdentifier)}}
                          {{t 'Yes'}}
                        {{else}}
                          {{t 'No'}}
                        {{/if}}
                      </span>
                    {{else}}
                      <span class="word-break">{{sanitize (get holder field.fieldIdentifier)}}</span>
                    {{/if}}
                    {{#if field.isComplex}}
                      <span class="word-break">{{get holder.complexFieldValues field.fieldIdentifier}}</span>
                    {{/if}}
                </div>
              {{/if}}
            {{/if}}
          {{/each}}
          <div class="ui divider"></div>
        </div>
      {{/each}}
      {{#if this.showBillingInfo}}
        <div class="print">
          <h4 class="ui horizontal divider header">
            <i class='address card icon'></i>
            {{t 'Billing Information'}}
          </h4>
          <div class="ui two column divided relaxed stackable grid ">
            <div class="row">
              <div class="column">
                <h4 class="weight-300">
                  {{t 'Organisation'}}
                </h4>
                <p>{{this.data.company}}</p>
                <h4 class="weight-300">
                  {{t 'Tax ID or Business ID'}}
                </h4>
                <p> {{this.data.taxBusinessInfo}}</p>
              </div>

              <div class="column">
                <h4 class="weight-300">
                  {{t 'Address'}}
                </h4>
                <div class="ui list">
                  <div class="item word-break">
                    {{this.data.address}}
                  </div>
                  <div class="item">
                    {{this.data.city}}
                  </div>
                  <div class="item">
                    {{this.data.state}}
                  </div>
                  <div class="item">
                    {{this.data.country}}
                  </div>
                  <div class="item">
                    {{this.data.zipcode}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</form>
