<form class="ui form">
  <div class="ui segments">
    <div class="ui aligned secondary segment">
      <h3 class="weight-400">{{t 'Attendee Information'}}</h3>
    </div>
    <div class="ui padded segment">
      <h4 class="ui horizontal divider header">
        <i class="ticket icon"></i>
        {{t 'Ticket Holder\'s Information'}}
      </h4>
      {{#each holders as |holder|}}
        <div class="field">
          <div class="inline field">
            <i class="user icon"></i>
            <label>{{t 'Ticket Holder '}}{{t ' -for- '}}{{holder.ticket.name}}</label>
          </div>
          {{# each allFields.attendee as |field|}}
            {{#if field.isIncluded}}
              <div class="field">
                <h4 class="weight-300">
                  {{field.name}}
                </h4>
                {{#if (is-input-field field.type) }}
                  <span>{{get holder field.fieldIdentifier}}</span>
                {{/if}}
              </div>
            {{/if}}
          {{/each}}
          <div class="ui divider"></div>
        </div>
      {{/each}}
      
      
      <h4 class="ui horizontal divider header">
        <i class='ticket icon'></i>
        {{t 'Billing Information'}}
      </h4>
      <div class="field disabled">
        <label for="company">{{t 'Company'}}</label>
        {{input type='text' id='company' value=data.company}}
      </div>
      <div class="field disabled">
        <label for="taxBusinessInfo">{{t 'Tax Business Info'}}</label>
        {{input type='text' id='taxBusinessInfo' value=data.taxBusinessInfo}}
      </div>
      <div class="field disabled">
        <label for="address">{{t 'Address'}}</label>
        {{textarea rows='2' id='address' value=data.address}}
      </div>
      <div class="field disabled">
        <label for="city">{{t 'City'}}</label>
        {{input type='text' id='city' value=data.city}}
      </div>
      <div class="field disabled">
        <label for="state">{{t 'State/Province'}}</label>
        {{input type='text' id='state' value=data.state}}
      </div>
      <div class="field disabled">
        <label for="zipcode">{{t 'Zip Code'}}</label>
        {{input type='text' id='zip_code' value=data.zipcode}}
      </div>
      <div class="field disabled">
        <label for="country">{{t 'Country'}}</label>
        {{input type='text' id='country' value=data.country}}
      </div>
      <div class="ui divider" style="margin-top: 30px"></div>
    </div>
  </div>
</form>
