<form class="ui {{if isLoading 'loading' }} form" {{action 'submit' on='submit'}}>
  {{#if errorMessage}}
    <div class="ui negative message">
      <p>{{errorMessage}}</p>
    </div>
  {{/if}}
  <h4 class="ui header">{{t 'Please enter your email address to continue.'}}</h4>
  {{input type='text' name="email" value=email  enabled=userExists placeholder=(t 'Email Address')}}
  {{#if userExists}}
    <div class="ui pointing label">{{t 'You have previously registered with this email address.'}}</div>
    <div class="grouped fields">
      <label class="required" for="password">{{t 'Please enter your password to continue.'}}</label>
      {{input type='password' name="password" value=password placeholder=(t 'Password')}}
    </div>
    <div class="ui center aligned segment basic">
      <a href="{{href-to 'reset-password'}}" class="text muted"> {{t 'Forgot your password ?'}}</a>
    </div>
    <button type="submit" class="ui blue button">
      {{t 'Sign In'}}
    </button>
    <button type="submit" class="ui blue button" {{action "refresh"}}>
      {{t 'Retry with New Email'}}
    </button>
    
  {{else}}
    <button type="submit" class="ui green button" >
      {{t 'Continue'}}
    </button>
  {{/if}}
</form>