<form class="ui form" {{action 'submit' data on='submit' }}>
  <div class="ui segments">
    <div class="ui aligned secondary segment">
      <h3 class="weight-400">{{t 'Registration Information'}}</h3>
    </div>
    <div class="ui yellow inverted segment">
      <div class="ui inverted small horizontal statistic">
        <div class="value">
          {{getRemainingTime}}
        </div>
        <div class="label">
          {{t 'Please complete registration within '}} {{data.event.orderExpiryTime}} {{t 'minutes.'}}
          <br>
          {{t 'After '}} {{data.event.orderExpiryTime}} {{t 'minutes, the reservation we\'re holding will be released to others.'}}
        </div>
      </div>
    </div>
    <div class="ui padded segment">
      <h4 class="ui horizontal divider header">
        <i class="ticket icon"></i>
        {{t 'Ticket Buyer'}}
      </h4>
      <div class="field {{if buyerHasFirstName 'disabled'}}">
        <label class="required" for="firstname">{{t 'First Name'}}</label>
        {{input type='text' name='first_name' value=buyerFirstName}}
      </div>
      <div class="field {{if buyerHasLastName 'disabled'}}">
        <label class="required" for="lastname">{{t 'Last Name'}}</label>
        {{input type='text' name='last_name' value=buyerLastName}}
      </div>
      <div class="field disabled">
        <label class="required" for="email">{{t 'Email'}}</label>
        {{input type='text' name='email' value=buyer.email}}
      </div>
      <h4 class="ui horizontal divider header">
        <i class="ticket icon"></i>
        {{t 'Ticket Holder\'s Information'}}
      </h4>
      {{#each holders as |holder index|}}
        {{#if (eq index 0)}}
          <div class="field">
            {{ui-checkbox label=(t 'Ticket holder is the same person as ticket buyer') checked=sameAsBuyer
                          onChange=(pipe-action (action (mut sameAsBuyer)) (action 'modifyHolder' holder))}}
          </div>
        {{/if}}
        <div class="inline field">
          <i class="user icon"></i>
          <label>{{t 'Ticket Holder '}}{{inc index}}{{t ' -for- '}}{{holder.ticket.name}}</label>
        </div>
        {{#each allFields.attendee as |field|}}
          {{#if field.isIncluded}}
            <div class="field {{if
              (and sameAsBuyer (eq index 0) (or (eq field.fieldIdentifier 'firstname') (eq field.fieldIdentifier 'lastname') (eq field.fieldIdentifier 'email')))
              'disabled'}}">
              <label class="{{if field.isRequired 'required'}}" for="name">{{field.name}}</label>
              {{#if (is-input-field field.type) }}
                {{#if field.isLongText}}
                  {{widgets/forms/rich-text-editor value=(mut (get holder field.fieldIdentifier))
                                                   name=(if field.isRequired (concat field.fieldIdentifier '_required_' index) (concat field.fieldIdentifier '_' index))}}
                
                {{else}}
                  {{input type=field.type value=(mut (get holder field.fieldIdentifier))
                          name=(if field.isRequired (concat field.fieldIdentifier '_required_' index) (concat field.fieldIdentifier '_' index))}}

                {{/if}}
              {{/if}}
              {{#if (eq field.fieldIdentifier 'gender')}}
                {{#ui-dropdown class='search selection' value=(mut (get holder field.fieldIdentifier)) onChange=(action (mut holder.gender)) as |execute mapper|}}
                  <i class="dropdown icon"></i>
                  <div class="default text">{{t 'Select your gender'}}</div>
                  <div class="menu">
                    {{#each genders as |gender|}}
                      <div class="item" data-value="{{map-value mapper gender.name}}">
                        {{gender.name}}
                      </div>
                    {{/each}}
                  </div>
                {{/ui-dropdown}}
              {{/if}}
            </div>
          {{/if}}
        {{/each}}
      {{/each}}
      {{#if isPaidOrder}}
        <h4 class="ui horizontal divider header">
          <i class="ticket icon"></i>
          {{t 'Billing Information'}}
        </h4>
        <div class="field">
          <label class="required" for="company">{{t 'Company'}}</label>
          {{input type='text' id='company' value=data.company}}
        </div>
        <div class="field">
          <label for="taxBusinessInfo">{{t 'Tax ID or Business ID'}}</label>
          {{input type='text' id='taxBusinessInfo' value=data.taxBusinessInfo}}
        </div>
        <div class="field">
          <label class="required" for="address">{{t 'Address'}}</label>
          {{textarea rows='2' id='address' value=data.address}}
        </div>
        <div class="field">
          <label class="required" for="city">{{t 'City'}}</label>
          {{input type='text' id='city' value=data.city}}
        </div>
        <div class="field">
          <label for="state">{{t 'State/Province'}}</label>
          {{input type='text' id='state' value=data.state}}
        </div>
        <div class="field">
          <label class="required" for="zipcode">{{t 'Zip Code'}}</label>
          {{input type='text' id='zip_code' value=data.zipcode}}
        </div>
        <div class="field">
          <label class="required">{{t 'Select country'}}</label>
          {{#ui-dropdown class="search selection" selected=data.country
                        onChange=(action (mut data.country)) as |execute mapper|}}
            {{input type='hidden' id='country' value=data.country}}
            <div class="default text">{{t 'Select country'}}</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each countries as |country|}}
                <div data-value="{{map-value mapper country.name}}" class="item">
                  <i class="{{lowercase country.code}} flag"></i>
                  {{country.name}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        </div>
        <h4 class="ui horizontal divider header">
          <i class="ticket icon"></i>
          {{t 'Payment Method'}}
        </h4>
        <div class="field">
          <label class="required" for="payment_mode">{{t 'Please choose your payment method'}}</label>
          <div class="grouped inline fields">
            {{#if data.event.isStripeLinked}}
              <div class="field">
                {{ui-radio name='payment_mode' label=(t 'Credit Card') value='stripe' current=data.paymentMode
                           onChange=(action (mut data.paymentMode))}}
                <label for="payment_mode">
                  <img class="ui small image" src="/images/payment-logos/stripe.png" alt="stripe">
                </label>
              </div>
            {{/if}}
            {{#if data.event.canPayByPaypal}}
              <div class="field">
                {{ui-radio name='payment_mode' label=(t 'Paypal') value='paypal' current=data.paymentMode
                           onChange=(action (mut data.paymentMode))}}
                <label for="payment_mode"><img src="/images/payment-logos/paypal.png" alt="paypal"></label>
              </div>
            {{/if}}
            {{#if data.event.canPayByOmise}}
              <div class="field">
                {{ui-radio name='payment_mode' label=(t 'Omise') value='omise' current=data.paymentMode
                           onChange=(action (mut data.paymentMode))}}
                <label for="payment_mode"><img src="/images/payment-logos/omise.png" alt="omise"></label>
              </div>
            {{/if}}
            {{#if data.event.canPayByAliPay}}
              <div class="field">
                {{ui-radio name='payment_mode' label=(t 'AliPay') value='alipay' current=data.paymentMode
                           onChange=(action (mut data.paymentMode))}}
                <label for="payment_mode"><img src="/images/payment-logos/alipay.png" alt="alipay"></label>
              </div>
            {{/if}}
            {{#if data.event.canPayByCheque}}
              <div class="field">
                {{ui-radio name='payment_mode' label=(t 'Cheque') value='cheque' current=data.paymentMode
                           onChange=(action (mut data.paymentMode))}}
              </div>
            {{/if}}
            {{#if data.event.canPayByBank}}
              <div class="field">
                {{ui-radio name='payment_mode' label=(t 'Bank') value='bank' current=data.paymentMode
                           onChange=(action (mut data.paymentMode))}}
              </div>
            {{/if}}
            {{#if data.event.canPayOnsite}}
              <div class="field">
                {{ui-radio name='payment_mode' label=(t 'Onsite') value='onsite' current=data.paymentMode
                           onChange=(action (mut data.paymentMode))}}
              </div>
            {{/if}}
          </div>
        </div>
        <div class="field">
          {{#if (eq data.paymentMode 'bank')}}
            {{textarea name="payment_details" value=data.event.bankDetails readonly=""}}
          {{else if (eq data.paymentMode 'cheque')}}
            {{textarea name="payment_details" value=data.event.chequeDetails readonly=""}}
          {{else if (eq data.paymentMode 'onsite')}}
            {{textarea name="payment_details" value=data.event.onsiteDetails readonly=""}}
          {{/if}}
        </div>
      {{/if}}
      <h4 class="ui horizontal divider header">
        <i class="ticket icon"></i>
        {{t 'Acknowledgement'}}
      </h4>
      <p>
        {{t
          'By clicking "Pay Now", I acknowledge that I have read and that I agree with all the terms of services and privacy policy of Open Event.'}}
      </p>
      <div class="center aligned">
        <button type="submit" class="ui teal submit button">{{t 'Proceed to Checkout'}}</button>
      </div>
    </div>
  </div>
</form>
