<div class="ui action input public-url d-flex wrap">
  <input class="truncate" style="flex: 1 0 !important" type="text" value={{this.record}} placeholder={{this.record}} readonly>
  <UiPopup @on="click" @content={{t "Link copied to clipboard"}} @position="bottom right">
    <CopyButton @clipboardText={{this.record}} @class="ui grey icon button rounded-none m-0">
      <i class="copy icon"></i>
    </CopyButton>
  </UiPopup>
  <a 
    id="discount_code_url"
    href="{{this.record}}" 
    target="_blank" rel="noopener">
    <div  class="ui blue icon button ml-auto rounded-l-none m-0">
      <i class="share icon" ></i>
    </div>
  </a>
</div>
