<span>
  {{#if (eq this.extraRecords.type 'percent')}}
    {{this.record}}{{t '%'}}
  {{else if (eq this.extraRecords.type 'amount')}}
    {{t this.currency-symbol this.extraRecords.event.paymentCurrency }}{{this.record}}
  {{/if}}
</span>
