<span>
  {{#if (eq record.type 'percent')}}
    {{number-format record.value}}{{t '%'}}
  {{else if (eq record.type 'amount')}}
    {{t currency-symbol record.event.paymentCurrency }}{{number-format record.value}}
  {{/if}}
</span>
