<span>
  {{#if (eq record.type 'percent')}}
    {{format-number record.value}}{{t '%'}}
  {{else if (eq record.type 'amount')}}
    {{t currency-symbol record.event.paymentCurrency }}{{format-number record.value}}
  {{/if}}
</span>
