<span>
  {{#if (eq extraRecords.type 'percent')}}
    {{record}}{{t '%'}}
  {{else if (eq extraRecords.type 'amount')}}
    {{t currency-symbol extraRecords.event.paymentCurrency }}{{format-number record}}
  {{/if}}
</span>
