<div>
    <div class="ui">
        <div class="featured-speaker">
            <img alt="exhibitor" class="ui rounded image" src="{{if this.model.bannerUrl this.model.bannerUrl '/images/placeholders/Other.jpg'}}">
        </div>
        <br/>
        <h1 class="ui centered header no margin">
            <img class="ui small image m-0 mb-1" src="{{or this.model.logoUrl '/images/placeholders/Other.jpg'}}" alt="Logo">
            {{this.model.name}}
        </h1>
        <br/>
        {{#if this.model.description}}
            <p>
                {{sanitize this.model.description}}
            </p>
        {{/if}}
        <br/><br/>
        <div class="social-icons d-flex" style="justify-content: center;">
            {{#each this.links as |socialLink|}}
                {{#if (eq socialLink.name 'website')}}
                    <a href={{socialLink.link}} target="_blank" rel="noopener noreferrer"><i class="globe big icon"></i></a>
                {{else if (eq socialLink.name 'groups.google')}}
                    <a href={{socialLink.link}} target="_blank" rel="noopener noreferrer"><i class="google big icon"></i></a>
                {{else}}
                    <a href={{socialLink.link}} target="_blank" rel="noopener noreferrer"><i class="{{socialLink.name}} {{socialLink.color}} big icon"></i></a>
                {{/if}}
            {{/each}}
        </div>
        <br/><br/>
        {{#if this.contactExhibitor}}
        <br/><br/>
        <div class="d-flex flex-grow-1 content-center">
            {{#if this.model.contactEmail}}
                <a target="_blank" href="mailto:{{this.model.contactEmail}}" class="ui red button mr-2" rel="noopener">{{t 'Email'}}</a>
            {{/if}}
            {{#if this.model.contactLink}}
                <a target="_blank" href="{{this.model.contactLink}}" class="ui red button ml-2" rel="noopener">{{t 'Contact'}}</a>
            {{/if}}
        </div>
        {{/if}}
        {{#if this.model.enableVideoRoom}}
            <div class="d-flex mt-4 content-center">
            <LinkTo @route="public.exhibition.video" @model={{this.model.id}} class="ui blue button">
               {{t 'Join Exhibitor Video'}}
             </LinkTo>
            </div>
        {{/if}}
        <br/><br/>
        {{#each this.links as |socialLink|}}
            {{#if (eq socialLink.name 'twitter')}}
                <div class="p-4 twitter content">
                    <Widgets::TwitterTimeline @handleOrProfile={{socialLink.link}} />
                </div>
            {{/if}}
        {{/each}}
        {{#if (or this.model.slidesUrl this.model.videoUrl)}}
            <div class="p-4">
                <div style={{css display='flex' align-items='center' flex-direction='column'}}>
                    {{#if (or this.pdfLink this.pptLink)}}
                        <br/>
                        <h2 class="ui centered header no margin">{{t 'Exhibitor Slides'}}</h2><br/>
                        <iframe title="session-slides" class="slide-iframe mb-2" width="100%" style="max-width: 1200px; height: 600px;" frameborder="0" src="https://docs.google.com/gview?url={{ this.model.slidesUrl }}&embedded=true"></iframe>
                    {{else if this.model.slidesUrl}}
                        <a class="mb-2" href={{ this.model.slidesUrl }} target="_blank" rel="noopener noreferrer">
                            <div class="ui labeled icon button">
                                <i class="file powerpoint icon"></i>
                                {{t 'Slides'}}
                            </div>
                        </a>
                    {{/if}}
                    <br/><br/>
                    {{#if this.youtubeLink}}
                        <h2 class="ui centered header no margin">{{t 'Exhibitor Video'}}</h2><br/>
                        <iframe title="youtube-session-video" class="video-iframe" width="100%" style="max-width: 1200px; height: 610px;" src="https://www.youtube.com/embed/{{ this.youtubeLink }}" frameborder="0" allowfullscreen></iframe>
                    {{else if this.model.videoUrl}}
                        <a class="mb-2" href={{ this.model.videoUrl }} target="_blank" rel="noopener noreferrer">
                            <div class="ui labeled icon button">
                                <i class="video icon"></i>
                                {{t 'Video'}}
                            </div>
                        </a>
                    {{/if}}
                </div>
            </div>
        {{/if}}
    </div>
</div>
