<div class="ui container">
    <div class="mb-4">
      {{#if @group.events}}
        <h2 class="main-heading mb-4">{{t 'Upcoming Events'}}</h2>
        <div class="ui stackable three column grid">
          {{#each this.upcomingEvents as |event|}}
            <EventCard @event={{event}} @shareEvent={{action "shareEvent"}} />
          {{/each}}
        </div>
        <h2 class="main-heading mb-4">{{t 'Past Events'}}</h2>
        <div class="ui stackable three column grid">
          {{#each this.pastEvents as |event|}}
            <EventCard @event={{event}} @shareEvent={{action "shareEvent"}} />
          {{/each}}
        </div>
      {{/if}}
    </div>
</div>
