<form class="ui form" {{action 'submit' on='submit'}}>
  <div class="inline field">
    <label>
      {{t 'Enable Stripe'}}
    </label>
    {{ui-checkbox class='toggle' checked=isCheckedStripe onChange=(action (mut isCheckedStripe))}}
  </div>
  {{#if isCheckedStripe}}
    <h3 class="ui header">
      {{t 'Stripe Keys'}}
      <div class="sub header">
        {{t 'See'}}
        <a href="https://stripe.com/docs/dashboard" target="_blank" rel="noopener nofollow">
          {{t 'here'}}
        </a>
        {{t 'on how to obtain these keys.'}}
      </div>
    </h3>
    <h5 class="ui header">
      {{t 'Stripe Integration Mode'}}
    </h5>
    <div class="field">
      {{ui-radio label=(t 'Test mode - Used during development and testing')
                 name='stripe_integration_mode'
                 value='debug'
                 current=stripeMode
                 onChange=(action (mut stripeMode))}}
    </div>
    {{#if (eq stripeMode 'debug')}}
      <div class="field">
        <label>
          {{t 'Client Test ID'}}
          {{ui-popup tagName="i" class="info icon" content="This client id will be used for testing mode"}}
        </label>
        {{input type='text' name='stripe_test_client_id' value=settings.stripeTestClientId}}
      </div>
      <div class="field">
        <label>
          {{t 'Secret Test Key'}}
          {{ui-popup tagName="i" class="info icon" content="This secret key will be used for testing mode"}}
        </label>
        {{input type='text' name='stripe_test_secret_key' value=settings.stripeTestSecretKey}}
      </div>
      <div class="field">
        <label>
          {{t 'Publishable Test Key'}}
          {{ui-popup tagName="i" class="info icon" content="This publishable key will be used for testing mode"}}
        </label>
        {{input type='text' name='stripe_test_publishable_key' value=settings.stripeTestPublishableKey}}
      </div>
    {{/if}}
    <div class="ui hidden divider"></div>
    <div class="field">
      {{ui-radio label=(t 'Live mode - Used during production')
                 name='stripe_integration_mode'
                 value='production'
                 current=stripeMode
                 onChange=(action (mut stripeMode))}}
    </div>
    {{#if (eq stripeMode 'production')}}
      <div class="field">
        <label>
          {{t 'Client ID'}}
          {{ui-popup tagName="i" class="info icon" content="This client id will be used during live (production) mode"}}
        </label>
        {{input type='text' name='stripe_client_id' value=settings.stripeClientId}}
      </div>
      <div class="field">
        <label>
          {{t 'Secret Key'}}
          {{ui-popup tagName="i" class="info icon" content="This Secret Key will be used during live (production) mode"}}
        </label>
        {{input type='text' name='stripe_secret_key' value=settings.stripeSecretKey}}
      </div>
      <div class="field">
        <label>
          {{t 'Publishable Key'}}
          {{ui-popup tagName="i" class="info icon" content="This Publishable Key will be used during live (production) mode"}}
        </label>
        {{input type='text' name='stripe_publishable_key' value=settings.stripePublishableKey}}
      </div>
    {{/if}}
    <div class="ui hidden divider"></div>
  {{/if}}
  <div class="inline field">
    <label>
      {{t 'Enable AliPay'}}
    </label>
    {{ui-checkbox class='toggle' checked=isCheckedAliPay onChange=(action (mut isCheckedAliPay))}}
  </div>
  {{#if isCheckedAliPay}}
    <h3 class="ui header">
      {{t 'AliPay Keys(Stripe Sources)'}}
      <div class="sub header">
        {{t 'See'}}
        <a href="https://stripe.com/docs/dashboard" target="_blank" rel="noopener nofollow">
          {{t 'here'}}
        </a>
        {{t 'on how to obtain these keys.'}}
      </div>
    </h3>
    <div class="field">
      <label>
        {{t 'Secret Key'}}
      </label>
      {{input type='text' name='alipay_secret_key' value=settings.alipaySecretKey}}
    </div>
    <div class="field">
      <label>
        {{t 'Publishable Key'}}
      </label>
      {{input type='text' name='alipay_publishable_key' value=settings.alipayPublishableKey}}
    </div>
    <div class="ui hidden divider"></div>
  {{/if}}

  <div class="inline field">
    <label>
      {{t 'Enable PayPal'}}
    </label>
    {{ui-checkbox class='toggle' checked=isCheckedPaypal onChange=(action (mut isCheckedPaypal))}}
  </div>
  {{#if isCheckedPaypal}}
    <h3 class="ui header">
      {{t 'PayPal Credentials'}}
      <div class="sub header">
        {{t 'See'}}
        <a href="https://developer.paypal.com/docs/accept-payments/express-checkout/ec-braintree-sdk/get-started/" target="_blank" rel="noopener nofollow">
          {{t 'here'}}
        </a>
        {{t 'on how to obtain these keys.'}}
      </div>
    </h3>
    <h5 class="ui header">
      {{t 'PayPal Integration Mode'}}
    </h5>
    <div class="field">
      {{ui-radio label=(t 'Sandbox mode - Used during development and testing')
                 name='paypal_integration_mode'
                 value='sandbox'
                 current=settings.paypalMode
                 onChange=(action (mut settings.paypalMode))}}
    </div>
    {{#if (eq settings.paypalMode 'sandbox')}}
      <div class="field">
        <label>
          {{t 'Paypal Sandbox Client Id'}}
          {{ui-popup tagName="i" class="info icon" content="This client id will be used for testing mode"}}
        </label>
        {{input type='text' name='sandbox_client_id' value=settings.paypalSandboxClient}}
      </div>
      <div class="field">
        <label>
          {{t 'Paypal Sandbox Secret Token'}}
          {{ui-popup tagName="i" class="info icon" content="This secret token will be used during testing mode"}}
        </label>
        {{input type='text' name='sandbox_secret_token' value=settings.paypalSandboxSecret}}
      </div>
    {{/if}}
    <div class="field">
      {{ui-radio label=(t 'Live mode - Used during production')
                 name='paypal_integration_mode'
                 value='live'
                 current=settings.paypalMode
                 onChange=(action (mut settings.paypalMode))}}
    </div>
    {{#if (eq settings.paypalMode 'live')}}
      <div class="field">
        <label>
          {{t 'Paypal Client Id'}}
          {{ui-popup tagName="i" class="info icon" content="This client id will be used during live (production) mode"}}
        </label>
        {{input type='text' name='client_id' value=settings.paypalClient}}
      </div>
      <div class="field">
        <label>
          {{t 'Paypal Secret Token'}}
          {{ui-popup tagName="i" class="info icon" content="This secret tocken will be used during live (production) mode"}}
        </label>
        {{input type='text' name='secret_token' value=settings.paypalSecret}}
      </div>
    {{/if}}
  {{/if}}
  <div class="inline field">
    <label>
      {{t 'Enable Omise'}}
    </label>
    {{ui-checkbox class='toggle' checked=isCheckedOmise onChange=(action (mut isCheckedOmise))}}
  </div>
  {{#if isCheckedOmise}}
    <h3 class="ui header">
      {{t 'Omise Credentials'}}
      <div class="sub header">
        {{t 'See'}}
        <a href="https://www.omise.co/api-authentication" target="_blank" rel="noopener nofollow">
          {{t 'here'}}
        </a>
        {{t 'on how to obtain these keys.'}}
      </div>
    </h3>
    <h5 class="ui header">
      {{t 'Omise Integration Mode'}}
    </h5>
    <div class="field">
      {{ui-radio label=(t 'Test mode - Used during development and testing')
                 name='omise_integration_mode'
                 value='test'
                 current=settings.omiseMode
                 onChange=(action (mut settings.omiseMode))}}
    </div>
    {{#if (eq settings.omiseMode 'test')}}
      <div class="field">
        <label>
          {{t 'Omise Test Public Key'}}
          {{ui-popup tagName="i" class="info icon" content=(t 'This public key will be used for testing mode') }}
        </label>
        {{input type='text' name='test_public_key' value=settings.omiseTestPublic}}
      </div>
      <div class="field">
        <label>
          {{t 'Omise Test Secret Key'}}
          {{ui-popup tagName="i" class="info icon" content=(t 'This secret key will be used during testing mode') }}
        </label>
        {{input type='text' name='test_secret_key' value=settings.omiseTestSecret}}
      </div>
    {{/if}}
    <div class="field">
      {{ui-radio label=(t 'Live mode - Used during production')
                 name='omise_integration_mode'
                 value='live'
                 current=settings.omiseMode
                 onChange=(action (mut settings.omiseMode))}}
    </div>
    {{#if (eq settings.omiseMode 'live')}}
      <div class="field">
        <label>
          {{t 'Omise Live Public Key'}}
          {{ui-popup tagName="i" class="info icon" content=(t 'This pucliv key will be used during live (production) mode') }}
        </label>
        {{input type='text' name='live_public_key' value=settings.omiseLivePublic}}
      </div>
      <div class="field">
        <label>
          {{t 'Omise Live Secret Key'}}
          {{ui-popup tagName="i" class="info icon" content=(t 'This secret key will be used during live (production) mode' )}}
        </label>
        {{input type='text' name='live_secret_key' value=settings.omiseLiveSecret}}
      </div>
    {{/if}}
  {{/if}}
  <div class="inline field">
    <label>
      {{t 'Enable PayTM'}}
    </label>
    {{ui-checkbox class='toggle' checked=isPaytmActivated onChange=(action (mut isPaytmActivated))}}
  </div>
  {{#if isPaytmActivated}}
    <h3 class="ui header">
      {{t 'PayTM Credentials'}}
      <div class="sub header">
        {{t 'See'}}
        <a href="https://dashboard.paytm.com/next/apikeys" target="_blank" rel="noopener nofollow">
          {{t 'here'}}
        </a>
        {{t 'on how to obtain these keys.'}}
      </div>
    </h3>
    <h5 class="ui header">
      {{t 'PayTM Integration Mode'}}
    </h5>
    <div class="field">
      {{ui-radio label=(t 'Test mode - Used during development and testing')
                 name='paytm_integration_mode'
                 value='test'
                 current=settings.paytmMode
                 onChange=(action (mut settings.paytmMode))}}
    </div>
    {{#if (eq settings.paytmMode 'test')}}
      <div class="field">
        <label>
          {{t 'PayTM Test Merchant ID'}}
          {{ui-popup tagName="i" class="info icon" content=(t 'This Merchant ID will be used for testing mode') }}
        </label>
        {{input type='text' name='paytm_sandbox_merchant' value=settings.paytmSandboxMerchant}}
      </div>
      <div class="field">
        <label>
          {{t 'PayTM Test Secret Key'}}
          {{ui-popup tagName="i" class="info icon" content=(t 'This secret key will be used during testing mode') }}
        </label>
        {{input type='text' name='paytm_sandbox_secret' value=settings.paytmSandboxSecret}}
      </div>
    {{/if}}
    <div class="field">
      {{ui-radio label=(t 'Live mode - Used during production')
                 name='paytm_integration_mode'
                 value='live'
                 current=settings.paytmMode
                 onChange=(action (mut settings.paytmMode))}}
    </div>
    {{#if (eq settings.paytmMode 'live')}}
      <div class="field">
        <label>
          {{t 'PayTM Live Merchant ID'}}
          {{ui-popup tagName="i" class="info icon" content=(t 'This Merchant ID will be used during live (production) mode') }}
        </label>
        {{input type='text' name='paytm_live_merchant' value=settings.paytmLiveMerchant}}
      </div>
      <div class="field">
        <label>
          {{t 'PayTM Live Secret Key'}}
          {{ui-popup tagName="i" class="info icon" content=(t 'This secret key will be used during live (production) mode' )}}
        </label>
        {{input type='text' name='paytm_live_secret' value=settings.paytmLiveSecret}}
      </div>
    {{/if}}
  {{/if}}
  <button class="ui teal button" type="submit">
    {{t 'Save'}}
  </button>
</form>