<form class="ui form" {{action 'submit' on='submit'}} novalidate>
  <h3 class="ui header">
    {{t 'App Environment'}}
    <div class="sub header">
      {{t 'Where is the application running ?'}}
    </div>
  </h3>
  <div class="field">
    {{ui-radio label=(t 'Development') current=settings.appEnvironment name='environment' value='development' onChange=(action (mut settings.appEnvironment))}}
  </div>
  <div class="field">
    {{ui-radio label=(t 'Staging') current=settings.appEnvironment name='environment' value='staging' onChange=(action (mut settings.appEnvironment))}}
  </div>
  <div class="field">
    {{ui-radio label=(t 'Production') current=settings.appEnvironment name='environment' value='production' onChange=(action (mut settings.appEnvironment))}}
  </div>
  <h3 class="ui header">
    {{t 'App Name'}}
    <div class="sub header">
      {{t 'The name of your deployment. This will be used throughout this application.'}}
    </div>
  </h3>
  <div class="field">
    <label>
      {{t 'App Name'}}
    </label>
    {{input type='text' name='app_name' value=settings.appName}}
  </div>
  <div class="field">
    <label>
      {{t 'Tagline'}}
    </label>
    {{input type='text' name='tag_line' value=settings.tagline}}
  </div>
  <div class="ui hidden divider"></div>
  {{forms/admin/settings/system/social-media-token settings=settings}}
  <div class="ui hidden divider"></div>
  {{forms/admin/settings/system/captcha-form settings=settings}}
  <div class="ui hidden divider"></div>
  {{forms/admin/settings/system/storage-option settings=settings}}
  <div class="ui hidden divider"></div>
  {{forms/admin/settings/system/mail-settings settings=settings}}
  <div class="ui hidden divider"></div>
  {{forms/admin/settings/system/order-expiry-form settings=settings}}
  <div class="ui hidden divider"></div>
  <h3 class="ui header">
    {{t 'App secret key'}}
    <div class="sub header">
      {{t 'Secret key for the application. Recommended is a random string of minimum 20 characters in length.'}}
    </div>
  </h3>
  <div class="field">
    <label>
      {{t 'Secret'}}
    </label>
    {{input type='text' name='secret_key' value=settings.secret}}
  </div>
  <div class="ui hidden divider"></div>
  <button class="ui teal wide button" type="submit">
    {{t 'Save'}}
  </button>
</form>
