<form class="ui form" {{action save on='submit'}}>
  <h3 class="ui header">
    {{t 'List of supported currencies'}}
  </h3>
  {{#each model as |ticketFee|}}
    <div class="ui sub header">
      {{currency-name ticketFee.currency}} - {{ticketFee.currency}} ({{currency-symbol ticketFee.currency}})
    </div>
    <div class="field">
      <div class="label">
        {{t 'Service Fee'}}
      </div>
      <div class="ui right labeled input">
        {{input type='number' name=(concat ticketFee.currency '_service') value=ticketFee.serviceFee step=0.1 min=0}}
        <div class="ui basic label">
          %
        </div>
      </div>
    </div>
    <div class="field">
      <div class="label">
        {{t 'Maximum Fee'}}
      </div>
      <div class="ui right labeled input">
        <div class="ui label">
          {{currency-symbol ticketFee.currency}}
        </div>
        {{input type='number' name=(concat ticketFee.currency '_maximum') value=ticketFee.maximumFee step=0.1 min=0}}
        <div class="ui basic label">
          {{#ui-popup content=(t 'If you keep the maximum fee as 0, it  would become unlimited. Kindly set the maximum fee to some value.')}}
            <i class="info circle fitted icon"></i>
          {{/ui-popup}}
        </div>
      </div>
    </div>
    <div class="ui hidden divider"></div>
  {{/each}}
  <button class="ui teal button" type="submit">
    {{t 'Save'}}
  </button>
</form>