<div class="field">
  <div class="ui labeled action input">
    <div class="ui labeled input">
      <div class="ui label">
        {{this.prefix}}
      </div>
      <Input 
        {{did-update this.prefixUpdated @prefix}}
        {{did-update this.valueUpdated @value}}
        @id={{@inputId}}
        @disabled={{@disabled}}
        @type="text"
        value={{this.fixedValue}}
        {{on "input" this.setValue}}
        ...attributes />
    </div>
    {{yield}}
  </div>
</div>
