<div class="sixteen wide column">
    <div class="ui centered grid">
    <div class="column">
      <div class="ui segment">
        <div class="center aligned text">
          <div class=" field">
            <div class="d-flex" style="justify-content: center;">
              <UiCheckbox
                @class="ui slider"
                @checked={{if this.model.isDocumentEnabled 'active'}}
                @onChange={{action 'toggleDocument'}} />
              <label class="weight-300" style="font-size: large">
                {{if this.model.isDocumentEnabled (t 'Disable') (t 'Enable')}}
                {{t 'Add Event Documents'}}
              </label>
            </div>
          </div>
        </div>
      </div>
      {{#if this.model.isDocumentEnabled}}
        <div class="sixteen wide column">
          <div class="d-flex align-center mt-8 mb-4">
           <h2 class="header m-0">
            {{t 'Event Documents'}}
          </h2>
           <UiPopup @content={{t "Add event document"}} @class="ui compact icon blue circular button" style="margin-left: 1rem !important;" @click={{action this.addEventDocument}}>
            <i class="plus icon"></i>
           </UiPopup>
          </div>
          <form
            {{action 'submit' on='submit'}}
            >
            <div class="flex flex-column">
              {{#if this.model.documentLinks}}
                {{#each this.model.documentLinks as |document| }}
                  <div class="ui grid mt-2 mb-2">
                    <div class="field ui input">
                      <Input type="text" name="documentName" placeholder={{t "Document Name"}}  @value={{document.name}}/>
                    </div>
                    <Widgets::Forms::FileUpload
                      @fileUrl={{document.link}}
                      @label={{t "document"}}
                      @id={{document.name}}
                      @icon="file"
                      @hint={{t "Select a file"}}
                      @maxSizeInKb={{10000}} />
                      <div class="ui icon buttons">
                        <UiPopup @content={{t "Remove"}} @class="ui icon red button" @click={{action this.removeDocument document}} @position="top center">
                          <i class="minus icon"></i>
                        </UiPopup>
                      </div>
                  </div>
                {{/each}}
              {{/if}}
            </div>
            <button type="submit" class="mt-4 ui blue submit button" name="submit">{{t 'Save'}}</button>
          </form>
        </div>
      {{/if}}
    </div>
  </div>
</div>