<div class="ui grid stackable">
  <div class="eight wide column">
    {{events/view/overview/event-setup-checklist data=model}}
  </div>
  <div class="eight wide column">
    {{events/view/overview/general-info data=model}}
  </div>
  <div class="eight wide column">
    {{events/view/overview/manage-roles data=model}}
  </div>
  <div class="eight wide column">
    {{events/view/overview/event-sponsors data=model.sponsors columns=columns}}
  </div>
  <div class="eight wide column">
    {{events/view/overview/event-apps}}
  </div>
  <div class="eight wide column">
    {{events/view/overview/event-tickets data=model}}
  </div>
</div>
