<div class="eight wide column">
  {{events/view/overview/event-setup-checklist}}
</div>
<div class="eight wide column">
  {{events/view/overview/general-info}}
</div>
<div class="eight wide column">
  {{events/view/overview/manage-roles}}
</div>
<div class="eight wide column">
  {{events/view/overview/event-sponsors}}
</div>
{{outlet}}
