<div class="ui grid">
  <div class="row">
    <div class="sixteen wide mobile three wide computer column">
      {{#if this.isSchedulePublished}}
        <button class="ui orange {{if this.isLoading 'loading'}} fluid button" {{action 'togglePublishState'}}>{{t 'Unpublish Schedule'}}</button>
      {{else}}
        <button class="ui green {{if this.isLoading 'loading'}} fluid button" {{action 'togglePublishState'}}>{{t 'Publish Schedule'}}</button>
      {{/if}}
      <h3 class="ui header">{{t 'Unscheduled Sessions'}}</h3>
      <div class="ui raised segments">
        {{#each this.model.unscheduled as |session|}}
          {{#if (or (eq session.state 'accepted') (eq session.state 'confirmed'))}}
            <Scheduler::UnscheduledSession @session={{session}} />
          {{/if}}
        {{/each}}
      </div>
    </div>
    <div class="sixteen wide mobile thirteen wide computer column">
      {{#if this.device.isMobile}}
        <div class="ui hidden divider"></div>
      {{/if}}
      <FullCalendar
        @events={{this.model.events}}
        @aspectRatio={{if this.device.isMobile 0.7 1.8}}
        @editable={{true}}
        @timezone={{this.model.timezone}}
        @droppable={{true}}
        @resources={{this.model.resources}}
        @groupByResource={{true}}
        @resourceLabelText="Rooms"
        @header={{this.model.header}}
        @ondragover="{{action 'allowDrop' this.event}}"
        @views={{this.model.views}}
        @viewName="agendaDay"
        @drop={{action "drop"}}
        @eventResize={{action "eventResize"}}
        @eventDrop={{action "eventDrop"}}
        @eventRender={{action "eventRender"}}
        @defaultView="timelineDay"
        @validRange={{this.model.validRange}}
        @now={{moment-format (now ) "YYYY-MM-DD"}}
        @scrollTime="00:00"
        @minTime={{this.model.minTime}}
        @slotDuration="00:10:00"
        @slotLabelFormat="HH:mm" />
    </div>
  </div>
</div>
