<div class="row">
  <p>
    {{t 'Transfer ownership of this event to another user. You\'ll lose all the owner rights once they accept the ownership.'}}
  </p>
  <button {{action 'openEventTransferModal' model.event.id model.event.name}} class='ui red button'>
    {{t 'Transfer Ownership'}}
  </button>
</div>
{{modals/event-transfer-modal isLoading=isLoading isOpen=isEventTransferModalOpen confirmEventName=confirmEventName eventName=eventName openConfirmEventTransferModal=(action 'openConfirmEventTransferModal') transferEvent=(action 'transferEvent' model)}}
{{modals/confirm-event-transfer-modal currentInvite=currentInvite isLoading=isLoading isOpen=isConfirmEventTransferModalOpen checked=checked transferEvent=(action 'transferEvent')}}
