{{#if model.isSessionsSpeakersEnabled}}
  <div class="ui grid stackable">
    {{#if (and (not-eq session.currentRouteName 'events.view.speakers.edit') (not-eq session.currentRouteName 'events.view.speakers.create'))}}
      <div class="row">
        <div class="six wide column">
          {{#tabbed-navigation isNonPointing=true}}
            {{#link-to 'events.view.speakers.list' 'all' class='item'}}
              {{t 'All'}}
            {{/link-to}}
            {{#link-to 'events.view.speakers.list' 'pending' class='item'}}
              {{t 'Pending'}}
            {{/link-to}}
            {{#link-to 'events.view.speakers.list' 'accepted' class='item'}}
              {{t 'Accepted'}}
            {{/link-to}}
            {{#link-to 'events.view.speakers.list' 'confirmed' class='item'}}
              {{t 'Confirmed'}}
            {{/link-to}}
            {{#link-to 'events.view.speakers.list' 'rejected' class='item'}}
              {{t 'Rejected'}}
            {{/link-to}}
          {{/tabbed-navigation}}
        </div>
        <div class="ten wide right aligned column">
          <div class="ui labeled input">
            <button class="ui blue button right-floated {{if isLoading 'loading'}}" {{action 'export'}}>{{t 'Export as CSV'}}</button>
            {{#link-to 'events.view.speakers.create' class='ui blue button right floated'}}
              {{t 'Add Speaker'}}
            {{/link-to}}
          </div>
        </div>
      </div>
    {{/if}}
    <div class="row">
      {{outlet}}
    </div>
  </div>
{{else}}
  <div class="sixteen wide column">
    <h3 class="centered text">{{t 'In order to use this feature please activate "Sessions and Speakers" for the event.'}}</h3>
    <h4 class="centered text">{{t 'Please click '}}<a href="{{href-to 'events.view.edit.sessions-speakers'}}">{{t 'here'}}</a>{{t ' to activate this module.'}}</h4>
  </div>
{{/if}}
