<div class="ui grid">
  <div class="row">
    <div class="{{if device.isMobile 'sixteen' 'three'}} wide column">
      <div class="ui vertical fluid pointing menu">
        <a class="active item">{{t 'Overview'}}</a>
        <a class="item">{{t 'Orders'}}</a>
        <a class="item">{{t 'Attendees'}}</a>
        <a class="item">{{t 'Discount Codes'}}</a>
        <a class="item">{{t 'Access Codes'}}</a>
        <a class="item">{{t 'Add order'}}</a>
      </div>
    </div>
    <div class="{{if device.isMobile 'sixteen' 'thirteen'}} wide column">
      {{outlet}}
    </div>
  </div>
</div>
