<div class="ui grid">
  <div class="row">
    <div class="{{if this.device.isMobile 'sixteen' 'three'}} wide column">
      <TabbedNavigation @isVertical={{true}}>
        <LinkTo @route="events.view.tickets.index" class="item">
          {{t 'Overview'}}
        </LinkTo>
        <LinkTo @route="events.view.tickets.orders" class="item">
          {{t 'Orders'}}
        </LinkTo>
        <LinkTo @route="events.view.tickets.attendees" class="item">
          {{t 'Attendees'}}
        </LinkTo>
        <LinkTo @route="events.view.tickets.discount-codes" class="item">
          {{t 'Discount Codes'}}
        </LinkTo>
        <LinkTo @route="events.view.tickets.access-codes" class="item">
          {{t 'Access Codes'}}
        </LinkTo>
        <LinkTo @route="events.view.tickets.add-order" class="item">
          {{t 'Add order'}}
        </LinkTo>
      </TabbedNavigation>
    </div>
    <div class="{{if this.device.isMobile 'sixteen' 'thirteen'}} wide column">
      {{outlet}}
    </div>
  </div>
</div>

