<div class="ui basic {{if isLoading 'loading'}} segment">
  <div class="ui one column container stackable doubling left grid">
    <h1 class="ui header">{{t 'Review Invoice'}}</h1>
    <div class="row">
      <div class="sixteen wide column">
        <div class="ui segments">
          <div class="ui secondary segment">
            <h3 class="weight-400">{{t 'Billing Info'}}</h3>
          </div>
          <div class="ui padded segment">
            <div class="ui list">
              <div class="item">
                <strong>{{t 'From'}}:</strong> {{model.user.billingContactName}}
              </div>
              <div class="item">
                <strong>{{t 'Phone'}}:</strong> {{model.user.billingPhone}}
              </div>
              <div class="item">
                <strong>{{t 'Email'}}:</strong> {{model.user.email}}
              </div>
              <div class="item">
                <strong>{{t 'Billing Address'}}:</strong> {{model.user.billingAddress}}
              </div>
              <div class="item">
                <strong>{{t 'Zip Code'}}:</strong> {{model.user.billingZipCode}}
              </div>
              <div class="item">
                <strong>{{t 'Country'}}:</strong> {{model.user.billingCountry}}
              </div>
            </div>
          </div>
          <div class="ui padded segment">
            <div class="ui list">
              <div class="item">
                <strong>{{t 'To'}}:</strong> {{this.settings.adminBillingContactName}}
              </div>
              <div class="item">
                <strong>{{t 'Company'}}:</strong> {{this.settings.adminCompany}}
              </div>
              <div class="item">
                <strong>{{t 'Phone'}}:</strong> {{this.settings.adminBillingPhone}}
              </div>
              <div class="item">
                <strong>{{t 'Email'}}:</strong> {{this.settings.adminBillingEmail}}
              </div>
              <div class="item">
                <strong>{{t 'Zip Code'}}:</strong> {{this.settings.adminBillingZip}}
              </div>
              <div class="item">
                <strong>{{t 'Country'}}:</strong> {{this.settings.adminBillingCountry}}
              </div>
            </div>
          </div>
        </div>
        <div class="ui segments">
          <div class="ui secondary segment">
            <h3 class="weight-400">{{t 'Invoice Details'}}</h3>
          </div>
          <div class="ui padded segment">
            <div class="ui list">
              <div class="item">
                <strong>{{t 'Event Name'}}:</strong> {{model.event.name}}
              </div>
              <div class="item">
                <strong>{{t 'Date Issued'}}:</strong> {{moment-format model.createdAt 'MM/DD/YYYY'}} 
              </div>
              <div class="item">
                <strong>{{t 'Total Invoice Amount'}}:</strong> {{currency-symbol model.event.paymentCurrency}} {{format-number model.amount}}
              </div>
            </div>
          </div>
        </div>
        <button class="ui primary button" href="#">{{t 'Pay Now' }}</button>
      </div>
    </div>
  </div>
</div>