{{#each @record as |recording|}}
  <div class="d-flex-wrap">
    {{t 'Number of Participants'}}: {{recording.participants}}<br/>
    {{t 'Start time'}}: <UiTable::Cell::CellDate @record={{recording.startTime}}/>
    {{t 'End time'}}: <UiTable::Cell::CellDate @record={{recording.endTime}}/>
    {{t 'Duration'}}: <UiTable::Cell::CellDuration @record={{recording.endTime}} @extraRecords={{recording}}/>
    {{t 'URL'}}: <UiTable::Cell::Events::View::Videoroom::CellVideoRecording @record={{recording.url}}/>
  </div>
{{/each}}
