{{#if @record}}
  <div class="ui action input">
    <input class="truncate" type="text" value={{this.streamUrl}} placeholder={{this.streamUrl}} readonly>
    <UiPopup @on="click" @content={{t "Link copied to clipboard"}} @position="bottom right" class="ml-auto">
      <CopyButton @clipboardText={{this.streamUrl}} @class="ui grey icon button">
        <i class="copy icon"></i>
      </CopyButton>
    </UiPopup>
    <a 
      id="stream_url"
      href="{{href-to 'public.stream.view' (or @extraRecords.identifier @extraRecords.event.identifier) @record.slugName @record}}" 
      target="_blank" rel="noopener">
      <div  class="ui blue icon button ml-auto">
        <i class="share icon" ></i>
      </div>
    </a>
  </div> 
{{/if}}
