<i class="black close icon"></i>
<div class="header">
  {{t 'Notify Speakers'}}
</div>
<div class="content">
  {{t 'Session Notify Email'}}
</div>
<div class="actions">
  <button type="button" class="ui green button" {{action this.notify}}>
    {{t 'Notify'}}
  </button>
  <button type="button" class="ui button" {{action 'close'}}>
    {{t 'Cancel'}}
  </button>
</div>
