<i class="black close icon"></i>
<div class="header">
  {{t 'Notify Speakers'}}
</div>
<div class="content">
  {{t 'Session Notify Email'}}
  {{#if this.loading}}
    <div class="ui active inverted dimmer">
      <div class="ui text loader"></div>
    </div>
  {{else}}
    <p>{{this.mail.subject}}</p>
    <p>{{this.mail.message}}</p>
  {{/if}}
</div>
<div class="actions">
  <button type="button" class="ui green button" {{action "notifySession"}}>
    {{t 'Notify'}}
  </button>
  <button type="button" class="ui button" {{action 'close'}}>
    {{t 'Cancel'}}
  </button>
</div>
