<form class="ui form" {{action 'submit' this.data on='submit'}}>
  <div class="field">
    <label class="required">{{t 'Access Code'}}</label>
    <Input
      @type="text"
      @name="access_code"
      @value={{this.data.code}} />
  </div>
  <div class="field">
    <label class="required">{{t 'Number of Access Tickets'}}</label>
    <Input
      @type="number"
      @name="number_of_access_tickets"
      placeholder="0"
      @min={{0}}
      @value={{this.data.ticketsNumber}} />
  </div>
  <div class="grouped inline fields">
    <label class="required">{{t 'Status'}}</label>
    <div class="field">
      <UiRadio
        @current={{this.data.isActive}}
        @name="status"
        @label={{t "Active"}}
        @value="true"
        @onChange={{action (mut this.data.isActive)}} />
    </div>
    <div class="field">
      <UiRadio
        @name="status"
        @label="Inactive"
        @value="false"
        @current={{this.data.isActive}}
        @onChange={{action (mut this.data.isActive)}} />
    </div>
  </div>
  {{#if this.hiddenTickets}}
    <div class="inline field">
      <label class="required">{{t 'Select Tickets applied to the access code'}}</label>
      <div class="ui hidden divider"></div>
      <UiCheckbox
        @label={{t "Select all Ticket types"}}
        @name="all_ticket_types"
        @value="tickets"
        @checked={{this.allTicketTypesChecked}}
        @onChange={{action "toggleAllSelection"}} />
    </div>
  {{else}}
    <div class="inline field">
      <label>{{t 'No hidden tickets available for this event to select from'}}</label>
    </div>
  {{/if}}
  <div class="ui list">
    {{#each this.hiddenTickets as |ticket|}}
      <UiCheckbox
        @label={{ticket.name}}
        @checked={{ticket.isChecked}}
        @onChange={{action "updateTicketsSelection" ticket}} />
      <br>
    {{/each}}
  </div>
  <div>
    <div class="inline field">
      <UiCheckbox
        @class="toggle"
        @label={{t "Show more options"}}
        @checked={{this.showMoreOptions}}
        @onChange={{action (mut this.showMoreOptions)}} />
    </div>
    {{#if this.showMoreOptions}}
      {{t 'Set the min and max quantity allowed to purchase per order(Optional)'}}
      <div class="{{unless this.device.isMobile 'fields'}}">
        <div class="wide field {{if this.device.isMobile 'sixteen' 'five'}}">
          <label>{{t 'Min'}}</label>
          <Input
            @type="number"
            @name="min"
            @min={{0}}
            @value={{this.data.minQuantity}} />
        </div>
        {{#if this.device.isMobile}}
          <div class="ui hidden divider"></div>
        {{/if}}
        <div class="wide field {{if this.device.isMobile 'sixteen' 'five'}}">
          <label>{{t 'Max'}}</label>
          <Input
            @type="number"
            @name="max"
            @min={{0}}
            @value={{this.data.maxQuantity}} />
        </div>
      </div>
      <div class="ui hidden divider"></div>
      {{t 'Validity Period(Optional)'}}
      <div class="fields">
        <div class="wide field {{if this.device.isMobile 'sixteen' 'five'}}">
          <label>{{t 'Valid from'}}</label>
          <Widgets::Forms::DatePicker
            @id="start_date"
            @value={{this.data.validFromDate}}
            @rangePosition="start" />
          <div class="ui hidden divider"></div>
          <Widgets::Forms::TimePicker
            @id="start_time"
            @value={{this.data.validFromTime}}
            @rangePosition="start" />
        </div>
        <div class="wide field {{if this.device.isMobile 'sixteen' 'five'}}">
          <label>{{t 'Expires on'}}</label>
          <Widgets::Forms::DatePicker
            @id="end_date"
            @value={{this.data.validTillDate}}
            @rangePosition="end" />
          <div class="ui hidden divider"></div>
          <Widgets::Forms::TimePicker
            @id="end_time"
            @value={{this.data.validTillTime}}
            @rangePosition="end" />
        </div>
      </div>
    {{/if}}
    <div class="field">
      <label>{{t 'Access Link'}}</label>
      <div class="ui action input fluid">
        <input type="text" value="{{this.accessLink}}" placeholder="{{this.accessLink}}" readonly>
        <CopyButton
          @class="ui black right labeled icon copy button"
          @clipboardText={{this.accessLink}}
          @success={{action "copiedText"}}>
          <i class="copy icon"></i>
          {{t 'Copy'}}
        </CopyButton>
      </div>
    </div>
    {{#if this.isLinkSuccess}}
      <div><span style="float:right;color:green;">Link copied to clipboard</span></div>
    {{/if}}
  </div>
  <div class="ui hidden divider"></div>
  <button type="submit" class="ui teal submit button" name="submit">{{t 'Save'}}</button>
</form>
