<form class="ui form" {{action 'submit' data on='submit'}}>
  <div class="field">
    <label class="required">{{t 'Access Code'}}</label>
    <Input @type="text" @name="access_code" @value={{data.code}} />
  </div>
  <div class="field">
    <label class="required">{{t 'Number of Access Tickets'}}</label>
    <Input @type="number" @name="number_of_access_tickets" placeholder="0" @min={{0}} @value={{data.ticketsNumber}} />
  </div>
  <div class="grouped inline fields">
    <label class="required">{{t 'Status'}}</label>
    <div class="field">
      <UiRadio @current={{data.isActive}} @name="status" @label={{t "Active"}} @value="true" @onChange={{action (mut data.isActive)}} />
    </div>
    <div class="field">
      <UiRadio @name="status" @label="Inactive" @value="false" @current={{data.isActive}} @onChange={{action (mut data.isActive)}} />
    </div>
  </div>
  {{#if hiddenTickets}}
    <div class="inline field">
      <label class="required">{{t 'Select Tickets applied to the access code'}}</label>
      <div class="ui hidden divider"></div>
      <UiCheckbox @label={{t "Select all Ticket types"}} @name="all_ticket_types" @value="tickets" @checked={{allTicketTypesChecked}} @onChange={{action "toggleAllSelection"}} />
    </div>
  {{else}}
    <div class="inline field">
      <label>{{t 'No hidden tickets available for this event to select from'}}</label>
    </div>
  {{/if}}
  <div class="ui list">
    {{#each hiddenTickets as |ticket|}}
      <UiCheckbox @label={{ticket.name}} @checked={{ticket.isChecked}} @onChange={{action "updateTicketsSelection" ticket}} />
      <br>
    {{/each}}
  </div>
  <div>
    <div class="inline field">
      <UiCheckbox @class="toggle" @label={{t "Show more options"}} @checked={{showMoreOptions}} @onChange={{action (mut showMoreOptions)}} />
    </div>
    {{#if showMoreOptions}}
      {{t 'Set the min and max quantity allowed to purchase per order(Optional)'}}
      <div class="{{unless device.isMobile 'fields'}}">
        <div class="wide field {{if device.isMobile 'sixteen' 'five'}}">
          <label>{{t 'Min'}}</label>
          <Input @type="number" @name="min" @min={{0}} @value={{data.minQuantity}} />
        </div>
        {{#if device.isMobile}}
          <div class="ui hidden divider"></div>
        {{/if}}
        <div class="wide field {{if device.isMobile 'sixteen' 'five'}}">
          <label>{{t 'Max'}}</label>
          <Input @type="number" @name="max" @min={{0}} @value={{data.maxQuantity}} />
        </div>
      </div>
      <div class="ui hidden divider"></div>
      {{t 'Validity Period(Optional)'}}
      <div class="fields">
        <div class="wide field {{if device.isMobile 'sixteen' 'five'}}">
          <label>{{t 'Valid from'}}</label>
          <Widgets::Forms::DatePicker @id="start_date" @value={{data.validFromDate}} @rangePosition="start" />
          <div class="ui hidden divider"></div>
          <Widgets::Forms::TimePicker @id="start_time" @value={{data.validFromTime}} @rangePosition="start" />
        </div>
        <div class="wide field {{if device.isMobile 'sixteen' 'five'}}">
          <label>{{t 'Expires on'}}</label>
          <Widgets::Forms::DatePicker @id="end_date" @value={{data.validTillDate}} @rangePosition="end" />
          <div class="ui hidden divider"></div>
          <Widgets::Forms::TimePicker @id="end_time" @value={{data.validTillTime}} @rangePosition="end" />
        </div>
      </div>
    {{/if}}
    <div class="field">
      <label>{{t 'Access Link'}}</label>
      <div class="ui action input fluid">
        <input type="text" value="{{accessLink}}" placeholder="{{accessLink}}" readonly>
        <CopyButton @class="ui black right labeled icon copy button" @clipboardText={{accessLink}} @success={{action "copiedText"}}>
          <i class="copy icon"></i>
          {{t 'Copy'}}
        </CopyButton>
      </div>
    </div>
    {{#if this.isLinkSuccess}}
      <div><span style="float:right;color:green;">Link copied to clipboard</span></div>
    {{/if}}
  </div>
  <div class="ui hidden divider"></div>
  <button type="submit" class="ui teal submit button" name="submit">{{t 'Save'}}</button>
</form>
