<form class="ui form {{if isLoading 'loading'}}"  {{action 'submit' data on='submit'}} autocomplete="off">
  <h3 class="ui dividing header">
    <i class="checkmark box icon"></i>
    <div class="content">
      {{t 'Information to Collect'}}
    </div>
  </h3>
  <div class="ui two column stackable grid">
    <div class="column">
      <table class="ui selectable celled table">
        <thead>
          <tr>
            {{#if device.isMobile}}
              <th class="center aligned">
                {{t 'Options'}}
              </th>
            {{else}}
              <th class="right aligned">
                {{t 'Option'}}
              </th>
              <th class="center aligned">
                {{t 'Include'}}
              </th>
              <th class="center aligned">
                {{t 'Require'}}
              </th>
            {{/if}}
          </tr>
        </thead>
        <tbody>
          {{#each normalFields as |field|}}
            <tr class="{{if field.isIncluded 'positive'}}">
              <td class="{{if device.isMobile 'center' 'right'}} aligned">
                <label class="{{if field.isFixed 'required'}}">
                  {{field.name}}
                </label>
              </td>
              <td class="center aligned">
                {{ui-checkbox class='slider'
                              checked=field.isIncluded
                              disabled=field.isFixed
                              onChange=(action (mut field.isIncluded))
                              label=(if device.isMobile (t 'Include'))}}
              </td>
              <td class="center aligned">
                {{ui-checkbox class='slider'
                              checked=field.isRequired
                              disabled=field.isFixed
                              onChange=(action (mut field.isRequired))
                              label=(if device.isMobile (t 'Require'))}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <h3 class="ui dividing header">
      <i class="options box icon"></i>
      <div class="content">
        {{t 'Custom Fields'}}
      </div>
    </h3>
  </div>
  <div class="ui hidden divider"></div>
  <div class="ui stackable grid">
    {{#each data.customForms as |question|}}
      {{#if question.isCustomQuestion}}
        <div class="ui field three wide column">
          <label class="required">{{t 'Name'}}</label>
          {{input type='text' name='name' value=question.fieldIdentifier placeholder=(t 'Name of field')}}
        </div>
        <div class="ui field four wide column">
          <label>{{t 'Question Prompt'}}</label>
          {{input type='text' name='prompt' value=question.prompt placeholder=(t 'Question Prompt')}}
        </div>
        <div class="ui field two wide column">
          <label class="required">{{t 'Require'}}</label>
          {{ui-checkbox checked=question.isRequired class='slider' onChange=(action (mut question.isRequired))}}
        </div>
        <div class="ui field two wide column">
          <label class="required">{{t 'Include'}}</label>
          {{ui-checkbox checked=question.isIncluded class='slider' onChange=(action (mut question.isIncluded))}}
        </div>
        <div class="ui field two wide column">
          <label class="required">{{t 'Type'}}</label>
          {{#ui-dropdown class='search selection' selected=question.type}}
            {{input type='hidden' value=question.type}}
            <i class="dropdown icon"></i>
            <div class="default text">{{t 'Select Type'}}</div>
            <div class="menu">
              {{#each typeList as |typeList|}}
                <div class="item" data-value="{{typeList.type}}">
                  {{typeList.type}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        </div>
        <div class="field one wide column centered row" style="margin-top: 24px;">
          {{#ui-popup content=(t 'Delete')
                      class='ui icon button'
                      click=(action (confirm (t 'Are you sure you would like to remove this event fee?') (action 'deleteQuestion' question)))}}
            <i class="trash outline icon"></i>
          {{/ui-popup}}
        </div>
      {{/if}}
    {{/each}}
  </div>
  <div class="ui hidden divider"></div>
  <button type="button" class="ui teal button" {{action 'addNewQuestion'}}>
    {{t 'Add New'}}
  </button>
  <h3 class="ui dividing header">
    <i class="options box icon"></i>
    <div class="content">
      {{t 'Registration Options'}}
    </div>
  </h3>
  <div class="field">
    <label>{{t 'REGISTRATION TIME LIMIT'}}</label>
    <div class="{{unless device.isMobile 'two wide'}} field">
      {{input type='number' id='orderExpiryTime' value=data.event.orderExpiryTime min="1" max="60" step="1"}}
    </div>
  </div>
  <div class="ui hidden divider"></div>
  <button type="submit" class="ui teal submit button" name="submit">{{t 'Save'}}</button>
</form>
