<div class="header">
  {{t 'Are you sure you would like to delete this event?'}}
  <div class="muted small text">
    {{t 'Deleting the event will delete all the data associated with it.'}}
  </div>
</div>
<div class="content">
  <form class="ui {{if this.isLoading 'loading'}} form" id="delete-form" autocomplete="off" {{action this.deleteEvent on='submit' preventDefault=true}}>
    <div class="field">
      <div class="label">
        {{t 'Please enter the full name of the event to continue'}}
      </div>
      <Input @type="text" @name="confirm_name" @value={{this.confirmName}} required={{true}} />
    </div>
  </form>
</div>
<div class="actions">
  <button type="button" class="ui black button" {{action 'close'}}>
    {{t 'Cancel'}}
  </button>
  <button type="submit" form="delete-form" class="ui red button" disabled={{this.isNameDifferent}}>
    {{t 'Delete Event'}}
  </button>
</div>
