<h3 class="ui header">
  {{platform}} {{t 'Tokens'}}
  <div class="sub header">
    {{t 'See'}}
    <a href="{{platformUrl}}" target="_blank" rel="noopener nofollow">
      {{t 'here'}}
    </a>
    {{t 'on how to obtain these tokens.'}}
  </div>
</h3>
{{#unless (eq platform 'Twitter')}}
  <div class="field">
    <label>
      {{t 'Client ID'}}
    </label>
    {{input type='text' name=(concat (lowercase platform) '_client_id')}}
  </div>
  <div class="field">
    <label>
      {{t 'Client secret'}}
    </label>
    {{input type='text' name=(concat (lowercase platform) '_client_secret')}}
  </div>
{{else}}
  <div class="field">
    <label>
      {{t 'Consumer ID'}}
    </label>
    {{input type='text' name=(concat (lowercase platform) '_consumer_id')}}
  </div>
  <div class="field">
    <label>
      {{t 'Consumer secret'}}
    </label>
    {{input type='text' name=(concat (lowercase platform) '_consumer_secret')}}
  </div>
{{/unless}}
<div class="ui hidden divider"></div>
