<h3 class="ui header">
  {{t 'Start Page'}}
  <div class="sub header">
    {{t 'To customize the default start page'}}
  </div>
</h3>
<div class="field">
  <UiRadio @label={{t "Use default start page"}} @name="start_page" @current={{start_page}} @value="null" @onChange={{action (mut this.settings.startPgEventId)}} />
</div>
<div class="field">
  <UiRadio @label={{t "Use event as start page with ID (Enter event ID here)"}} @name="start_page" @current={{start_page}} @value={{this.settings.startPgEventId}} @onChange={{action (mut this.settings.startPgEventId)}} />
</div>
<div class="field">
  <label>
    {{t 'Use event as start page with ID (Enter event ID here)'}}
  </label>
  <Input @type="text" @name="start_page" @value={{this.settings.startPgEventId}} />
</div>