<h3 class="ui header">
  {{t 'Start Page'}}
  <div class="sub header">
    {{t 'To customize the default start page'}}
  </div>
</h3>
<div class="field">
  <UiRadio @label={{t "Use default start page"}} @name="start"  @value="default" @current={{@settings.startPgEnabled}}  @onChange={{action (mut @settings.startPgEnabled)}} />
</div>
<div class="field">
  <UiRadio @label={{t "Use event as start page with ID (Enter event ID here)"}} @name="start" @value="event" @current={{@settings.startPgEnabled}}   @onChange={{action (mut @settings.startPgEnabled)}}  />
</div>
{{#if (eq @settings.startPgEnabled 'event') }}
  <div class="field">
    <label>
      {{t 'Use event as start page with ID (Enter event ID here)'}}
    </label>
    <Input @type="text" @name="start_page" @value={{@settings.startPgEventId}} />
  </div>
{{/if}}
