<h3 class="ui header">
  {{t 'Storage'}}
  <div class="sub header">
    {{t 'Where to store data ?'}}
  </div>
</h3>
<div class="field">
  {{ui-radio label=(t 'Local') current ='local' name='storage' value='local' onChange=(action (mut selectedStorage))}}
  <span class="small text">
    ({{t 'stored in'}} /static/media/folder)
  </span>
</div>
<div class="field">
  {{ui-radio label=(t 'Google Storage') name='storage' value='google' onChange=(action  (mut selectedStorage))}}
  <span class="small text">
    ({{t 'See'}}
    <a href="https://cloud.google.com/storage/docs/migrating#defaultproj" target="_blank" rel="noopener nofollow">
      {{t 'here'}}
    </a>
    {{t 'on how to obtain these keys.'}})
  </span>
</div>
{{#if (eq selectedStorage 'google')}}
  <div class="field">
    <label>
      {{t 'Bucket name'}}
    </label>
    {{input type='text' name='google_storage_bucket_name'}}
  </div>
  <div class="field">
    <label>
      {{t 'Interoperable access key'}}
    </label>
    {{input type='text' name='google_storage_access_key'}}
  </div>
  <div class="field">
    <label>
      {{t 'Interoperable access secret'}}
    </label>
    {{input type='text' name='google_storage_access_secret'}}
  </div>
  <div class="ui hidden divider"></div>
{{/if}}
<div class="field">
  {{ui-radio label=(t 'Amazon S3') name='storage' value='S3' onChange=(action (mut selectedStorage))}}
  <span class="small text">
    ({{t 'See'}}
    <a href="http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-getting-started.html" target="_blank" rel="noopener nofollow">
      {{t 'here'}}
    </a>
    {{t 'on how to obtain these keys.'}})
  </span>
</div>
{{#if (eq selectedStorage 'S3')}}
  <div class="less padding field">
    <label>
      {{t 'Region'}}
    </label>
    {{#ui-dropdown class='fluid selection'}}
      {{input type='hidden' id='amazon_s3_region'}}
      <div class="default text">
        {{t 'Select S3 Region'}}
      </div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each regions as |region|}}
          <div class="item" data-value="{{region}}">
            {{region}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>
  <div class="field">
    <label>
      {{t 'Bucket name'}}
    </label>
    {{input type='text' name='amazon_s3_bucket_name'}}
  </div>
  <div class="field">
    <label>
      {{t 'Key'}}
    </label>
    {{input type='text' name='amazon_s3_key'}}
  </div>
  <div class="field">
    <label>
      {{t 'Secret'}}
    </label>
    {{input type='text' name='amazon_s3_secret'}}
  </div>
{{/if}}