<div class="ui grid stackable">
  <div class="row">
    <div class="eight wide column">
      <TabbedNavigation @isNonPointing={{true}}>
        <LinkTo @route="account.billing.invoices.list" @model="all" class="item">
          {{t 'All'}}
        </LinkTo>
        <LinkTo @route="account.billing.invoices.list" @model="due" class="item">
          {{t 'Due'}}
        </LinkTo>
        <LinkTo @route="account.billing.invoices.list" @model="paid" class="item">
          {{t 'Paid'}}
        </LinkTo>
        <LinkTo @route="account.billing.invoices.list" @model="refunding" class="item">
          {{t 'Refunding'}}
        </LinkTo>
        <LinkTo @route="account.billing.invoices.list" @model="refunded" class="item">
          {{t 'Refunded'}}
        </LinkTo>
        <LinkTo @route="account.billing.invoices.list" @model="failed" class="item">
          {{t 'Failed'}}
        </LinkTo>
        <LinkTo @route="account.billing.invoices.list" @model="resolved" class="item">
          {{t 'Resolved'}}
        </LinkTo>
      </TabbedNavigation>
    </div>
  </div>
  <div class="row">
    {{outlet}}
  </div>
</div>
