{{#if this.record}}
  <div class="ui list">
    {{#each this.record as |ticket|}}
      <div class="item">{{ticket.name}} ({{add ticket.orderStatistics.tickets.completed ticket.orderStatistics.tickets.placed}}/{{ticket.quantity}}) <span class="item muted text">[{{t-var (convert-to-normal-string ticket.type)}}]</span></div>
    {{/each}}
    <div>{{t 'Total Sales'}} - {{this.extraRecords.totalSales}}</div>
  </div>
{{else}}
  <div>{{t 'No Ticket Information'}}</div>
{{/if}}
