<div class="ui stackable grid">
  <div class="row">
    <div class="center aligned column">
      <h5 class="ui sub header">
        {{t 'Version 1.0.0-alpha.10'}}
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="five wide column">
      <div class="ui center aligned fluid segment">
        <h3 class="ui left aligned header">
          {{t 'Sessions'}}
        </h3>
        <div class="ui divider"></div>
        <h3 class="ui header">
          {{t 'Number of Sessions'}}
        </h3>
        <div class="ui small statistic">
          <div class="label">
            {{t 'Accepted'}}
          </div>
          <div class="value">
            <div class="ui teal label">
              {{model.sessions.accepted}}
            </div>
          </div>
        </div>
        <div class="ui small statistic">
          <div class="label">
            {{t 'Draft'}}
          </div>
          <div class="value">
            <div class="ui yellow label">
              {{model.sessions.pending}}
            </div>
          </div>
        </div>
        <div class="ui small statistic">
          <div class="label">
            {{t 'Rejected'}}
          </div>
          <div class="value">
            <div class="ui red label">
              {{model.sessions.rejected}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="six wide column">
      <div class="ui center aligned fluid segment">
        <h3 class="ui left aligned header">
          {{t 'Events'}}
        </h3>
        <div class="ui divider"></div>
        <h3 class="ui header">
          {{t 'Number of Events'}}
        </h3>
        <div class="ui small statistic">
          <div class="label">
            {{t 'Live'}}
          </div>
          <div class="value">
            <div class="ui teal label">
              {{model.events.published}}
            </div>
          </div>
        </div>
        <div class="ui small statistic">
          <div class="label">
            {{t 'Draft'}}
          </div>
          <div class="value">
            <div class="ui yellow label">
              {{model.events.draft}}
            </div>
          </div>
        </div>
        <div class="ui small statistic">
          <div class="label">
            {{t 'Past'}}
          </div>
          <div class="value">
            <div class="ui red label">
              {{model.events.past}}
            </div>
          </div>
        </div>
      </div>
      <div class="ui fluid center aligned segment">
        <h3 class="ui left aligned header">
          {{t 'Messages'}}
        </h3>
        <div class="ui divider"></div>
        <h3 class="ui header">
          {{t 'No. of Sent Mails'}}
        </h3>
        <table class="ui celled table">
          <tbody>
            <tr>
              <td>{{t 'In last 24 hours'}}</td>
              <td class="right aligned">
                {{model.mails.oneDay}}
              </td>
            </tr>
            <tr>
              <td>{{t 'In last 3 days'}}</td>
              <td class="right aligned">
                {{model.mails.threeDays}}
              </td>
            </tr>
            <tr>
              <td>{{t 'In last 7 days	'}}</td>
              <td class="right aligned">
                {{model.mails.sevenDays}}
              </td>
            </tr>
            <tr>
              <td>{{t 'In last 1 month	'}}</td>
              <td class="right aligned">
                {{model.mails.thirtyDays}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="five wide column">
      <div class="ui center aligned fluid segment">
        <h3 class="ui left aligned header">
          {{t 'Users'}}
        </h3>
        <div class="ui divider">
        </div>
        <h3 class="ui header">
          {{t 'System Roles'}}
        </h3>
        <table class="ui celled table">
          <tbody>
            <tr>
              <td>{{t 'No. of Super Admins'}}</td>
              <td class="right aligned">{{model.users.superAdmin}}</td>
            </tr>
            <tr>
              <td>{{t 'No. of Admins'}}</td>
              <td class="right aligned">{{model.users.admin}}</td>
            </tr>
            <tr>
              <td>{{t 'No. of Registered Users'}}</td>
              <td class="right aligned">{{model.users.verified}}</td>
            </tr>
            <tr>
              <td>{{t 'No. of Unverified Users'}}</td>
              <td class="right aligned">{{model.users.unverified}}</td>
            </tr>
            <tr>
              <td>{{t 'No. of Total Users'}}</td>
              <td class="right aligned">{{model.users.total}}</td>
            </tr>
          </tbody>
        </table>
        <h3 class="ui header">
          {{t 'Event Roles'}}
        </h3>
        <table class="ui celled table">
          <tbody>
            <tr>
              <td>{{t 'No. of Owners'}}</td>
              <td class="right aligned">{{model.users.owner}}</td>
            </tr>
            <tr>
              <td>{{t 'No. of Organizers'}}</td>
              <td class="right aligned">{{model.users.organizer}}</td>
            </tr>
            <tr>
              <td>{{t 'No. of Co-Organizers'}}</td>
              <td class="right aligned">{{model.users.coorganizer}}</td>
            </tr>
            <tr>
              <td>{{t 'No. of Track Organizers'}}</td>
              <td class="right aligned">{{model.users.trackOrganizer}}</td>
            </tr>
            <tr>
              <td>{{t 'No. of Attendees'}}</td>
              <td class="right aligned">{{model.users.attendee}}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
