<div class="ui grid stackable">
  <div class="row">
    <div class="sixteen wide column">
      {{#tabbed-navigation isNonPointing=true}}
        {{#link-to 'admin.sessions.list' 'all' class='item'}}
          {{t 'All'}}
        {{/link-to}}
        {{#link-to 'admin.sessions.list' 'confirmed' class='item'}}
          {{t 'Confirmed'}}
        {{/link-to}}
        {{#link-to 'admin.sessions.list' 'pending' class='item'}}
          {{t 'Pending'}}
        {{/link-to}}
        {{#link-to 'admin.sessions.list' 'accepted' class='item'}}
          {{t 'Accepted'}}
        {{/link-to}}
        {{#link-to 'admin.sessions.list' 'rejected' class='item'}}
          {{t 'Rejected'}}
        {{/link-to}}
        {{#link-to 'admin.sessions.list' 'deleted' class='item'}}
          {{t 'Deleted'}}
        {{/link-to}}
      {{/tabbed-navigation}}
    </div>
  </div>
  <div class="row">
    {{outlet}}
  </div>
</div>
