<div class="event">
  <div class="description" id="info">
    {{sanitize model.event.description}}
  </div>
  <div class="ui hidden divider"></div>
  {{#if (or ticketUrl model.tickets)}}
    <div class="tickets" id="tickets">
      <div class="ui segments ticket-list">
        <div class="ui segment">
          <h3 class="ui header">{{t 'Tickets'}}</h3>
        </div>
        <div class="ui segment">
          {{#if model.event.isTicketingEnabled}}
            {{public/ticket-list ticketUrl=model.event.ticketUrl isTicketingEnabled=model.event.isTicketingEnabled tickets=model.tickets}}
          {{else}}
            <div class="ui grid">
              <div class="ui row">
                <div class="column">
                  <a target="_blank" rel="noopener noreferrer" href="{{ticketUrl}}" class="ui right labeled blue icon button">
                    <i class="ticket icon"></i>
                    {{t 'Order tickets'}}
                  </a>
                </div>
              </div>
              <div class="ui row muted text">
                <div class="column">
                  {{t 'You will be taken to '}} {{ticketUrl}} {{t ' to complete the purchase of tickets'}}
                </div>
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="ui hidden divider"></div>
  {{/if}}
  <div class="featured-speakers" id="speakers">
    <div class="row">
      {{public/featured-speaker-list speakers=featuredSpeakers}}
    </div>
  </div>
  <div class="ui hidden divider"></div>
  <div class="speakers">
    <div class="row">
      {{public/speaker-list speakers=nonFeaturedSpeakers}}
    </div>
  </div>
  <div class="ui hidden divider" id="sponsors"></div>
  <div class="sponsors">
    <div class="row">
      {{public/sponsor-list sponsors=model.sponsors}}
    </div>
  </div>
  <div class="ui hidden divider"></div>
  <div class="location">
    <h1 id="getting-here">{{t 'Getting Here'}}</h1>
    {{public/event-map event=model.event}}
  </div>
  <div class="ui hidden divider"></div>
  <div class="copyright">
    {{public/copyright-item licenseName='Attribution'}}
  </div>
</div>
