<div class="event">
  {{#if model.event.description}}
    <div class="description" id="info">
      {{sanitize model.event.description}}
    </div>
    <div class="ui hidden divider"></div>
  {{/if}}
  {{#if (or model.event.ticketUrl model.tickets)}}
    <div class="tickets" id="tickets">
      <div class="ui segments ticket-list">
        <div class="ui segment">
          <h3 class="ui header">{{t 'Tickets'}}</h3>
        </div>
        <div class="ui segment">
          <Public::TicketList @eventCurrency={{model.event.paymentCurrency}} @ticketUrl={{model.event.ticketUrl}} @data={{model.tickets}} @order={{model.order}} @event={{model.event}} @attendees={{model.attendees}} @code={{code}} @taxInfo={{model.tax}} @currentEventIdentifier={{model.event.identifier}} @createNewUserViaEmail={{action "createNewUserViaEmail"}} @loginExistingUser={{action "loginExistingUser"}} @isLoginModalOpen={{isLoginModalOpen}} @placeOrder={{action "placeOrder"}} @isLoading={{isLoading}} @userExists={{userExists}} @errorMessage={{errorMessage}} @save="save" />
        </div>
      </div>
    </div>
    <div class="ui hidden divider"></div>
  {{/if}}
  {{#if model.featuredSpeakers}}
    <div class="featured-speakers" id="speakers">
      <div class="row">
        <Public::FeaturedSpeakerList @speakers={{model.featuredSpeakers}} />
      </div>
    </div>
    <div class="ui hidden divider"></div>
  {{/if}}
  {{#if model.sponsors}}
    <div class="sponsors">
      <div class="row">
        <Public::SponsorList @sponsors={{model.sponsors}} />
      </div>
    </div>
    <div class="ui hidden divider"></div>
  {{/if}}
  {{#if model.event.hasOwnerInfo}}
    <h2 class="ui header" id="owner">
      {{t 'Organized  by'}} {{model.event.ownerName}}
    </h2>
    {{sanitize model.event.ownerDescription}}
    <div class="ui hidden divider"></div>
  {{/if}}
  <div class="location" id="getting-here">
    <Public::EventMap @event={{model.event}} @mapConfig={{model.mapConfig}} />
  </div>
  <div class="ui hidden divider"></div>
  {{#if model.event.copyright}}
    <div class="copyright">
      <Public::CopyrightItem @copyright={{model.event.copyright}} />
    </div>
  {{/if}}
</div>
