{{create-session-message isNewSpeaker=isNewSpeaker isNewSession=isNewSession data=data}}
<h1 class="ui header">
  {{t 'Call for Speakers'}}
  {{#if data.speakersCall.isOpen}}
    <a class="ui basic green label">{{t 'Open'}}</a>
    <div class="sub header">
      {{t 'Call for Speakers is open until'}} {{moment-format data.speakersCall.endsAt 'ddd, MMM DD h:mm A'}}
    </div>
  {{else}}
    <a class="ui basic red label">{{t 'Closed'}}</a>
    <div class="sub header">
      {{#if data.speakersCall.isInFuture}}
        {{t 'Call for Speakers will open at'}} {{moment-format data.speakersCall.startsAt 'ddd, MMM DD h:mm A' }}
      {{else}}
        {{t 'Call for Speakers was closed at'}} {{moment-format data.speakersCall.endsAt 'ddd, MMM DD h:mm A'}}
      {{/if}}
    </div>
  {{/if}}
</h1>
<div class="ui divider"></div>
{{sanitize data.speakersCall.announcement}}
<div class="ui hidden divider"></div>
{{#if data.speakersCall.isOpen}}
  <button type="submit" class="ui teal submit button" {{action 'openModal'}}>
    {{t 'Submit Proposal'}}
  </button>
{{/if}}

{{modals/cfs-proposal-modal isOpen=isCfsModalOpen isNewSpeaker=isNewSpeaker isNewSession=isNewSession data=data}}
{{modals/login-signup-modal isOpen=isLoginModalOpen}}
