<h1 class="ui header">
  {{t 'Call for Speakers'}}
  {{#if callForSpeakers.isClosed}}
    <a class="ui basic red label">{{t 'Closed'}}</a>
  {{else}}
    <a class="ui basic green label">{{t 'Open'}} </a>
    <div class="sub header">
      {{t 'Call for Speakers Open until'}} Fri, Oct 13 2017 5:00 pm
    </div>
  {{/if}}
</h1>
<div class="ui divider"></div>
  <p>
    The OpenTechSummit brings together the most exciting ideas and makers of the open-technology community. In 2017 the technology
    pioneers in Potsdam will meet again on Ascension Day, the 25th of May, to present, discuss and network their projects and ideas in lectures and workshops.
  </p>
  <p>
    The focal theme this year is Artificial Intelligence and Personal Assistants. What promising open source solutions are there?
    For our 2017 event, we are looking for speakers who share our passion for sharing free open source code, free knowledge and community.
    It is also about the sustainable implementation of ideas and business concepts in start-ups. And in a tech-kids track, teens learn to build coden and hardware themselves.
  </p>
  <p>
    Participants from all over the world are welcome. The conference languages ​​are English and German.
    The first OpenTech Summit took place in Taiwan in 2009. In the last two years, the event conquered Berlin. In 2017 we will be in Potsdam on the site of the independent cultural initiative "Freiland e.V.".
    An inspiring place that many interesting initiatives share. Here is the FabLab of the Science Store Potsdam where 3D printing workshops can take place and in a recording studio participants can learn the
    creation of radio broadcasts with free software. There are areas for workshop for soldering, programming of games in Coderdojos or the installation of own cloud solutions in companies.
    In the business track, startups will show how they are successful with the help of open software.
    At the OpenTechSummit we want to open up the location and share open ideas in all directions. We look forward to creative contributions and projects.
  </p>
<button type="submit" class="ui teal submit button">
  {{t 'Submit Proposal'}}
</button>



