{{#if this.event.isMapShown}}
  <div class="eight wide column event-map">
    <h1>{{t 'Getting Here'}}</h1>
    <LeafletMap @lat={{this.lat}} @lng={{this.lng}} @zoom={{this.zoom}} as |layers|>
      <layers.tile @url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"/>
      <layers.marker @location={{emberConfLocation}} as |marker|>
        <marker.popup>
          <h3>{{this.event.name}}</h3>
          {{this.event.locationName}}
        </marker.popup>
      </layers.marker>
    </LeafletMap>
  </div>
{{/if}}
<div class="{{if this.event.isMapShown 'eight' 'sixteen'}} wide column address">
  <h1>{{t 'Address'}}</h1>
  <p>{{this.event.locationName}}</p>
</div>
