{{#if event.isMapShown}}
  <div class="eight wide column event-map">
    <h1>{{t 'Getting Here'}}</h1>
    {{#g-map lat=event.latitude lng=event.longitude zoom=15 gestureHandling='cooperative' streetView='StreetViewPanorama' as |context|}}
      {{g-map-marker context lat=event.latitude lng=event.longitude}}
    {{/g-map}}
  </div>
{{/if}}
<div class="{{if event.isMapShown 'eight' 'sixteen'}} wide column address">
  <h1>{{t 'Address'}}</h1>
  <p>{{event.locationName}}</p>
</div>
