{{#ui-accordion}}
  <div class="title">
    <div class="ui">
      <h3 class="ui header">
        {{session.title}}
        <div class="sub header">
          {{session.sessionType.name}}
        </div>
      </h3>
      <div class="ui row">Talk</div>
    </div>
    <br>
    <div class="ui grid">
      <div class="row">
        <div class="column twelve wide">
          <div class="session-speakers">
            {{#each session.speakers as |speaker|}}
              <img alt="speaker" class="ui mini avatar image" src="{{if speaker.photo.iconImageUrl speaker.image '/images/placeholders/avatar.png'}}">
            {{/each}}
          </div>
        </div>
        <div class="ui right aligned column four wide" style="padding-left: 0">
          <div class=""><i class="marker icon"></i>{{session.microlocation.name}}</div>
          <div class=""><i class="wait icon"></i>{{moment-format session.startAt 'hh:mm a / DD-MM-YYYY'}}</div>
        </div>
      </div>
      <div class="row">
        <div class="column session-description">
          {{session.shortAbstract}}
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    {{#each session.speakers as |speaker|}}
      <h3 class="ui header">About {{speaker.name}}:</h3>
      <p>
        {{#if speaker.shortBiography}}
          {{speaker.shortBiography}}
        {{else if speaker.longBiography}}
          {{speaker.longBiography}}
        {{else}}
          {{speaker.speakingExperience}}
        {{/if}}
      </p>
      <div class="social-icons">
        <a href="#" target="_blank" rel="noopener noreferrer"><i class="facebook f icon"></i>Facebook</a>
        <a href="#" target="_blank" rel="noopener noreferrer"><i class="linkedin f icon"></i>Linkedin</a>
        <a href="#" target="_blank" rel="noopener noreferrer"><i class="twitter icon"></i>Twitter</a>
        <a href="#" target="_blank" rel="noopener noreferrer"><i class="github icon"></i>Github</a>
      </div>
    {{/each}}
  </div>
{{/ui-accordion}}
