<div class="ui fluid vertical {{unless device.isMobile 'pointing'}} menu">
  <a class="item {{if (eq session.currentRouteName 'public.index') 'active'}}" href="{{href-to 'public.index'}}">
    {{t 'Info'}}
  </a>
  <a class="item" href="{{href-to 'public.index'}}#tickets">
    {{t 'Tickets'}}
  </a>
  <a class="item" href="{{href-to 'public.index'}}#speakers">
    {{t 'Speakers'}}
  </a>
  {{#link-to 'public.sessions' class='item'}}
    {{t 'Sessions'}}
  {{/link-to}}
  {{#link-to 'public.schedule' class='item'}}
    {{t 'Schedule'}}
  {{/link-to}}
  {{#link-to 'public.cfs' class='item'}}
    {{t 'Call for Speakers'}}
  {{/link-to}}
  <a class="item" href="{{href-to 'public.index'}}#getting-here">
    {{t 'Getting here'}}
  </a>
</div>
