<div class="ui vertical pointing menu">
  <a class="item {{if (eq session.currentRouteName 'public.index') 'active'}}" href="{{href-to 'public.index'}}">
    Info
  </a>
  <a class="item" href="{{href-to 'public.index'}}#tickets">
    Tickets
  </a>
  <a class="item" href="{{href-to 'public.index'}}#speakers">
    Speakers
  </a>
  {{#link-to 'public.sessions' class='item'}}
    Sessions
  {{/link-to}}
  {{#link-to 'public.schedule' class='item'}}
    Schedule
  {{/link-to}}
  {{#link-to 'public.cfs' class='item'}}
    Call for Speakers
  {{/link-to}}
  <a class="item" href="{{href-to 'public.index'}}#getting-here">
    Getting here
  </a>
</div>
