{{#if (and (not-eq this.session.currentRouteName 'public.cfs.new-session') (not-eq this.session.currentRouteName 'public.cfs.new-speaker') (not-eq this.session.currentRouteName 'public.cfs.edit-speaker') (not-eq this.session.currentRouteName 'public.cfs.edit-session'))}}
  <div class="ui fluid vertical {{unless this.device.isMobile 'pointing'}} menu">
    {{#if (eq this.session.currentRouteName 'public.index')}}
      <a id="info_section" href='#info' {{action "scrollToTarget" "info_section"}} class='item active scroll'>
        {{t 'Info'}}
      </a>
      {{#if this.event.tickets.length}}
        <a id="tickets_section" href='#tickets' {{action "scrollToTarget" "tickets_section"}} class='item scroll'>
          {{t 'Tickets'}}
        </a>
      {{/if}}
      {{#if this.showSpeakers}}
        <LinkTo @route="public.speakers" class="item">
          {{t 'Speakers'}}
        </LinkTo>
      {{/if}}
    {{else}}
      <a class="item" href="{{href-to 'public.index'}}">
        {{t 'Info'}}
      </a>
      {{#if this.event.tickets.length}}
        <a class="item" href="{{href-to 'public.index'}}#tickets" data-href-to-ignore>
          {{t 'Tickets'}}
        </a>
      {{/if}}
      {{#if this.showSpeakers}}
        <LinkTo @route="public.speakers" class="item">
          {{t 'Speakers'}}
        </LinkTo>
      {{/if}}
    {{/if}}
    {{#if (and this.isSchedulePublished this.showSessions)}}
      <LinkTo @route="public.sessions" class="item">
        {{t 'Schedule'}}
      </LinkTo>
    {{/if}}
    {{#if (and this.isSchedulePublished this.showSessions)}}
      <LinkTo @route="public.schedule" class="item">
        {{t 'Calendar'}}
      </LinkTo>
    {{/if}}  
    {{#if this.shouldShowCallforSpeakers }}
      <LinkTo @route="public.cfs" class="item">
        {{t 'Call for Speakers'}}
      </LinkTo>
    {{/if}}
    {{#if this.event.isSponsorsEnabled}}
      {{#if (eq this.session.currentRouteName 'public.index')}}
        <a id='sponsor_section' href='#sponsor' {{action "scrollToTarget" "sponsor_section"}}  class='item scroll'>
          {{t 'Sponsors'}}
        </a>
      {{else}}
        <a class="item" href="{{href-to 'public.index'}}#sponsor" data-href-to-ignore>
          {{t 'Sponsors'}}
        </a>
      {{/if}}
    {{/if}}
    {{#if this.event.hasOwnerInfo}}
      {{#if (eq this.session.currentRouteName 'public.index')}}
        <a id='owner_section' href='#owner' {{action "scrollToTarget" "owner_section"}} class='item scroll'>
          {{t 'Organizer'}}
        </a>
      {{else}}
        <a class="item" href="{{href-to 'public.index'}}#owner" data-href-to-ignore>
          {{t 'Organizer'}}
        </a>
      {{/if}}
    {{/if}}
    {{#if (eq this.session.currentRouteName 'public.index')}}
      <a id="getting-here_section" href='#getting-here' {{action "scrollToTarget" "getting-here_section"}} class='item scroll'>
        {{t 'Getting here'}}
      </a>
    {{else}}
      <a class="item" href="{{href-to 'public.index'}}#getting-here" data-href-to-ignore>
        {{t 'Getting here'}}
      </a>
    {{/if}}
    {{#if this.event.codeOfConduct}}
      <LinkTo @route="public.coc" class="item">
        {{t 'Code of Conduct'}}
      </LinkTo>
    {{/if}}
  </div>
{{/if}}
