{{#if (and (not-eq session.currentRouteName 'public.cfs.new-session') (not-eq session.currentRouteName 'public.cfs.new-speaker') (not-eq session.currentRouteName 'public.cfs.edit-speaker') (not-eq session.currentRouteName 'public.cfs.edit-session'))}}
  <div class="ui fluid vertical {{unless device.isMobile 'pointing'}} menu">
    {{#if (eq session.currentRouteName 'public.index')}}
      <a href='#info' {{action "scrollToTarget"}} class='item active scroll'>
        {{t 'Info'}}
      </a>
      {{#if event.tickets.length}}
        <a href='#tickets' {{action "scrollToTarget"}} class='item scroll'>
          {{t 'Tickets'}}
        </a>
      {{/if}}
      {{#if event.speakers.length}}
        {{#link-to 'public.speakers' class='item'}}
          {{t 'Speakers'}}
        {{/link-to}}
      {{/if}}
    {{else}}
      <a class="item" href="{{href-to 'public.index'}}">
        {{t 'Info'}}
      </a>
      {{#if event.tickets.length}}
        <a class="item" href="{{href-to 'public.index'}}#tickets">
          {{t 'Tickets'}}
        </a>
      {{/if}}
      {{#if event.speakers.length}}
        {{#link-to 'public.speakers' class='item'}}
          {{t 'Speakers'}}
        {{/link-to}}
      {{/if}}
    {{/if}}
    {{#if event.sessions.length}}
      {{#link-to 'public.sessions' class='item'}}
        {{t 'Sessions'}}
      {{/link-to}}
    {{/if}}
    {{#if isSchedulePublished}}
      {{#link-to 'public.schedule' class='item'}}
        {{t 'Schedule'}}
      {{/link-to}}
    {{/if}}  
    {{#if shouldShowCallforSpeakers }}
      {{#link-to 'public.cfs' class='item'}}
        {{t 'Call for Speakers'}}
      {{/link-to}}
    {{/if}}
    {{#if event.hasOwnerInfo}}
      {{#if (eq session.currentRouteName 'public.index')}}
        <a href='#owner' {{action "scrollToTarget"}} class='item scroll'>
          {{t 'Organizer'}}
        </a>
      {{else}}
        <a class="item" href="{{href-to 'public.index'}}#owner">
          {{t 'Organizer'}}
        </a>
      {{/if}}
    {{/if}}
    {{#if (eq session.currentRouteName 'public.index')}}
      <a href='#getting-here' class='item scroll'>
        {{t 'Getting here'}}
      </a>
    {{else}}
      <a class="item" href="{{href-to 'public.index'}}#getting-here">
        {{t 'Getting here'}}
      </a>
    {{/if}}
    {{#if event.codeOfConduct}}
      {{#link-to 'public.coc' class='item'}}
        {{t 'Code of Conduct'}}
      {{/link-to}}
    {{/if}}
  </div>
{{/if}}
