<div class="ui list">
  {{#if eventUrl}}
    <div class="item">
      <i class="share square fitted disabled icon"></i>
      <div class="content">
        <a href="{{eventUrl}}" target="_blank" rel="noopener nofollow">External event URL</a>
      </div>
    </div>
  {{/if}}
  {{#each socialLinks as |socialLink|}}
    <div class="item">
      <i class="share square fitted {{socialLink.normalizedName}} disabled icon"></i>
      <div class="content">
        <a href="{{socialLink.link}}" target="_blank" rel="noopener nofollow">{{socialLink.name}}</a>
      </div>
    </div>
  {{/each}}
  {{#if twitterLink}}
    <div class="item">
      <div class="twitter content">
        {{widgets/twitter-timeline handleOrProfile=twitterLink.link}}
      </div>
    </div>
  {{/if}}
</div>

