<div class="ui list">
  <div style="margin-bottom:4px;"><li>{{header-date @eventtime}} {{@eventtimezone}} To <span>{{header-date @eventtimeends}} {{@eventtimezone}}</span></li>
  <a href="https://calendar.google.com/calendar/u/0/r/eventedit?dates={{gmt-time @eventtime}}/{{gmt-time @eventtimeends}}&text={{@eventname}}&location={{@eventlocation}}&sf=true">Add To Calender</a>
  </div>
  {{#if this.externalUrl}}
    <div class="item">
      <i class="share fitted disabled icon"></i>
      <div class="content">
        <a href="{{this.externalUrl}}" target="_blank" rel="noopener nofollow">{{t 'External event URL'}}</a>
      </div>
    </div>
  {{/if}}
  {{#each this.socialLinks as |socialLink|}}
    <div class="item">
      <i class="fitted {{socialLink.normalizedName}} disabled icon"></i>
      <div class="content">
        <a href="{{socialLink.link}}" target="_blank" rel="noopener nofollow">{{socialLink.name}}</a>
      </div>
    </div>
  {{/each}}
  {{#if this.twitterLink}}
    <div class="item">
      <div class="twitter content">
        <Widgets::TwitterTimeline @handleOrProfile={{this.twitterLink.link}} />
      </div>
    </div>
  {{/if}}
</div>
