<div class="ui list">
  <div class="social-links">
    {{#if this.externalUrl}}
      <div class="mr-1" >
        <a href="{{this.externalUrl}}" class="ui icon small blue button" target="_blank" rel="noopener nofollow">
          <div style="font-size: .8rem;">{{t 'Event'}}<br/>{{t 'Site'}}</div>
        </a>
      </div>
    {{/if}}
    {{#each this.socialLinks as |socialLink|}}
      {{#if (not-eq socialLink.normalizedName 'globe')}}
        <div class="mr-1" >
          <a href="{{socialLink.link}}" class="ui icon {{socialLink.normalizedName}} {{socialLink.buttonColor}} big button">
            <i class="ui inverted {{socialLink.normalizedName}} icon"></i>
          </a>
        </div>
      {{/if}}
    {{/each}}
  {{#each this.socialLinks as |socialLink|}}
    {{#if (eq socialLink.normalizedName 'globe')}}
      <div class="m-1">
        <UiPopup @content={{t-var socialLink.displayName}}>
          <a href="{{socialLink.link}}" class="ui icon blue small button extra-link d-flex items-center content-center" target="_blank" rel="noopener nofollow">
            <div  class="clamp" style="font-size: .8rem;">{{socialLink.displayName}}</div>
          </a>
        </UiPopup>
      </div>
    {{/if}}
  {{/each}}
  </div>
</div>
