<div class="ui list">
  {{#if this.externalUrl}}
    <div class="item">
      <i class="share fitted disabled icon"></i>
      <div class="content">
        <a href="{{this.externalUrl}}" target="_blank" rel="noopener nofollow">{{t 'Event Site'}}</a>
      </div>
    </div>
  {{/if}}
  {{#each this.socialLinks as |socialLink|}}
    <div class="item">
      <i class="fitted {{socialLink.normalizedName}} disabled icon"></i>
      <div class="content">
        <a href="{{socialLink.link}}" target="_blank" rel="noopener nofollow">{{socialLink.name}}</a>
      </div>
    </div>
  {{/each}}
  {{#if this.twitterLink}}
    <div class="item">
      <div class="twitter content">
        <Widgets::TwitterTimeline @handleOrProfile={{this.twitterLink.link}} />
      </div>
    </div>
  {{/if}}
</div>
