<div class="ui list">
  <div class="social-links">
    {{#if this.externalUrl}}
      <div class="mr-1" >
        <a href="{{this.externalUrl}}" class="ui icon small blue button" target="_blank" rel="noopener nofollow">
          <div style="font-size: .8rem;">{{t 'Event'}}<br/>{{t 'Site'}}</div>
        </a>
      </div>
    {{/if}}
    {{#each this.socialLinks as |socialLink|}}
      {{#if (not-eq socialLink.normalizedName 'globe')}}
        <div class="mr-1" >
          <a href="{{socialLink.link}}" class="ui icon {{socialLink.normalizedName}} {{socialLink.buttonColor}} big button">
            <i class="ui inverted {{socialLink.normalizedName}} icon"></i>
          </a>
        </div>
      {{/if}}
    {{/each}}
  </div>
  {{#each this.socialLinks as |socialLink|}}
    {{#if (eq socialLink.normalizedName 'globe')}}
      <div class="item">
        <i class="fitted {{socialLink.normalizedName}} disabled icon"></i>
        <div class="content">
          <a href="{{socialLink.link}}" target="_blank" rel="noopener nofollow">{{socialLink.displayName}}</a>
        </div>
      </div>
    {{/if}}
  {{/each}}
</div>
