<div class="speaker-item {{if speaker.isFeatured 'ui grid stackable'}} ">
  <div class="speaker-image column eight wide">
    <img alt="{{speaker.name}}" class="ui image" src="{{if speaker.photoUrl speaker.photoUrl '/images/placeholders/avatar.png'}}">
    <br>
    <div class="speaker-name">{{speaker.name}}</div>
    <div class="speaker-organisation">{{speaker.organisation}}</div>
    <div class="social-links">
      {{#each-in socialLinks as |name link|}}
        {{#if link}}
          <a href="{{link}}" target="_blank" rel="noopener noreferrer"><i class="bordered {{name}} colored inverted icon"></i></a>
        {{/if}}
      {{/each-in}}
    </div>
  </div>
  <div class="column seven wide speaker-description {{if speaker.isFeatured show}}">
    {{speaker.shortBiography}}
  </div>
</div>
