<div class="ui segment">
  <h3 class="ui header">{{t 'Ticket Information'}}</h3>
</div>
<div class="ui segment">
  <table class="ui ui very basic table" style="margin-bottom: 0">
    <thead class="full-width">
      <tr>
        <th>{{t 'TICKET TYPE'}}</th>
        <th>{{t 'SALES ENDS'}}</th>
        <th class="ui right aligned no-float">{{t 'PRICE'}}</th>
        <th>{{t 'QUANTITY'}}</th>
        <th class="ui right aligned no-float">{{t 'SUBTOTAL'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each tickets as |ticket|}}
        <tr>
          <td>
            <div class="ui small">
              {{ticket.name}}
            </div>
            <span class="ui gray-text tiny">({{ticket.description}})</span>
          </td>
          <td>Thu, May 25</td>
          <td id="{{ticket.id}}_price" class="ui right aligned">{{format-currency ticket.price "$"}}</td>
          <td>
            {{#ui-dropdown class='compact selection' forceSelection=false}}
              {{input type='hidden' id=(concat ticket.id '_quantity') value=ticket.orderQuantity}}
              <i class="dropdown icon"></i>
              <div class="default text">{{ticket.min}}</div>
              <div class="menu">
                {{#each (range ticket.min ticket.max) as |count|}}
                  <div class="item" data-value="{{count}}">{{count}}</div>
                {{/each}}
              </div>
            {{/ui-dropdown}}
          </td>
          <td id='{{ticket.id}}_subtotal' class="ui right aligned">{{format-currency (mult ticket.orderQuantity ticket.price) "$"}}</td>
        </tr>
      {{/each}}
    </tbody>
    <tfoot class="full-width">
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th colspan="4">
          <div class="ui right aligned small primary icon">
            {{t 'Total'}}: {{format-currency total "$"}}
          </div>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
<div class="ui grid segment" style="margin-top: 0">
  <div class="row">
    <div class="ui column right aligned floated">
      <a href="#">{{t 'Enter promotional code'}}</a>
    </div>
  </div>
  <div class="ui row grid">
    <img alt="payment_logo" class="ui column eight wide right floated" src="/images/payment_logo.png" style="padding:0">
    <div id="total" class="ui small primary icon button">
      {{t 'Order Now'}}
    </div>
  </div>
</div>
