{{!-- Removed `Currency Symbol` helper from the `paymentCurrency` since some currency are not getting rendered. Hotfix until a permanent solution found --}}
<form class="ui form" {{action on='submit' preventDefault=true}}>
  <table class="ui unstackable very basic compact table" style="margin-bottom: 0">
    <thead class="full-width">
      <tr>
        <th>{{t 'Type'}}</th>
        <th class="three wide"></th>
        <th class="ui four wide single line">{{t 'Price'}}</th>
        <th class="one wide">{{t 'Quantity'}}</th>
        <th class="ui right aligned two wide">{{t 'Subtotal'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.tickets as |ticket|}}
        {{#unless ticket.isHidden}}
          <tr>
            <td>
              <div class="ui small">
                {{ticket.name}}
                {{#if (eq ticket.type 'donation')}}
                  <UiPopup
                    @tagName="i"
                    @class="info icon"
                    @content={{concat "Donation value should be between " ticket.minPrice " " this.eventCurrency " and " ticket.maxPrice " " this.eventCurrency}} />
                {{/if}}
              </div>
              {{#if ticket.isDescriptionVisible}}
                <small class="ui gray-text tiny">{{ticket.description}}</small>
              {{/if}}
              <div>
                <small class="ui gray-text small">Sale ends on {{moment-format ticket.salesEndsAt 'ddd, DD MMMM YY, h:mm A'}}</small>
              </div>
            </td>
            <td></td>
            <td id="{{ticket.id}}_price">
              {{#if (eq ticket.type 'donation') }}
                <div class="field m-0">
                  <div class="ui labeled input">
                    <label for="i_{{ticket.id}}_price" class="ui label">{{currency-symbol this.eventCurrency}}</label>
                    <Input
                      id="i_{{ticket.id}}_price"
                      @type="number"
                      @name={{ticket.id}} placeholder={{t "Enter Donation"}}
                      @min={{ticket.minPrice}}
                      @max={{ticket.maxPrice}}
                      @value={{ticket.price}}
                      @keyUp={{action "onChangeDonation"}} />
                  </div>
                </div>
              {{else}}
                <div class="{{if ticket.discount 'strike text'}}">
                  {{#if (eq ticket.price 0.00) }}
                      {{"Free"}}
                  {{else}}
                      {{currency-symbol this.eventCurrency}} {{format-money ticket.price}}
                  {{/if}}
                </div>
                {{#if ticket.discount}}
                  <div>
                    {{currency-symbol this.eventCurrency}} {{format-money (sub ticket.price ticket.discount)}}
                  </div>
                {{/if}}
              {{/if}}
              {{#if (and this.taxInfo (not-eq ticket.type 'free'))}}
                <p>
                  {{#if this.taxInfo.isTaxIncludedInPrice}}
                    <small class="ui gray-text small">
                      {{t 'includes'}} {{currency-symbol this.eventCurrency}} {{format-money ticket.includedTaxAmount}}
                    </small>
                  {{else}}
                    <small class="ui gray-text small">
                      + {{currency-symbol this.eventCurrency}} {{format-money (sub ticket.ticketPriceWithTax ticket.price)}}
                    </small>
                  {{/if}}
                  <span>
                    <small class="ui gray-text tiny aligned right">({{this.taxInfo.name}})</small>
                  </span>
                </p>
              {{/if}}
            </td>
            <td>
              <div class="field">
                <UiDropdown
                  @class="compact selection"
                  @forceSelection={{false}}
                  @onChange={{action "updateOrder" ticket}} as |execute mapper|>
                  <Input
                    @type="hidden"
                    @id={{concat ticket.id "_quantity"}}
                    @value={{ticket.orderQuantity}} />
                  <i class="dropdown icon"></i>
                  <div class="default text">0</div>
                  <div class="menu">
                    <div class="item" data-value="{{map-value mapper 0}}">0</div>
                    {{#each (range ticket.minOrder (add ticket.maxOrder 1)) as |count|}}
                      <div class="item" data-value="{{map-value mapper count}}">{{count}}</div>
                    {{/each}}
                  </div>
                </UiDropdown>
              </div>
            </td>
            <td id='{{ticket.id}}_subtotal' class="ui right aligned">
                {{#if (eq ticket.price 0.00)}}
                    {{"Free"}}
                {{else}}        
                    {{currency-symbol this.eventCurrency}} {{format-money ticket.subTotal}}
                {{/if}}
            </td>
          </tr>
        {{/unless}}
      {{/each}}
    </tbody>
    <tfoot class="full-width">
      <tr>
        <td></td>
        <td></td>
        <td colspan="3">
            <table class="ui small" style="float: right;">
              <tbody>
                {{#if orderAmount.tax}}
                  <tr><td>{{t 'Sub-Total'}}</td><td>{{currency-symbol this.eventCurrency}} {{format-money this.orderAmount.sub_total}}</td></tr>
                  <tr>
                    <td>
                      <div>{{t 'Tax'}} ({{this.orderAmount.tax.percent}}% {{this.orderAmount.tax.name}})</div>
                      {{#if orderAmount.tax.included}}
                        <small class="ui gray-text small">Included in Total</small>
                      {{/if}}
                    </td>
                    <td>{{currency-symbol this.eventCurrency}} {{this.orderAmount.tax.amount}}</td>
                  </tr>
                {{/if}}
                <tr><td>{{t 'Total'}}</td>
                  {{#if this.amountEditable}}
                    <td>{{currency-symbol this.eventCurrency}}</td> <td><Input @value={{this.overridenAmount}} placeholder="Total" /></td>
                  {{else}}
                    <td>{{currency-symbol this.eventCurrency}} {{format-money this.orderAmount.total}}</td>
                  {{/if}}
                </tr>
              </tbody>
            </table>
        </td>
      </tr>
    </tfoot>
  </table>
  {{#unless this.amountEditable}}
  <div class="ui grid">
    {{#if this.enterPromotionalCode}}
      <div class="ui row">
        <div class="{{if this.device.isBiggerThanTablet 'right floated eight wide'}} column">
          <div class="field">
            <div class="ui action fluid input">
              <Input
                @type="text"
                @name="promotional_code"
                @value={{this.promotionalCode}}
                placeholder={{t "Promotional Code"}}
                @readonly={{this.promotionalCodeApplied}}
                @key-up={{action "handleKeyPress"}}
                @id="promotionalCode" />
              {{#unless this.promotionalCodeApplied}}
                <div role="button" class="ui icon {{if this.promotionalCode '' 'disabled'}} button" {{action 'applyPromotionalCode'}}>
                  <i class="checkmark icon"></i>
                </div>
              {{/unless}}
              <div role="button" class="ui black icon button" {{action 'togglePromotionalCode'}}>
                <i class="remove icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{else}}
      <div class="ui row">
        <div class="column right aligned">
          {{#if this.device.isMobile}}
            <div class="ui hidden divider"></div>
          {{/if}}
          <a href="#" {{action 'togglePromotionalCode'}}>{{t 'Enter promotional code'}}</a>
        </div>
      </div>
    {{/if}}
  </div>
  {{/unless}}
  <div class="ui grid">
    <div class="ui row stackable grid">
      <div class="ui no padding thirteen wide computer twelve wide tablet column right aligned floated payment icons">
        <i class="colored cc amex link icon"></i>
        <i class="colored credit card alternative link icon"></i>
        <i class="colored cc diners club link icon"></i>
        <i class="colored cc discover link icon"></i>
        <i class="colored cc mastercard link icon"></i>
        <i class="colored cc paypal card link icon"></i>
        <i class="colored cc visa link icon"></i>
      </div>
      <div class="ui no padding three wide computer four wide tablet column right aligned floated">
        <button id="total" class="ui primary small button no right margin" disabled={{this.shouldDisableOrderButton}} {{action this.placeOrder this.orderAmountInput}}>
          {{t 'Order Now'}}
        </button>
        <div class="ui hidden divider"></div>
        {{#if this.event.refundPolicy}}
          <UiPopup @html={{this.event.refundPolicy}} @class="ui mini labeled teal icon button" @position="right center">
            <i class="info icon"></i>
            {{t 'Refund Policy'}}
          </UiPopup>
        {{/if}}
      </div>
    </div>
  </div>
</form>

<Modals::LoginSignupModal
  @isOpen={{this.isLoginModalOpen}}
  @isLoading={{this.isLoading}}
  @createNewUserViaEmail={{this.createNewUserViaEmail}}
  @loginExistingUser={{this.loginExistingUser}}
  @userExists={{this.userExists}}
  @errorMessage={{this.errorMessage}} />
