{{!-- Removed `Currency Symbol` helper from the `paymentCurrency` since some currency are not getting rendered. Hotfix until a permanent solution found --}}
<form class="ui form" {{action on='submit' preventDefault=true}}>
  <table class="ui unstackable very basic compact table" style="margin-bottom: 0">
    <thead class="full-width">
      <tr>
        <th>{{t 'Type'}}</th>
        <th class="four wide">{{t 'Sales Ends'}}</th>
        <th class="ui three wide single line">{{t 'Ticket Price'}}</th>
        <th class="one wide">{{t 'Quantity'}}</th>
        <th class="ui right aligned two wide">{{t 'Subtotal'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.tickets as |ticket|}}
        {{#unless ticket.isHidden}}
          <tr>
            <td>
              <div class="ui small">
                {{ticket.name}}
                {{#if (eq ticket.type 'donation')}}
                  <UiPopup
                    @tagName="i"
                    @class="info icon"
                    @content={{concat "Donation value should be between " ticket.minPrice " " this.eventCurrency " and " ticket.maxPrice " " this.eventCurrency}} />
                {{/if}}
              </div>
              {{#if ticket.isDescriptionVisible}}
                <small class="ui gray-text tiny">{{ticket.description}}</small>
              {{/if}}
            </td>
            <td>{{moment-format ticket.salesEndsAt 'ddd, DD MMMM YY, h:mm A'}}</td>
            {{#if ticket.discount}}
              <td>
                <div id="{{ticket.id}}_price" class="strike text">
                  {{this.eventCurrency}} {{format-number ticket.price}}
                </div>
                <div id="{{ticket.id}}_discount">
                  {{this.eventCurrency}} {{format-number (sub ticket.price ticket.discount)}}
                  {{#if this.taxInfo}}
                    {{#if this.showTaxIncludedMessage}}
                      <small class="ui gray-text small">
                        {{t 'includes'}} {{this.eventCurrency}} {{format-number ticket.includedTaxAmount}}
                      </small>
                    {{else}}
                      <small class="ui gray-text small">
                        + {{this.eventCurrency}}
                        {{format-number (add (sub ticket.ticketPriceWithTax ticket.price) ticket.discount)}}
                      </small>
                    {{/if}}
                    <div>
                      <small class="ui gray-text tiny aligned right">({{this.taxInfo.name}})</small>
                    </div>
                  {{/if}}
                </div>
              </td>
            {{else}}
              <td id="{{ticket.id}}_price">
                {{#if (eq ticket.type 'donation') }}
                  <div class="field">
                    <Input
                      @type="number"
                      @name={{ticket.id}} placeholder={{t "Enter Donation"}}
                      @min={{ticket.minPrice}}
                      @max={{ticket.maxPrice}}
                      @value={{ticket.price}} /><br>
                  </div>
                {{else}}
                  {{this.eventCurrency}} {{format-number ticket.price}}
                {{/if}}
                {{#if (and this.taxInfo (not-eq ticket.type 'free'))}}
                  {{#if this.showTaxIncludedMessage}}
                    <small class="ui gray-text small">
                      {{t 'includes'}} {{this.eventCurrency}} {{format-number ticket.includedTaxAmount}}
                    </small>
                  {{else}}
                    <small class="ui gray-text small">
                      + {{this.eventCurrency}} {{format-number (sub ticket.ticketPriceWithTax ticket.price)}}
                    </small>
                  {{/if}}
                  <div>
                    <small class="ui gray-text tiny aligned right">({{this.taxInfo.name}})</small>
                  </div>
                {{/if}}
              </td>
            {{/if}}
            <td>
              <div class="field">
                <UiDropdown
                  @class="compact selection"
                  @forceSelection={{false}}
                  @onChange={{action "updateOrder" ticket}} as |execute mapper|>
                  <Input
                    @type="hidden"
                    @id={{concat ticket.id "_quantity"}}
                    @value={{ticket.orderQuantity}} />
                  <i class="dropdown icon"></i>
                  <div class="default text">0</div>
                  <div class="menu">
                    <div class="item" data-value="{{map-value mapper 0}}">0</div>
                    {{#each (range ticket.minOrder (add ticket.maxOrder 1)) as |count|}}
                      <div class="item" data-value="{{map-value mapper count}}">{{count}}</div>
                    {{/each}}
                  </div>
                </UiDropdown>
              </div>
            </td>
            <td id='{{ticket.id}}_subtotal' class="ui right aligned">
              {{#if this.taxInfo}}
                {{this.eventCurrency}}
                {{format-number (mult (sub ticket.ticketPriceWithTax ticket.discount) ticket.orderQuantity)}}
              {{else}}
                {{this.eventCurrency}} {{format-number (mult (sub ticket.price ticket.discount) ticket.orderQuantity)}}
              {{/if}}
            </td>
          </tr>
        {{/unless}}
      {{/each}}
    </tbody>
    <tfoot class="full-width">
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th colspan="4">
          <div class="ui right aligned small primary icon">
            {{t 'Total'}}: {{this.eventCurrency}} {{format-number this.total}}
          </div>
        </th>
      </tr>
    </tfoot>
  </table>
  <div class="ui grid">
    {{#if this.enterPromotionalCode}}
      <div class="ui row">
        <div class="{{if this.device.isBiggerThanTablet 'right floated eight wide'}} column">
          <div class="field">
            <div class="ui action fluid input">
              <Input
                @type="text"
                @name="promotional_code"
                @value={{this.promotionalCode}}
                placeholder={{t "Promotional Code"}}
                @readonly={{this.promotionalCodeApplied}}
                @key-up={{action "handleKeyPress"}}
                @id="promotionalCode" />
              {{#unless this.promotionalCodeApplied}}
                <div role="button" class="ui icon {{if this.promotionalCode '' 'disabled'}} button" {{action 'applyPromotionalCode'}}>
                  <i class="checkmark icon"></i>
                </div>
              {{/unless}}
              <div role="button" class="ui black icon button" {{action 'togglePromotionalCode'}}>
                <i class="remove icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{else}}
      <div class="ui row">
        <div class="column right aligned">
          {{#if this.device.isMobile}}
            <div class="ui hidden divider"></div>
          {{/if}}
          <a href="#" {{action 'togglePromotionalCode'}}>{{t 'Enter promotional code'}}</a>
        </div>
      </div>
    {{/if}}
  </div>
  <div class="ui grid">
    <div class="ui row stackable grid">
      <div class="ui less padding thirteen wide computer twelve wide tablet column right aligned floated payment icons">
        <i class="colored cc amex link icon"></i>
        <i class="colored credit card alternative link icon"></i>
        <i class="colored cc diners club link icon"></i>
        <i class="colored cc discover link icon"></i>
        <i class="colored cc mastercard link icon"></i>
        <i class="colored cc paypal card link icon"></i>
        <i class="colored cc visa link icon"></i>
      </div>
      <div class="ui less padding three wide computer four wide tablet column right aligned floated">
        <button id="total" class="ui primary small button less right margin" disabled={{this.shouldDisableOrderButton}} {{action this.placeOrder}}>
          {{t 'Order Now'}}
        </button>
      </div>
    </div>
  </div>
</form>

<Modals::LoginSignupModal
  @isOpen={{this.isLoginModalOpen}}
  @isLoading={{this.isLoading}}
  @createNewUserViaEmail={{this.createNewUserViaEmail}}
  @loginExistingUser={{this.loginExistingUser}}
  @userExists={{this.userExists}}
  @errorMessage={{this.errorMessage}} />
