<div class="column sixteen wide">
  <h2 class="ui header center aligned">
    {{t 'Create Session'}}
  </h2>
  <div class="ui container">
    <Forms::SessionSpeakerForm
      @addNewSpeaker={{this.addNewSpeaker}}
      @fields={{this.model.form}}
      @data={{this.model}}
      @speakers={{this.model.speakers}}
      @event={{this.model.event}}
      @speakersDetails={{this.model.session.speakers}}
      @viewSpeakerOrder={{sort-by 'position' this.model.session.speakers}}
      @save={{action "save"}}
      @includeSession={{true}}
      @isSessionSpeaker={{true}}
      @isLoading={{this.isLoading}} />
  </div>
</div>
