<div class="ui grid container">
  <div class="column sixteen wide">
    <h2 class="ui header center aligned">
      {{t 'View Speaker'}}
    </h2>
  </div>
  <div class="column sixteen wide">
    <LinkTo
      @route="events.view.speaker.edit"
      @models={{array this.model.speaker.event.id this.model.speaker.id}}>
      <button
        class="ui blue button {{if this.device.isMobile 'fluid' 'right floated'}}">{{t 'Edit speaker'}}</button>
    </LinkTo>
  </div>
  <div class="featured-speaker">
    <img alt="speaker" class="ui rounded image" src="{{if this.model.speaker.thumbnailImageUrl this.speaker.thumbnailImageUrl (if this.speaker.photoUrl this.speaker.photoUrl '/images/placeholders/avatar.png')}}">
  </div>
  <div class="column sixteen wide">
    <h3 class="ui header">
      {{t 'speaker details'}}
    </h3>
  </div>
  <Events::View::Overview::SpeakerView
    @fields={{this.allFields}}
    @speaker={{this.model.speaker}} />
  <div class="weight-600 column three wide">{{t 'Sessions:'}}</div>
  <div class="column thirteen wide">
    {{#each this.model.speaker.sessions as |session|}}
      {{session.title}}
    {{/each}}
  </div>
</div>
