<div class="ui segments">
  <div class="ui green inverted segment center aligned">
    <div class="ui inverted mini statistic horizontal">
      <div class="value">
        {{t 'Company Information'}}
      </div>
    </div>
  </div>
  <div class="ui padded segment">
    <table class="ui very basic compact unstackable table company-info">
      <tbody>
        {{#if this.data.registeredCompany}}
          <tr>
            <td>
              <strong>{{t 'Name'}}:</strong>
            </td>
            <td>
              {{this.data.registeredCompany}}
            </td>
          </tr>
        {{/if}}
        {{#if this.data.address}}
          <tr>
            <td>
              <strong>{{t 'Address'}}:</strong>
            </td>
            <td>
              {{this.data.address}}
            </td>
            
          </tr>
        {{/if}}
        {{#if this.data.country}}
          <tr>
            <td>
              <strong>{{t 'Country'}}:</strong>
            </td>
            <td>
              {{this.data.country}}
            </td>
          </tr>
        {{/if}}
        {{#if this.data.state}}
          <tr>
            <td>
              <strong>{{t 'State'}}:</strong>
            </td>
            <td>
              {{this.data.state}}
            </td>
          </tr>
        {{/if}}
        {{#if this.data.city}}
          <tr>
            <td>
              <strong>{{t 'City'}}:</strong>
            </td>
            <td>
              {{this.data.city}}
            </td>
          </tr>
        {{/if}}
        {{#if this.data.zip}}
          <tr>
            <td>
              <strong>{{t 'ZIP Code'}}:</strong>
            </td>
            <td>
              {{this.data.zip}}
            </td>
          </tr>
        {{/if}}
        {{#if this.data.name}}
          <tr>
            <td>
              <strong>{{t 'Tax Name'}}:</strong>
            </td>
            <td>
              {{this.data.name}}
            </td>
          </tr>
        {{/if}}
        {{#if this.data.taxId}}
          <tr>
            <td>
              <strong>{{t 'Tax ID'}}:</strong>
            </td>
            <td>
              {{this.data.taxId}}
            </td>
          </tr>
        {{/if}}
        {{#if this.data.rate}}
          <tr>
            <td>
              <strong>{{t 'Tax Rate'}}:</strong>
            </td>
            <td>
              {{this.data.rate}}%
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>
 </div>
</div>
