<div class="ui segments">
  {{#if showBanner}}
    <div class="ui orange inverted segment center aligned">
      <div class="ui inverted mini statistic horizontal">
        <div class="value">
          {{t 'Event Information'}}
        </div>
      </div>
    </div>
  {{/if}}
  <div class="ui secondary segment">
    <h3 class="weight-400">{{t 'When & Where'}}</h3>
  </div>
  <div class="ui padded segment">
    <strong>{{t 'At'}} {{data.event.locationName}}</strong>
    <br>
    <strong>{{t 'From'}}:</strong> {{header-date data.event.startsAt}}
    <br>
    <strong>{{t 'To'}}:</strong> {{header-date data.event.endsAt}}
    {{#if data.event.organizerName}}
      <br>
      <strong>{{t 'Organized By'}}:</strong> {{data.event.organizerName}}
    {{/if}}
  </div>
  <div class="ui padded segment">
    <a href="{{data.event.url}}">{{t 'Go to event'}}</a>
  </div>
</div>
