<div class="ui segments">
  {{#if (eq session.currentRouteName 'orders.view')}}
    <div class="ui green inverted segment center aligned">
      <div class="ui inverted mini statistic horizontal">
        <div class="value">
          Success
        </div>
        <div class="label">
          {{t 'Your order completed successfully.'}}
          <br>
          {{t 'Find all the details related to your order below.'}}
        </div>
      </div>
    </div>
  {{/if}}
  {{#if (eq session.currentRouteName 'orders.placed')}}
    <div class="ui blue inverted segment center aligned">
      <div class="ui inverted mini statistic horizontal">
        <div class="value">
          Placed
        </div>
        <div class="label">
          {{t 'Your order has been placed successfully.'}}
          <br>
          {{t 'You can pay for your order to get tickets.'}}
        </div>
      </div>
    </div>
  {{/if}}
  <div class="ui secondary segment">
    <h3 class="weight-400">{{t 'Order Summary'}}</h3>
  </div>
  {{#if (or (eq session.currentRouteName 'orders.new') (eq session.currentRouteName 'orders.view') (eq session.currentRouteName 'orders.placed'))}}
    <table class="ui very basic tablet stackable table order-summary center aligned">
      <thead>
        <tr>
          <th class="four wide">{{t 'Ticket Type'}}</th>
          <th class="four wide">{{t 'Price'}}</th>
          <th class="ui aligned two wide">{{t 'Discount'}}</th>
          <th class="one wide">{{t 'Quantity'}}</th>
          <th class="ui aligned two wide">{{t 'Subtotal'}}{{event.tax.rate}}</th>
          {{#if event.tax}}
            <th class="four wide">{{t 'Tax'}}</th>
          {{/if}}
        </tr>
      </thead>
      <tbody>
        {{#each tickets as |ticket|}}
          <tr>
            <td>
              <div class="ui small">
                {{ticket.name}}
              </div>
            </td>
            <td>{{currency-symbol eventCurrency}} {{number-format ticket.price}}</td>
            <td>{{currency-symbol eventCurrency}} {{number-format ticket.discount}}</td>
            <td>{{ticket-attendees data.attendees ticket.attendees}}</td>
            <td>
              {{currency-symbol eventCurrency}} {{number-format (mult (sub ticket.price ticket.discount) (ticket-attendees data.attendees ticket.attendees))}}
            </td>
            {{#if event.tax}}
              <td>
                {{#if event.tax.isTaxIncludedInPrice}}
                  {{t 'The price is inclusive of all taxes.'}}
                {{else}}
                  {{event.tax.rate}}%
                {{/if}}
              </td>
            {{/if}}
          </tr>
        {{/each}}
      </tbody>
      <tfoot class="full-width">
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>
            <div class="ui aligned small primary icon">
              {{t 'Grand Total'}}:
            </div>
          </th>
          <th colspan="4">
            <div class="ui aligned small primary icon">
              {{currency-symbol eventCurrency}} {{number-format data.amount}}
            </div>
          </th>
        </tr>
      </tfoot>
    </table>
  {{/if}}
</div>
{{#if (eq session.currentRouteName 'orders.expired')}}
  <div class="ui orange inverted segment">
    <div class="ui inverted mini statistic horizontal">
      <div class="value">
        Expired
      </div>
      <div class="label">
        {{t 'Your order expired because you did not complete registration in time.'}}
        <br>
        {{t 'Please click on event link given on the right to order your tickets again.'}}
      </div>
    </div>
  </div>
{{/if}}
