<div class="ui segments">
  {{#if (eq session.currentRouteName 'orders.view')}}
    <div class="ui {{order-color data.status}} inverted segment center aligned">
      <div class="ui inverted mini statistic horizontal">
        <div class="value">
          {{#if (eq data.status 'completed')}}
            {{t 'Success'}}
          {{else}}
            {{t 'Placed'}}
          {{/if}}
        </div>
        <div class="label">
          {{#if (eq data.status 'completed')}}
            {{t 'Your order completed successfully.'}}
          {{else}}
            {{t 'Your order placed successfully.'}}
          {{/if}}
          <br>
          {{t 'Find all the details related to your order below.'}}
        </div>
      </div>
    </div>
  {{/if}}
  {{#if (eq session.currentRouteName 'orders.pending')}}
    <div class="ui orange inverted segment center aligned">
      <div class="ui inverted mini statistic horizontal">
        <div class="value">
          {{t 'Pending'}}
        </div>
        <div class="label">
          {{t 'Your order has been placed successfully.'}}
          <br>
          {{t 'You can pay for your order to get tickets.'}}
        </div>
      </div>
    </div>
  {{/if}}
  <div class="ui secondary segment">
    <h3 class="weight-400">{{t 'Order Summary'}}</h3>
  </div>
  {{#if (or (eq session.currentRouteName 'orders.new') (eq session.currentRouteName 'orders.view') (eq session.currentRouteName 'orders.pending'))}}
    <table class="ui very basic tablet stackable table order-summary center aligned">
      {{#if (eq data.amount 0)}}
        <thead>
          <tr>
            <th class="ui aligned two wide">{{t 'Ticket Type'}}</th>
            {{#if data.discountCode}}
              <th class="two wide">{{t 'Price'}}</th>
              <th class=" two wide">{{t 'Discount'}}</th>
            {{/if}}
            <th class="two wide">{{t 'Quantity'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each tickets as |ticket|}}
            <tr>
              <td>
                <div class="ui small">
                  {{ticket.name}}
                </div>
              </td>
              {{#if data.discountCode}}
                <td>{{currency-symbol eventCurrency}} {{format-number ticket.price}}</td>
                <td>{{currency-symbol eventCurrency}} {{format-number ticket.discount}}</td>
              {{/if}}
              <td>{{ticket-attendees data.attendees ticket.attendees}}</td>
            </tr>
          {{/each}}
        </tbody>
      {{else}}
        <thead>
          <tr>
            <th class="four wide">{{t 'Ticket Type'}}</th>
            <th class="four wide">{{t 'Price'}}</th>
            {{#if data.discountCode}}
              <th class="ui aligned two wide">{{t 'Discount'}}</th>
            {{/if}}
            <th class="one wide">{{t 'Quantity'}}</th>
            <th class="ui aligned two wide">{{t 'Subtotal'}}</th>
            {{#if event.tax}}
              <th class="four wide">{{t 'Tax'}}</th>
            {{/if}}
          </tr>
        </thead>
        <tbody>
          {{#each tickets as |ticket|}}
            <tr>
              <td>
                <div class="ui small">
                  {{ticket.name}}
                </div>
              </td>
              {{#if ticket.price}}
                <td>{{currency-symbol eventCurrency}} {{format-number ticket.price}}</td> 
              {{else}}
                <td>{{t 'Free'}}</td>
              {{/if}}
              {{#if ticket.discount}}
                <td>{{currency-symbol eventCurrency}} {{format-number ticket.discount}}</td>
              {{/if}}
              <td>{{ticket-attendees data.attendees ticket.attendees}}</td>
              <td>
                {{#if event.tax.rate}}
                  {{currency-symbol eventCurrency}} {{format-number (mult (sub (mult ticket.price (add 1 (div event.tax.rate 100))) ticket.discount) (ticket-attendees data.attendees ticket.attendees))}}
                {{else}}
                  {{currency-symbol eventCurrency}} {{format-number (mult (sub ticket.price ticket.discount) (ticket-attendees data.attendees ticket.attendees))}}
                {{/if}}
              </td>
              {{#if event.tax}}
                <td>
                  {{#if event.tax.isTaxIncludedInPrice}}
                    {{t 'The price is inclusive of all taxes.'}}
                  {{else}}
                    {{event.tax.rate}}%
                  {{/if}}
                </td>
              {{/if}}
            </tr>
          {{/each}}
        </tbody>
        <tfoot class="full-width">
          <tr>
            <th></th>
            <th></th>
            <th colspan="2">
              {{t 'Grand Total'}}:
            </th>
            <th colspan="2">
              {{currency-symbol eventCurrency}} {{format-number data.amount}}
            </th>
          </tr>
        </tfoot>
      {{/if}}
    </table>
  {{/if}}
</div>
{{#if (eq session.currentRouteName 'orders.expired')}}
  <div class="ui red inverted segment">
    <div class="ui inverted mini statistic horizontal">
      <div class="value">
        {{t 'Expired'}}
      </div>
      <div class="label">
        {{t 'Your order expired because you did not complete registration in time.'}}
        <br>
        {{t 'Please click on event link given on the right to order your tickets again.'}}
      </div>
    </div>
  </div>
{{/if}}
