<div class="ui basic {{if isLoading 'loading'}} segment">
  <Forms::Admin::Settings::Billing @timezones={{timezones}} @countries={{countries}} @model={{model}} @save={{action "updateInvoiceModel"}} />
</div>
