<table class="ui celled padded table">
    <thead>
    <tr>
        <th class="single line"><h3>Featured Events</h3></th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <i class="check icon green"></i> {{ t 'Any event that is switched to Featured Event by admins is listed here.' }}
            </td>
        </tr>
    </tbody>
</table>
<table class="ui celled padded table">
    <thead>
    <tr>
        <th class="single line"><h3>Upcoming Events</h3></th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <i class="check icon green"></i> {{ t 'up to 21 events should be listed here.' }}
            </td>
        </tr>
        <tr>
            <td>
                <i class="check icon green"></i> {{ t 'admins have the option to move any event without restrictions to the top of this line by switching events to Promoted Events in the event admin panel' }}
            </td>
        </tr>
        <tr>
            <td>
                <i class="check icon green"></i> {{ t 'promoted events should always show up on the top of Upcoming Events' }}
            </td>
        </tr>
        <tr>
            <td>
                <i class="check icon green"></i> {{ t 'The event should have location or online link and a date' }}
            </td>
        </tr>
        <tr>
            <td>
                <i class="check icon green"></i> {{ t 'The event should have Tickets.' }}
            </td>
        </tr>
        <tr>
            <td>
                <i class="check icon green"></i> {{ t 'Do not show an event on start page if it does not have any public ticket.' }}
            </td>
        </tr>
        <tr>
            <td>
                <i class="check icon green"></i> {{ t 'If the sales time of the ticket is passed then event should not show on the start page.' }}
            </td>
        </tr>
        <tr>
            <td>
                <i class="close icon red"></i> {{ t 'Do not show an event on start page if it all tickets are sold or only hidden ticket remain.' }}
            </td>
        </tr>
        <tr>
            <td>
                <i class="check icon green"></i> {{ t 'The event should have an Image.' }}
            </td>
        </tr>
        <tr>
            <td>
                <i class="check icon green"></i> {{ t 'The event should have an logo.' }}
            </td>
        </tr>
        <tr>
            <td>
                <i class="check icon green"></i> {{ t 'The event should have an Event Topic.' }}
            </td>
        </tr>
        <tr>
            <td>
                <i class="check icon green"></i> {{ t 'The event should have an Event Sub Topic.' }}
            </td>
        </tr>
        <tr>
            <td>
                <i class="check icon green"></i> {{ t 'The event should have a twitter link.' }}
            </td>
        </tr>
    </tbody>
</table>
<table class="ui celled padded table">
    <thead>
    <tr>
        <th class="single line"><h3>Call for Speakers</h3></th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <i class="check icon green"></i> {{ t 'Up to 12 events would be listed here and there is a more link below to show more events on the cfs page if there are more events.' }}
            </td>
        </tr>
        <tr>
            <td>
                <i class="check icon green"></i> {{ t 'Events listed here have a Call For Speaker.' }}
            </td>
        </tr>
        <tr>
            <td>
                <i class="check icon green"></i> {{ t 'Requirements of Upcoming Events.' }}
            </td>
        </tr>
    </tbody>
</table>
