<div class="ui segments">
    <div class="ui raised segment">
        <i class="check icon green"></i> {{ t 'Do not show an event on start page if it does not have any public ticket.' }}
    </div>
    <div class="ui raised segment">
        <i class="check icon green"></i> {{ t 'If the sales time of the ticket is passed then event should not show on the start page.' }}
    </div>
    <div class="ui raised segment">
        <i class="check icon green"></i> {{ t 'Do not show an event on start page if it all tickets are sold or only hidden ticket remain.' }}
    </div>
    <div class="ui raised segment">
        <i class="check icon green"></i> {{ t 'Event should have a header Image and logo otherwise do not show on front page.' }}
    </div>
    <div class="ui raised segment">
        <i class="check icon green"></i> {{ t 'Event should have Event Type, Event Topic, and Event Sub Topic.' }}
    </div>
</div>