{{!-- <div class="ui basic segment">
    <div class="bgImg ui raised segment" style="padding:0; width:calc({{if @previewLineHeight @previewLineHeight 3}}in);">
        <div
            style="color: #000000;
            background-size: cover;
            background-repeat: no-repeat;
            height: calc({{if @previewHeight @previewHeight 4}}in);
            background-color: #{{@backColor}};
            ">
            <div class="preview content" style="padding-top: {{if @previewHeight '45' '80'}}px">
                {{#each @fields as |_field|}}
                <p
                style="
                font-size : {{_field.fontSize}}px;
                text-align: {{_field.textAlignment}};
                text-transform: {{_field.textType}};
                ">
                    {{_field.sampleText}}
                </p>
                {{/each}}
            </div>
        </div>
    </div>
</div> --}}
