<div class="badge-setting">
  <form class="ui form">
    <div class="field">
      {{#if @headerText}}
      <h2 class="badge-setting-title ">
        {{@headerText}}
      </h2>
      {{/if}}
    </div>
    <div class="field">
      <div class="two wide columns">
        <div class="column">
          <label class="ml-4">{{t 'Badge Size'}}</label>
        </div>
        <div class="column pl-4 pt-2">
          <UiDropdown @class="search selection" @selected={{@data.badgeSize}} @onChange={{action @changeBadgeSize}} as
            |execute mapper|>
            <i class="dropdown icon"></i>
            <div class="default text">{{t 'Select your badge size'}}</div>
            <div class="menu">
              {{#each this.badgeSize as |size|}}
              <div class="item" data-value="{{map-value mapper size.name}}">
                {{t size.name}}
              </div>
              {{/each}}
            </div>
          </UiDropdown>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="two wide columns">
        <div class="column">
          <label class="ml-4">{{t 'Badge Orientation'}}</label>
        </div>
        <div class="column pl-4 pt-2">
          <UiDropdown @class="search selection" @selected={{@data.badgeOrientation}} @onChange={{action
            (mut @data.badgeOrientation)}} as |execute mapper|>
            <i class="dropdown icon"></i>
            <div class="default text">{{t 'Select your badge orientation'}}</div>
            <div class="menu">
              {{#each this.badgeOrientation as |size|}}
              <div class="item" data-value="{{map-value mapper size.name}}">
                {{t size.name}}
              </div>
              {{/each}}
            </div>
          </UiDropdown>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="two wide columns">
        <div class="column">
          <label class="ml-4">{{t 'Background'}}</label>
        </div>
        <div class="column pl-4 pt-2 pb-2">
          <SpectrumColorPicker class="w-30" showAlpha={{true}} onChange={{action @changeBadgeColor}} />
          <button type="button" class="ui center aligned icon button ml-4" {{action (mut @data.badgeColor) null }}>
            <i class="trash icon"></i>
            {{t 'Clear Color'}}
          </button>
        </div>
        <div class="column pl-4 pt-2 pb-2">
          <Forms::Wizard::BadgeForms::BadgeImageUpload @needsCropper={{true}} @icon="image"
            @hint={{t "Select badge background Image" }} @maxSizeInKb={{this.settings.imageSize}} 
            @aspectRatio={{array (if (eq @data.badgeSize.lineHeight '6') 3.84 1.92) 2.56}}
            @helpText={{t "We recommend using at 240x180px or 240x360px (1:1 ratio) image" }} @data={{@data}}
            @cropPanel={{array 500 450}} />
        </div>
      </div>
    </div>
  </form>
</div>
