<div
    class="bgImg ui raised segment header-section {{if @badgeHeight (concat 'h-' @badgeHeight)}} {{if @badgeWidth (concat 'w-' @badgeWidth)}}" style={{badgeImgURL}}>
    <div class="ui w-full h-full badge-body" style={{@bgColor}}>
        <div class="sample-text">
            {{#if showSampleData}}
            <p class="f-4">
                {{sampleData.name}}
            </p>
            <p class="f-2">
                {{sampleData.organisation}}
            </p>
            <p class="f-6">
                {{sampleData.position}}
            </p>

            {{else}}
            {{#each @fields as |_field|}}
            {{#if (not _field.isDeleted)}}
            {{!-- <p style="
                            font-size : {{_field.fontSize}}px;
                            text-align: {{_field.textAlignment}};
                            text-transform: {{_field.textType}};
                            overflow: hidden;
                            word-wrap: break-word;
                            "> --}}
                {{_field.sampleText}}
                {{!-- </p> --}}
            {{/if}}
            {{/each}}
            {{/if}}
        </div>
    </div>
</div>