<div class="badge-setting">
  <form class="ui form">
    <div class="field">
      {{#if @headerText}}
      <h2 class="badge-setting-title">
        {{@headerText}}
      </h2>
      {{/if}}
    </div>
    <div class="ui grid">
      <div class="four column row">
        <div class="nine wide left floated column">
          <UiCheckbox @class="slider mt-2 ml-2" @checked={{@data.isShowingSampleData}} @onChange={{action (mut
          @data.isShowingSampleData)}} />
          <label class="ui pb-4">{{t 'Show Sample Data.'}}</label>
        </div>
        <div class="five wide right floated column">
          <button type="button" class="ui mini blue button right floated mr-2 mb-2" disabled={{this.disableAddBadgeField}}
            {{action @printPreview}}>
            {{t 'Print Badge'}}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>