<div class="bgImg ui raised segment header-section {{if @badgeHeight (concat 'h-' @badgeHeight)}} {{if @badgeWidth (concat 'w-' @badgeWidth)}}"
    style={{badgeImgURL}}>
    <div class="ui w-full h-full badge-body" style={{@bgColor}}>
        <div class="sample-text">
            {{#if showSampleData}}
            <p class="f-4">
                {{sampleData.name}}
            </p>
            <p class="f-2">
                {{sampleData.organisation}}
            </p>
            <p class="f-6">
                {{sampleData.position}}
            </p>

            {{else}}
            {{#each @fields as |_field|}}
            {{#if (not _field.isDeleted)}}
                {{#if (eq _field.customField 'QR')}}
                    {{!-- {{@qrCode}} --}}
                    {{!-- {{qr-code data="Hello world" light="#EEEEFF" dark="#330000"}} --}}
                {{else}}
                <p class="field-style"
                    style={{_field.getFieldStyle}}>
                    {{_field.sampleText}}
                </p>
                {{/if}}
            {{/if}}
            {{/each}}
            {{/if}}
        </div>
    </div>
</div>