<Events::EventImportSection @uploadFile={{action "uploadFile"}} @importStatus={{importStatus}} @importError={{importError}} @isImporting={{isImporting}} @file={{file}} />
<div class="ui hidden divider"></div>
<Events::ImportsHistorySection @data={{model.importJobs}} @columns={{columns}} @page={{page}} @per_page={{per_page}} @search={{search}} @sort_by={{sort_by}} @sort_dir={{sort_dir}} @filterOptions={{filterOptions}} />
