{{#if (and (or (eq this.session.currentRouteName 'events.view.index') (eq this.session.currentRouteName 'events.view.export')) (gt this.unverified-user-message.length 0))}} 
  {{#if (eq this.model.state 'draft')}}
    <UnverifiedUserMessage />
  {{/if}}
{{/if}}
{{#if (not-includes this.session.currentRouteName 'events.view.edit')}}
  <div class="ui grid stackable">
    <div class="row">
      <div class="four wide column">
        <h2 class="ui header">
          {{this.model.name}}
        </h2>
      </div>
      <div class="twelve wide column {{unless this.device.isMobile 'right aligned'}}">
        {{#if this.device.isMobile}}
          <div class="ui icon fluid buttons">
            <a 
              href="{{this.model.url}}" 
              class="ui button {{if (eq this.model.state 'published') 'green'}}" 
              target="_blank" 
              rel="noopener" 
              data-tooltip="{{if (eq this.model.state 'published') 'View' 'Preview'}}" 
              data-position="top left" 
            >
              <i class="unhide icon"></i>
            </a>
            <button 
              class="ui button {{if (eq this.model.state 'published') 'orange'}} {{if this.isEventPublishable 'green'}}"
              {{action 'openConfirmModal'}} 
              data-tooltip="{{if (eq this.model.state 'published') 'Unpublish' 'Publish'}}" 
              data-position="top left"
            >
              <i class="{{if (eq this.model.state 'published') 'ban' 'check'}} icon"></i>
            </button>
            {{!-- <button class="ui button {{if this.isCopying 'loading'}}" {{action 'copyEvent'}} data-tooltip={{t 'Copy'}} data-position="top left">
              <i class="copy icon"></i>
            </button> --}}
          </div>
        {{else}}
          <a 
            href="{{this.model.url}}" 
            target="_blank" rel="noopener" 
            class="ui button labeled icon small {{if (eq this.model.state 'published') 'green'}}" >
            <i class="unhide icon"></i>
            {{#if (eq this.model.state 'published')}}
              {{t 'View'}}
            {{else}}
              {{t 'Preview'}}
            {{/if}}
          </a>
          
            <button class="ui button labeled icon small {{if (eq this.model.state 'published') 'orange'}} {{if this.isEventPublishable 'green'}}" {{action 'openConfirmModal'}}>
              {{#if (eq this.model.state 'published')}}
                <i class="ban icon"></i>
                {{t 'Unpublish'}}
              {{else}}
                <i class="check icon"></i>
                {{t 'Publish'}}
              {{/if}}
            </button>
            {{!-- <button class="ui button labeled icon small {{if this.isCopying 'loading'}}" {{action 'copyEvent'}} disabled={{this.isCopying}}>
              <i class="copy icon"></i>
              {{t 'Copy'}}
            </button> --}}
          
        {{/if}}
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 15px">
    <div class="sixteen wide column">
      <TabbedNavigation>
        <LinkTo @route="events.view.index" class="item">
          {{t 'Overview'}}
        </LinkTo>
        <LinkTo @route="events.view.tickets" class="item">
          {{t 'Tickets'}}
        </LinkTo>
        <LinkTo @route="events.view.scheduler" class="item">
          {{t 'Scheduler'}}
        </LinkTo>
        <LinkTo @route="events.view.sessions" class="item">
          {{t 'Sessions'}}
        </LinkTo>
        <LinkTo @route="events.view.speakers" class="item">
          {{t 'Speakers'}}
        </LinkTo>
        <LinkTo @route="events.view.export" class="item">
          {{t 'Export'}}
        </LinkTo>
        {{#if (or this.authManager.currentUser.isAnAdmin (eq this.model.owner.email this.authManager.currentUser.email))}}
          <LinkTo @route="events.view.settings" class="item">
            {{t 'Settings'}}
          </LinkTo>
        {{/if}}
      </TabbedNavigation>
    </div>
  </div>

  <div class="ui {{if this.isLoading 'loading'}} basic segment">
    {{outlet}}
  </div>
{{else}}
  {{!-- the edit page will be rendered without any of the above tabs --}}
  {{outlet}}
{{/if}}
<Modals::PublishUnpublishModal @isOpen={{this.isPublishUnpublishModalOpen}} @state={{this.model.state}} @isEventPublishable={{this.isEventPublishable}} @togglePublishState={{action 'togglePublishState'}} />
