<div class="ui warning message mb-8 mr--4">
  <div class="header">
    {{t 'This feature is still in alpha stage'}}
  </div>
  {{t 'Please use with care.'}} {{t 'Thank You.'}}
</div>
<div class="ui grid stackable">
  <div class="eight wide column">
    <Events::View::Export::DownloadZip @startGeneration={{action "startGeneration"}} @isDownloadDisabled={{this.isDownloadDisabled}} @eventExportStatus={{this.eventExportStatus}} @eventDownloadUrl={{this.eventDownloadUrl}} @data={{this.data}} @isLoading={{this.isLoading}} />
    <div class="ui divider"></div>
    <Events::View::Export::DownloadCommon @downloadType="Pentabarf XML" @downloadUrl="pentabarf.xml" @model={{this.model}} />
    <div class="ui divider"></div>
    <Events::View::Export::DownloadCommon @downloadType="iCalendar" @downloadUrl="calendar.ics" @model={{this.model}} />
    <div class="ui divider"></div>
    <Events::View::Export::DownloadCommon @downloadType="iCalendar XML (xCal)" @downloadUrl="calendar.xcs" @model={{this.model}} />
  </div>
  <div class="eight wide column">
    <Events::View::Export::ApiResponse @eventId={{this.model.id}} @event={{this.model}} />
  </div>
</div>
