<div class="sixteen wide column">
  <table class="ui compact stackable very basic table">
    <thead>
      <tr>
        <th>
          #
        </th>
        <th>
          {{t 'Discount code'}}
        </th>
        <th>
          {{t 'Discount code URL'}}
        </th>
        <th>
          {{t 'Discount Per Ticket'}}
        </th>
        <th>
          {{t 'Validity'}}
        </th>
        <th>
          {{t 'Status'}}
        </th>
        <th>
          {{t 'Action'}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |discount index|}}
        <tr>
          <td>
            {{inc index}}
          </td>
          <td>
            {{discount.code}}
          </td>
          <td>
            <a href='{{discount.url}}' target='_blank' rel='noopener'> {{discount.url}} </a>
          </td>
          <td>
            {{number-format discount.value}}
          </td>
          <td>
            {{discount.validity}}
          </td>
          <td>
            <a class="ui green label">{{discount.status}}</a>
          </td>
          <td class="centre aligned">
            <div class="ui vertical compact basic buttons">
              {{#ui-popup content=(t 'Edit') class='ui icon button' position='left center'}}
                <i class="edit icon"></i>
              {{/ui-popup}}
              {{#ui-popup content=(t 'Deactivate') class='ui icon button' position='left center'}}
                <i class="remove icon"></i>
              {{/ui-popup}}
              {{#ui-popup content=(t 'Delete') class='ui icon button' position='left center'}}
                <i class="trash icon"></i>
              {{/ui-popup}}
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
