<div class="column sixteen wide">
  <h2 class="ui header center aligned">
    Editing {{this.model.group.name}}
  </h2>
  <div class="ui container">
    <br>
    <form class="ui form {{if this.isLoading 'loading'}}" {{action 'submit' on='submit'}}>
    <div class="field">
        <label class="required">{{t 'Name'}}</label>
       <Input
          @type="text"
          @name="name"
          @value={{this.model.group.name}}
          placeholder={{t "Name"}} required/>
    </div>
    <div class="ui hidden divider"></div>
    <button type="submit" class="ui teal submit button" name="submit">{{t 'Save'}}</button>
    </form>
    </div>
</div>
