<GroupNav @team={{true}} @group={{this.model.group}} />
<div class="ui sixteen wide column container mt-4">
<div class="content d-flex" style="align-items: center;">
  <div class="header">{{t 'Team Members'}}</div>
  <button class="ui blue button ml-auto" {{action 'openAddUserRoleModal'}}>{{t 'Add People'}}</button>
</div>

<table class="ui left aligned stackable table">
  <thead>
    <tr>
      <th>{{t 'User (Email)'}}</th>
      <th>{{t 'Role'}}</th>
      <th>{{t 'Status'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model.group.roles as |roleDetail|}}
      <tr>
        <td>{{roleDetail.email}}</td>
        <td>{{roleDetail.role.titleName}}</td>
        {{#if roleDetail.accepted}}
          <td>{{t 'Accepted'}}</td>
        {{else}}
          <td>{{t 'Pending'}}</td>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>
</div>
<Modals::AddUserRoleModal
  @currentInvite={{this.currentInvite}}
  @isLoading={{this.isLoading}}
  @data={{this.model}}
  @isOpen={{this.isAddUserRoleModalOpen}}
  @addUserRoles={{action "addUserRoles"}} />