<div class="ui thirteen column center aligned container mt-8">
<table class="ui left aligned stackable table">
  <thead>
    <tr>
      <th>{{t 'User (Email)'}}</th>
      <th>{{t 'Role'}}</th>
      {{#if @editable}}
        <th>{{t 'Options'}}</th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#each this.model.group.roles as |roleDetail|}}
      <tr>
        <td>{{roleDetail.email}}</td>
        <td>{{roleDetail.role.titleName}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>
