<table class="ui very basic unstackable table mt-4">
  <thead>
    <tr>
      <th>{{t 'User (Email)'}}</th>
      <th>{{t 'Role'}}</th>
      {{#if @editable}}
        <th>{{t 'Options'}}</th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#each this.model.usersGroupsRoles.events as |eventDetail|}}
      <tr>
        <td>{{eventDetail.name}}</td>
        <td>{{eventDetail.name}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
