<div class="hidden ui divider"></div>
<div>
  <h3 class="ui left aligned header">
    {{t 'Event Roles'}}
  </h3>
  <div class="ui divider"></div>
</div>
<table class="ui celled table">
  <thead>
    <tr>
      <th>{{t 'Event Role/Service'}}</th>
      <th>{{t 'Track'}}</th>
      <th>{{t 'Session'}}</th>
      <th>{{t 'Speaker'}}</th>
      <th>{{t 'Sponsor'}}</th>
      <th>{{t 'Microlocation'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.roles as |role|}}
      <tr>
        <td>{{role}}</td>
        {{#n-times times=5}}
          <td>
            {{ui-checkbox label=(t 'Create')}}
            <div clas="hidden divider"></div>
            {{ui-checkbox label=(t 'Read')}}
            <div clas="hidden divider"></div>
            {{ui-checkbox label=(t 'Update')}}
            <div clas="hidden divider"></div>
            {{ui-checkbox label=(t 'Delete')}}
          </td>
        {{/n-times}}
      </tr>
    {{/each}}
  </tbody>
</table>
<div>
  <button class="ui teal button">{{t 'Save'}}</button>
</div>
