<div class="row">
  <div class="sixteen wide column">
    <table class="ui tablet stackable very basic table">
      <thead>
        <tr>
          <th>{{t 'Name'}}</th>
          <th>{{t 'Date'}}</th>
          <th>{{t 'Roles'}}</th>
          <th>{{t 'Sessions'}}</th>
          <th>{{t 'Speakers'}}</th>
          <th>{{t 'Tickets'}}</th>
          <th>{{t 'Public URL'}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="ui header weight-400">
              <img src="http://placehold.it/200x200" alt="Event logo" class="ui image">
              Sample Event
            </div>
          </td>
          <td>
            March 18, 2016 - 09:30 AM
            <br>(to)<br>
            March 20, 2016 - 05:30 PM
          </td>
          <td>
            <div class="ui ordered list">
              <div class="item">sample@gmail.com ({{t 'Organizer'}})</div>
              <div class="item">sample2@gmail.com ({{t 'Manager'}})</div>
            </div>
          </td>
          <td>
            <div class="ui list">
              <div class="item">{{t 'Drafts'}}: 0</div>
              <div class="item">{{t 'Submitted'}}: 0</div>
              <div class="item">{{t 'Accepted'}}: 0</div>
              <div class="item">{{t 'Confirmed'}}: 0</div>
              <div class="item">{{t 'Pending'}}: 0</div>
              <div class="item">{{t 'Rejected'}}: 0</div>
            </div>
          </td>
          <td>
            2
          </td>
          <td>
            <div class="ui bulleted list">
              <div class="item">{{t 'Premium'}} (12/100)</div>
              <div class="item">{{t 'VIP'}} (10/15)</div>
              <div class="item">{{t 'Normal'}} (100/200)</div>
              <div class="item">{{t 'Free'}} (100/500)</div>
            </div>
          </td>
          <td>
            <div class="ui link list">
              <a class="item" target="_blank" rel="noopener" href="http://nextgen.eventyay.com/e/ecc2001a">
                http://nextgen.eventyay.com/e/ecc2001a
              </a>
            </div>
          </td>
          <td class="center aligned">
            <div class="ui vertical compact basic buttons">
              {{#ui-popup content=(t 'Edit event details') class='ui icon button'}}
                <i class="edit icon"></i>
              {{/ui-popup}}
              {{#ui-popup content=(t 'View event details') class='ui icon button'}}
                <i class="unhide icon"></i>
              {{/ui-popup}}
              {{#ui-popup content=(t 'Delete event') class='ui icon button'}}
                <i class="trash outline icon"></i>
              {{/ui-popup}}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
