<div class="sixteen wide column">
  <h3 class="ui dividing header">{{t 'Previous Events'}}</h3>
  <div>
    {{t 'Show'}} &nbsp;
    <select class="ui dropdown">
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="25">50</option>
      <option value="25">100</option>
    </select>
    &nbsp;
    {{t 'entries'}}
    <div class="ui search-box icon input">
      <i class="search icon"></i>
      <input type="text" placeholder="{{t 'Search'}}...">
    </div>
  </div>
  <div class="ui segment">
    <div class="ui two column centered grid">
      <div class="ui column">
        <div class="ui disabled header">
          <h3> {{t 'Import Events - Currently Under Maintenance'}}</h3>
        </div>
      </div>
    </div>
  </div>
  {{!-- <table class="ui very basic table">
    <thead>
      <tr>
        <th>{{t 'State'}}</th>
        <th>{{t 'Message'}}</th>
        <th>{{t 'Started'}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <i class="check circle icon green"></i>{{t 'Success'}}
        </td>
        <td>{{t 'Check your event here'}}</td>
        <td>{{t '8 days ago'}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="3">
          <div class="ui pagination menu {{unless device.isMobile 'right floated'}}">
            <a class="icon item">
              {{t 'Previous'}}
            </a>
            <a class="item">1</a>
            <a class="icon item">
              {{t 'Next'}}
            </a>
          </div>
        </th>
      </tr>
    </tfoot>
  </table> --}}
</div>
