{{#if this.record.speakers}}
  <div class="ui list">
    <div class="item">{{t 'Total'}}: {{this.record.speakers}}</div>
    <div class="item">{{t 'Accepted'}}: {{this.record.speakersAccepted}}</div>
    <div class="item">{{t 'Confirmed'}}: {{this.record.speakersConfirmed}}</div>
    <div class="item">{{t 'Pending'}}: {{this.record.speakersPending}}</div>
    <div class="item">{{t 'Rejected'}}: {{this.record.speakersRejected}}</div>
    <div class="item">{{t 'Withdrawn'}}: {{this.record.speakersWithdrawn}}</div>
    <div class="item">{{t 'Canceled'}}: {{this.record.speakersCanceled}}</div>
  </div>
{{else}}
  {{t 'No Speaker Added Yet'}}
{{/if}}
