<div class="ui header weight-400">
  <img src="{{if this.extraRecords.logoUrl this.extraRecords.logoUrl '/images/placeholders/Other.jpg'}}" alt="Event Logo" class="ui image"> <br> {{record}}
</div>

<div class="ui horizontal compact basic buttons">
  <UiPopup @tagName="a" @click={{action this.props.actions.moveToDetails this.extraRecords.identifier}} @content={{t "View"}} @class="ui icon button" @position="left center">
    <i class="unhide icon"></i>
  </UiPopup>
  <UiPopup @content={{t "Edit"}} @click={{action this.props.actions.editEvent this.extraRecords.identifier}} @class="ui icon button" @position="left center">
    <i class="edit icon"></i>
  </UiPopup>
  {{#if (and this.props.options.hasRestorePrivileges this.extraRecords.deletedAt)}}
    <UiPopup @content={{t "Restore"}} @click={{action this.props.actions.restoreEvent this.extraRecords.identifier}} @class="ui icon button" @position="left center">
      <i class="undo icon"></i>
    </UiPopup>
  {{else}}
    <UiPopup @content={{t "Delete"}} @click={{action this.props.actions.openDeleteEventModal this.extraRecords.identifier record}} @class="ui icon button" @position="left center">
      <i class="trash icon"></i>
    </UiPopup>
  {{/if}}
</div>