{{#if this.record}}
  {{#if this.extraRecords.endsAt}}
    <div>
      {{general-date this.record 'date-time-tz-short' tz=this.extraRecords.timezone}}
    </div>
    (to)
    <div>
      {{general-date this.record 'date-time-tz-short' tz=this.extraRecords.timezone}}
    </div>
  {{else}}
    <span>
      {{t 'No dates available.'}}
    </span>
  {{/if}}
{{else}}
  <span>
    {{t 'No dates available.'}}
  </span>
{{/if}}
