{{#if record.tickets}}
  <div class="ui list">
    {{#each record.tickets as |ticket|}}
      <div class="item">{{ticket.name}} ({{ticket.orderStatistics.tickets.completed}}/{{ticket.quantity}}) <span class="item muted text">[{{ticket.type}}]</span></div>
    {{/each}}
  </div>
{{else}}
  <div>{{t 'No Ticket Information'}}</div>
{{/if}}
