<div class="ui {{if device.isMobile 'horizontal' 'vertical'}} compact basic buttons">
  <UiPopup @tagName="a" @click={{action moveToDetails record.identifier}} @content={{t "View"}} @class="ui icon button" @position="left center">
    <i class="unhide icon"></i>
  </UiPopup>
  <UiPopup @content={{t "Edit"}} @click={{action editEvent record.identifier}} @class="ui icon button" @position="left center">
    <i class="edit icon"></i>
  </UiPopup>
  {{#if (and hasRestorePrivileges (get record column.propertyName))}}
    <UiPopup @content={{t "Restore"}} @click={{action restoreEvent record}} @class="ui icon button" @position="left center">
      <i class="undo icon"></i>
    </UiPopup>
  {{else}}
    <UiPopup @content={{t "Delete"}} @click={{action openDeleteEventModal record.identifier record.name}} @class="ui icon button" @position="left center">
      <i class="trash outline icon"></i>
    </UiPopup>
  {{/if}}
</div>
