<div class="ui list">
  <div class="item">{{t 'Submitted'}}: {{record.sessions}}</div>
  <div class="item">{{t 'Accepted'}}: {{record.sessionsAccepted}}</div>
  <div class="item">{{t 'Confirmed'}}: {{record.sessionsConfirmed}}</div>
  <div class="item">{{t 'Pending'}}: {{record.sessionsPending}}</div>
  <div class="item">{{t 'Rejected'}}: {{record.sessionsRejected}}</div>
</div>
