<div class="ui list">
  <div class="item">{{t 'Total'}}: {{record.speakers}}</div>
  <div class="item">{{t 'Accepted'}}: {{record.speakersAccepted}}</div>
  <div class="item">{{t 'Confirmed'}}: {{record.speakersConfirmed}}</div>
  <div class="item">{{t 'Pending'}}: {{record.speakersPending}}</div>
  <div class="item">{{t 'Rejected'}}: {{record.speakersRejected}}</div>
</div>
