{{#if record}}
  {{#if extraRecords.endsAt}}
    <div>
      {{general-date record extraRecords.timezone}}
    </div>
    (to)
    <div>
      {{general-date extraRecords.endsAt extraRecords.timezone}}
    </div>
  {{else}}
    <span>
      {{t 'No dates available.'}}
    </span>
  {{/if}}
{{else}}
  <span>
    {{t 'No dates available.'}}
  </span>
{{/if}}
