{{#if record.eventStatisticsGeneral.sessions}}
  <div class="ui list">
    <div class="item">{{t 'Submitted'}}: {{record.eventStatisticsGeneral.sessions}}</div>
    <div class="item">{{t 'Accepted'}}: {{record.eventStatisticsGeneral.sessionsAccepted}}</div>
    <div class="item">{{t 'Confirmed'}}: {{record.eventStatisticsGeneral.sessionsConfirmed}}</div>
    <div class="item">{{t 'Pending'}}: {{record.eventStatisticsGeneral.sessionsPending}}</div>
    <div class="item">{{t 'Rejected'}}: {{record.eventStatisticsGeneral.sessionsRejected}}</div>
  </div>
{{else}}
  {{t 'No Session Information Added Yet'}}
{{/if}}
