<div class="sixteen wide column">
  <table class="ui stackable very basic compact table">
    <thead>
      <tr>
        <th>{{t 'Event'}}</th>
        <th>{{t 'Title'}}</th>
        <th>{{t 'Speaker'}}</th>
        <th>{{t 'Date of Submission'}}</th>
        <th>{{t 'Start Date'}}</th>
        <th>{{t 'End Date'}}</th>
        <th>{{t 'Options'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |session|}}
        <tr>
          <td>
            {{session.event.name}}
          </td>
          <td>
            {{session.title}}
          </td>
          <td>
            <div class="ui ordered list">
              {{#each session.speakers as |speaker|}}
                <div class="item">{{speaker.name}}</div>
              {{/each}}
            </div>
          </td>
          <td>
            {{moment-format session.submittedAt 'dddd, DD MMMM YYYY'}}
          </td>
          <td>
            {{moment-format session.startsAt 'MM/DD/YYYY'}}
          </td>
          <td>
            {{moment-format session.endsAt 'MM/DD/YYYY'}}
          </td>
          <td>
            <div class="ui vertical compact basic buttons">
              {{#ui-popup content=(t 'View') class='ui icon button' position='left center'}}
                <i class="unhide icon"></i>
              {{/ui-popup}}
              {{#ui-popup content=(t 'Edit') class='ui icon button' position='left center'}}
                <i class="edit icon"></i>
              {{/ui-popup}}
              {{#ui-popup content=(t 'Delete') class='ui icon button' position='left center'}}
                <i class="trash outline icon"></i>
              {{/ui-popup}}
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
