<br>
<h1 class="text muted weight-300 no bottom margin">{{t 'An unexpected error has occurred.'}}</h1>
<h1 class="weight-300 description">{{t 'Oops, the page you were trying'}}<br> {{t 'to access'}}<br> {{t 'has caused an error. '}}.</h1>
<h3 class="weight-300">
  {{t 'This, may or may not be a server issue. We are looking into it. You may want to head back to the home page.'}}<br>
  {{t 'Please try visiting after some time.'}}
</h3>
<br>
<a class="ui secondary basic button" href="{{href-to 'index'}}">{{t 'Go Back Home'}}</a>
