<table class="ui selectable celled table">
  <thead>
    {{#if @headerText}}
      <tr>
        <th colspan="{{if this.editColumn '5' '4'}}" class="text center aligned">
          {{@headerText}}
        </th>
      </tr>
    {{/if}}
    <tr>
      {{#if this.device.isMobile}}
        <th class="center aligned">
          {{t 'Options'}}
        </th>
      {{else}}
        <th class="right aligned">
          {{t 'Option'}}
        </th>
        <th class="center aligned">
          {{t 'Type'}}
        </th>
        <th class="center aligned">
          {{t 'Include'}}
        </th>
        <th class="center aligned">
          {{t 'Require'}}
        </th>
        {{#if this.editColumn}}
          <th class="center aligned">
            {{t 'Actions'}}
          </th>
        {{/if}}
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#each @fields as |field|}}
      <tr class="{{if field.isIncluded 'positive'}}">
        <td class="{{if this.device.isMobile 'center' 'right'}} aligned">
          <label class="{{if field.isFixed 'required'}}">
            {{field.name}}
            {{#if field.isComplex}}
              <div class="ui icon d-inline" data-tooltip="Custom Field">
                <i class="info icon"></i>
              </div>
            {{/if}}
          </label>
        </td>
        <td class="center aligned">
          {{field.type}}
        </td>
        <td class="center aligned">
          <UiCheckbox
            @class="slider"
            @checked={{field.isIncluded}}
            @disabled={{field.isFixed}}
            @onChange={{action (mut field.isIncluded)}}
            @label={{if this.device.isMobile (t "Include")}} />
        </td>
        <td class="center aligned">
          <UiCheckbox
            @class="slider"
            @checked={{field.isRequired}}
            @disabled={{field.isFixed}}
            @onChange={{action (mut field.isRequired)}}
            @label={{if this.device.isMobile (t "Require")}} />
        </td>
        {{#if this.editColumn}}
          <td class="center aligned">
            {{#if field.isComplex}}
              <button class="ui compact icon positive circular button" data-tooltip="{{t 'Edit'}}" {{action  @updateField field}}>
                <i class="pencil icon"></i>
              </button>
              {{!-- Hiding till implemented --}}
              <button class="ui compact icon negative circular button hidden-item" data-tooltip="{{t 'Delete'}}">
                <i class="trash icon"></i>
              </button>
            {{/if}}
          </td>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>
