{{#if (not-eq @type "number")}}
  <div style="width: 30%">
    <Input type="text" placeholder={{t "Field Name"}} @value={{@data.name}}/>
  </div>
{{else}}
  <div style="width: 20%">
    <Input type="text" placeholder={{t "Field Name"}} @value={{@data.name}}/>
  </div>
{{/if}}
<UiDropdown class="ui selection dropdown custom-form-dropdown-attendee" 
  @selected={{@data.selectedLang}} 
  @onChange={{action 'onChangeLanguage' }}>
  <div class="default text">
    {{ @data.selectedLang }}
  </div>
  <i class="dropdown icon"></i>
  <div class="menu">
    {{#each this.languageList as |language|}}
      <div class="item" data-value={{language.code}}>{{language.name}}</div>
    {{/each}}
  </div>
</UiDropdown>
<button style="font-size: 1.1em;" class="ui compact icon negative circular button" data-tooltip="{{t 'Delete'}}" {{action (confirm (t "Are you sure you want to delete this?") (action 'onRemoveForm' ))}}>
  <i class="trash box icon"></i>  
</button>