<div class="ui hidden divider"></div>
<h3 class="ui dividing header">
  <i class="checkmark box icon"></i>
  <div class="content">
    {{t 'Add Custom Form Field'}}
  </div>
</h3>
<div {{did-update this.updated @field}} class="ui action input" style="width: inherit;">
  <Input type="text" placeholder="Field Name" @value={{this.name}} />
  <UiDropdown class="ui selection dropdown" @selected={{this.type}} @onChange={{action (mut this.type)}}>
    <div class="default text">
      {{ this.type }}
    </div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" data-value="text">Text</div>
      <div class="item" data-value="number">Number</div>
    </div>
  </UiDropdown>
  <button class="ui button" {{action 'addFormField'}} disabled={{not this.validIdentifier}}>{{t (if @field 'Save' 'Add')}}</button>
</div>