<div class="ui hidden divider"></div>
<div class="ui dividing">
  <i class="checkmark box icon"></i>
  <span class="content">
    {{t 'Add Custom Form Field'}}
  </span>
</div>
<div {{did-update this.updated @field}} class="ui action input" style="width: inherit;">
  <Input type="text" placeholder={{t "Field Name"}} @value={{this.name}} style="width: 25%"/>
  {{#if (eq this.type "number")}}
    <div class="ui action input input-attendee-custom-form">
        <Input
          @type="number"
          @name="min_price"
          placeholder={{t "Min"}}
          @value={{this.min}} />
    </div>
    <div class="ui action input input-attendee-custom-form">
      <Input
        @type="number"
        @name="max_price"
        placeholder={{t "Max"}}
        @value={{this.max}} />
    </div>
  {{/if}}
  <UiDropdown class="ui selection dropdown custom-form-dropdown-attendee" @selected={{this.type}} @onChange={{action (mut this.type)}}>
    <div class="default text">
      {{ this.type }}
    </div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" data-value="text">{{t "Short Answer"}}</div>
      <div class="item" data-value="paragraph">{{t "Paragraph"}}</div>
      <div class="item" data-value="number">{{t "Number"}}</div>
      <div class="item" data-value="year">{{t "Year"}}</div>
      <div class="item" data-value="boolean">{{t "Yes/No"}}</div>
      <div class="item" data-value="richtextlink">{{t "Rich Text Links"}}</div>
    </div>
  </UiDropdown>
  <div>
    <button class="ui button h-full" {{action 'addFormField'}} disabled={{not this.validIdentifier}}>{{if @field (t 'Save') (t 'Add')}}</button>
  </div>  
</div>
