{{#if (eq @type "number")}}
  <div style="width: 34%; max-width: 23rem">
    <Widgets::Forms::RichTextLink
      @value={{@data.name}}/>
  </div>
{{else}}
  <div style="width: 48%; max-width: 33rem">
    <Widgets::Forms::RichTextLink
      @value={{@data.name}}/>
  </div>
{{/if}}
<div style="width: 20%;min-width: 11rem;max-width: 11rem;">
  <div class="ui hidden divider" style="margin: 1.2rem 0rem;"></div>
  <UiDropdown class="ui selection dropdown custom-form-dropdown-attendee" 
    @selected={{@data.selectedLang}} 
    @onChange={{action 'onChangeLanguage'}}
    style="line-height: inherit; width: 20%;min-width: 11rem;max-width: 11rem;">
    <div class="default text">
      {{ @data.selectedLang }}
    </div>
    <i class="dropdown icon"></i>
    <div class="menu">
      {{#each this.languageList as |language|}}
        <div class="item" data-value={{language.code}}>{{language.name}}</div>
      {{/each}}
    </div>
  </UiDropdown>
</div>
<div>
  <div class="ui hidden divider" style="margin: 1.2rem 0rem;"></div>
  <button style="font-size: 1.1em; line-height: 1.7rem;" class="ui compact icon negative button" data-tooltip="{{t 'Delete'}}" {{action (confirm (t "Are you sure you want to delete this?") (action 'onRemoveForm' ))}}>
    <i class="trash box icon"></i>  
  </button>
</div>