<div class="column sixteen wide">
  <h2 class="ui header center aligned">
    {{t 'Create a Speaker'}}
  </h2>
  <div class="ui container">
    <Forms::SessionSpeakerForm
      @fields={{model.form}}
      @data={{model}}
      @event={{model.event}}
      @sessions={{model.sessions}}
      @sessionDetails={{sessionDetails}}
      @save={{action "save" sessionDetails}}
      @includeSpeaker={{true}}
      @isSessionSpeaker={{true}}
      @isLoading={{isLoading}} />
  </div>
</div>
