<div class="ui one column container stackable doubling left grid" id="top">
  <div class="row print " role="button" {{action 'redirectToStartPage' this.model.order.event.identifier}}>
    <div class="column">
      <h2>{{this.model.order.event.name}}</h2>
    </div>
  </div>
  <div class="row print" role="button" {{action 'redirectToStartPage' this.model.order.event.identifier}}>
    <div class="column">
      <div class="ui small gray-text">
        {{general-date this.model.order.event.startsAt 'date-time-long'}} {{general-date this.model.order.event.startsAt 'tz'}} - 
        {{general-date this.model.order.event.endsAt 'date-time-long'}} {{general-date this.model.order.event.endsAt 'tz'}}
        <br>
        {{this.model.order.event.locationName}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="ten wide column print">
      <Orders::OrderSummary
        @tickets={{this.model.tickets}}
        @data={{this.model.order}}
        @event={{this.model.event}}
        @eventCurrency={{this.model.order.event.paymentCurrency}} />
      <br/>
      {{#if this.model.event.afterOrderMessage}}
        <Orders::AfterOrderMessage
          @event={{this.model.event}} />
        <br/>
      {{/if}}
      <Forms::Orders::AttendeeList
        @save="save"
        @data={{this.model.order}}
        @fields={{this.model.form}}
        @event={{this.model.event}} />
      <Forms::Orders::CancelOrder
        @cancelOrder={{action 'cancelOrder'}}
        @order={{this.model.order}} />
    </div>
    <div class="six wide column">
      <Orders::EventInfo
        @data={{this.model.order}}
        @redirectStartPgEvent={{action this.redirectToStartPage}}/>
      <br/>
      {{#if this.showTicketsButton}}
        <div class="d-flex">
          {{#if (not-eq this.model.order.status 'cancelled')}}
            <button class="ui labeled icon flex-1 {{if this.isLoadingTickets 'loading'}} {{if this.device.isMobile 'fluid'}} button"
            {{action this.downloadTickets this.model.event.name this.model.order.identifier}}>
            <i class="download icon"></i>
            {{t 'All Tickets'}}
            </button>
          {{/if}}
          <button {{action 'downloadInvoice' this.model.event.name this.model.order.identifier }}
          class="ui labeled icon blue flex-1 {{if this.isLoadingInvoice 'loading'}} {{if this.device.isMobile 'fluid'}} button">
          <i class="file alternate icon"></i>
          {{t 'Download Order Confirmation'}}
          </button>
        </div>
        <br/>
      {{/if}}
      {{#if (and this.model.event.isDocumentEnabled this.model.event.documentLinks)}}
       <Orders::DocumentInfo
        @event={{this.model.event}} />
        <br/>
      {{/if}}
      {{#if this.model.taxDetails}}
        <Orders::CompanyInfo
          @tax={{this.model.taxDetails}} />
        <br/>
      {{/if}}
      <Orders::TicketHolder
        @data={{this.model.order}} />
    </div>
  </div>
</div>
