<div class="header">
  {{t 'Add New Event Sub Topic'}}
</div>
<div class="content">
  <div class="field">
    <label>{{t 'Event Sub-topic'}}</label>
    {{#ui-dropdown class='search selection' onChange=(action (mut eventSubTopic.eventTopic)) as |execute mapper|}}
      <i class="dropdown icon"></i>
      <div class="default text">{{t 'Select Event Sub-Topic'}}</div>
      <div class="menu">
        {{#each model.eventTopics as |topic|}}
          <div class="item" data-value="{{map-value mapper topic}}">{{topic.name}}</div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>
  <form class="ui {{if isLoading 'loading'}} form" id="add-event-sub-topic-form" autocomplete="off" {{action 'addEventProperty' eventSubTopic on='submit' preventDefault=true}}>
    <div class="field">
      <label class="required">
        {{t 'New Event Sub Topic'}}
      </label>
      {{input type='text' name='sub_topic_name' value=eventSubTopic.name placeholder=(t 'Enter New Event Sub Topic')}}
    </div>
  </form>
</div>
<div class="actions">
  <button type="button" class="ui black button" {{action 'close'}}>
    {{t 'Cancel'}}
  </button>
  <button type="submit" form="add-event-sub-topic-form" class="ui green right labeled icon button">
    {{t 'Add Event Sub Topic'}}
    <i class="checkmark icon"></i>
  </button>
</div>