<div class="ui container">
  <div class="column sixteen wide">
    <h2 class="ui header center aligned">
      {{t 'Edit Speaker'}}
    </h2>
    <div class="ui container">
      <Forms::SessionSpeakerForm @fields={{model.forms}} @event={{model.event}} @data={{model}} @isLoading={{isLoading}} @save={{action "save"}} @isSpeaker={{true}} @includeSpeaker={{true}} />
    </div>
  </div>
</div>
