<div class="ui container">
  <div class="column sixteen wide">
    <h2 class="ui header center aligned">
      {{t 'Session Details'}}
    </h2>
    <div class="ui container">
      {{#each model.speaker as |speaker|}}
        {{#if speaker.id}}
          <Forms::SessionSpeakerForm @fields={{model.forms}} @data={{model}} @isLoading={{isLoading}} @save={{action "save" speaker}} @isSession={{true}} @includeSession={{true}} />
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>
