<div class="row">
  <div class="sixteen wide column">
    {{#each model as |order|}}
      <OrderCard @order={{order}}>
      </OrderCard>
      <div class="ui hidden divider"></div>
    {{else}}
      <div class="ui disabled header">{{t 'No tickets found'}}</div>
    {{/each}}
    <InfinityLoader @infinityModel={{model}}>
      <div class="ui loading very padded basic segment">
      </div>
      {{infintyModel.reachedInfinity}}
    </InfinityLoader>
  </div>
</div>