<div class="ui three item {{unless device.isMobile 'pointing'}} menu">
  <a class="item" href="{{href-to 'public.schedule.room'}}">
    {{t 'Rooms View'}}
  </a>
  <a class="item" href="{{href-to 'public.schedule.track'}}">
    {{t 'Tracks View'}}
  </a>
  <a class="item" href="{{href-to 'public.schedule.session'}}">
    {{t 'Sessions View'}}
  </a>
</div>
