<div class="ui stackable grid">
  <div class="sixteen wide column">
    <UnverifiedUserMessage />
  </div>
</div>
<div class="row">
  <div class="sixteen wide column">
    <TabbedNavigation>
      <LinkTo @route="account.profile" class="item">
        {{t 'Profile'}}
      </LinkTo>
      <LinkTo @route="account.billing" class="item">
        {{t 'Billing Info'}}
      </LinkTo>
      <LinkTo @route="account.password" class="item">
        {{t 'Password'}}
      </LinkTo>
      <LinkTo @route="account.email-preferences" class="item">
        {{t 'Email-Preferences'}}
      </LinkTo>
      <LinkTo @route="account.applications" class="item">
        {{t 'Applications'}}
      </LinkTo>
      <LinkTo @route="account.danger-zone" class="item">
        {{t 'Danger Zone'}}
      </LinkTo>
    </TabbedNavigation>
  </div>
</div>
<div class="ui segment">
  {{outlet}}
</div>
