{{head-layout}}
<div id='device-type-identifier'></div>
{{#side-bar}}
  <div class="footer-pusher">
    {{nav-bar unreadNotifications=unreadNotifications}}
    {{#if (eq routing.currentRouteName 'index')}}
      {{welcome-header}}
    {{/if}}
    <div id="main-container"
         class="ui fluid container main-container {{unless device.isInternetExplorer 'flexed-container' ''}}">
      {{outlet}}
    </div>
    
    {{footer-main eventTypes=model.eventTypes socialLinks=model.socialLinks footerPages=footerPages}}
  </div>
{{/side-bar}}
{{modals/confirm-modal isOpen=confirm.isOpen}}
{{ember-notify messageStyle='semantic-ui' classPrefix='notification-container'}}
