<HeadLayout />
<div id='device-type-identifier'></div>
{{#if this.showCookie}}
  <div class="ui inline warning large message">
    <i class="close icon" onclick={{action 'hideCookieMessage'}} role="button"></i>
    {{this.model.cookiePolicy}}
    {{#if this.model.cookiePolicyLink}}
      <p><a href="{{this.model.cookiePolicyLink}}">Click here For more information</a></p>
    {{/if}}
  </div>
{{/if}}
<SideBar>
  <div class="footer-pusher">
    <NavBar @unreadNotifications={{this.unreadNotifications}} />
    {{#if (eq this.routing.currentRouteName 'index')}}
      <WelcomeHeader />
    {{/if}}
    <div id="main-container"
         class="ui fluid container main-container {{unless this.device.isInternetExplorer 'flexed-container' ''}}">
      {{outlet}}
    </div>

    
    <FooterMain @eventTypes={{this.model.eventTypes}} @eventLocations={{this.model.eventLocations}} @socialLinks={{this.model.socialLinks}} @footerPages={{this.footerPages}} />

  </div>
</SideBar>
<Modals::ConfirmModal @isOpen={{this.confirm.isOpen}} />
<EmberNotify @messageStyle="semantic-ui" @defaultClass="notification-container" />
