{{head-layout}}
<div id='device-type-identifier'></div>
{{#if showCookie}}
  <div class="ui inline warning large message">
    <i class="close icon" onclick={{action (mut showCookie) false}} role="button"></i>
    {{model.cookiePolicy}}
    {{#if model.cookiePolicyLink}}
      <p>For more information <a href="{{model.cookiePolicyLink}}">click here</a>.</p>
    {{/if}}
  </div>
{{/if}}
{{#side-bar}}
  <div class="footer-pusher">
    {{nav-bar unreadNotifications=unreadNotifications}}
    {{#if (eq routing.currentRouteName 'index')}}
      {{welcome-header}}
    {{/if}}
    <div id="main-container"
         class="ui fluid container main-container {{unless device.isInternetExplorer 'flexed-container' ''}}">
      {{outlet}}
    </div>

    
    {{footer-main eventTypes=model.eventTypes eventLocations=model.eventLocations userLocation=userLocation socialLinks=model.socialLinks footerPages=footerPages}}

  </div>
{{/side-bar}}
{{modals/confirm-modal isOpen=confirm.isOpen}}
{{ember-notify messageStyle='semantic-ui' classPrefix='notification-container'}}
