<div class="pusher">
  {{nav-bar}}
  {{#if (eq routing.currentRouteName 'index')}}
    {{welcome-header}}
  {{/if}}
  <div id="main-container" class="ui container main-container {{unless device.isInternetExplorer 'flexed-container' ''}}">
    {{outlet}}
  </div>
  {{footer-main}}
</div>
{{ember-notify messageStyle='semantic-ui' classPrefix='notification-container'}}
