<HeadLayout />
<div id='device-type-identifier'></div>
{{#if showCookie}}
  <div class="ui inline warning large message">
    <i class="close icon" onclick={{action (mut showCookie) false}} role="button"></i>
    {{model.cookiePolicy}}
    {{#if model.cookiePolicyLink}}
      <p><a href="{{model.cookiePolicyLink}}">Click here For more information</a></p>
    {{/if}}
  </div>
{{/if}}
<SideBar>
  <div class="footer-pusher">
    <NavBar @unreadNotifications={{unreadNotifications}} />
    {{#if (eq routing.currentRouteName 'index')}}
      <WelcomeHeader />
    {{/if}}
    <div id="main-container"
         class="ui fluid container main-container {{unless device.isInternetExplorer 'flexed-container' ''}}">
      {{outlet}}
    </div>

    
    <FooterMain @eventTypes={{model.eventTypes}} @eventLocations={{model.eventLocations}} @socialLinks={{model.socialLinks}} @footerPages={{footerPages}} />

  </div>
</SideBar>
<Modals::ConfirmModal @isOpen={{confirm.isOpen}} />
<EmberNotify @messageStyle="semantic-ui" @defaultClass="notification-container" />
