<div class="ui container">
  <div class="ui stackable grid">
    <div class="sixteen wide column">
      <UnverifiedUserMessage />
    </div>
  </div>
  {{#if model.event.name}}
    <h2 class="weight-300">{{t 'Creating'}} <span class="weight-500">{{model.event.name}}</span></h2>
  {{else}}
    <h2 class="weight-300">{{t 'Create an Event'}}</h2>
  {{/if}}
  <div class="ui one column centered stacked grid event wizard">
    <div class="column mobile hidden">
      <Widgets::StepsIndicator @steps={{model.steps}} @currentStep={{1}} @enableAll={{false}} @disableLinks={{true}} />
    </div>
    <div class="column">
      <Forms::Wizard::BasicDetailsStep @data={{model}} @save="save" @move="move" @isCreate={{true}} @isLoading={{isLoading}} />
    </div>
  </div>
</div>
