{{#unless data.event.name}}
  <h2 class="weight-300">{{t 'Create an Event'}}</h2>
{{else}}
  <h2 class="weight-300">{{t 'Creating'}} <span class="weight-500">{{data.event.name}}</span></h2>
{{/unless}}
<div class="ui one column centered stacked grid event wizard">
  <div class="column mobile hidden">
    <div class="ui three steps">
      <a class="active step">
        <i class="info icon"></i>
        <div class="content">
          <div class="title">Basic Details</div>
          <div class="description">Tell about your event</div>
        </div>
      </a>
      <a class="disabled step">
        <i class="dollar icon"></i>
        <div class="content">
          <div class="title">Sponsors</div>
          <div class="description">Advertise your sponsors</div>
        </div>
      </a>
      <a class="disabled step">
        <i class="list icon"></i>
        <div class="content">
          <div class="title">Sessions & Speakers</div>
          <div class="description">Expand your event</div>
        </div>
      </a>
    </div>
  </div>
  <div class="column">
    {{forms/wizard/basic-details data=data}}
  </div>
</div>