<div class="ui stackable grid">
  <div class="four wide column">
    {{explore/side-bar model=model category=category sub_category=sub_category event_type=event_type date_range=date_range}}
  </div>
  <div class="twelve wide column">
    <h1 class="ui header">{{t 'Events'}}</h1>
    {{#each filteredEvents as |event|}}
      {{event-card event=event isWide=true shareEvent=(action 'shareEvent')}}
      <div class="ui hidden divider"></div>
    {{else}}
      <div class="ui disabled header">{{t 'No events found for selected filters'}}</div>
    {{/each}}
    {{modals/event-share-modal isOpen=isShareModalOpen event=eventToShare}}
  </div>
</div>
