<div class="ui container">
  {{quick-filter}}

  {{#if model}}
    <h2 class="main-heading">{{t 'Upcoming Events'}}</h2>
    <div class="ui stackable three column grid">
      <div class="ui link cards">
      {{#each model as |event|}}
        <div class="card">
        {{event-card event=event shareEvent=(action 'shareEvent')}}
        </div>
      {{/each}}
      </div>
    </div>
  {{else}}
    <h2 class="main-heading">{{t 'No Upcoming Events Found'}}</h2>
  {{/if}}

  {{#if callForSpeakersEvents}}
    <h2 class="main-heading">{{t 'Call for speakers'}}</h2>
    <div class="ui stackable three column grid">
      {{#each callForSpeakersEvents as |event|}}
        {{event-card event=event shareEvent=(action 'shareEvent')}}
      {{/each}}
    </div>
  {{/if}}
  {{modals/event-share-modal isOpen=isShareModalOpen event=eventToShare}}
</div>