{{#if (and (not-includes session.currentRouteName 'my-sessions.view'))}}
  {{unverified-user-message}}
  <h1 class="ui header">{{t 'My Sessions'}}</h1>
  <div class="ui grid">
    <div class="row">
      <div class="sixteen wide column">
        {{#tabbed-navigation}}
          {{#link-to 'my-sessions.list' 'all' class='item'}}
            {{t 'All Sessions'}}
          {{/link-to}}
          {{#link-to 'my-sessions.list' 'upcoming' class='item'}}
            {{t 'Upcoming Scheduled Sessions'}}
          {{/link-to}}
          {{#link-to 'my-sessions.list' 'past' class='item'}}
            {{t 'Past Scheduled Sessions'}}
          {{/link-to}}
        {{/tabbed-navigation}}
      </div>
    </div>
    {{outlet}}
  </div>
{{else}}
  {{outlet}}
{{/if}}
