{{! template-lint-disable simple-unless }}
<h1 class="ui header">{{t 'Notifications'}}</h1>
<div class="ui divider"></div>
<div class="row">
  {{#link-to 'notifications'}}
    <button class="ui button">{{t 'Unread'}}</button>
  {{/link-to}}
  {{#link-to 'notifications.all'}}
    <button class="ui button">{{t 'All'}}</button>
  {{/link-to}}
  {{#if (not-includes session.currentRouteName 'notifications.all')}}
    <button class="ui button right floated" {{action 'markAllRead'}}>{{t 'Mark all read'}}</button>
  {{/if}}
</div>
{{outlet}}
