<div class="public-event ui relaxed grid">
  <div class="sixteen wide column lead {{if this.smallLead 'small'}}" style = "height:200px">
    <Widgets::SafeImage class="background" @src="/images/landing.jpg" />
    <div class="content">
      <div class="ui container">
        <div class="ui info d-flex">
          <div>
            <h1 class="event name">{{t 'Pricing'}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui thirteen column center aligned container mt-8">
  <div class="ui raised padded segment">
    <h3>{{t 'Sign up for our Early Access plan!'}}</h3>
  </div>
  <table class="ui center aligned stackable celled structured table">
    <thead>
      <tr>
        <th></th>
        <th class="center aligned">{{t 'Features'}}</th>
        <th class="center aligned">{{t 'Early Access Plan'}}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="center aligned">
        <td rowspan="2">{{t 'Basics'}}</td>
        <td>{{t 'Fee per paid tickets'}}</td>
        <td>3%</td> 
      </tr>
      <tr class="center aligned">
        <td>{{t 'Fee per free tickets'}}</td>
        <td>{{t 'No fee'}}</td> 
      </tr>
      <tr class="center aligned">
        <td rowspan="7">{{t 'Ticket Sales'}}</td>
        <td>{{t 'Public event listings'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'Private (unlisted) events'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'Unlimited events'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'Attendee form'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'Custom attendee form question'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'Digital or printed tickets'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'Donation tickets'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td rowspan="4">{{t 'Payments'}}</td>
        <td>{{t 'Secure payment processing'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'Accepting all major credit cards'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'All major currencies'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'payment processor'}}</td>
        <td>Paypal, Stripe</td>
      </tr>
      <tr class="center aligned">
        <td rowspan="3">{{t 'Tracking & Optimising'}}</td>
        <td>{{t 'Sales/RSVP summary dashboard'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'Detailed analytics by ticket type'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'Detailed exports of all data'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td rowspan="9">{{t 'Call for speakers'}}</td>
        <td>{{t 'Submissions'}}</td>
        <td>{{t 'Up to 200'}}</td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'Speakers form'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'Custom speakers form questions'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'Session form'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'Custom session form questions'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'API access'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'Submission management'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t '"LOCK" submission'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'Rating process'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td rowspan="3">{{t 'Scheduler'}}</td>
        <td>{{t 'Organizer scheduler access'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'Create schedule'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'Public schedule pages'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td rowspan="6">{{t 'Promotion'}}</td>
        <td>{{t 'Public listing on website'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'Search engine listing'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'Sponsor listing on public event page'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'Attendee social sharing tools'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'Abandoned order emails'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td>{{t 'Discount and access codes'}}</td>
        <td><i class="check icon"></i></td>
      </tr>
      <tr class="center aligned">
        <td rowspan="3" class="upper-case">{{t 'Price'}}</td>
        <td rowspan="3"></td>
        <td rowspan="3">
        <LinkTo @route="create" class="ui blue button">
          {{t 'Create Event'}}
        </LinkTo>
        <h3 class="upper-case"><i class="dollar icon"></i>{{t 'Free'}}</h3></td>
      </tr>
    </tbody>
  </table>
</div>
