<div class="ui raised segments">
	<div class="ui center aligned violet inverted segment">
		<h1>Find the solution that's right for you</h1>
	</div>
<div class="panel pricing-table">
  
  <div class="pricing-plan">
    <img src="https://s22.postimg.cc/8mv5gn7w1/paper-plane.png" alt="" class="pricing-img">
    <h2>Features</h2>
    <ul class="pricing-features">
      <li class="pricing-features-item">Fee per paid tickets</li>
      <li class="pricing-features-item">Fee per free tickets</li>
      <li class="pricing-features-item">Public event listing</li>
      <li class="pricing-features-item">Private (unlisted) events</li>
      <li class="pricing-features-item">Unlimited events</li>
      <li class="pricing-features-item">Attendee Form</li>
      <li class="pricing-features-item">Custom Attendee Form</li>
      <li class="pricing-features-item">Digital or Printed Tickets</li>
      <li class="pricing-features-item">Donation Tickets</li>
      <li class="pricing-features-item">Abitlity to pass online ticket fees</li>
      <li class="pricing-features-item">Secure Payment Processing</li>
      <li class="pricing-features-item">Accept all major credit cards</li>
      <li class="pricing-features-item">All major currencies</li>
      <li class="pricing-features-item">Payment Processors</li>
      <li class="pricing-features-item">Sales Dashboard</li>
      <li class="pricing-features-item">Detailed Analytics by ticket type</li>
      <li class="pricing-features-item">Detailed export of all data</li>
      <li class="pricing-features-item">Call for speakers submission</li>
      <li class="pricing-features-item">Speaker Form</li>
      <li class="pricing-features-item">Custom Speaker form Questions</li>
      
      
    </ul>
  </div>
  
  <div class="pricing-plan">
    <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt="" class="pricing-img">
    <h2>Events</h2>
    <div class="pricing-features">
      <div class="pricing-features-item"><i class="check circle icon" style={{css color="green"}}></i></div>
      <div class="pricing-features-item"><i class="check circle icon" style={{css color="green"}}></i></div>
      <div class="pricing-features-item"><i class="check circle icon" style={{css color="green"}}></i></div>
      <div class="pricing-features-item"><i class="check circle icon" style={{css color="green"}}></i></div>
      <div class="pricing-features-item"><i class="check circle icon" style={{css color="green"}}></i></div>
      <div class="pricing-features-item"><i class="check circle icon" style={{css color="green"}}></i></div>
      <div class="pricing-features-item"><i class="check circle icon" style={{css color="green"}}></i></div>
      <div class="pricing-features-item"><i class="check circle icon" style={{css color="green"}}></i></div>
      <div class="pricing-features-item"><i class="check circle icon" style={{css color="green"}}></i></div>
      <div class="pricing-features-item"><i class="check circle icon" style={{css color="green"}}></i></div>
      <div class="pricing-features-item"><i class="check circle icon" style={{css color="green"}}></i></div>
      <div class="pricing-features-item"><i class="check circle icon" style={{css color="green"}}></i></div>
      <div class="pricing-features-item"><i class="check circle icon" style={{css color="green"}}></i></div>
      <div class="pricing-features-item"><i class="check circle icon" style={{css color="green"}}></i></div>
      <div class="pricing-features-item"><i class="check circle icon" style={{css color="green"}}></i></div>
      <div class="pricing-features-item"><i class="check circle icon" style={{css color="green"}}></i></div>
      <div class="pricing-features-item"><i class="check circle icon" style={{css color="green"}}></i></div>
      <div class="pricing-features-item">up to 100</div>
      <div class="pricing-features-item"><i class="check circle icon" style={{css color="green"}}></i></div>
      <div class="pricing-features-item"><i class="check circle icon" style={{css color="green"}}></i></div>
     </div>
    <span class="pricing-price">Free</span>
    <br>
    <button class="ui positive button">Sign Up</button>
 </div>
</div>
</div>
