<div class="ui stackable grid">
  <div class="sixteen wide column">
    {{unverified-user-message}}
  </div>
</div>
<div class="public-event ui relaxed grid">
  <div class="sixteen wide column lead {{if smallLead 'small'}}">
    {{widgets/safe-image src=(if model.largeImageUrl model.largeImageUrl model.originalImageUrl)}}
    <div class="content">
      <div class="ui container">
        <div class="ui grid info">
          <div class="one wide column"></div>
          <div class="fifteen wide column">
            <h4 class="event time">{{header-date model.startsAt model.timezone}}</h4>
            {{#if displayEndDate}}
              <h5 class="event time ends">{{t 'To'}} {{header-date model.endsAt model.timezone}}</h5>
            {{/if}}
            <h1 class="event name">{{model.name}}</h1>
            <h4 class="event location"><i class="marker icon"></i>{{model.locationName}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sixteen wide column content {{if smallLead 'with small lead'}}">
    <div class="ui stackable grid">
      <div class="three wide column" id="public-event-content">
        {{#if device.isMobile}}
          {{#if displaySideMenu}}
            <button {{action 'toggleMenu'}} class="ui basic icon button mobile only">
              <i class="content icon"></i>
            </button>
            {{#if isMenuOpen}}
              {{public/side-menu class='toggle menu' event=model}}
            {{/if}}
          {{/if}}
        {{else}}
          {{#ui-sticky context='#public-event-content' observeChanges=true}}
            {{public/side-menu event=model}}
          {{/ui-sticky}}
        {{/if}}
      </div>
      <div class="ten wide column">
        {{outlet}}
      </div>
      <div class="three wide column">
        {{#if (not-eq session.currentRouteName 'public.cfs.new-speaker')}}
          {{public/social-links externalUrl=model.externalEventUrl socialLinks=model.socialLinks}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
