<UnverifiedUserMessage />
<div class="public-event ui relaxed grid mt-0 pt-0" {{did-insert this.setup}}>
  <div class="sixteen wide column lead {{if this.smallLead 'small'}}">
    <Widgets::SafeImage class="background" @src={{if this.model.largeImageUrl this.model.largeImageUrl this.model.originalImageUrl}} />
    <div class="content">
      <div class="ui container">
        <div class="ui info d-flex">
          {{#if this.model.logoUrl}}
            <LinkTo @route="public">
              <img src="{{this.model.logoUrl}}" class="logo mr-8" />
            </LinkTo>
          {{/if}}
          <div>
            <h4 class="event time">{{general-date this.model.startsAt 'date-time-tz-long' tz=this.model.timezone}}</h4>
            {{#if this.displayEndDate}}
              <h5 class="event time ends">{{t 'To'}} {{general-date this.model.endsAt 'date-time-tz-long' tz=this.model.timezone}}</h5>
            {{/if}}
            <LinkTo @route="public">
              <h1 class="event name text-white">{{this.model.name}}</h1>
            </LinkTo>
            <h4 class="event location"><i class="icon map marker alternate"></i>{{this.headerLocation}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sixteen wide column content {{if this.smallLead 'with small lead'}}" id="event-contents">
    <div class="ui stackable grid">
      <div class="three wide column" id="public-event-content">
        {{#if this.device.isMobile}}
          {{#if this.displaySideMenu}}
            <Public::SideMenuOuter @event={{this.model}} />
          {{/if}}
        {{else}}
          {{#if this.displaySideMenu}}
            <div class="ui fluid side-menu">
              <Public::SideMenuOuter @event={{this.model}} />
            </div>
          {{/if}}
        {{/if}}
      </div>
      {{#unless this.device.isMobile}}
        <div class="ten wide column">
          {{outlet}}
        </div>
      {{/unless}}
      <div class="three wide column">
        {{#if this.displaySideMenu}}
          <Public::Stream::JoinVideo
            @showVideo={{false}}
            @event={{this.model}}
            @videoStream={{this.model.videoStream}}
            @canAccess={{this.canAccess}}
            @hasStreams={{this.hasStreams}}
            @sameTab={{this.side_panel}}
            @showSidePanel={{action "showSidePanel"}}
            class="ui basic segment m-0 p-0" />
          <Public::AddToCalender @event={{this.model}} @location={{this.headerLocation}}/>
          {{#if (not-eq this.session.currentRouteName 'public.exhibition.view')}}
            <Public::SocialLinks @externalUrl={{this.model.externalEventUrl}} @socialLinks={{this.model.socialLinks}}/>
            {{#if (and this.device.isMobile this.twitterLink)}}
                <div class="item">
                  <div class="twitter content">
                    <UiAccordion>
                      <div class="title" >
                        <i class="dropdown icon"></i>
                        <span>
                          Recent tweets
                        </span>
                      </div>
                      <div class="content" >
                        <Widgets::TwitterTimeline @handleOrProfile={{this.twitterLink.link}} />
                      </div>
                    </UiAccordion>
                  </div>
                </div>
            {{/if}}
          {{/if}}
          {{#if (and this.device.isMobile this.model.group)}}
            <button class="{{if this.model.group.follower 'red' 'blue'}} mt-2 ui fluid button" {{action this.follow}}>
              {{#if this.model.group.follower}}
                {{t 'Unfollow Group'}}
              {{else}}
                {{t 'Follow Group'}}            
              {{/if}}
              {{this.model.group.name}} ({{this.model.group.followerCount}} {{t 'followers'}})
            </button>
          {{/if}}
          {{#if (eq this.session.currentRouteName 'public.sessions.index')}}
            <div class="{{if this.device.isMobile 'd-flex'}} filters ui basic segment m-0 pr-0 pl-0 pt-2">
              <div class="mr-8">
              <h4>
                {{t 'Tracks'}}
                <LinkTo @route="public.sessions" @models={{array this.model.id}} @query={{hash track=null}} data-tooltip="{{t 'Clear Track Filter'}}" @invokeAction={{action this.removeActiveClass 'track'}}>
                  <Icons::ClearFilter />
                </LinkTo>
              </h4>
              {{#each this.model.tracks as |track|}} 
                <p role="button" class="track p-1 mb-1 link-item {{if (includes-filter this.activeTrack track.name) "active"}}" {{action 'applyFilter' track.name 'track'}}>
                  <i class="circle icon" style={{css color=track.color}}></i> 
                  {{track.name}}
                </p>
              {{/each}}
              </div>
              <br>
              <div>
              <h4>
                {{t 'Rooms'}}
                <LinkTo @route="public.sessions" @models={{array this.model.id}} @query={{hash room=null}} data-tooltip="{{t 'Clear Room Filter'}}" @invokeAction={{action this.removeActiveClass 'room'}}>
                  <Icons::ClearFilter />
                </LinkTo>
              </h4>
              {{#each this.model.microlocations as |room|}}
                {{#if (not room.hiddenInScheduler)}}
                  <p class="room p-1 mb-1 link-item {{if (includes-filter this.activeRoom room.name) "active"}}" role="button" {{action 'applyFilter' room.name 'room'}}>
                    {{room.name}}
                  </p>
                {{/if}}
              {{/each}}
              <h4>
                {{t 'Session Types'}}
                <LinkTo @route="public.sessions" {{action this.removeActiveSession}} @models={{array this.model.id}} @query={{hash sessionType=null}} data-tooltip="{{t 'Clear Session Type Filter'}}">
                  <Icons::ClearFilter />
                </LinkTo>
              </h4>
              {{#each this.activeSession as |session|}}
                <span class="p-1 mb-1 rounded-default">
                  {{session}}
                </span>
              {{/each}}
              <UiDropdown @class="d-flex items-center pl-4 mt-4 fluid multiple selection">
                <div class="default">
                  {{t 'Select Session Type'}}
                </div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  {{#each this.model.sessionTypes as |sessionType|}}
                    <UiCheckbox 
                    @class="item"
                    @label={{sessionType.name}}
                    @checked={{if (includes this.activeSession sessionType.name) "active"}}
                    @onChange={{action this.sessionFilter sessionType.name}}/>
                  {{/each}}
                </div>
              </UiDropdown>
              {{#if this.hasSessionLevel}}
                <h4>
                  {{t 'Session Levels'}}
                  <LinkTo @route="public.sessions" {{action this.removeActiveSessionLevel}} @models={{array this.model.id}} @query={{hash level=null}} data-tooltip="{{t 'Clear Session Level Filter'}}">
                    <Icons::ClearFilter />
                  </LinkTo>
                </h4> 
                {{#each this.activeSessionLevel as |level|}}
                  <span class="p-1 mb-1 rounded-default">
                    {{level}}
                  </span>
                {{/each}}
                <UiDropdown @class="d-flex items-center pl-4 mt-4 fluid multiple selection">
                  <div class="default">
                    {{t 'Select Session level'}}
                  </div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    {{#each this.levels as |level|}}
                      <UiCheckbox 
                      @class="item"
                      @label={{level.name}}
                      @checked={{if (includes this.activeSessionLevel level.name) "active"}}
                      @onChange={{action this.sessionLevelFilter level.name}}/>
                    {{/each}}
                  </div>
                </UiDropdown>
              {{/if}}
              </div>
            </div>
          {{/if}}
          {{#if (and (not this.device.isMobile) this.twitterLink (not-eq this.session.currentRouteName 'public.exhibition.view'))}}
              <div class="item">
                <div class="twitter content">
                  <Widgets::TwitterTimeline @handleOrProfile={{this.twitterLink.link}} />
                </div>
              </div>
          {{/if}}
          {{#if (and (not this.device.isMobile) this.model.group (not-eq this.session.currentRouteName 'public.exhibition.view'))}}
            <button class="{{if this.model.group.follower 'red' 'blue'}} mt-2 ui fluid button" {{action this.follow}}>
              {{#if this.model.group.follower}}
                {{t 'Unfollow Group'}}            
              {{else}}
                {{t 'Follow Group'}}           
              {{/if}}
              {{this.model.group.name}} ({{this.model.group.followerCount}} {{t 'followers'}})
            </button>
          {{/if}}
        {{/if}}
      </div>
      {{#if this.device.isMobile}}
        <div class="ten wide column">
          {{outlet}}
        </div>
      {{/if}}
    </div>
  </div>
</div>

{{#if this.side_panel}}
  <Public::Stream::SidePanel @event={{this.model}} @shown={{true}} @currentRoute={{this.session.currentRouteName}} />  
{{/if}}
{{#if (and this.model.isChatEnabled this.canAccess)}}
  <Public::Stream::ChatPanel @event={{this.model}} />
{{/if}}
{{#if this.video_dialog}}
  <Modals::SimpleModal
    @isOpen={{true}}
    @header={{t 'Login or Buy Tickets'}}
    @action={{this.toLogin}}
    @cancel={{this.closeVideoDialog}}>
    {{t 'You need to login or get a ticket for this event before you can join it online.'}}
  </Modals::SimpleModal>
{{/if}}
