<div class="ui stackable grid">
  <div class="sixteen wide column">
    <UnverifiedUserMessage />
  </div>
</div>
<div class="public-event ui relaxed grid">
  <div class="sixteen wide column lead {{if smallLead 'small'}}">
    <Widgets::SafeImage @src={{if model.largeImageUrl model.largeImageUrl model.originalImageUrl}} />
    <div class="content">
      <div class="ui container">
        <div class="ui grid info">
          <div class="one wide column"></div>
          <div class="fifteen wide column">
            <h4 class="event time">{{header-date model.startsAt model.timezone}}</h4>
            {{#if displayEndDate}}
              <h5 class="event time ends">{{t 'To'}} {{header-date model.endsAt model.timezone}}</h5>
            {{/if}}
            <h1 class="event name">{{model.name}}</h1>
            <h4 class="event location"><i class="marker icon"></i>{{model.locationName}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sixteen wide column content {{if smallLead 'with small lead'}}">
    <div class="ui stackable grid">
      <div class="three wide column" id="public-event-content">
        {{#if device.isMobile}}
          {{#if displaySideMenu}}
            <button {{action 'toggleMenu'}} class="ui basic icon button mobile only">
              <i class="content icon"></i>
            </button>
            {{#if isMenuOpen}}
              <Public::SideMenu @class="toggle menu" @event={{model}} />
            {{/if}}
          {{/if}}
        {{else}}
          <div class="ui fluid side-menu">
            <Public::SideMenu @event={{model}} />
          </div>
        {{/if}}
      </div>
      <div class="ten wide column">
        {{outlet}}
      </div>
      <div class="three wide column">
        {{#if (not-eq session.currentRouteName 'public.cfs.new-speaker')}}
          <Public::SocialLinks @externalUrl={{model.externalEventUrl}} @socialLinks={{model.socialLinks}} />
        {{/if}}
      </div>
    </div>
  </div>
</div>
