<UnverifiedUserMessage />
<div class="public-event ui relaxed grid">
  <div class="sixteen wide column lead {{if this.smallLead 'small'}}">
    <Widgets::SafeImage class="background" @src={{if this.model.largeImageUrl this.model.largeImageUrl this.model.originalImageUrl}} />
    <div class="content">
      <div class="ui container">
        <div class="ui info d-flex">
          {{#if this.model.logoUrl}}
            <img src="{{this.model.logoUrl}}" class="logo mr-8" />
          {{/if}}
          <div>
            <h4 class="event time">{{header-date this.model.startsAt this.model.timezone}}</h4>
            {{#if this.displayEndDate}}
              <h5 class="event time ends">{{t 'To'}} {{header-date this.model.endsAt this.model.timezone}}</h5>
            {{/if}}
            <h1 class="event name">{{this.model.name}}</h1>
            <h4 class="event location"><i class="icon map marker alternate"></i>{{this.headerLocation}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sixteen wide column content {{if this.smallLead 'with small lead'}}">
    <div class="ui stackable grid">
      <div class="three wide column" id="public-event-content">
        {{#if this.device.isMobile}}
          {{#if this.displaySideMenu}}
            <button {{action 'toggleMenu'}} class="ui basic icon button mobile only">
              <i class="content icon"></i>
            </button>
            {{#if this.isMenuOpen}}
              <Public::SideMenu @class="toggle menu" @event={{this.model}} />
            {{/if}}
          {{/if}}
        {{else}}
          <div class="ui fluid side-menu">
            <Public::SideMenu @event={{this.model}} />
          </div>
        {{/if}}
      </div>
      <div class="ten wide column">
        {{outlet}}
      </div>
      <div class="three wide column">
        {{#if (not-eq this.session.currentRouteName 'public.cfs.new-speaker')}}
          {{#if (eq this.session.currentRouteName 'public.sessions')}}
            <div class="ui basic segment">
              <h4>
                {{t 'Tracks'}}
                <LinkTo @route="public.sessions" @models={{array this.model.id}} @query={{hash track=null}} data-tooltip="{{t 'Clear Track Filter'}}">
                  <i class="minus circle icon" style={{css color='#555'}}></i>
                </LinkTo>
              </h4>
              {{#each this.model.tracks as |track|}} 
                <LinkTo
                  class="p-1 mb-1 rounded-default link-item {{if (eq this.params.track track.name) 'active'}}"
                  @route="public.sessions"
                  @models={{array this.model.id}}
                  @query={{hash track=track.name}}>
                  <i class="circle icon" style={{css color=track.color}}></i> {{track.name}}
                </LinkTo>
              {{/each}}
              <h4>
                {{t 'Rooms'}}
                <LinkTo @route="public.sessions" @models={{array this.model.id}} @query={{hash room=null}} data-tooltip="{{t 'Clear Room Filter'}}">
                  <i class="minus circle icon" style={{css color='#555'}}></i>
                </LinkTo>
              </h4>
              {{#each this.model.microlocations as |room|}}
                <LinkTo
                  class="p-1 mb-1 rounded-default link-item {{if (eq this.params.room room.name) 'active'}}"
                  @route="public.sessions" 
                  @models={{array this.model.id}}
                  @query={{hash room=room.name}}>
                  <i class="circle icon"></i> {{room.name}}
                </LinkTo>
              {{/each}}
            </div>
          {{/if}}
          <Public::SocialLinks @externalUrl={{this.model.externalEventUrl}} @socialLinks={{this.model.socialLinks}} @eventname={{this.model.name}} @eventlocation={{this.headerLocation}}
		 @eventtime={{this.model.startsAt}} @eventtimeends={{this.model.endsAt}} @eventimezone={{this.model.timezone}}/>
        {{/if}}
      </div>
    </div>
  </div>
</div>
