<div class="row">
  <div class="sixteen wide column">
    {{#tabbed-navigation}}
      {{#link-to 'settings.profile' class='item'}}
        {{t 'Profile'}}
      {{/link-to}}
      {{#link-to 'settings.contact-info' class='item'}}
        {{t 'Contact Info'}}
      {{/link-to}}
      {{#link-to 'settings.password' class='item'}}
        {{t 'Password'}}
      {{/link-to}}
      {{#link-to 'settings.email-preferences' class='item'}}
        {{t 'Email-Preferences'}}
      {{/link-to}}
      {{#link-to 'settings.applications' class='item'}}
        {{t 'Applications'}}
      {{/link-to}}
      {{#link-to 'settings.danger-zone' class='item'}}
        {{t 'Danger Zone'}}
      {{/link-to}}
    {{/tabbed-navigation}}
  </div>
</div>
<div class="ui segment">
  {{outlet}}
</div>
