{{#if color}}
	<div class="ui {{color}} inverted segment">
		{{yield}}
		{{#if this.column.isSortable}}
		  <i class="{{this.sortIcon}} icon"></i>
		{{/if}}
	</div>
{{else}}
	{{yield}}
	{{#if this.column.isSortable}}
	  <i class="{{this.sortIcon}} icon"></i>
	{{/if}}
{{/if}}
