<div class="{{themeInstance.columnsDropdownWrapper}}">
  <div class="{{themeInstance.columnsDropdownButtonWrapper}}">
    <button claNameed="false">
      {{messages.columnTitle}} <span class="{{themeInstance.icons.caret}}"></span>
    </button>
    <div class="ui custom popup {{themeInstance.columnsDropdown}}">
      <div class="ui secondary vertical menu">
        <a class="item" {{action 'showAllColumns' column bubbles=false}} href="#">{{messages.columnsShowAll}}</a>
        <a class="item" {{action 'hideAllColumns' column bubbles=false}} href="#">{{messages.columnsHideAll}}</a>
        <a class="item" {{action 'restoreDefaultVisibility' column bubbles=false}} href="#">{{messages.columnsRestoreDefaults}}</a>
        <a class="item" href="#">&nbsp;</a>
        {{#each processedColumns as |column|}}
          {{#if column.mayBeHidden}}
            <a class='item' {{action 'toggleHidden' column bubbles=false}} href="#">
              {{column.title}}
            </a>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
