<div class="{{this.themeInstance.columnsDropdownWrapper}}">
  <div class="{{this.themeInstance.columnsDropdownButtonWrapper}}">
    <button claNameed="false">
      {{this.messages.columnTitle}} <span class="{{this.themeInstance.icons.caret}}"></span>
    </button>
    <div class="ui custom popup {{this.themeInstance.columnsDropdown}}">
      <div class="ui secondary vertical menu">
        <a class="item" {{action 'showAllColumns' this.column bubbles=false}} href="#">{{this.messages.columnsShowAll}}</a>
        <a class="item" {{action 'hideAllColumns' this.column bubbles=false}} href="#">{{this.messages.columnsHideAll}}</a>
        <a class="item" {{action 'restoreDefaultVisibility' this.column bubbles=false}} href="#">{{this.messages.columnsRestoreDefaults}}</a>
        <a class="item" href="#">&nbsp;</a>
        {{#each this.processedColumns as |column|}}
          {{#if column.mayBeHidden}}
            <a class='item' {{action 'toggleHidden' column bubbles=false}} href="#">
              {{column.title}}
            </a>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
