<div class="{{themeInstance.classes.tfooterWrapper}}">
  <div class="ui {{if useNumericPagination themeInstance.classes.footerSummaryNumericPagination themeInstance.classes.footerSummaryDefaultPagination}} {{themeInstance.classes.footerSummary}}">
    {{summary}}
    <a href="#" {{action 'clearFilters'}} class="btn btn-link clearFilters {{unless anyFilterUsed 'invisible'}}">
      <span class="{{themeInstance.classes.clearAllFiltersIcon}}"></span>
    </a>
  </div>
  {{#if useNumericPagination}}
    <div class="{{themeInstance.classes.paginationWrapper}} {{themeInstance.classes.paginationWrapperNumeric}}">
      {{partial themeInstance.components.numericPagination}}
    </div>
  {{else}}
    <div class="{{themeInstance.classes.paginationWrapper}} {{themeInstance.classes.paginationWrapperDefault}}">
      {{partial themeInstance.components.pagination-simple}}
    </div>
  {{/if}}
</div>
