{{#if (exists-in _expandedRowIndexes index)}}
  <a href="#" {{action 'collapseRow' index bubbles=false}} class={{themeInstance.collapseRow}}><i class="{{icons.collapseRow}}"></i></a>
{{else}}
  <a href="#" {{action 'expandRow' index bubbles=false}} class={{themeInstance.expandRow}}><i class="{{icons.expandRow}}"></i></a>
{{/if}}
