<tr>
  {{#each processedColumns as |column|}}
    {{#if column.isVisible}}
      {{#if column.useSorting}}
        <th class="{{classes.theadCell}}">
          <div role="button" class="ui" {{action 'sort' column}}>
            {{#if column.templateForSortCell}}
              {{partial column.templateForSortCell}}
            {{else}}
              {{#if column.componentForSortCell}}
                {{component column.componentForSortCell data=data column=column row=record table=this}}
              {{else}}
                {{column.title}}
                {{partial headerSortingIconsTemplate}}
              {{/if}}
            {{/if}}
          </div>
        </th>
      {{else}}
        <th class="{{classes.theadCell}} {{classes.theadCellNoSorting}}">
          {{#if column.templateForSortCell}}
            {{partial column.templateForSortCell}}
          {{else}}
            {{#if column.componentForSortCell}}
              {{component column.componentName data=data column=column record=record}}
            {{else}}
              {{column.title}}
            {{/if}}
          {{/if}}
        </th>
      {{/if}}
    {{/if}}
  {{/each}}
</tr>
