<tr>
  {{#each processedColumns as |column|}}
    {{#if column.isVisible}}
      {{#if column.useSorting}}
        <th class="{{themeInstance.classes.theadCell}}">
          <div role="button" class="ui" {{action 'sort' column}}>
            {{#if column.templateForSortCell}}
              {{partial column.templateForSortCell}}
            {{else}}
              {{#if column.componentForSortCell}}
                {{component column.componentForSortCell data=data column=column row=record table=this}}
              {{else}}
                {{column.title}}
                <i class="{{if column.sortAsc 'caret up' 'sort'}} {{if column.sortDesc 'caret down' 'sort'}} icon"></i>
              {{/if}}
            {{/if}}
          </div>
        </th>
      {{else}}
        <th class="{{themeInstance.classes.theadCell}} {{themeInstance.classes.theadCellNoSorting}}">
          {{#if column.templateForSortCell}}
            {{partial column.templateForSortCell}}
          {{else}}
            {{#if column.componentForSortCell}}
              {{component column.componentName data=data column=column record=record}}
            {{else}}
              {{column.title}}
            {{/if}}
          {{/if}}
        </th>
      {{/if}}
    {{/if}}
  {{/each}}
</tr>
