<div class="ui right floated pagination menu">
  {{#each this.visiblePageNumbers as |page|}}
    {{#if page.isLink}}
      <a href="#" class="item text muted {{if page.isActive 'active'}}" {{action 'gotoCustomPage' page.label}}>{{page.label}}</a>
    {{else}}
      <a href="#" class="item text muted disabled">{{page.label}}</a>
    {{/if}}
  {{/each}}
</div>
