<tr class="{{if (exists-in this._selectedItems record) 'selected-row'}}">
  {{#each this.processedColumns as |column|}}
    {{#if column.isVisible}}
      <td class={{column.className}}>
        {{#if column.routeName}}
          <LinkTo @route={{column.routeName}} @model={{record.id}}>
            {{#if column.propertyName}}
              {{get record column.propertyName}}
            {{else}}
              {{record.id}}
            {{/if}}
          </LinkTo>
        {{else}}
          {{#if column.template}}
            {{partial column.template}}
          {{else}}
            {{#if column.component}}
              {{component column.component data=this.data record=record column=column table=this}}
            {{else}}
              {{sanitize (get record column.propertyName)}}
            {{/if}}
          {{/if}}
        {{/if}}
      </td>
    {{/if}}
  {{/each}}
</tr>
{{#if (exists-in this._expandedRowIndexes this.index)}}
  <tr class="expandRow {{concat 'expand-' this.index}} {{if (exists-in this._selectedItems record) 'selected-expand'}}">
    <td colspan="{{this.visibleProcessedColumns.length}}">
      {{partial this.expandedRowTemplate}}
    </td>
  </tr>
{{/if}}
