<div class="ui left aligned left floated basic segment">
  <h4 class="ui header">
    {{t 'Showing'}} {{this.firstIndex}} - {{this.lastIndex}} {{t 'of' }} {{this.arrangedContentLength}} {{t 'entries'}}
  </h4>
</div>
<div class="ui right aligned basic right floated less margin segment">
  <div class="right floated" role="toolbar">
    <div class="ui  pagination menu" role="group">
      <a href="#" {{action 'gotoFirst'}} class="{{if this.gotoBackwardEnabled '' 'disabled' }} item">
        <i class="{{this.themeInstance.icons.navFirst}}"></i>
      </a>&nbsp;
      <a href="#" {{action 'gotoPrev'}} class="{{if this.gotoBackwardEnabled '' 'disabled' }} item">
        <i class="{{this.themeInstance.icons.navPrev}}"></i>
      </a>&nbsp;
      <a href="#" {{action 'gotoNext'}} class="{{if this.gotoForwardEnabled '' 'disabled' }} item">
        <i class="{{this.themeInstance.icons.navNext}}"></i>
      </a>&nbsp;
      <a href="#" {{action 'gotoLast'}} class="{{if this.gotoForwardEnabled '' 'disabled' }} item">
        <i class="{{this.themeInstance.icons.navLast}}"></i>
      </a>
    </div>
  </div>
</div>
