<div class="right floated" role="toolbar">
  <div class="ui right floated pagination menu" role="group">
    <a href="#" {{action "gotoFirst"}} class="item">
      <i class="{{icons.navFirst}}"></i>
    </a>&nbsp;
    <a href="#" {{action "gotoPrev"}} class="item">
      <i class="{{icons.navPrev}}"></i>
    </a>&nbsp;
    <a href="#" {{action "gotoNext"}} class="item">
      <i class="{{icons.navNext}}"></i>
    </a>&nbsp;
    <a href="#" {{action "gotoLast"}} class="item">
      <i class="{{icons.navLast}}"></i>
    </a>
  </div>
</div>
