<div class="ui grid container">
  <div class="column sixteen wide">
    <h2 class="ui header center aligned">
      {{t 'View Session'}}
    </h2>
  </div>
  <div class="column four wide">
    <div class="ui {{ this.model.session.color }} large label">{{capitalize this.model.session.status}}</div>
  </div>
  <div class="column eight wide">
    <div class="ui {{ this.model.session.color }} large label">
      {{t 'Timing:'}} {{general-date @session.startsAt 'date-time-tz-short' tz=this.model.session.event.timezone}} {{t ' - '}} {{general-date @session.endsAt 'date-time-tz-short' tz=this.model.session.event.timezone}}
    </div>
    {{#if this.model.session.isLocked}}
      <div class="ui {{ this.model.session.color }} large label">{{t 'Locked'}}</div>
    {{/if}}
  </div>
  <div class="column four wide">
    <LinkTo
      @route="events.view.session.edit"
      @models={{array this.model.session.event.id this.model.session.id}}>
      <button
        class="ui blue button {{if this.device.isMobile 'fluid' 'right floated'}}">{{t 'Edit Session'}}</button>
    </LinkTo>
  </div>
  <div class="column sixteen wide">
    <h3 class="ui header">
      {{t 'Session details'}}
    </h3>
  </div>
  <Events::View::Overview::SessionView
    @fields={{this.allFields}}
    @session={{this.model.session}} />
  <div class="weight-600 column three wide">{{t 'Speakers:'}}</div>
  <div class="column thirteen wide">
    {{#each this.model.session.speakers as |speaker|}}
      {{speaker.name}}
    {{/each}}
  </div>
</div>
