<div class="inline field">
  <UiDropdown @class="compact selection" @forceSelection={{false}} @onChange={{action this.updateOrder record}} as |execute mapper|>
    <Input @type="hidden" @id={{concat record.id "_quantity"}} @value={{record.orderQuantity}} />
    <i class="dropdown icon"></i>
    <div class="default text">0</div>
    <div class="menu">
      <div class="item" data-value="{{map-value mapper 0}}">0</div>
      {{#each (range record.minOrder record.maxOrder) as |count|}}
        <div class="item" data-value="{{map-value mapper count}}">{{count}}</div>
      {{/each}}
    </div>
  </UiDropdown>
</div>